Repository apache/texera, changes with the labels that .github/labeler.yml gives for each.
All labels: gui, engine, python, docs, ci, build, dependencies, ddl-change

Format changes
  core/gui/src/app/common/service/user/auth.service.ts
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.html
Labels: gui

update
  core/dao/.gitignore
  core/dao/build.sbt
  core/dao/src/main/resources/jooq-conf.xml
  core/dao/src/main/scala/edu/uci/ics/texera/dao/ASFGeneratorStrategy.scala
  core/dao/src/main/scala/edu/uci/ics/texera/dao/JooqCodeGenerator.scala
  core/scripts/sql/texera_ddl.sql
Labels: build, dependencies, ddl-change

update
  core/dao/src/main/scala/edu/uci/ics/texera/dao/JooqCodeGenerator.scala
Labels: none

update
  .github/workflows/github-action-build.yml
Labels: ci

refactoring to address comments.
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostEstimator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/resourcePolicies/ResourceAllocator.scala
Labels: engine

refactoring to address comments.
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyScheduleGenerator.scala
Labels: engine

feat: enable file upload speed and time display (#3662)
  core/gui/src/app/common/util/format.util.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.scss
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-staged-objects-list/user-dataset-staged-objects-list.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-staged-objects-list/user-dataset-staged-objects-list.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
Labels: gui

update
  core/dao/src/main/resources/jooq-conf.xml
  core/dao/src/main/scala/edu/uci/ics/texera/dao/JooqCodeGenerator.scala
  core/scripts/sql/texera_ddl.sql
Labels: build, ddl-change

chore: change master branch to main
  .asf.yaml
Labels: none

chore: update ci branch names to use main
  .github/workflows/check-header.yml
  .github/workflows/github-action-build.yml
Labels: ci

chore: change master branch to main (#3676)
  .asf.yaml
  .github/workflows/check-header.yml
  .github/workflows/github-action-build.yml
Labels: ci

refactor(amber): move resource allocator into cost estimator (#3550)
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostEstimator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/SchedulingUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/resourcePolicies/ResourceAllocator.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/DefaultCostEstimatorSpec.scala
Labels: engine

updates after base branch change.
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedScheduleGenerator.scala
Labels: engine

Changed api from /listwithactivity to /list
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
  core/gui/src/app/dashboard/service/admin/user/admin-user.service.ts
Labels: gui, engine

Changed class name to UserInfo
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
Labels: engine

Formatted File
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
Labels: engine

fix: correct typo in notification message for ongoing executions
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.ts
Labels: gui

Initial commit
  core/config/src/main/resources/auth.conf
Labels: none

Changed variables to point to single var
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuth.scala
  core/config/src/main/scala/edu/uci/ics/texera/config/AuthConfig.scala
Labels: none

Update build.sbt
  core/dao/build.sbt
Labels: dependencies

Update JooqCodeGenerator.scala
  core/dao/src/main/scala/edu/uci/ics/texera/dao/JooqCodeGenerator.scala
Labels: none

Update jooq-conf.xml
  core/dao/src/main/resources/jooq-conf.xml
Labels: none

Update texera_ddl.sql
  core/scripts/sql/texera_ddl.sql
Labels: build, ddl-change

update
  core/dao/build.sbt
  core/dao/src/main/resources/jooq-conf.xml
Labels: dependencies

Update github-action-build.yml
  .github/workflows/github-action-build.yml
Labels: ci

Update storage.conf to set default password
  core/config/src/main/resources/storage.conf
Labels: none

Update github-action-build.yml
  .github/workflows/github-action-build.yml
Labels: ci

Modify GitHub Actions workflow for build
  .github/workflows/github-action-build.yml
Labels: ci

Change default password from 'password' to 'postgres'
  core/config/src/main/resources/storage.conf
Labels: none

Update GitHub Actions workflow for Java and Python
  .github/workflows/github-action-build.yml
Labels: ci

Remove libncurses5 installation step
  .github/workflows/github-action-build.yml
Labels: ci

Update GitHub Actions workflow for Java setup
  .github/workflows/github-action-build.yml
Labels: ci

Expose Postgres port in GitHub Actions workflow
  .github/workflows/github-action-build.yml
Labels: ci

Add step to create database in GitHub Actions
  .github/workflows/github-action-build.yml
Labels: ci

Update github-action-build.yml
  .github/workflows/github-action-build.yml
Labels: ci

Update github-action-build.yml
  .github/workflows/github-action-build.yml
Labels: ci

update
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
Labels: none

update
  core/scripts/sql/texera_ddl.sql
Labels: build, ddl-change

update
  core/scripts/sql/texera_ddl.sql
Labels: build, ddl-change

chore: improving naming of endpoint listWithActivity and class UserWithLastLogin (#3682)
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
  core/gui/src/app/dashboard/service/admin/user/admin-user.service.ts
Labels: gui, engine

.github/labeler.yml:

gui:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/gui/**'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/**'
      - all-globs-to-any-files:
          - '!core/gui/**'
          - '!core/log/**'
          - '!core/scripts/**'
engine:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/**'

python:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/src/main/python/**'
          - '**/*.py'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'
          - 'NOTICE'
          - 'LICENSE'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

build:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/scripts/**'
          - 'deployment/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/requirements.txt'
          - '**/package.json'
          - '**/build.sbt'
          - '**/project.sbt'

ddl-change:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'

feature:
  - head-branch:
    - '^feat'
    - 'feature'

fix:
  - head-branch: '^fix'

refactor:
  - head-branch: '^refactor'
