Repository apache/texera, changes with the labels that .github/labeler.yml gives for each.
All labels: gui, engine, python, docs, ci, build, dependencies, ddl-change

fix: lint
  core/auth/src/main/scala/edu/uci/ics/texera/auth/util/ComputingUnitAccess.scala
Labels: none

feat(access-control-service): AccessControlService added as a new micro service (#3767)
  core/access-control-service/build.sbt
  core/access-control-service/project/build.properties
  core/access-control-service/src/main/resources/access-control-service-web-config.yaml
  core/access-control-service/src/main/resources/logback.xml
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/AccessControlService.scala
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/AccessControlServiceConfiguration.scala
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/resource/AccessControlResource.scala
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/resource/HealthCheckResource.scala
  core/access-control-service/src/test/scala/edu/uci/ics/texera/AccessControlResourceSpec.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/util/ComputingUnitAccess.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/util/HeaderField.scala
  core/build.sbt
  core/config/src/main/scala/edu/uci/ics/amber/util/PathUtils.scala
Labels: dependencies

fix test
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.spec.ts
Labels: gui

format
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.spec.ts
Labels: gui

fix: Persist & apply “Data Transfer Batch Size” from Workflow Settings (#3770)
  core/gui/src/app/workspace/component/left-panel/settings/settings.component.ts
Labels: gui

moved getbreakpointbutton and getremovebutton for links between operators from the joint-ui.service.ts to the workflow-editor.component.ts
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
Labels: gui

fixed the design of the delete button to look as before based on the deletebuttonpath found in joint-ui.service.ts
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: gui

implementation
  core/gui/src/app/workspace/service/computing-unit-status/computing-unit-status.service.ts
Labels: gui

fix selection when wid undefined
  core/gui/src/app/workspace/service/computing-unit-status/computing-unit-status.service.ts
Labels: gui

update
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/response/RegionUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
  core/gui/src/app/workspace/service/workflow-websocket/workflow-websocket.service.ts
  core/gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: gui, engine

update
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ClientEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
Labels: engine

update
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/gui/src/app/workspace/service/workflow-websocket/workflow-websocket.service.ts
Labels: gui

init
  core/gui/src/assets/operator_images/SklearnTrainingAdaptiveBoosting.png
  core/gui/src/assets/operator_images/SklearnTrainingBagging.png
  core/gui/src/assets/operator_images/SklearnTrainingBernoulliNaiveBayes.png
  core/gui/src/assets/operator_images/SklearnTrainingComplementNaiveBayes.png
  core/gui/src/assets/operator_images/SklearnTrainingDecisionTree.png
  core/gui/src/assets/operator_images/SklearnTrainingDummy.png
  core/gui/src/assets/operator_images/SklearnTrainingExtraTree.png
  core/gui/src/assets/operator_images/SklearnTrainingExtraTrees.png
  core/gui/src/assets/operator_images/SklearnTrainingGaussianNaiveBayes.png
  core/gui/src/assets/operator_images/SklearnTrainingGradientBoosting.png
  core/gui/src/assets/operator_images/SklearnTrainingKNN.png
  core/gui/src/assets/operator_images/SklearnTrainingLinearRegression.png
  core/gui/src/assets/operator_images/SklearnTrainingLinearSVM.png
  core/gui/src/assets/operator_images/SklearnTrainingLogisticRegression.png
  core/gui/src/assets/operator_images/SklearnTrainingLogisticRegressionCV.png
  core/gui/src/assets/operator_images/SklearnTrainingMultiLayerPerceptron.png
  core/gui/src/assets/operator_images/SklearnTrainingMultinomialNaiveBayes.png
  core/gui/src/assets/operator_images/SklearnTrainingNearestCentroid.png
  core/gui/src/assets/operator_images/SklearnTrainingPassiveAggressive.png
  core/gui/src/assets/operator_images/SklearnTrainingPerceptron.png
  core/gui/src/assets/operator_images/SklearnTrainingProbabilityCalibration.png
  core/gui/src/assets/operator_images/SklearnTrainingRandomForest.png
  core/gui/src/assets/operator_images/SklearnTrainingRidge.png
  core/gui/src/assets/operator_images/SklearnTrainingRidgeCV.png
  core/gui/src/assets/operator_images/SklearnTrainingSDG.png
  core/gui/src/assets/operator_images/SklearnTrainingSVM.png
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
Labels: gui

fix typo
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.ts
Labels: gui

feat(config): allow default.conf to be set using environment variables
  core/config/src/main/resources/default.conf
Labels: none

update env vars
  deployment/single-node/.env
Labels: build

keep the docker compose up-to-date
  deployment/single-node/.env
  deployment/single-node/docker-compose.yml
  deployment/single-node/nginx.conf
Labels: build

fix fmt
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
Labels: engine

fix fmt
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/WorkflowScheduler.scala
Labels: engine

fix fmt
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/Schedule.scala
Labels: engine

Delete core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/response/RegionUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/response/RegionUpdateEvent.scala
Labels: engine

fix fmt
  core/gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: gui

fix fmt
  core/gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
Labels: gui

fix fmt
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: gui

fix fmt
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
Labels: engine

fix fmt
  core/gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
Labels: gui

Apply suggestion from @Copilot
  core/gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
Labels: gui

fix fmt
  core/gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
Labels: gui

fix fmt
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
Labels: engine

fix fmt
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
Labels: engine

fix fmt
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
Labels: engine

fix fmt
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
Labels: engine

fix fmt
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
Labels: engine

fix fmt
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
Labels: none

add comment
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: gui, engine

update
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/response/RegionUpdateEvent.scala
  core/gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: gui, engine

fixed failed test case because of not formating frontend code first
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: gui

(incomplete) enable browser native download for workflow result downloads
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenAuthenticator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenClaims.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/DownloadTokenResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuth.scala
  core/gui/src/app/dashboard/service/user/download/download.service.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: gui, engine

switch to native browser download for single-file dataset downloads
  core/file-service/src/main/scala/edu/uci/ics/texera/service/util/S3StorageClient.scala
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui

fix format with prettier and eslint
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui

.github/labeler.yml:

gui:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/gui/**'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/**'
      - all-globs-to-any-files:
          - '!core/gui/**'
          - '!core/log/**'
          - '!core/scripts/**'
engine:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/**'

python:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/src/main/python/**'
          - '**/*.py'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'
          - 'NOTICE'
          - 'LICENSE'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

build:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/scripts/**'
          - 'deployment/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/requirements.txt'
          - '**/package.json'
          - '**/build.sbt'
          - '**/project.sbt'

ddl-change:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'

feature:
  - head-branch:
    - '^feat'
    - 'feature'

fix:
  - head-branch: '^fix'

refactor:
  - head-branch: '^refactor'
