Repository apache/texera, changes with the labels that .github/labeler.yml gives for each.
All labels: gui, engine, python, docs, ci, build, dependencies, ddl-change

.github/labeler.yml:

gui:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/gui/**'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/**'
      - all-globs-to-any-files:
          - '!core/gui/**'
          - '!core/log/**'
          - '!core/scripts/**'
engine:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/**'

python:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/src/main/python/**'
          - '**/*.py'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'
          - 'NOTICE'
          - 'LICENSE'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

build:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/scripts/**'
          - 'deployment/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/requirements.txt'
          - '**/package.json'
          - '**/build.sbt'
          - '**/project.sbt'

ddl-change:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'

feature:
  - head-branch:
    - '^feat'
    - 'feature'

fix:
  - head-branch: '^fix'

refactor:
  - head-branch: '^refactor'

remove old single-file dataset download methods and unit tests
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
Labels: gui

fix and format via scalafixall and scalafmtall
  core/file-service/src/main/scala/edu/uci/ics/texera/service/util/S3StorageClient.scala
Labels: none

add user role filtering to workflow result export endpoint
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenAuthenticator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenClaims.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuth.scala
Labels: engine

remove unrelated s3 presigned url generation logic
  core/file-service/src/main/scala/edu/uci/ics/texera/service/util/S3StorageClient.scala
Labels: none

(complete) enable browser native download for workflow result downloads
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenClaims.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/DownloadTokenResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuth.scala
  core/gui/src/app/dashboard/service/user/download/download.service.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: gui, engine

remove unrelated s3 presigned url generation logic
  core/file-service/src/main/scala/edu/uci/ics/texera/service/util/S3StorageClient.scala
Labels: none

update paths of workflow result download endpoints to distinguish local vs. dataset download
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui, engine

remove unrelated single file dataset download logic
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui

remove old workflow result download logic for single file downloads
  core/gui/src/app/dashboard/service/user/download/download.service.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: gui

change authentication method to use localStorage access token instead of requesting backend token
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui, engine

add Apache License header to new files
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenAuthenticator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenClaims.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/DownloadTokenResource.scala
Labels: engine

add descriptions for helper functions for workflow result export endpoints
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
Labels: engine

remove changes to JwtAuth
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuth.scala
Labels: none

remove files and changes for old authentication method (backend token)
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenAuthenticator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenClaims.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/DownloadTokenResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui, engine

remove unnecessary initializations of ResultExportService class
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
Labels: engine

remove unused jwtDownloadClaims from JwtAuth
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuth.scala
Labels: none

move helper functions for local and dataset export endpoints into ResultExportService
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
Labels: engine

combine related dataset export functions in ResultExportService into a single function
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
Labels: engine

remove redundant check for if no operators are specified
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
Labels: engine

run scalafixAll and scalafmtAll
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
Labels: engine

fix(op): fix incorrect names for Machine Learning Operators (#3776)
  core/gui/src/assets/operator_images/SklearnTrainingAdaptiveBoosting.png
  core/gui/src/assets/operator_images/SklearnTrainingBagging.png
  core/gui/src/assets/operator_images/SklearnTrainingBernoulliNaiveBayes.png
  core/gui/src/assets/operator_images/SklearnTrainingComplementNaiveBayes.png
  core/gui/src/assets/operator_images/SklearnTrainingDecisionTree.png
  core/gui/src/assets/operator_images/SklearnTrainingDummy.png
  core/gui/src/assets/operator_images/SklearnTrainingExtraTree.png
  core/gui/src/assets/operator_images/SklearnTrainingExtraTrees.png
  core/gui/src/assets/operator_images/SklearnTrainingGaussianNaiveBayes.png
  core/gui/src/assets/operator_images/SklearnTrainingGradientBoosting.png
  core/gui/src/assets/operator_images/SklearnTrainingKNN.png
  core/gui/src/assets/operator_images/SklearnTrainingLinearRegression.png
  core/gui/src/assets/operator_images/SklearnTrainingLinearSVM.png
  core/gui/src/assets/operator_images/SklearnTrainingLogisticRegression.png
  core/gui/src/assets/operator_images/SklearnTrainingLogisticRegressionCV.png
  core/gui/src/assets/operator_images/SklearnTrainingMultiLayerPerceptron.png
  core/gui/src/assets/operator_images/SklearnTrainingMultinomialNaiveBayes.png
  core/gui/src/assets/operator_images/SklearnTrainingNearestCentroid.png
  core/gui/src/assets/operator_images/SklearnTrainingPassiveAggressive.png
  core/gui/src/assets/operator_images/SklearnTrainingPerceptron.png
  core/gui/src/assets/operator_images/SklearnTrainingProbabilityCalibration.png
  core/gui/src/assets/operator_images/SklearnTrainingRandomForest.png
  core/gui/src/assets/operator_images/SklearnTrainingRidge.png
  core/gui/src/assets/operator_images/SklearnTrainingRidgeCV.png
  core/gui/src/assets/operator_images/SklearnTrainingSDG.png
  core/gui/src/assets/operator_images/SklearnTrainingSVM.png
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
Labels: gui

Resolve conflict
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingLinearRegressionOpDesc.scala
Labels: none

update
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: gui

fix(op): add ML training operators for linear and logistic regression (#3779)
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingLinearRegressionOpDesc.scala
Labels: none

initial commit
  core/gui/src/assets/operator_images/SubstringSearch.png
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/substringSearch/SubstringSearchOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/substringSearch/SubstringSearchOpExec.scala
Labels: gui

feat: cap number of concurrent file uploads (#3735)
  core/config/src/main/resources/default.conf
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.html
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.scss
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-staged-objects-list/user-dataset-staged-objects-list.component.html
Labels: gui

fix: Correctly format workflow JSON when downloading from hub (#3751)
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui

fix(ui): Prevent link delete buttons from overlapping (#3602)
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
Labels: gui

fix: delete
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/access/AccessChecker.scala
Labels: none

fix: remove redundant code
  core/config/src/main/scala/edu/uci/ics/amber/config/EnvironmentalVariable.scala
Labels: none

chore(config): enable user system by default
  core/config/src/main/resources/user-system.conf
Labels: none

fix
  core/gui/src/app/workspace/service/computing-unit-status/computing-unit-status.service.ts
Labels: gui

wip: increase timeout for dataProcessingSpec
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
Labels: engine

try solving postgres issue.
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
Labels: engine

revert timeout increase.
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
Labels: engine

revert timeout increase.
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
Labels: engine

add class loader for pauseSpec.
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
Labels: engine

initial commit
  core/computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/resource/ComputingUnitManagingResource.scala
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.html
  core/gui/src/app/workspace/types/workflow-computing-unit.ts
Labels: gui

update
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: gui

Add publish section with whoami to .asf.yaml
  .asf.yaml
Labels: none
