Repository apache/texera, changes with the labels that .github/labeler.yml gives for each.
All labels: gui, engine, python, docs, ci, build, dependencies, ddl-change

.github/labeler.yml:

gui:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/gui/**'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/**'
      - all-globs-to-any-files:
          - '!core/gui/**'
          - '!core/log/**'
          - '!core/scripts/**'
engine:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/**'

python:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/src/main/python/**'
          - '**/*.py'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'
          - 'NOTICE'
          - 'LICENSE'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

build:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/scripts/**'
          - 'deployment/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/requirements.txt'
          - '**/package.json'
          - '**/build.sbt'
          - '**/project.sbt'

ddl-change:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'

feature:
  - head-branch:
    - '^feat'
    - 'feature'

fix:
  - head-branch: '^fix'

refactor:
  - head-branch: '^refactor'

fix and format with scalafixAll and scalafmtAll
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
Labels: engine

revert.
  core/amber/build.sbt
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
  core/dao/src/main/scala/edu/uci/ics/texera/dao/SqlServer.scala
Labels: engine, dependencies

add await.
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
Labels: engine

reuse code
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/FileResolver.scala
Labels: engine

feat: display datasets version creation timestamp (#3803)
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
Labels: gui

remove await.
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
Labels: engine

test using external database
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/dao/src/main/scala/edu/uci/ics/texera/dao/SqlServer.scala
Labels: engine

test using external database
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
Labels: engine

test using external database
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
Labels: engine

fix
  core/computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/resource/ComputingUnitManagingResource.scala
Labels: none

chore: Upgrade checkout and setup actions to latest versions
  .github/workflows/github-action-build.yml
Labels: ci

Upgrade GitHub Actions to latest versions
  .github/workflows/github-action-build.yml
Labels: ci

docs: address review comments, editing comments
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/FileResolver.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/util/LakeFSStorageClient.scala
Labels: none

fixed delete button only clickable from outer ring
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: gui

chore: Upgrade checkout and setup actions to latest versions (#3808)
  .github/workflows/github-action-build.yml
Labels: ci

feat: add save button for sidebar tabs on the admin settings page (#3801)
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.html
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.scss
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.ts
Labels: gui

revert: texera ddl style change
  core/scripts/sql/texera_ddl.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: build, ddl-change

revert: texera ddl style change
  core/scripts/sql/texera_ddl.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: build, ddl-change

docs: add comments explaining var usage in StorageConfig
  core/config/src/main/scala/edu/uci/ics/amber/config/StorageConfig.scala
Labels: none

refactor: seperate validateDatasetName method in DatasetResource
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
Labels: none

fix: resolve exec format error in pylsp Docker container
  deployment/pylsp/Dockerfile
Labels: build

format files with prettier-eslint
  core/gui/src/app/dashboard/service/user/download/download.service.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: gui

wip.
  .github/workflows/github-action-build.yml
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
  core/config/src/main/resources/storage.conf
  core/config/src/main/scala/edu/uci/ics/amber/config/StorageConfig.scala
  core/scripts/sql/texera_ddl.sql
Labels: engine, ci, build, ddl-change

Fix MockTexeraDB.
  core/dao/src/test/scala/edu/uci/ics/texera/dao/MockTexeraDB.scala
Labels: none

Upgrade PR labeler action to version 6
  .github/workflows/pr-labeler.yml
Labels: ci
