Repository apache/texera, changes with the labels that .github/labeler.yml gives for each.
All labels: gui, engine, python, docs, ci, build, dependencies, ddl-change

.github/labeler.yml:

gui:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/gui/**'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/**'
      - all-globs-to-any-files:
          - '!core/gui/**'
          - '!core/log/**'
          - '!core/scripts/**'
engine:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/**'

python:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/src/main/python/**'
          - '**/*.py'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'
          - 'NOTICE'
          - 'LICENSE'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

build:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/scripts/**'
          - 'deployment/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/requirements.txt'
          - '**/package.json'
          - '**/build.sbt'
          - '**/project.sbt'

ddl-change:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'

feature:
  - head-branch:
    - '^feat'
    - 'feature'

fix:
  - head-branch: '^fix'

refactor:
  - head-branch: '^refactor'

fix(debugger): do not truncate debug messages (#3786)
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionConsoleService.scala
Labels: engine

wip.
  core/dao/src/main/scala/edu/uci/ics/texera/dao/SqlServer.scala
Labels: none

feat(config): allow default.conf to be set using environment variables (#3757)
  core/config/src/main/resources/default.conf
Labels: none

wip.
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
Labels: engine

wip.
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
Labels: engine

wip.
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
Labels: engine

wip.
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
Labels: engine

wip.
  core/amber/build.sbt
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
Labels: engine, dependencies

single query to check whether each dataset is downloadable or not
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
Labels: engine

fix: revert cu manage
  core/computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/resource/ComputingUnitManagingResource.scala
Labels: none

removed tolower
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
Labels: engine

revert.
  core/amber/build.sbt
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
  core/dao/src/main/scala/edu/uci/ics/texera/dao/SqlServer.scala
Labels: engine, dependencies

add await and remove lazy val.
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
Labels: engine

switch to native browser download for single-file dataset downloads
  core/file-service/src/main/scala/edu/uci/ics/texera/service/util/S3StorageClient.scala
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui

(incomplete) enable browser native download for workflow result downloads
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenAuthenticator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenClaims.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/DownloadTokenResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuth.scala
  core/gui/src/app/dashboard/service/user/download/download.service.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: gui, engine

remove old single-file dataset download methods and unit tests
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
Labels: gui

fix format with prettier and eslint
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui

(complete) enable browser native download for workflow result downloads
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenClaims.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/DownloadTokenResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuth.scala
  core/gui/src/app/dashboard/service/user/download/download.service.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: gui, engine

fix and format via scalafixall and scalafmtall
  core/file-service/src/main/scala/edu/uci/ics/texera/service/util/S3StorageClient.scala
Labels: none

update paths of workflow result download endpoints to distinguish local vs. dataset download
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui, engine

move helper functions for local and dataset export endpoints into ResultExportService
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
Labels: engine

remove files and changes for old authentication method (backend token)
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenAuthenticator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenClaims.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/DownloadTokenResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui, engine

remove unrelated s3 presigned url generation logic
  core/file-service/src/main/scala/edu/uci/ics/texera/service/util/S3StorageClient.scala
Labels: none

add Apache License header to new files
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenAuthenticator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenClaims.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/DownloadTokenResource.scala
Labels: engine

change authentication method to use localStorage access token instead of requesting backend token
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui, engine

remove old workflow result download logic for single file downloads
  core/gui/src/app/dashboard/service/user/download/download.service.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: gui

remove unrelated s3 presigned url generation logic
  core/file-service/src/main/scala/edu/uci/ics/texera/service/util/S3StorageClient.scala
Labels: none

add user role filtering to workflow result export endpoint
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenAuthenticator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenClaims.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuth.scala
Labels: engine

remove changes to JwtAuth
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuth.scala
Labels: none

remove unused jwtDownloadClaims from JwtAuth
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuth.scala
Labels: none

remove unrelated single file dataset download logic
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui

remove redundant check for if no operators are specified
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
Labels: engine

add descriptions for helper functions for workflow result export endpoints
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
Labels: engine

change method of parsing JSON string into OperatorExportInfo objects
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/http/request/result/ResultExportRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
Labels: engine

run scalafixAll and scalafmtAll
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
Labels: engine

combine related dataset export functions in ResultExportService into a single function
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
Labels: engine

remove unecessary parameters from dataset workflow result export functions and endpoint
  core/gui/src/app/dashboard/service/user/download/download.service.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: gui

remove unecessary parameters from local workflow result export functions and endpoint
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/gui/src/app/dashboard/service/user/download/download.service.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: gui, engine

combine all parameters into a single request parameter representing a ResultExportRequest
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/http/request/result/ResultExportRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui, engine

remove unnecessary initializations of ResultExportService class
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
Labels: engine
