Repository apache/texera, changes with the labels that .github/labeler.yml gives for each.
All labels: gui, engine, python, docs, ci, build, dependencies, ddl-change

.github/labeler.yml:

gui:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/gui/**'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/**'
      - all-globs-to-any-files:
          - '!core/gui/**'
          - '!core/log/**'
          - '!core/scripts/**'
engine:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/**'

python:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/src/main/python/**'
          - '**/*.py'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'
          - 'NOTICE'
          - 'LICENSE'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

build:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/scripts/**'
          - 'deployment/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/requirements.txt'
          - '**/package.json'
          - '**/build.sbt'
          - '**/project.sbt'

ddl-change:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'

feature:
  - head-branch:
    - '^feat'
    - 'feature'

fix:
  - head-branch: '^fix'

refactor:
  - head-branch: '^refactor'

Changed ddls
  core/scripts/sql/texera_ddl.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: build, ddl-change

Changed 12.sql
  core/scripts/sql/updates/12.sql
Labels: build, ddl-change

Changed affected files
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuthFilter.scala
Labels: engine

feat(amber): add memoization of region costs in CostBasedScheduleGenerator (#3660)
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedScheduleGenerator.scala
Labels: engine

Lint check
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.ts
Labels: gui

chore(ci): Add Mock DB and JOOQ Generation to CI (#3689)
  .github/workflows/github-action-build.yml
  core/config/src/main/resources/storage.conf
Labels: ci

feat: add current branding preview to admin settings (#3700)
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.ts
Labels: gui

feat: reorganize dataset creation time display with timezone tooltip (#3702)
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
Labels: gui

Added mock test
  core/gui/src/app/common/service/gui-config.service.mock.ts
Labels: gui

chore: rename time_log and column last_login (#3694)
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuthFilter.scala
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/updates/12.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: engine, build, ddl-change

chore: change jwt token expiration as a configurable variable (#3693)
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuth.scala
  core/config-service/src/main/scala/edu/uci/ics/texera/service/resource/ConfigResource.scala
  core/config/src/main/resources/auth.conf
  core/config/src/main/scala/edu/uci/ics/texera/config/AuthConfig.scala
  core/gui/src/app/common/service/gui-config.service.mock.ts
  core/gui/src/app/common/service/user/auth.service.ts
  core/gui/src/app/common/type/gui-config.ts
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.ts
Labels: gui

Changed +1 to -1
  core/gui/src/app/common/service/user/auth.service.ts
Labels: gui

chore: fix token refresh interval to prevent frequent logout (#3703)
  core/gui/src/app/common/service/user/auth.service.ts
Labels: gui

Changed function name to list()
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
Labels: engine

chore: change function name listUserWithActivity to list in AdminUserResource (#3704)
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
Labels: engine

fix and format via scalafixall and scalafmtall
  core/file-service/src/main/scala/edu/uci/ics/texera/service/util/S3StorageClient.scala
Labels: none

remove old single-file dataset download methods and unit tests
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
Labels: gui

switch to native browser download for single-file dataset downloads
  core/file-service/src/main/scala/edu/uci/ics/texera/service/util/S3StorageClient.scala
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui

fix format with prettier and eslint
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui

(incomplete) enable browser native download for workflow result downloads
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenAuthenticator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenClaims.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/DownloadTokenResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuth.scala
  core/gui/src/app/dashboard/service/user/download/download.service.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: gui, engine

(complete) enable browser native download for workflow result downloads
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenClaims.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/DownloadTokenResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuth.scala
  core/gui/src/app/dashboard/service/user/download/download.service.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: gui, engine

add user role filtering to workflow result export endpoint
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenAuthenticator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenClaims.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuth.scala
Labels: engine

build: add javax.validation dependency in workflow-core package
  core/workflow-core/build.sbt
Labels: dependencies

remove unrelated s3 presigned url generation logic
  core/file-service/src/main/scala/edu/uci/ics/texera/service/util/S3StorageClient.scala
Labels: none

fix: update validation annotations for attribute to NotBlank
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/tuple/Attribute.java
Labels: none

style: improve code readbility
  core/workflow-operator/src/main/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGenerator.scala
Labels: none

remove unrelated s3 presigned url generation logic
  core/file-service/src/main/scala/edu/uci/ics/texera/service/util/S3StorageClient.scala
Labels: none

remove unrelated single file dataset download logic
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui

fix: properties validation in BarChartOpDesc
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/barChart/BarChartOpDesc.scala
Labels: none

add Apache License header to new files
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenAuthenticator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/DownloadTokenClaims.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/DownloadTokenResource.scala
Labels: engine

Modified ddl files
  core/scripts/sql/texera_ddl.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: build, ddl-change

chore: add drop user_last_active_time statement to ddl files (#3708)
  core/scripts/sql/texera_ddl.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: build, ddl-change

fix: improve equality check for PortSchemas (#3667)
  core/gui/src/app/common/util/workflow-compilation-utils.ts
Labels: gui

Added 13.sql
  core/scripts/sql/updates/13.sql
Labels: build, ddl-change

feat: display datasets version creation date (#3706)
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.scss
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
Labels: gui

Added 13.sql
  core/scripts/sql/updates/13.sql
Labels: build, ddl-change

Changed sql file
  core/scripts/sql/updates/13.sql
Labels: build, ddl-change

New change to sql file
  core/scripts/sql/updates/13.sql
Labels: build, ddl-change

Small change
  core/scripts/sql/updates/13.sql
Labels: build, ddl-change

Changed HubResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/HubResource.scala
Labels: engine
