Repository apache/texera, changes with the labels that .github/labeler.yml gives for each.
All labels: gui, engine, python, docs, ci, build, dependencies, ddl-change

.github/labeler.yml:

gui:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/gui/**'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/**'
      - all-globs-to-any-files:
          - '!core/gui/**'
          - '!core/log/**'
          - '!core/scripts/**'
engine:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/**'

python:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/src/main/python/**'
          - '**/*.py'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'
          - 'NOTICE'
          - 'LICENSE'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

build:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/scripts/**'
          - 'deployment/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/requirements.txt'
          - '**/package.json'
          - '**/build.sbt'
          - '**/project.sbt'

ddl-change:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'

feature:
  - head-branch:
    - '^feat'
    - 'feature'

fix:
  - head-branch: '^fix'

refactor:
  - head-branch: '^refactor'

fix
  core/gui/src/app/dashboard/component/dashboard.component.ts
Labels: gui

fix: return when attribute type is not set in UDF
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/tuple/Attribute.java
Labels: none

fix: require not null for attribute name and type
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/tuple/Attribute.java
Labels: none

fix: attribute name assertion message
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/tuple/Attribute.java
Labels: none

fix: yield tuple in GeneratorOperator example
  core/amber/src/main/python/pytexera/udf/examples/generator_operator.py
  core/amber/src/main/python/pytexera/udf/examples/test_generator_operator.py
Labels: engine, python

fix: yield tuple in GeneratorOperator example (#3657)
  core/amber/src/main/python/pytexera/udf/examples/generator_operator.py
  core/amber/src/main/python/pytexera/udf/examples/test_generator_operator.py
Labels: engine, python

fix: return error when attribute type is not set in UDF (#3656)
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/tuple/Attribute.java
Labels: none

fix(ui): Highlight "Workflows" tab when inside workspace (#3653)
  core/gui/src/app/app-routing.constant.ts
  core/gui/src/app/app-routing.module.ts
  core/gui/src/app/dashboard/component/admin/execution/admin-execution.component.html
  core/gui/src/app/dashboard/component/dashboard.component.ts
Labels: gui

fix(ui): improve upload behavior to prevent progress confusion (#3658)
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
Labels: gui

feat: inline dataset version creation and remove modal flow (#3659)
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.scss
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
Labels: gui

Made change to sql files
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/updates/11.sql
Labels: build, ddl-change

m
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Keys.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Tables.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/TexeraDb.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/Dataset.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/SiteSettings.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/WorkflowExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/DatasetDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/SiteSettingsDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/WorkflowExecutionsDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/IDataset.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/ISiteSettings.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/IWorkflowExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/Dataset.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/SiteSettings.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/WorkflowExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/DatasetRecord.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/SiteSettingsRecord.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/WorkflowExecutionsRecord.java
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
  core/gui/src/app/common/type/dataset.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.scss
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-version-creator/user-dataset-version-creator.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-version-creator/user-dataset-version-creator.component.scss
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-version-creator/user-dataset-version-creator.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/updates/11.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: gui, build, ddl-change

Added tables
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Keys.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/TimeLog.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/TimeLogDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/TimeLog.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/TimeLogRecord.java
Labels: none

Changed admin dashboard
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.html
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.ts
Labels: gui

Added table
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/ITimeLog.java
Labels: none

Edited ts files
  core/gui/src/app/common/service/user/auth.service.ts
  core/gui/src/app/common/type/user.ts
Labels: gui

Edited AdminUserResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
Labels: engine

fix: improve equality check for PortSchemas in areAllPortSchemasEqual function
  core/gui/src/app/common/util/workflow-compilation-utils.ts
Labels: gui

m
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.scss
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-version-creator/user-dataset-version-creator.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-version-creator/user-dataset-version-creator.component.scss
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-version-creator/user-dataset-version-creator.component.ts
Labels: gui

feat: disallow dataset download (#3663)
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Keys.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Tables.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/TexeraDb.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/Dataset.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/SiteSettings.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/WorkflowExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/DatasetDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/SiteSettingsDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/WorkflowExecutionsDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/IDataset.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/ISiteSettings.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/IWorkflowExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/Dataset.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/SiteSettings.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/WorkflowExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/DatasetRecord.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/SiteSettingsRecord.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/WorkflowExecutionsRecord.java
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
  core/gui/src/app/common/type/dataset.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.scss
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-version-creator/user-dataset-version-creator.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-version-creator/user-dataset-version-creator.component.scss
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-version-creator/user-dataset-version-creator.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/updates/11.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: gui, build, ddl-change

fix private dataset not being able to be downloaded
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-version-creator/user-dataset-version-creator.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-version-creator/user-dataset-version-creator.component.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui

Revert "feat: switch single-file dataset downloads to use browser native downloads (#3621)"
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
  core/file-service/src/main/scala/edu/uci/ics/texera/service/util/S3StorageClient.scala
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/dashboard/service/user/download/download.service.spec.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui

fix: using lodash isEqual to perform equality check
  core/gui/src/app/common/util/workflow-compilation-utils.ts
Labels: gui

fix and format via scalafixall and scalafmtall
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
Labels: none

chore: revert "feat: switch single-file dataset downloads to use browser native downloads (#3621)" (#3669)
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
  core/file-service/src/main/scala/edu/uci/ics/texera/service/util/S3StorageClient.scala
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/dashboard/service/user/download/download.service.spec.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui

feat: enforce S3 multipart-upload limits in configuration (#3664)
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.html
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.ts
Labels: gui

change Downloads to Download and place toggle and text closer
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.scss
Labels: gui

Added time_log statement to texera_ddl.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: build, ddl-change

Added comment
  core/scripts/sql/texera_ddl.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: build, ddl-change

Minor fix
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: build, ddl-change

Changed month format to number
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.html
Labels: gui

chore: add time_log table to deployment/texera_ddl.sql (#3671)
  core/scripts/sql/texera_ddl.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: build, ddl-change

test
  core/gui/src/app/dashboard/service/user/download/download.service.spec.ts
Labels: gui

Added code to texera_ddl.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: build, ddl-change

Edited SQL Files
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/updates/12.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: build, ddl-change

fix: private dataset can be set as downloadable (#3666)
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.scss
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-version-creator/user-dataset-version-creator.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-version-creator/user-dataset-version-creator.component.ts
  core/gui/src/app/dashboard/service/user/download/download.service.spec.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui

initial commit
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/config/WorkerConfig.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/resourcePolicies/ExecutionClusterInfo.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/resourcePolicies/GreedyResourceAllocator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/resourcePolicies/ResourceAllocator.scala
  core/config/src/main/resources/application.conf
  core/config/src/main/scala/edu/uci/ics/amber/config/ApplicationConfig.scala
  core/config/src/main/scala/edu/uci/ics/amber/config/EnvironmentalVariable.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/udf/java/JavaUDFOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/udf/python/DualInputPortsPythonUDFOpDescV2.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/udf/python/PythonUDFOpDescV2.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/udf/python/source/PythonUDFSourceOpDescV2.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/udf/r/RUDFOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/udf/r/RUDFSourceOpDesc.scala
Labels: engine

Changed format of date
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.html
Labels: gui

header
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/resourcePolicies/GreedyResourceAllocator.scala
Labels: engine

Format check
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
Labels: engine
