Repository apache/texera, changes with the labels that .github/labeler.yml gives for each.
All labels: gui, engine, python, docs, ci, build, dependencies, ddl-change

.github/labeler.yml:

gui:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/gui/**'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/**'
      - all-globs-to-any-files:
          - '!core/gui/**'
          - '!core/log/**'
          - '!core/scripts/**'
engine:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/**'

python:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/src/main/python/**'
          - '**/*.py'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'
          - 'NOTICE'
          - 'LICENSE'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

build:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/scripts/**'
          - 'deployment/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/requirements.txt'
          - '**/package.json'
          - '**/build.sbt'
          - '**/project.sbt'

ddl-change:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'

feature:
  - head-branch:
    - '^feat'
    - 'feature'

fix:
  - head-branch: '^fix'

refactor:
  - head-branch: '^refactor'

refactor: reorder dataset properties in DatasetSearchQueryBuilder and UnifiedResourceSchema
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DatasetSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/UnifiedResourceSchema.scala
Labels: engine

style: correct code style of datasetUserAccess alias in UnifiedResourceSchema
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/UnifiedResourceSchema.scala
Labels: engine

refactor: expose validate repository name in LakeFSStorageClient
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/util/LakeFSStorageClient.scala
Labels: none

fix: correct formatting of comments in UnifiedResourceSchema
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/UnifiedResourceSchema.scala
Labels: engine

implementation
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.html
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.ts
Labels: gui

add
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.ts
Labels: gui

fix
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.ts
Labels: gui

chore: refactor schema of user_activity table (#3717)
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/HubResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/updates/13.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: engine, build, ddl-change

feat: test cases
  core/access-control-service/src/test/scala/edu/uci/ics/texera/AccessControlResourceSpec.scala
Labels: none

feat: modular auth
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/access/Authorizer.scala
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/access/EndpointAccessController.scala
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/resource/AccessControlResource.scala
Labels: none

.
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.html
Labels: gui

feat: enable dataset creation in export results window (#3726)
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.html
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.ts
Labels: gui

improve email notification subject
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/EmailTemplate.scala
Labels: engine

use one line logic
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/EmailTemplate.scala
Labels: engine

Update core/gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
  core/gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
Labels: gui

remove redundant bracket
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/EmailTemplate.scala
Labels: engine

fix: comments
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/access/AccessChecker.scala
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/access/Authorizer.scala
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/resource/AccessControlResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/ServletAwareConfigurator.scala
Labels: engine

fix: improve email notification subject (#3729)
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/EmailTemplate.scala
Labels: engine

fix: add isDatasetDownloadable and align field order & docstring in dataset query (#3723)
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DatasetSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/UnifiedResourceSchema.scala
Labels: engine

refactor: make internal functions private
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/util/LakeFSStorageClient.scala
Labels: none

fix: remove unused params from docstrings
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/util/LakeFSStorageClient.scala
Labels: none

refactor: remove validateRepositoryName
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/util/LakeFSStorageClient.scala
Labels: none

Initial Commit
  core/scripts/sql/updates/14.sql
Labels: build, ddl-change

Edited ddl files
  core/scripts/sql/texera_ddl.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: build, ddl-change

Added account creation
  core/gui/src/app/common/type/user.ts
Labels: gui

AdminUserResource.scala changed
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
Labels: engine

Commit
  core/amber/src/main/scala/edu/uci/ics/texera/web/ServletAwareConfigurator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/GuestAuthFilter.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/UserAuthenticator.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtParser.scala
  core/gui/src/app/common/service/user/auth.service.ts
  core/gui/src/app/common/type/user.ts
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.html
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.ts
  core/gui/src/app/workspace/component/menu/coeditor-user-icon/coeditor-user-icon.component.ts
Labels: gui, engine

fix: remove Authorizer trait
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/access/AccessChecker.scala
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/access/Authorizer.scala
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/resource/AccessControlResource.scala
Labels: none

Made changes
  core/gui/src/app/common/type/user.ts
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.ts
  core/gui/src/app/workspace/component/menu/coeditor-user-icon/coeditor-user-icon.component.ts
Labels: gui

Changed auth.service.ts
  core/gui/src/app/common/service/user/auth.service.ts
Labels: gui

Removed unnecessary comment
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.ts
Labels: gui

Changes
  core/gui/src/app/common/service/user/auth.service.ts
Labels: gui

Added test case
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
Labels: engine

Changed test case
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
Labels: engine

scalafmtCheck
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/GuestAuthFilter.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/UserAuthenticator.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
Labels: engine

frontend lint check
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.html
Labels: gui

Made changes to test case
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
Labels: engine

Edited test cases
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
Labels: engine

Changes
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
Labels: engine

feat: add MockLakeFS and DatasetResourceSpec for testing create dataset
  core/build.sbt
  core/config/src/main/scala/edu/uci/ics/amber/config/StorageConfig.scala
  core/file-service/build.sbt
  core/file-service/src/test/scala/edu/uci/ics/texera/service/MockLakeFS.scala
  core/file-service/src/test/scala/edu/uci/ics/texera/service/resource/DatasetResourceSpec.scala
Labels: dependencies
