Repository apache/texera, changes with the labels that .github/labeler.yml gives for each.
All labels: gui, engine, python, docs, ci, build, dependencies, ddl-change

Update .asf.yaml
  .asf.yaml
Labels: none

chore: Redirect jobs notifications to commits@t.a.o (#3646)
  .asf.yaml
Labels: none

chore: create merge protections rules on a test branch (#3645)
  .asf.yaml
  .github/workflows/github-action-build.yml
  .github/workflows/lint-pr.yml
Labels: ci

fix typo
  .asf.yaml
Labels: none

chore: fix typo in .asf.yaml (#3648)
  .asf.yaml
Labels: none

fix asf.yaml
  .asf.yaml
Labels: none

Update .asf.yaml
  .asf.yaml
Labels: none

Update .asf.yaml
  .asf.yaml
Labels: none

Update .asf.yaml
  .asf.yaml
Labels: none

Update .asf.yaml
  .asf.yaml
Labels: none

Update .asf.yaml
  .asf.yaml
Labels: none

Update .asf.yaml
  .asf.yaml
Labels: none

Update .asf.yaml
  .asf.yaml
Labels: none

Update .asf.yaml
  .asf.yaml
Labels: none

Update .asf.yaml
  .asf.yaml
Labels: none

Update .asf.yaml
  .asf.yaml
Labels: none

chore(doc): update CONTRIBUTING.md (#3611)
  CONTRIBUTING.md
Labels: docs

Update .asf.yaml
  .asf.yaml
Labels: none

chore: revert changes on .asf.yaml (#3649)
  .asf.yaml
Labels: none

fix: access usage
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/gui/src/app/dashboard/component/user/share-access/share-access.component.html
  core/permission-service/src/main/resources/logback.xml
Labels: gui, engine

m
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.ts
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: gui

fix: CONTRIBUTING.md (#3633)
  CONTRIBUTING.md
Labels: docs

fix(docker): use JDK instead of JRE for Java UDF compilation (#3628)
  deployment/computing-unit-master.dockerfile
Labels: build

chore: call the project Apache Texera (#3637)
  README.md
Labels: docs

feat: enable configurable multipart upload settings using database (#3622)
  core/config-service/src/main/scala/edu/uci/ics/texera/service/resource/ConfigResource.scala
  core/config/src/main/resources/default.conf
  core/config/src/main/resources/gui.conf
  core/config/src/main/scala/edu/uci/ics/texera/config/GuiConfig.scala
  core/gui/src/app/app.module.ts
  core/gui/src/app/common/service/gui-config.service.mock.ts
  core/gui/src/app/common/type/gui-config.ts
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.html
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.scss
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.ts
  core/gui/src/app/dashboard/component/user/files-uploader/files-uploader.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
Labels: gui

fix(ui): improve button label clarity for version creation (#3623)
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
Labels: gui

Removed Original Expiration day
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuth.scala
  core/config/src/main/resources/auth.conf
  core/config/src/main/scala/edu/uci/ics/texera/config/AuthConfig.scala
Labels: none

Additional change on AuthResource
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/AuthResource.scala
Labels: engine

Removed unnecessary variables
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/GoogleAuthResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/resource/ComputingUnitManagingResource.scala
Labels: engine

add cost momo.
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedScheduleGenerator.scala
Labels: engine

feat: switch single-file dataset downloads to use browser native downloads (#3621)
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
  core/file-service/src/main/scala/edu/uci/ics/texera/service/util/S3StorageClient.scala
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/dashboard/service/user/download/download.service.spec.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui

fix(clone): add clone button (#3651)
  core/gui/src/app/hub/component/workflow/detail/hub-workflow-detail.component.html
Labels: gui

Final fix
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuthFilter.scala
Labels: none

feat(Ingress): Add ingress class name to values (#3652)
  deployment/k8s/texera-helmchart/templates/ingress.yaml
  deployment/k8s/texera-helmchart/values.yaml
Labels: build

Update frontend test
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.spec.ts
Labels: gui

format
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.spec.ts
Labels: gui

feat: add user's activeness to admin dashboard (#3625)
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/AuthResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/GoogleAuthResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuth.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuthFilter.scala
  core/computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/resource/ComputingUnitManagingResource.scala
  core/config/src/main/resources/auth.conf
  core/config/src/main/scala/edu/uci/ics/texera/config/AuthConfig.scala
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Keys.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Tables.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/TexeraDb.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/TimeLog.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/TimeLogDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/ITimeLog.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/TimeLog.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/TimeLogRecord.java
  core/gui/src/app/common/service/user/auth.service.ts
  core/gui/src/app/common/type/user.ts
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.html
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.scss
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.ts
  core/gui/src/app/dashboard/service/admin/user/admin-user.service.ts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/updates/10.sql
Labels: gui, engine, build, ddl-change

feat(gui): Enhance Deleting Edges (#3636)
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.html
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.spec.ts
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.ts
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: gui

highlight workflows tab
  core/gui/src/app/dashboard/component/dashboard.component.html
  core/gui/src/app/dashboard/component/dashboard.component.ts
Labels: gui

replace path 'workspace' with 'workflow'
  core/gui/src/app/app-routing.constant.ts
  core/gui/src/app/app-routing.module.ts
  core/gui/src/app/dashboard/component/admin/execution/admin-execution.component.html
  core/gui/src/app/dashboard/component/dashboard.component.html
  core/gui/src/app/dashboard/component/dashboard.component.ts
Labels: gui

.github/labeler.yml:

gui:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/gui/**'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/**'
      - all-globs-to-any-files:
          - '!core/gui/**'
          - '!core/log/**'
          - '!core/scripts/**'
engine:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/**'

python:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/src/main/python/**'
          - '**/*.py'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'
          - 'NOTICE'
          - 'LICENSE'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

build:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/scripts/**'
          - 'deployment/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/requirements.txt'
          - '**/package.json'
          - '**/build.sbt'
          - '**/project.sbt'

ddl-change:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'

feature:
  - head-branch:
    - '^feat'
    - 'feature'

fix:
  - head-branch: '^fix'

refactor:
  - head-branch: '^refactor'
