Repository apache/texera, changes with the labels that .github/labeler.yml gives for each.
All labels: gui, engine, python, docs, ci, build, dependencies, ddl-change

fix and format via scalafixall and scalafmtall
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
  core/file-service/src/main/scala/edu/uci/ics/texera/service/util/S3StorageClient.scala
Labels: none

switch to native browser download for single-file dataset downloads
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
  core/file-service/src/main/scala/edu/uci/ics/texera/service/util/S3StorageClient.scala
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui

remove old single-file dataset download methods and unit tests
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/service/user/download/download.service.spec.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui

remove unused code
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
Labels: none

Initial commit
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuth.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuthFilter.scala
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Keys.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Tables.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/TexeraDb.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/TimeLog.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/TimeLogDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/ITimeLog.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/TimeLog.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/TimeLogRecord.java
  core/gui/src/app/common/service/user/auth.service.ts
  core/gui/src/app/common/type/user.ts
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.html
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.scss
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.ts
  core/gui/src/app/dashboard/service/admin/user/admin-user.service.ts
  core/scripts/sql/updates/10.sql
Labels: gui, engine, build, ddl-change

add AWS S3 support, data stored as a whole in one place
  deployment/k8s/texera-helmchart/values.yaml
Labels: build

fix spelling typo
  deployment/k8s/texera-helmchart/values.yaml
Labels: build

fix spelling typo
  deployment/k8s/texera-helmchart/values.yaml
Labels: build

fix(docker): use JDK instead of JRE for Java UDF compilation
  deployment/computing-unit-master.dockerfile
Labels: build

Format check
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuthFilter.scala
  core/gui/src/app/common/type/user.ts
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.scss
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.ts
Labels: gui, engine

fix: CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs

Fixed codes based on comments
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuthFilter.scala
  core/gui/src/app/common/type/user.ts
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.ts
  core/scripts/sql/texera_ddl.sql
Labels: gui, engine, build, ddl-change

Edge Delete
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.html
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.ts
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: gui

fix
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.html
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.ts
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: gui

Call the project Apache Texera
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

fix: remove erisu/apache-rat-action@v1
  .github/workflows/check-header.yml
Labels: ci

Update .github/workflows/check-header.yml
  .github/workflows/check-header.yml
Labels: ci

Update check-header.yml
  .github/workflows/check-header.yml
Labels: ci

Update check-header.yml
  .github/workflows/check-header.yml
Labels: ci

Update build.sbt
  core/auth/build.sbt
Labels: dependencies

Update build.sbt
  core/auth/build.sbt
Labels: dependencies

m
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.ts
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: gui

Update check-header.yml
  .github/workflows/check-header.yml
Labels: ci

Update check-header.yml
  .github/workflows/check-header.yml
Labels: ci

Update check-header.yml
  .github/workflows/check-header.yml
Labels: ci

Update check-header.yml
  .github/workflows/check-header.yml
Labels: ci

Update github-action-build.yml
  .github/workflows/github-action-build.yml
Labels: ci

Update check-header.yml
  .github/workflows/check-header.yml
Labels: ci

Update build.sbt
  core/auth/build.sbt
Labels: dependencies

Update build.sbt
  core/auth/build.sbt
Labels: dependencies

Update build.sbt
  core/auth/build.sbt
Labels: dependencies

Update build.sbt
  core/auth/build.sbt
Labels: dependencies

Update build.sbt
  core/auth/build.sbt
Labels: dependencies

Update build.sbt
  core/auth/build.sbt
Labels: dependencies

Update github-action-build.yml
  .github/workflows/github-action-build.yml
Labels: ci

Delete .github/workflows/check-header.yml
  .github/workflows/check-header.yml
Labels: ci

update
  core/auth/build.sbt
Labels: dependencies

update
  .github/workflows/github-action-build.yml
Labels: ci

update
  .github/workflows/check-header.yml
Labels: ci

.github/labeler.yml:

gui:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/gui/**'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/**'
      - all-globs-to-any-files:
          - '!core/gui/**'
          - '!core/log/**'
          - '!core/scripts/**'
engine:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/**'

python:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/src/main/python/**'
          - '**/*.py'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'
          - 'NOTICE'
          - 'LICENSE'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

build:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/scripts/**'
          - 'deployment/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/requirements.txt'
          - '**/package.json'
          - '**/build.sbt'
          - '**/project.sbt'

ddl-change:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'

feature:
  - head-branch:
    - '^feat'
    - 'feature'

fix:
  - head-branch: '^fix'

refactor:
  - head-branch: '^refactor'
