Repository apache/texera, changes with the labels that .github/labeler.yml gives for each.
All labels: gui, engine, python, docs, ci, build, dependencies, ddl-change

fix: do not truncate debug messages
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionConsoleService.scala
Labels: engine

Update core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionConsoleService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionConsoleService.scala
Labels: engine

fix: format
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionConsoleService.scala
Labels: engine

chore: Add publish section with whoami to .asf.yaml (#3785)
  .asf.yaml
Labels: none

fix(gui): reopen workflow websocket when switching workflows (#3773)
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.ts
  core/gui/src/app/workspace/service/computing-unit-status/computing-unit-status.service.ts
Labels: gui

fix bug
  core/gui/src/styles.scss
Labels: gui

fix(ui): move quota diagrams to new tab (#3781)
  core/gui/src/app/dashboard/component/user/user-quota/user-quota.component.html
  core/gui/src/app/dashboard/component/user/user-quota/user-quota.component.scss
Labels: gui

fix fmt
  core/gui/src/styles.scss
Labels: gui

init
  core/gui/src/app/dashboard/component/user/user-avatar/user-avatar.component.html
  core/gui/src/app/dashboard/component/user/user-avatar/user-avatar.component.scss
Labels: gui

fix
  core/gui/src/app/dashboard/component/user/user-avatar/user-avatar.component.html
  core/gui/src/app/dashboard/component/user/user-avatar/user-avatar.component.scss
Labels: gui

add comment
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: gui, engine

add comment
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
Labels: engine

add doc.
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
Labels: engine

fix(ci): add explicit jdbc driver loading in relevant e2e tests (#3783)
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
Labels: engine

fix: pin R arrow package to version 14.0.2.1 in computing-unit-master (#3761)
  deployment/computing-unit-master.dockerfile
Labels: build

Add database creation step to build workflow
  .github/workflows/build-image.yml
Labels: ci

Add PostgreSQL service to build-image workflow
  .github/workflows/build-image.yml
Labels: ci

Update github-action-build.yml
  .github/workflows/github-action-build.yml
Labels: ci

Rename job from 'docker' to 'build'
  .github/workflows/build-image.yml
Labels: ci

wip.
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
Labels: engine

Update build-image.yml
  .github/workflows/build-image.yml
Labels: ci

Update github-action-build.yml
  .github/workflows/github-action-build.yml
Labels: ci

format fix
  core/amber/requirements.txt
Labels: engine, dependencies

fix
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Keys.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Tables.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/TexeraDb.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/enums/ContributorRoleEnum.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/DatasetContributor.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/DatasetContributorDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/IDatasetContributor.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/DatasetContributor.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/DatasetContributorRecord.java
  deployment/postgres17-pgroonga.dockerfile
Labels: build

chore(deps): bump torch from 2.4.1 to 2.8.0 and typing_extensions from 4.9.0 to 4.10.0 (#3800)
  core/amber/operator-requirements.txt
  core/amber/requirements.txt
Labels: engine, dependencies

rename funtions + remove dead code
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.ts
Labels: gui, engine

fix
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.html
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.ts
Labels: gui, engine

fix
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.ts
Labels: gui, engine

fix
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
Labels: engine

remove RestrictedDataset
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
Labels: engine

change location parseDatasetPath
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/FileResolver.scala
Labels: engine

add mockTexeraDB to tests.
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
Labels: engine

chore: refactor user avatar component (#3790)
  core/gui/src/app/dashboard/component/user/user-avatar/user-avatar.component.html
  core/gui/src/app/dashboard/component/user/user-avatar/user-avatar.component.scss
Labels: gui

wip.
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
Labels: engine

wip.
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
Labels: engine

wip.
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
Labels: engine

wip.
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
Labels: engine

wip.
  core/dao/src/main/scala/edu/uci/ics/texera/dao/SqlServer.scala
Labels: none

update.
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.html
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.scss
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.ts
Labels: gui

wip.
  core/dao/src/main/scala/edu/uci/ics/texera/dao/SqlServer.scala
Labels: none

.github/labeler.yml:

gui:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/gui/**'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/**'
      - all-globs-to-any-files:
          - '!core/gui/**'
          - '!core/log/**'
          - '!core/scripts/**'
engine:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/**'

python:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/src/main/python/**'
          - '**/*.py'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'
          - 'NOTICE'
          - 'LICENSE'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

build:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/scripts/**'
          - 'deployment/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/requirements.txt'
          - '**/package.json'
          - '**/build.sbt'
          - '**/project.sbt'

ddl-change:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'

feature:
  - head-branch:
    - '^feat'
    - 'feature'

fix:
  - head-branch: '^fix'

refactor:
  - head-branch: '^refactor'
