Repository apache/texera, changes with the labels that .github/labeler.yml gives for each.
All labels: gui, engine, python, docs, ci, build, dependencies, ddl-change

.github/labeler.yml:

gui:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/gui/**'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/**'
      - all-globs-to-any-files:
          - '!core/gui/**'
          - '!core/log/**'
          - '!core/scripts/**'
engine:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/**'

python:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/src/main/python/**'
          - '**/*.py'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'
          - 'NOTICE'
          - 'LICENSE'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

build:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/scripts/**'
          - 'deployment/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/requirements.txt'
          - '**/package.json'
          - '**/build.sbt'
          - '**/project.sbt'

ddl-change:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'

feature:
  - head-branch:
    - '^feat'
    - 'feature'

fix:
  - head-branch: '^fix'

refactor:
  - head-branch: '^refactor'

fix: separate user activity window from jwt expiration (#3731)
  core/config-service/src/main/scala/edu/uci/ics/texera/service/resource/ConfigResource.scala
  core/config/src/main/resources/auth.conf
  core/config/src/main/resources/gui.conf
  core/config/src/main/scala/edu/uci/ics/texera/config/GuiConfig.scala
  core/gui/src/app/common/service/gui-config.service.mock.ts
  core/gui/src/app/common/type/gui-config.ts
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.ts
Labels: gui

Format change
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
Labels: engine

style: code style
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/UnifiedResourceSchema.scala
Labels: engine

fix: improve error logging for LakeFS ApiException in DatasetSearchQueryBuilder
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DatasetSearchQueryBuilder.scala
Labels: engine

refactor: consolidate repository initialization and validation in LakeFSStorageClient
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/util/LakeFSStorageClient.scala
Labels: none

style: remove unnecessary blank line in SQL update script
  core/scripts/sql/updates/14.sql
Labels: build, ddl-change

jooq
  core/dao/build.sbt
  core/project/plugins.sbt
Labels: dependencies

feat: add a new choropleth map operator (#3744)
  core/gui/src/assets/operator_images/ChoroplethMap.png
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/choroplethMap/ChoroplethMapOpDesc.scala
Labels: gui

feat: add configuration guidance for upload parameters in admin settings (#3743)
  core/config/src/main/resources/default.conf
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.html
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.scss
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.ts
  core/gui/src/app/dashboard/component/user/files-uploader/files-uploader.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
Labels: gui

feat: automate JOOQ code generation in SBT build process (#3746)
  core/dao/build.sbt
  core/project/plugins.sbt
Labels: dependencies

init
  .github/workflows/github-action-build.yml
Labels: ci

chore(ci): remove JOOQ Generation from CI (#3747)
  .github/workflows/github-action-build.yml
Labels: ci

init
  core/dao/build.sbt
  core/dao/src/main/scala/edu/uci/ics/texera/dao/JooqCodeGenerator.scala
Labels: dependencies

update
  core/dao/build.sbt
Labels: dependencies

init
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ClientEvent.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/Schedule.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
Labels: engine

feat: add account creation time (#3736)
  core/amber/src/main/scala/edu/uci/ics/texera/web/ServletAwareConfigurator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/GuestAuthFilter.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/UserAuthenticator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtParser.scala
  core/gui/src/app/common/type/user.ts
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.html
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.ts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/updates/14.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: gui, engine, build, ddl-change

add texera example image
  deployment/examples/datasets/iris-species/Iris.csv
  deployment/examples/datasets/iris-species/description
  deployment/examples/datasets/popular-movies-of-imdb/TMDb_updated.CSV
  deployment/examples/datasets/popular-movies-of-imdb/description
  deployment/examples/setup_example_datasets.sh
  deployment/examples/setup_example_workflows.sh
  deployment/examples/workflows/[Example] Data Exploration on Movies Dataset.json
  deployment/examples/workflows/[Example] Machine Learning on Iris Dataset.json
  deployment/texera-example-data-loader.dockerfile
Labels: build

try to fix file upload
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
Labels: none

avoid unnecessary change
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
Labels: none

revert download change
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
Labels: none

fix build context and setup script
  deployment/examples/setup_example_datasets.sh
  deployment/examples/setup_example_workflows.sh
  deployment/texera-example-data-loader.dockerfile
Labels: build

feat(config): allow default.conf to be set using environment variables
  core/config/src/main/resources/default.conf
Labels: none

fix: improve dataset name validation in DatasetResource
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
Labels: none

fix: add reference link for repository name validation in LakeFSStorageClient
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/util/LakeFSStorageClient.scala
Labels: none

test: add dataset deletion tests in DatasetResourceSpec
  core/file-service/src/test/scala/edu/uci/ics/texera/service/resource/DatasetResourceSpec.scala
Labels: none

fix: pin R arrow package to version 14.0.2.1 in computing-unit-master
  deployment/computing-unit-master.dockerfile
Labels: build

update
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ClientEvent.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
Labels: engine

test: update FileResolverSpec to use repository name for dataset URIs
  core/workflow-core/src/test/scala/edu/uci/ics/amber/storage/FileResolverSpec.scala
Labels: none

feat(auth): removed token refresh functionality (#3765)
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/http/request/auth/RefreshTokenRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/AuthResource.scala
  core/config/src/main/resources/auth.conf
  core/gui/src/app/common/service/user/auth.service.ts
Labels: gui, engine

style: format finalizeMultipartUpload call in dataset.service.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
Labels: gui

refactor: remove unused import for StorageConfig in DatasetResourceSpec
  core/file-service/src/test/scala/edu/uci/ics/texera/service/resource/DatasetResourceSpec.scala
Labels: none

feat: Access Control Service
  core/access-control-service/build.sbt
  core/access-control-service/project/build.properties
  core/access-control-service/src/main/resources/access-control-service-web-config.yaml
  core/access-control-service/src/main/resources/logback.xml
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/AccessControlService.scala
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/AccessControlServiceConfiguration.scala
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/access/AccessChecker.scala
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/resource/AccessControlResource.scala
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/resource/HealthCheckResource.scala
  core/access-control-service/src/test/scala/edu/uci/ics/texera/AccessControlResourceSpec.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/util/ComputingUnitAccess.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/util/HeaderField.scala
  core/build.sbt
  core/config/src/main/scala/edu/uci/ics/amber/util/PathUtils.scala
Labels: dependencies

fix
  core/gui/src/app/workspace/component/left-panel/settings/settings.component.ts
Labels: gui

fix: comments
  core/access-control-service/src/main/resources/logback.xml
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/access/AccessChecker.scala
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/resource/AccessControlResource.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/util/ComputingUnitAccess.scala
Labels: none

fix: comments
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/resource/AccessControlResource.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/util/ComputingUnitAccess.scala
Labels: none

fix: comments
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/resource/AccessControlResource.scala
Labels: none

format fix
  core/gui/src/app/workspace/component/left-panel/settings/settings.component.ts
Labels: gui

create a content folder for the site texera.apache.org
  content/public.html
Labels: none

implementation
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.html
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: gui, engine

remove
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: gui
