Repository apache/texera, changes with the labels that .github/labeler.yml gives for each.
All labels: gui, engine, python, docs, ci, build, dependencies, ddl-change

.github/labeler.yml:

gui:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/gui/**'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/**'
      - all-globs-to-any-files:
          - '!core/gui/**'
          - '!core/log/**'
          - '!core/scripts/**'
engine:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/**'

python:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/src/main/python/**'
          - '**/*.py'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'
          - 'NOTICE'
          - 'LICENSE'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

build:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/scripts/**'
          - 'deployment/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/requirements.txt'
          - '**/package.json'
          - '**/build.sbt'
          - '**/project.sbt'

ddl-change:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'

feature:
  - head-branch:
    - '^feat'
    - 'feature'

fix:
  - head-branch: '^fix'

refactor:
  - head-branch: '^refactor'

Edited texera_ddl files
  core/scripts/sql/texera_ddl.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: build, ddl-change

Update Iceberg catalog type to 'postgres'
  core/config/src/main/resources/storage.conf
Labels: none

docs: update source code license header
  CONTRIBUTING.md
Labels: docs

docs: update source code license header template in `CONTRIBUTING.md` (#3712)
  CONTRIBUTING.md
Labels: docs

fix: correct comment in UnifiedResourceSchema
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/UnifiedResourceSchema.scala
Labels: engine

refactor: reorder dataset properties in DatasetSearchQueryBuilder and UnifiedResourceSchema
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DatasetSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/UnifiedResourceSchema.scala
Labels: engine

fix: add isDatasetDownloadable field to DatasetSearchQueryBuilder and UnifiedResourceSchema
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DatasetSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/UnifiedResourceSchema.scala
Labels: engine

refactor: expose validate repository name in LakeFSStorageClient
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/util/LakeFSStorageClient.scala
Labels: none

style: correct code style of datasetUserAccess alias in UnifiedResourceSchema
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/UnifiedResourceSchema.scala
Labels: engine

Changed time to action_time
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/updates/13.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: build, ddl-change

Moved function to ActionType
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/ActionType.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/HubResource.scala
Labels: engine

fix
  core/gui/src/app/dashboard/component/user/user-workflow/ngbd-modal-workflow-executions/workflow-runtime-statistics/workflow-runtime-statistics.component.ts
Labels: gui

fix: comment
  core/amber/src/main/scala/edu/uci/ics/texera/web/ServletAwareConfigurator.scala
Labels: engine

chore: enable user system in configuration
  core/config/src/main/resources/user-system.conf
Labels: none

fix: resolve runtime statistics display issue (#3713)
  core/gui/src/app/dashboard/component/user/user-workflow/ngbd-modal-workflow-executions/workflow-runtime-statistics/workflow-runtime-statistics.component.ts
Labels: gui

Changed function names
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/HubResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
Labels: engine

feat: dataset repository name
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DatasetSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/UnifiedResourceSchema.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/HubResource.scala
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/updates/13.sql
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/FileResolver.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/model/DatasetFileDocument.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/model/OnDataset.scala
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: gui, engine, build, ddl-change

fix: ensure dataset record is deleted on creation failure in DatasetResource
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
Labels: none

Made changes to ddl files
  core/scripts/sql/texera_ddl.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: build, ddl-change

chore: update default Iceberg catalog type to 'postgres' (#3711)
  core/config/src/main/resources/storage.conf
Labels: none

format check
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/ActionType.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/HubResource.scala
Labels: engine

Removed toActiontype function
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/ActionType.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/HubResource.scala
Labels: engine

caching the extended class to avoid recreating it on every call
  core/gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
Labels: gui

caching button instance
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: gui

fixes test case to accomodate angular lifecycle
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: gui

init
  core/gui/.gitignore
  core/gui/.yarn/releases/yarn-4.5.1.cjs
Labels: gui

update
  .licenserc.yaml
Labels: none

update
  .licenserc.yaml
Labels: none

update
  .licenserc.yaml
Labels: none

feat: test case & delete k8s env
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/resource/AccessControlResource.scala
  core/access-control-service/src/test/scala/edu/uci/ics/texera/AccessControlResourceSpec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/ServletAwareConfigurator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/resource/ComputingUnitManagingResource.scala
Labels: engine

fix: cuAccess
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/resource/AccessControlResource.scala
  core/access-control-service/src/test/scala/edu/uci/ics/texera/AccessControlResourceSpec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/ServletAwareConfigurator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/build.sbt
Labels: engine, dependencies

fix alert
  core/gui/src/app/hub/component/about/local-login/local-login.component.ts
Labels: gui

chore: Add yarn package manager file (#3719)
  .licenserc.yaml
  core/gui/.gitignore
  core/gui/.yarn/releases/yarn-4.5.1.cjs
Labels: gui

fix
  core/gui/src/app/hub/component/about/local-login/local-login.component.ts
Labels: gui

Final change
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/ActionType.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/HubResource.scala
Labels: engine

fix navigation menu in workflow
  core/gui/src/app/workspace/component/menu/menu.component.scss
Labels: gui

fix: allow navigation menu to adapt to screen width (#3722)
  core/gui/src/app/workspace/component/menu/menu.component.scss
Labels: gui

fix: display error notifications for incorrect login credentials (#3721)
  core/gui/src/app/hub/component/about/local-login/local-login.component.ts
Labels: gui

fix: correct comment in UnifiedResourceSchema
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/UnifiedResourceSchema.scala
Labels: engine

fix: add isDatasetDownloadable field to DatasetSearchQueryBuilder and UnifiedResourceSchema
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DatasetSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/UnifiedResourceSchema.scala
Labels: engine
