Repository apache/texera, changes with the labels that .github/labeler.yml gives for each.
All labels: gui, engine, python, docs, ci, build, dependencies, ddl-change

update
  core/scripts/sql/texera_ddl.sql
Labels: build, ddl-change

update
  core/scripts/sql/texera_ddl.sql
Labels: build, ddl-change

Update .asf.yaml
  .asf.yaml
Labels: none

Update .asf.yaml with branch protection rules
  .asf.yaml
Labels: none

Clean up .asf.yaml by removing blank lines
  .asf.yaml
Labels: none

Fix formatting in .asf.yaml
  .asf.yaml
Labels: none

fix format using black
  core/amber/src/main/python/pytexera/udf/examples/generator_operator_binary.py
  core/amber/src/main/python/pytexera/udf/examples/generator_operator_integer.py
Labels: engine, python

feat: generator operators for binary and integer
  core/amber/src/main/python/pytexera/udf/examples/generator_operator_binary.py
  core/amber/src/main/python/pytexera/udf/examples/generator_operator_integer.py
  core/amber/src/main/python/pytexera/udf/examples/test_generator_operator_binary.py
  core/amber/src/main/python/pytexera/udf/examples/test_generator_operator_integer.py
Labels: engine, python

Update jOOQ dependencies to version 3.16.23
  core/dao/build.sbt
Labels: dependencies

chore(dep): bump jOOQ dependencies to version 3.16.23 (#3687)
  core/dao/build.sbt
Labels: dependencies

chore(ci): Add Mock DB and JOOQ Generation to CI
  .github/workflows/github-action-build.yml
Labels: ci

Update GitHub Actions to use Ubuntu 22.04 and Postgres image
  .github/workflows/github-action-build.yml
Labels: ci

Refactor GitHub Actions to use matrix strategy
  .github/workflows/github-action-build.yml
Labels: ci

feat: generator operator examples for binary and integer (#3661)
  core/amber/src/main/python/pytexera/udf/examples/generator_operator_binary.py
  core/amber/src/main/python/pytexera/udf/examples/generator_operator_integer.py
  core/amber/src/main/python/pytexera/udf/examples/test_generator_operator_binary.py
  core/amber/src/main/python/pytexera/udf/examples/test_generator_operator_integer.py
Labels: engine, python

Update storage.conf
  core/config/src/main/resources/storage.conf
Labels: none

Changed name
  core/config/src/main/resources/auth.conf
Labels: none

Made changes to auth.service.ts
  core/gui/src/app/common/service/user/auth.service.ts
Labels: gui

Added AuthConfig to backend
  core/config-service/src/main/scala/edu/uci/ics/texera/service/resource/ConfigResource.scala
Labels: none

Changed gui-config.ts
  core/gui/src/app/common/type/gui-config.ts
Labels: gui

Small change
  core/gui/src/app/common/service/user/auth.service.ts
Labels: gui

Added change
  core/gui/src/app/common/service/user/auth.service.ts
Labels: gui

Added 12.sql
  core/scripts/sql/updates/12.sql
Labels: build, ddl-change

Changed AdminUserResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
Labels: engine

Changed JwtAuthFilter.scala
  core/auth/src/main/scala/edu/uci/ics/texera/auth/JwtAuthFilter.scala
Labels: none

Small fix
  core/gui/src/app/common/service/user/auth.service.ts
Labels: gui

fix: ensure workflow validation error stream updates on operator validation state change
  core/gui/src/app/workspace/service/validation/validation-workflow.service.ts
Labels: gui

fix: correct typo in notification message for ongoing executions (#3684)
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.ts
Labels: gui

Fix order of is_downloadable
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/Dataset.java
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
Labels: none

fix: dataset attribute order (#3695)
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/Dataset.java
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
Labels: none

init
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/Utils.scala
Labels: engine

Update .github/workflows/github-action-build.yml
  .github/workflows/github-action-build.yml
Labels: ci

fix: typo in WorkflowAggregatedState (#3697)
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/Utils.scala
Labels: engine

init
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ScheduleGenerator.scala
Labels: engine

Update memo key.
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedScheduleGenerator.scala
Labels: engine

Final change
  core/gui/src/app/common/service/user/auth.service.ts
Labels: gui

Comment change
  core/gui/src/app/common/service/user/auth.service.ts
Labels: gui

Changed ddl files
  core/scripts/sql/texera_ddl.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
Labels: build, ddl-change

Changed two files
  core/config/src/main/resources/auth.conf
  core/config/src/main/scala/edu/uci/ics/texera/config/AuthConfig.scala
Labels: none

fix: remove unused imports (#3698)
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ScheduleGenerator.scala
Labels: engine

Changed auth.conf and another 15
  core/config/src/main/resources/auth.conf
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.ts
Labels: gui

.github/labeler.yml:

gui:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/gui/**'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/**'
      - all-globs-to-any-files:
          - '!core/gui/**'
          - '!core/log/**'
          - '!core/scripts/**'
engine:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/**'

python:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/src/main/python/**'
          - '**/*.py'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'
          - 'NOTICE'
          - 'LICENSE'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

build:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/scripts/**'
          - 'deployment/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/requirements.txt'
          - '**/package.json'
          - '**/build.sbt'
          - '**/project.sbt'

ddl-change:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'

feature:
  - head-branch:
    - '^feat'
    - 'feature'

fix:
  - head-branch: '^fix'

refactor:
  - head-branch: '^refactor'
