Repository apache/texera, changes with the labels that .github/labeler.yml gives for each.
All labels: gui, engine, python, docs, ci, build, dependencies, ddl-change

fix format with prettier and eslint
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: gui

move constant declaration to the class scope
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
Labels: none

remove unnecessary empty user creation for public downloads
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
Labels: none

Create .licenserc.yaml
  .licenserc.yaml
Labels: none

Update app.module.ts
  core/gui/src/app/app.module.ts
Labels: gui

Update .licenserc.yaml
  .licenserc.yaml
Labels: none

Delete .ratignore
  .ratignore
Labels: none

Update check-header.yml
  .github/workflows/check-header.yml
Labels: ci

Update .licenserc.yaml
  .licenserc.yaml
Labels: none

Update flarum.component.ts
  core/gui/src/app/dashboard/component/user/flarum/flarum.component.ts
Labels: gui

Update check-header.yml
  .github/workflows/check-header.yml
Labels: ci

Update flarum.component.ts
  core/gui/src/app/dashboard/component/user/flarum/flarum.component.ts
Labels: gui

Update .licenserc.yaml
  .licenserc.yaml
Labels: none

Update .licenserc.yaml
  .licenserc.yaml
Labels: none

Update check-header.yml
  .github/workflows/check-header.yml
Labels: ci

Update lint-pr.yml
  .github/workflows/lint-pr.yml
Labels: ci

Update ASFGeneratorStrategy.scala
  core/dao/src/main/scala/edu/uci/ics/texera/dao/ASFGeneratorStrategy.scala
Labels: none

Update .licenserc.yaml
  .licenserc.yaml
Labels: none

Update .licenserc.yaml
  .licenserc.yaml
Labels: none

chore(ci): replace erisu/apache-rat-action with apache/skywalking-eyes (#3639)
  .github/workflows/check-header.yml
  .github/workflows/lint-pr.yml
  .licenserc.yaml
  .ratignore
  core/dao/src/main/scala/edu/uci/ics/texera/dao/ASFGeneratorStrategy.scala
Labels: ci

chore: Create DISCLAIMER
  DISCLAIMER
Labels: none

Update .licenserc.yaml
  .licenserc.yaml
Labels: none

Update lint-pr.yml
  .github/workflows/lint-pr.yml
Labels: ci

chore(ci): let new commits trigger PR linter CI (#3641)
  .github/workflows/lint-pr.yml
Labels: ci

chore: Create DISCLAIMER (#3631)
  .licenserc.yaml
  DISCLAIMER
Labels: none

chore(ci): remove R test from CI
  .github/workflows/github-action-build.yml
Labels: ci

Update .asf.yaml
  .asf.yaml
Labels: none

chore: Create .asf.yaml
  .asf.yaml
Labels: none

chore: Create .asf.yaml (#3632)
  .asf.yaml
Labels: none

chore: update .asf.yaml to include PR settings
  .asf.yaml
Labels: none

Update NOTICE
  NOTICE
Labels: docs

remove 'and onwards' based on Copilot suggestion
  NOTICE
Labels: docs

chore: update .asf.yaml to include PR settings (#3644)
  .asf.yaml
Labels: none

test branch
  .asf.yaml
Labels: none

chore(ci): remove R test from CI (#3643)
  .github/workflows/github-action-build.yml
Labels: ci

chore: Update NOTICE (#3629)
  NOTICE
Labels: docs

chore: Redirect jobs notifications to commits@t.a.o
  .asf.yaml
Labels: none

Update .asf.yaml
  .asf.yaml
Labels: none

Update lint-pr.yml
  .github/workflows/lint-pr.yml
Labels: ci

Update github-action-build.yml
  .github/workflows/github-action-build.yml
Labels: ci

.github/labeler.yml:

gui:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/gui/**'

backend:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/**'
      - all-globs-to-any-files:
          - '!core/gui/**'
          - '!core/log/**'
          - '!core/scripts/**'
engine:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/**'

python:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/amber/src/main/python/**'
          - '**/*.py'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'
          - 'NOTICE'
          - 'LICENSE'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

build:
  - changed-files:
      - any-glob-to-any-file:
          - 'core/scripts/**'
          - 'deployment/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/requirements.txt'
          - '**/package.json'
          - '**/build.sbt'
          - '**/project.sbt'

ddl-change:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.sql'

feature:
  - head-branch:
    - '^feat'
    - 'feature'

fix:
  - head-branch: '^fix'

refactor:
  - head-branch: '^refactor'
