Repository apache/texera, pull requests merged in 2020-12, with the labels that each got.

#905 add a flag userDashboardEnabled to toggle Dashboard to be on and off.
  core/new-gui/src/app/app-routing.module.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/environments/environment.default.ts
Labels: config

#915 Load Workflow by URL
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/WorkflowResource.scala
  core/new-gui/src/app/app-routing.module.ts
  core/new-gui/src/app/common/service/user/workflow-persist/workflow-persist.service.ts
  core/new-gui/src/app/common/type/workflow.ts
  core/new-gui/src/app/common/util/storage.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-delete-workflow/ngbd-modal-delete-workflow.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.html
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/app/workspace/service/cache-workflow/cache-workflow.service.ts
  core/new-gui/src/app/workspace/service/cache-workflow/cached-workflow.service.spec.ts
Labels: enhancement

#916 Refactor UserResource
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/common/auth/User.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/auth/UserLoginRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/auth/UserRegistrationRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/response/GenericWebResponse.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/response/auth/UserWebResponse.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/UserResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/WorkflowResource.scala
  core/new-gui/src/app/common/service/user/user-dictionary/user-dictionary-upload.service.ts
  core/new-gui/src/app/common/service/user/user-dictionary/user-dictionary.service.ts
  core/new-gui/src/app/common/service/user/user-file/user-file-upload.service.ts
  core/new-gui/src/app/common/service/user/user-file/user-file.service.ts
  core/new-gui/src/app/common/service/user/user.service.spec.ts
  core/new-gui/src/app/common/service/user/user.service.ts
  core/new-gui/src/app/common/type/user.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-icon.component.html
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-icon.component.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/ngbdmodal-user-login.component.ts
Labels: enhancement

#920 fix the wrong websocket URL
  core/new-gui/src/app/workspace/service/workflow-websocket/workflow-websocket.service.ts
Labels: fix

#925 Fix an issue (#921): bug in how controller counts input/output row numbers
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/principal/Principal.scala
Labels: engine

#943 Fix websocket base URL
  core/new-gui/src/app/workspace/service/workflow-websocket/workflow-websocket.service.ts
Labels: fix, gui
