Repository apache/texera, pull requests merged in 2021-05, with the labels that each got.

#1101 Improve websocket connection by adding hearbeats and auto-reconnecting
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/HelloWorldResponse.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/TexeraWebSocketEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/HelloWorldRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/TexeraWebSocketRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/rxjs-operators.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/service/workflow-websocket/workflow-websocket.service.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: fix

#1102 Twitter Full Archive Search Source Operator
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/schema/AttributeTypeUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/TwitterSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/TwitterSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/TwitterSourceOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpExecConfig.scala
  core/new-gui/src/assets/operator_images/TwitterFullArchiveSearch.png
Labels: enhancement

#1106 Fix WebSocket Connection Status Indicator with Safari
  core/new-gui/src/app/workspace/component/navigation/navigation.component.scss
Labels: fix, gui

#1115 Remove label on link of limit operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/limit/LimitOpDesc.scala
Labels: fix

#1114 Remove unused groups
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/OperatorGroupConstants.scala
Labels: enhancement

#1113 Fix operator icons
  core/new-gui/src/assets/operator_images/BarChart.png
  core/new-gui/src/assets/operator_images/LineChart.png
  core/new-gui/src/assets/operator_images/LinearRegression.png
  core/new-gui/src/assets/operator_images/PieChart.png
Labels: enhancement

#1118 Disable dependent tests with AsterixDB
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/TestOperators.scala
Labels: testing

#1119 Add simple debug logging to PythonUDF
  core/amber/src/main/resources/python_udf/demo_non_map_udf.py
  core/amber/src/main/resources/python_udf/nltk_sentiment_classify.py
  core/amber/src/main/resources/python_udf/operators/__init__.py
  core/amber/src/main/resources/python_udf/operators/texera_blocking_supervised_trainer_operator.py
  core/amber/src/main/resources/python_udf/operators/texera_blocking_unsupervised_trainer_operator.py
  core/amber/src/main/resources/python_udf/operators/texera_filter_operator.py
  core/amber/src/main/resources/python_udf/operators/texera_map_operator.py
  core/amber/src/main/resources/python_udf/operators/texera_udf_operator_base.py
  core/amber/src/main/resources/python_udf/server/__init__.py
  core/amber/src/main/resources/python_udf/server/udf_server.py
  core/amber/src/main/resources/python_udf/svm_classifier.py
  core/amber/src/main/resources/python_udf/svm_trainer.py
  core/amber/src/main/resources/python_udf/texera_udf_main.py
  core/amber/src/main/resources/python_udf/texera_udf_operator_base.py
  core/amber/src/main/resources/python_udf/tobacco_relevancy_classify.py
  core/amber/src/main/resources/python_udf/topic_modeling_trainer.py
  core/amber/src/main/scala/edu/uci/ics/texera/web/WebUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFOpExec.java
  core/conf/web.conf
Labels: enhancement

#1117 Simple scatterplot visualization operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/VisualizationConstants.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpExec.java
  core/new-gui/package-lock.json
  core/new-gui/package.json
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.html
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.scss
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.spec.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.ts
  core/new-gui/src/app/workspace/component/visualization-panel/visualization-panel.component.ts
  core/new-gui/src/app/workspace/types/visualization.interface.ts
  core/new-gui/src/assets/operator_images/Scatterplot.png
  core/new-gui/src/environments/environment.default.ts
  core/new-gui/src/typings.d.ts
Labels: enhancement

#1128 Fix union operator doesn't allow multiple inputs in frontend
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: fix

#1129 Naive Distinct Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/distinct/DistinctOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/distinct/DistinctOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/distinct/DistinctOpExecConfig.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/distinct/DistinctOpExecSpec.scala
  core/new-gui/src/assets/operator_images/Distinct.png
Labels: enhancement

#1127 Use textarea for Twitter operator's query
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpDesc.scala
Labels: enhancement

#1112 Log warnings when queue size exceeds certain limit
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/common/WorkflowActor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/CongestionControl.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkCommunicationActor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerInternalQueue.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/QueryStatisticsHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/Constants.scala
Labels: engine, enhancement

#1136 Add npm install to deployment script
  core/scripts/depoly-daemon.sh
Labels: general

#1137 Temp fix for unexpected termination of Twitter FullArchiveSearch
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpExec.scala
Labels: fix

#1124 Python UDF debug logging optimize with loguru
  core/amber/src/main/resources/python_udf/demo_non_map_udf.py
  core/amber/src/main/resources/python_udf/nltk_sentiment_classify.py
  core/amber/src/main/resources/python_udf/operators/texera_blocking_supervised_trainer_operator.py
  core/amber/src/main/resources/python_udf/operators/texera_blocking_unsupervised_trainer_operator.py
  core/amber/src/main/resources/python_udf/operators/texera_filter_operator.py
  core/amber/src/main/resources/python_udf/operators/texera_map_operator.py
  core/amber/src/main/resources/python_udf/operators/texera_udf_operator_base.py
  core/amber/src/main/resources/python_udf/server/udf_server.py
  core/amber/src/main/resources/python_udf/svm_classifier.py
  core/amber/src/main/resources/python_udf/svm_trainer.py
  core/amber/src/main/resources/python_udf/texera_udf_main.py
  core/amber/src/main/resources/python_udf/tobacco_relevancy_classify.py
  core/amber/src/main/resources/python_udf/topic_modeling_mallet_trainer.py
  core/amber/src/main/resources/python_udf/topic_modeling_trainer.py
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFOpExec.java
  core/conf/web.conf
Labels: config, enhancement

#1121 New Tuple.Builder API
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/Tuple.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/exception/TupleBuildingException.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/ParallelCSVScanSourceOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/common/tuple/TupleSpec.scala
Labels: enhancement
