Repository apache/texera, pull requests merged in 2021-09, with the labels that each got.

#1254 Automatic workflow layout reformat
  core/new-gui/package.json
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/joint-graph-wrapper.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.spec.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/new-gui/yarn.lock
Labels: enhancement, gui

#1325 CI Optimization
  .github/workflows/github-action-build.yml
  core/amber/build.sbt
  core/new-gui/decorate-angular-cli.js
  core/new-gui/nx.json
  core/new-gui/package.json
  core/new-gui/tsconfig.json
  core/new-gui/yarn.lock
Labels: general

#1327 [Operator Caching Step 2] Frontend changes to implement operator caching
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/service/execute-workflow/mock-workflow-plan.ts
  core/new-gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
  core/new-gui/src/app/workspace/service/workflow-result/workflow-result.service.ts
  core/new-gui/src/app/workspace/service/workflow-status/operator-cache-status.service.spec.ts
  core/new-gui/src/app/workspace/service/workflow-status/operator-cache-status.service.ts
  core/new-gui/src/app/workspace/types/execute-workflow.interface.ts
  core/new-gui/src/app/workspace/types/workflow-common.interface.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
  core/new-gui/src/environments/environment.default.ts
Labels: enhancement, gui

#1328 [Operator Caching Step 3] add operator cache backend new files and config changes
  core/amber/build.sbt
  core/amber/src/main/resources/application.conf
  core/amber/src/main/resources/cache.ccf
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/CacheStatus.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/CacheStatusUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/CacheStatusUpdateRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/OperatorResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/storage/OpResultStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/storage/memory/JCSOpResultStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/storage/memory/MemoryOpResultStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/storage/mongo/MongoOpResultStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/TupleUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowInfo.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowRewriter.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/CacheSinkOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/CacheSinkOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/CacheSinkOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/cache/CacheSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/cache/CacheSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/cache/CacheSourceOpExecConfig.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/storage/memory/JCSOpResultStorageSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/storage/memory/MemoryOpResultStorageSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/storage/mongo/MongoOpResultStorageSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/tuple/TupleSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowRewriterSpec.scala
Labels: enhancement

#1329 [Operator Caching Step 4] Integrate Operator Caching with Backend Logic
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/PaginatedResultEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/TexeraWebSocketEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/ExecuteWorkflowRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/TexeraWebSocketRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/ResultExportResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
Labels: enhancement

#1287 Upgrade Apache Arrow to 5.0.0
  core/amber/build.sbt
  core/amber/requirements.txt
Labels: dependencies

#1334 [Operator Caching Step 5] Match Req/Res and Cache Icon Update
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/CacheStatusUpdateRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/ExecuteWorkflowRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/new-gui/decorate-angular-cli.js
  core/new-gui/nx.json
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/service/execute-workflow/mock-workflow-plan.ts
  core/new-gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
  core/new-gui/src/app/workspace/service/workflow-status/operator-cache-status.service.spec.ts
  core/new-gui/src/app/workspace/types/execute-workflow.interface.ts
  core/new-gui/src/assets/svg/operator-result-cache-in-progress.svg
  core/new-gui/src/assets/svg/operator-result-cache-invalid.svg
  core/new-gui/src/assets/svg/operator-result-cache-successful.svg
  core/new-gui/src/assets/svg/operator-result-cache-to-be-cached.svg
Labels: bug, enhancement, fix

#1311 Support Custom OperatorDisplayName with a Fixed Input Box
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.html
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.scss
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
  core/new-gui/src/app/workspace/service/workflow-graph/util/workflow-util.service.ts
  core/new-gui/src/app/workspace/types/workflow-common.interface.ts
Labels: enhancement, gui

#1336 Operator Cache: Un-allow cache for view result operator. Opitmize cache text display on operator.
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/service/drag-drop/drag-drop.service.spec.ts
  core/new-gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
  core/new-gui/src/app/workspace/service/operator-metadata/mock-operator-metadata.data.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/mock-workflow-data.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.spec.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
Labels: enhancement, fix

#1314 Python UDF V2 Retry & Modify Logic
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/python/core/architecture/handlers/initialize_operator_logic_handler.py
  core/amber/src/main/python/core/architecture/handlers/modify_operator_logic_handler.py
  core/amber/src/main/python/core/architecture/handlers/retry_python_handler.py
  core/amber/src/main/python/core/architecture/handlers/send_python_udf_handler.py
  core/amber/src/main/python/core/architecture/handlers/start_worker_handler.py
  core/amber/src/main/python/core/architecture/packaging/batch_to_tuple_converter.py
  core/amber/src/main/python/core/architecture/packaging/tuple_to_batch_converter.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_server.py
  core/amber/src/main/python/core/architecture/sendsemantics/round_robin_partitioner.py
  core/amber/src/main/python/core/models/__init__.py
  core/amber/src/main/python/core/models/marker.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/udf/udf_operator.py
  core/amber/src/main/python/core/udf/udf_util.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerEvent.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerEventListener.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Workflow.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/LocalOperatorExceptionHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/ModifyLogicHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/RetryWorkflowHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/promisehandlers/InitializeOperatorLogicHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/promisehandlers/ModifyOperatorLogicHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/promisehandlers/ReplayCurrentTupleHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/operators/OpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/ModifyLogicCompletedEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/SkipTupleResponseEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/TexeraWebSocketEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/RetryRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/TexeraWebSocketRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/formly/formly-utils.ts
  core/new-gui/src/app/common/service/notification/notification.service.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.html
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.html
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.spec.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.spec.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: enhancement, Python

#1331 Rearrange result panel frames into tab layout
  core/amber/src/main/python/core/architecture/handlers/replay_current_tuple_handler.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_server.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.html
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/debugger-frame/debugger-frame.component.html
  core/new-gui/src/app/workspace/component/result-panel/debugger-frame/debugger-frame.component.scss
  core/new-gui/src/app/workspace/component/result-panel/debugger-frame/debugger-frame.component.spec.ts
  core/new-gui/src/app/workspace/component/result-panel/debugger-frame/debugger-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.html
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.spec.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
  core/new-gui/src/environments/environment.default.ts
Labels: gui

#1339 Fix rjxs import
  core/new-gui/.eslintrc.json
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
Labels: gui, fix

#1338 Fix a frontend bug in disable the property editor form
  core/new-gui/package.json
  core/new-gui/src/app/common/formly/array.type.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/yarn.lock
Labels: fix

#1342 Fix Python Protocol instantiation Issue
  core/amber/src/main/python/core/util/customized_queue/double_blocking_queue.py
  core/amber/src/main/python/core/util/stoppable/stoppable_queue_blocking_thread.py
Labels: fix, Python

#1341 Support JWT-based Auth
  core/amber/build.sbt
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/ModifyLogicHandler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/HTTPSessionInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/ServletAwareConfigurator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/AppAuthorizer.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/JwtAuth.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/SessionUser.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/UserAuthenticator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/auth/RefreshTokenRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/ResultExportResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/SchemaPropagationResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/UserDictionaryResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/UserResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/WorkflowAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/WorkflowResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/WorkflowContext.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/ScanSourceOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/Utils.scala
  core/new-gui/package.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/service/user/stub-user.service.ts
  core/new-gui/src/app/common/service/user/user.service.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-icon.component.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/ngbdmodal-user-login.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/app/workspace/service/workflow-websocket/workflow-websocket.service.ts
  core/new-gui/yarn.lock
Labels: refactoring

#1343 Support Workflow Version Control
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowVersion.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowVersionDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowVersion.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowVersion.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowVersionRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/WorkflowResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/WorkflowVersionResource.scala
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/service/workflow-persist/workflow-persist.service.ts
  core/new-gui/src/app/dashboard/service/workflow-version/workflow-version.service.spec.ts
  core/new-gui/src/app/dashboard/service/workflow-version/workflow-version.service.ts
  core/new-gui/src/app/dashboard/type/workflow-version-entry.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.scss
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.spec.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.ts
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display.component.html
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display.component.scss
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display.component.spec.ts
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display.component.ts
  core/new-gui/src/app/workspace/service/workflow-graph/util/workflow-util.service.ts
  core/scripts/sql/texera_ddl.sql
Labels: enhancement
