Repository apache/texera, pull requests merged in 2021-07, with the labels that each got.

#1203 Add Query Operator and Worker Result Control Message (#1100 Part 5)
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerEvent.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerEventListener.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Workflow.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/QueryWorkerStatisticsHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/WorkerExecutionCompletedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/principal/OperatorStatistics.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerStatistics.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/CollectSinkResultsHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/QueryStatisticsHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/operators/OpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/WorkflowCompletedEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/WorkflowStatusUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
Labels: enhancement

#1166 Moving all operators to new Tuple.BuilderV2 API
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/ProgressiveUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/aggregate/FinalAggregateOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/aggregate/PartialAggregateOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/Tuple.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/schema/AttributeTypeUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/SpecializedAverageOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sentiment/SentimentAnalysisOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sentiment/SentimentAnalysisOpExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/SQLSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/asterixdb/AsterixDBSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/typecasting/TypeCastingOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/typecasting/TypeCastingOpExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/barChart/BarChartOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/barChart/BarChartOpExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/htmlviz/HtmlVizOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/htmlviz/HtmlVizOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/lineChart/LineChartOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/lineChart/LineChartOpExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpFinalExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpPartialExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/wordCloud/WordCloudOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/wordCloud/WordCloudOpFinalExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/wordCloud/WordCloudOpPartialExec.java
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/TestOperators.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/common/tuple/TupleSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/distinct/DistinctOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/intersect/IntersectOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/projection/ProjectionOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/visualization/htmlviz/HtmlVizOpExecSpec.scala
Labels: enhancement

#1213 Add OperatorResultService in backend to manage execution result data (#1100 Part 6)
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/PaginatedResultEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/WebWorkflowStatusUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/WorkflowCompletedEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/WorkflowStatusUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/ResultPaginationRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/ResultDownloadResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
Labels: enhancement

#1214 Refactor frontend to handle different incremental output mode from backend (#1100 Part 7)
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.html
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.spec.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.spec.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.ts
  core/new-gui/src/app/workspace/component/visualization-panel/visualization-panel.component.spec.ts
  core/new-gui/src/app/workspace/component/visualization-panel/visualization-panel.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.scss
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.spec.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/service/execute-workflow/mock-result-data.ts
  core/new-gui/src/app/workspace/service/result-panel-toggle/result-panel-toggle.service.ts
  core/new-gui/src/app/workspace/service/workflow-result/workflow-result.service.spec.ts
  core/new-gui/src/app/workspace/service/workflow-result/workflow-result.service.ts
  core/new-gui/src/app/workspace/service/workflow-status/workflow-status.service.ts
  core/new-gui/src/app/workspace/service/workflow-websocket/workflow-websocket.service.ts
  core/new-gui/src/app/workspace/types/execute-workflow.interface.ts
  core/new-gui/src/app/workspace/types/workflow-common.interface.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: enhancement

#1222 Fix HashJoin Operator with unexpected Schema
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/hashjoin/HashJoinOpExecSpec.scala
Labels: fix

#1209 Difference operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/difference/DifferenceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/difference/DifferenceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/difference/DifferenceOpExecConf.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/symmetricDifference/SymmetricDifferenceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/symmetricDifference/SymmetricDifferenceOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/difference/DifferenceOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/symmetricDifference/SymmetricDifferenceOpExecSpec.scala
  core/new-gui/src/assets/operator_images/Difference.png
  core/new-gui/src/assets/operator_images/SymmetricDifference.png
Labels: enhancement

#1218 Support NULL, LONG, TIMESTAMP in PythonUDF Operator
  core/amber/src/main/resources/python_udf/server/udf_server.py
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/ArrowUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFOpExec.java
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/pythonUDF/ArrowUtilsSpec.scala
Labels: enhancement

#1228 Invoke WorkerPause control command when worker pause itself
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
Labels: fix

#1231 Progressive result update: make frontend not accumulate delta results
  core/new-gui/src/app/workspace/service/workflow-result/workflow-result.service.ts
Labels: enhancement

#1204 Workflow Access Privilege Identification
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/DefaultCatalog.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/Workflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowUserAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowUserAccessDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IFile.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IKeywordDictionary.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IUser.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IUserDictionary.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowOfUser.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowUserAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowUserAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowUserAccessRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/WorkflowAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/WorkflowResource.scala
  core/new-gui/src/app/common/service/user/workflow-access-control/workflow-grant-access.service.spec.ts
  core/new-gui/src/app/common/service/user/workflow-access-control/workflow-grant-access.service.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
  core/scripts/sql/texera_ddl.sql
Labels: enhancement

#1236 Align package and names in test
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/tuple/TupleSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/tuple/schema/AttributeTypeUtilsSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/difference/DifferenceOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/distinct/DistinctOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/hashjoin/HashJoinOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/intersect/IntersectOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpDescSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/ArrowUtilsSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpDescSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/symmetricDifference/SymmetricDifferenceOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/visualization/htmlviz/HtmlVizOpExecSpec.scala
Labels: general, testing

#1238 SBT cleanup
  .github/workflows/github-action-build.yml
  core/amber/build.sbt
  core/amber/project/build.properties
  core/amber/src/main/scala/edu/uci/ics/amber/AmberApp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/ResultDownloadResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/annotations/AutofillAttributeName.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/annotations/AutofillAttributeNameList.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/annotations/AutofillAttributeNameOnPort1.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/annotations/CommonOpDescAnnotation.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/ParallelCSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpFinalExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpPartialExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/wordCloud/WordCloudOpFinalExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/wordCloud/WordCloudOpPartialExec.java
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExecSpec.scala
Labels: general

#1220 Grant Workflow Access Control
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/DefaultCatalog.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/Workflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IFile.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IKeywordDictionary.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IUser.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IUserDictionary.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowOfUser.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowUserAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/WorkflowAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/WorkflowResource.scala
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/service/user/workflow-access-control/stub-workflow-grant-access.service.ts
  core/new-gui/src/app/common/service/user/workflow-access-control/workflow-grant-access.service.spec.ts
  core/new-gui/src/app/common/service/user/workflow-access-control/workflow-grant-access.service.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-share-access/ngbd-modal-share-access.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-share-access/ngbd-modal-share-access.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-share-access/ngbd-modal-share-access.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-share-access/ngbd-modal-share-access.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
  core/scripts/sql/texera_ddl.sql
  core/util/project/build.properties
  project/build.properties
Labels: enhancement

#1230 TwitterFullArchiveSearch with User information and fix ID type
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/TwitterSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpExec.scala
Labels: enhancement, fix

#1215 Support duplication of an existing workflow
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/WorkflowResource.scala
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/service/user/workflow-persist/workflow-persist.service.spec.ts
  core/new-gui/src/app/common/service/user/workflow-persist/workflow-persist.service.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
Labels: enhancement

#1242 Use Yarn to replace NPM
  .github/workflows/github-action-build.yml
  .gitignore
  core/new-gui/multi-target/package-lock.json
  core/new-gui/multi-target/src/cmd-target.ts
  core/new-gui/multi-target/yarn.lock
  core/new-gui/package-lock.json
  core/new-gui/package.json
  core/new-gui/yarn.lock
Labels: general

#1245 Update build/deploy scripts to reflect changes on the frontend
  core/scripts/build.sh
  core/scripts/depoly-daemon.sh
  core/scripts/gui.sh
Labels: general

#1223 Allow disable operators from execution in frontend
  core/new-gui/src/app/common/type/workflow.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.spec.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/service/execute-workflow/mock-result-data.ts
  core/new-gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
  core/new-gui/src/app/workspace/service/validation/validation-workflow.service.spec.ts
  core/new-gui/src/app/workspace/service/validation/validation-workflow.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/mock-workflow-data.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.spec.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
  core/new-gui/src/app/workspace/service/workflow-graph/util/workflow-util.service.ts
  core/new-gui/src/app/workspace/service/workflow-status/workflow-status.service.ts
  core/new-gui/src/app/workspace/types/workflow-common.interface.ts
Labels: enhancement

#1246 Replace WorkerState, WorkerStatistics with Protobuf
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker.proto
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PauseHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/ResumeHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/WorkerExecutionStartedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerInfo.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerLayer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerResult.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/AddPartitioningHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/PauseHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/QueryAndRemoveBreakpointsHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/QueryStatisticsHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/ResumeHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/StartHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/UpdateInputLinkingHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/statetransition/StateManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/statetransition/WorkerStateManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/operators/OpExecConfig.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/worker/WorkerProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/worker/WorkerState.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/worker/WorkerStatistics.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
Labels: engine, enhancement, refactoring

#1249 Make virtualIdentity more readable by utilizing scalapb options
  core/amber/build.sbt
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/common/virtualidentity.proto
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/linksemantics/LinkStrategy.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/virtualidentity/util.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExecConfig.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/virtualidentity/ActorVirtualIdentity.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/virtualidentity/LayerIdentity.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/virtualidentity/LinkIdentity.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/virtualidentity/OperatorIdentity.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/virtualidentity/VirtualidentityProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/virtualidentity/WorkflowIdentity.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/BatchToTupleConverterSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/TupleToBatchConverterSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/difference/DifferenceOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/intersect/IntersectOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/symmetricDifference/SymmetricDifferenceOpExecSpec.scala
Labels: enhancement, refactoring

#1247 Replace Partitioning with Protobuf
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/sendsemantics/partitionings.proto
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/HashBasedShufflePartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/ParallelBatchingPartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/RoundRobinPartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitionings/Partitioning.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/sendsemantics/partitionings/Partitioning.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/sendsemantics/partitionings/PartitioningsProto.scala
Labels: engine, enhancement, refactoring

#1253 Replace CommandCompleted with Unit
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/AssignBreakpointHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/FatalErrorHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/KillWorkflowHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/LinkCompletedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/LinkWorkersHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/LocalBreakpointTriggeredHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/LocalOperatorExceptionHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PauseHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/ResumeHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/StartWorkflowHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/WorkerExecutionStartedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/AddPartitioningHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/AssignLocalBreakpointHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/ShutdownDPThreadHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/UpdateInputLinkingHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCServer.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
Labels: engine, enhancement, refactoring

#1255 Add V2 ControlPayload, ControlCommand, ControlReturn
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlreturns.proto
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/common/ambermessage.proto
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/ambermessage/InvocationConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCServer.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlReturnV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlreturnsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/ambermessage/AmbermessageProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/ambermessage/ControlPayloadV2.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/control/TrivialControlSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/control/utils/TrivialControlTester.scala
Labels: engine, enhancement, refactoring

#1256 Fix a bug in frontend where duplicate links are allowed to be added
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.spec.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/operator-metadata/mock-operator-metadata.data.ts
Labels: bug, fix, gui

#1224 Add test cases for Scatterplot Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpDesc.java
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/visualization/scatterplot/ScatterplotVizOpDescSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/visualization/scatterplot/ScatterplotVizOpExecSpec.scala
Labels: testing

#1259 Add Python Framework and ProxyServer & ProxyClient
  .github/workflows/github-action-build.yml
  .gitignore
  core/amber/build.sbt
  core/amber/requirements.txt
  core/amber/src/main/protobuf/scalapb/scalapb.proto
  core/amber/src/main/python/core/__init__.py
  core/amber/src/main/python/core/proxy/__init__.py
  core/amber/src/main/python/core/proxy/proxy_client.py
  core/amber/src/main/python/core/proxy/proxy_server.py
  core/amber/src/main/python/core/proxy/test_proxy_client.py
  core/amber/src/main/python/core/proxy/test_proxy_server.py
  core/amber/src/main/python/proto/__init__.py
  core/amber/src/main/python/proto/edu/__init__.py
  core/amber/src/main/python/proto/edu/uci/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/sendsemantics/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/common/__init__.py
  core/amber/src/main/python/proto/scalapb.py
  core/amber/src/main/python/proto/scalapb/__init__.py
  core/scripts/python-proto-gen.sh
Labels: Python, engine, enhancement

#1262 Add Python Implementation of DoubleBlockingQueue
  core/amber/src/main/python/core/util/customized_queue/__init__.py
  core/amber/src/main/python/core/util/customized_queue/double_blocking_queue.py
  core/amber/src/main/python/core/util/customized_queue/queue_base.py
  core/amber/src/main/python/core/util/customized_queue/test_double_blocking_queue.py
Labels: Python, engine, enhancement

#1227 IntervalJoin Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intervalJoin/IntervalJoinExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intervalJoin/IntervalJoinOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intervalJoin/IntervalJoinOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intervalJoin/TimeIntervalType.java
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/intervalJoin/IntervalOpExecSpec.scala
  core/new-gui/src/assets/operator_images/IntervalJoin.png
Labels: enhancement

#1263 Add Python NetworkReceiver and NetworkSender
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/common/ambermessage.proto
  core/amber/src/main/python/core/models/__init__.py
  core/amber/src/main/python/core/models/internal_queue.py
  core/amber/src/main/python/core/models/marker.py
  core/amber/src/main/python/core/models/payload.py
  core/amber/src/main/python/core/models/tuple.py
  core/amber/src/main/python/core/proxy/proxy_client.py
  core/amber/src/main/python/core/proxy/proxy_server.py
  core/amber/src/main/python/core/proxy/test_proxy_client.py
  core/amber/src/main/python/core/runnables/__init__.py
  core/amber/src/main/python/core/runnables/network_receiver.py
  core/amber/src/main/python/core/runnables/network_sender.py
  core/amber/src/main/python/core/runnables/test_network_receiver.py
  core/amber/src/main/python/core/runnables/test_network_sender.py
  core/amber/src/main/python/core/util/__init__.py
  core/amber/src/main/python/core/util/customized_queue/test_double_blocking_queue.py
  core/amber/src/main/python/core/util/proto/__init__.py
  core/amber/src/main/python/core/util/proto/proto_utils.py
  core/amber/src/main/python/core/util/runnable/runnable.py
  core/amber/src/main/python/core/util/stoppable/__init__.py
  core/amber/src/main/python/core/util/stoppable/stoppable.py
  core/amber/src/main/python/core/util/stoppable/stoppable_queue_blocking_thread.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/common/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerInternalQueue.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/ambermessage/AmbermessageProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/ambermessage/PythonControlMessage.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/ambermessage/PythonDataHeader.scala
Labels: Python, engine, enhancement

#1264 Config Clean Up
  core/amber/src/main/resources/application.conf
  core/amber/src/main/resources/cluster.conf
  core/amber/src/main/resources/clustered.conf
  core/amber/src/main/resources/google_api.conf
  core/amber/src/main/resources/python_udf.conf
  core/amber/src/main/resources/web-config.yml
  core/amber/src/main/scala/edu/uci/ics/amber/AmberApp.scala
  core/amber/src/main/scala/edu/uci/ics/amber/clustering/ClusterListener.scala
  core/amber/src/main/scala/edu/uci/ics/amber/clustering/SingleNodeListener.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/Constants.scala
  core/amber/src/main/scala/edu/uci/ics/texera/Utils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/JsonTest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/WebUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/WebWorkflowStatusUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/GoogleResource.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/ResultDownloadResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/SchemaPropagationResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/UserResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/OperatorMetadataGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OneToOneOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/aggregate/AggregateOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/Tuple.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/difference/DifferenceOpExecConf.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/limit/LimitOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFOpExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/randomksampling/RandomKSamplingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/reservoirsampling/ReservoirSamplingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/ParallelCSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/wordCloud/WordCloudOpDesc.java
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerSpec.scala
  core/conf/web.conf
  core/scripts/build.sh
  core/util/project/build.properties
Labels: config, general

#1266 Move WorkerState and WorkerStatistics package
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker.proto
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlreturns.proto
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/statistics.proto
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/WorkerExecutionStartedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerInfo.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerLayer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/AddPartitioningHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/PauseHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/QueryAndRemoveBreakpointsHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/QueryStatisticsHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/ResumeHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/StartHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/UpdateInputLinkingHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/statetransition/WorkerStateManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/operators/OpExecConfig.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlReturnV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlreturnsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/worker/WorkerProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/worker/WorkerState.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/worker/WorkerStatistics.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
Labels: engine, refactoring

#1272 Add the missing files generated by protobuf
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/statistics/StatisticsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/statistics/WorkerState.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/statistics/WorkerStatistics.scala
Labels: fix

#1270 Fix the z-index of the minimap navigator in frontend
  core/new-gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.scss
Labels: gui

#1271 Reduce the max lines to trigger scroll on Python code editor
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor-dialog.component.ts
Labels: fix, gui
