Repository apache/texera, pull requests merged in 2021-11, with the labels that each got.

#1355 Establish websocket connection for dev environment
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/new-gui/src/app/workspace/service/workflow-websocket/workflow-websocket.service.ts
Labels: bug, web, engine, fix

#1359 UnnestString operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/unneststring/UnnestStringOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/unneststring/UnnestStringOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/unneststring/UnnestStringOpExecSpec.scala
  core/new-gui/src/assets/operator_images/UnnestString.png
Labels: enhancement

#1366 Support geolocation and regex FilterConditions for AsterixDB Source Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/SQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/SQLSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/asterixdb/AsterixDBSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/asterixdb/AsterixDBSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/mysql/MySQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/mysql/MySQLSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/postgresql/PostgreSQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/postgresql/PostgreSQLSourceOpExec.scala
  core/new-gui/src/app/common/formly/formly-utils.ts
Labels: enhancement

#1370 Fix memory-leak-related issues
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/ShutdownDPThreadHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/client/AmberClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/client/ClientActor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/SnapshotMulticast.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobRuntimeService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowJobService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
Labels: bug, fix

#1374 Simplify operator-related UI with element folding on mouseover
  core/new-gui/package.json
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.scss
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.spec.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
  core/new-gui/yarn.lock
Labels: gui

#1377 Python UDF Table API
  core/amber/src/main/python/core/architecture/rpc/async_rpc_server.py
  core/amber/src/main/python/core/models/__init__.py
  core/amber/src/main/python/core/models/operator.py
  core/amber/src/main/python/core/models/table.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/pyamber/__init__.py
  core/amber/src/main/python/pytexera/__init__.py
  core/amber/src/main/python/pytexera/udf/examples/__init__.py
  core/amber/src/main/python/pytexera/udf/examples/echo_table_operator.py
  core/amber/src/main/python/pytexera/udf/examples/test_echo_operator.py
  core/amber/src/main/python/pytexera/udf/examples/test_echo_table_operator.py
  core/amber/src/main/python/pytexera/udf/udf_operator.py
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV2/PythonUDFOpDescV2.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV2/source/PythonUDFSourceOpDescV2.java
Labels: enhancement, Python

#1376 Fix front end for visualization operators (bar/pie/line charts)
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.spec.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.ts
Labels: gui, fix

#1382 Hide filter condition attributes of SQL Source operator correctly
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/SQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/asterixdb/AsterixDBSourceOpDesc.scala
Labels: bug, fix
