Repository apache/texera, pull requests merged in 2021-06, with the labels that each got.

#1142 HTML Viewer operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/VisualizationConstants.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/htmlviz/HtmlVizOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/htmlviz/HtmlVizOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/htmlviz/HtmlVizOpExecConfig.scala
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.html
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.scss
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.spec.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.ts
  core/new-gui/src/app/workspace/types/visualization.interface.ts
  core/new-gui/src/assets/operator_images/HTMLVisualizer.png
Labels: enhancement

#1097 Improve workflow minimap: make navigator follow canvas and draggable, add show/hide button to minimap
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/workspace/component/mini-map/mini-map.component.html
  core/new-gui/src/app/workspace/component/mini-map/mini-map.component.scss
  core/new-gui/src/app/workspace/component/mini-map/mini-map.component.spec.ts
  core/new-gui/src/app/workspace/component/mini-map/mini-map.component.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.html
  core/new-gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.scss
  core/new-gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.spec.ts
  core/new-gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor-constants.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.html
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.scss
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.html
  core/new-gui/src/app/workspace/component/workspace.component.scss
  core/new-gui/src/app/workspace/service/drag-drop/drag-drop.service.spec.ts
  core/new-gui/src/app/workspace/service/drag-drop/drag-drop.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/joint-graph-wrapper.spec.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/joint-graph-wrapper.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
Labels: enhancement, gui

#1145 Remove toggle to display the spatial map in popup
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.html
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.ts
Labels: fix

#1096 Add normalization scale option to word cloud operator
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.html
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.ts
  core/new-gui/src/app/workspace/component/visualization-panel/visualization-panel.component.ts
Labels: enhancement, gui

#1131 Operator Config Refactor
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/ManyToOneOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/mlmodel/MLModelOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/mlmodel/MLModelOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/source/SourceOperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/distinct/DistinctOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/distinct/DistinctOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/filter/SpecializedFilterOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/keywordSearch/KeywordSearchOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/limit/LimitOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/linearregression/LinearRegressionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFOpExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/randomksampling/RandomKSamplingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/regex/RegexOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/reservoirsampling/ReservoirSamplingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/SimpleSinkOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/union/UnionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/barChart/BarChartOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/lineChart/LineChartOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpDesc.java
  core/conf/web.conf
Labels: refactoring

#1148 Fix word cloud operator output schema
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/wordCloud/WordCloudOpDesc.java
Labels: fix

#1144 Producing html output from topic models
  core/amber/src/main/resources/python_udf/topic_modeling_mallet_trainer.py
  core/amber/src/main/resources/python_udf/topic_modeling_trainer.py
Labels: enhancement

#1160 Remove Access Token requirement from Twitter
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/ManyToOneOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OneToOneOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/TwitterSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/TwitterSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/TwitterSourceOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpExecConfig.scala
Labels: enhancement

#1161 Fix hiding unrelated html elements
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.html
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.ts
Labels: bug, fix

#1133 Google Sign In Implementation
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/DefaultCatalog.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/File.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/KeywordDictionary.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/User.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/Workflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowOfUser.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/UserDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IUser.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/File.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/KeywordDictionary.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/User.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/Workflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowOfUser.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/FileRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/KeywordDictionaryRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/UserRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowOfUserRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/auth/GoogleUserLoginRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/GoogleAuthorizationCodeTokenV4Request.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/UserResource.scala
  core/conf/web.conf
  core/new-gui/package-lock.json
  core/new-gui/package.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/service/user/user.service.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/ngbd-modal-resource-add/ngbd-modal-resource-add.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/ngbd-modal-resource-view/ngbd-modal-resource-view.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/ngbd-modal-file-add/ngbd-modal-file-add.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/top-bar/top-bar.component.spec.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-icon.component.spec.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/ngbdmodal-user-login.component.html
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/ngbdmodal-user-login.component.scss
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/ngbdmodal-user-login.component.spec.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/ngbdmodal-user-login.component.ts
  core/new-gui/src/environments/environment.default.ts
  core/new-gui/src/index.html
  core/new-gui/src/tsconfig.app.json
  core/new-gui/src/tsconfig.spec.json
  core/scripts/sql/texera_ddl.sql
Labels: enhancement

#1147 Add UserDictionaryResource (User Presets Step 1)
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/UserDictionary.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/UserDictionaryDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IUserDictionary.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/UserDictionary.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/UserDictionaryRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/UserDictionaryResource.scala
  core/scripts/sql/texera_ddl.sql
Labels: enhancement

#1169 Fix BIT type as AttributeType.BOOLEAN
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/schema/AttributeTypeUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/SQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/SQLSourceOpExec.scala
Labels: fix

#1132 Intersect Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/HashOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intersect/IntersectOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intersect/IntersectOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/intersect/IntersectOpExecSpec.scala
  core/new-gui/src/assets/operator_images/Intersect.png
Labels: enhancement

#1146 Propagate schema to all operators
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/ProgressiveUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/aggregate/AggregateOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/filter/FilterOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/flatmap/FlatMapOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/map/MapOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/Tuple.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/schema/OperatorSchemaInfo.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/SpecializedAverageOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/distinct/DistinctOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/filter/SpecializedFilterOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/keywordSearch/KeywordSearchOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/limit/LimitOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/linearregression/LinearRegressionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/randomksampling/RandomKSamplingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/regex/RegexOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/reservoirsampling/ReservoirSamplingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sentiment/SentimentAnalysisOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/SimpleSinkOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/SimpleSinkOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/SimpleSinkOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/ParallelCSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/asterixdb/AsterixDBSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/mysql/MySQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/postgresql/PostgreSQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/typecasting/TypeCastingOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/union/UnionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/barChart/BarChartOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/htmlviz/HtmlVizOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/lineChart/LineChartOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/wordCloud/WordCloudOpDesc.java
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/common/tuple/TupleSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/projection/ProjectionOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/scan/csv/CSVScanSourceOpDescSpec.scala
Labels: enhancement

#1175 Fix Intersect operator after new interface change
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intersect/IntersectOpDesc.scala
Labels: fix

#1152 Parallel Distinct Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/distinct/DistinctOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/distinct/DistinctOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/intersect/IntersectOpExecSpec.scala
Labels: enhancement, fix

#1173 Use StubUserService in tests
  core/new-gui/src/app/common/service/user/stub-user.service.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/ngbd-modal-resource-add/ngbd-modal-resource-add.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/ngbd-modal-resource-view/ngbd-modal-resource-view.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/ngbd-modal-file-add/ngbd-modal-file-add.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/top-bar/top-bar.component.spec.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-icon.component.spec.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/ngbdmodal-user-login.component.spec.ts
Labels: fix

#1176 Fix Twitter Search Hanging
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/TwitterSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpExec.scala
Labels: fix

#1174 GitHub Action Update
  .github/workflows/github-action-build.yml
Labels: general

#1150 Bug fixes and improvements to autocomplete
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/SpecializedAverageOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/ParallelCSVScanSourceOpDesc.scala
  core/new-gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.ts
Labels: enhancement, fix

#1186 Move jooq codegen to util as a separate module
  core/util/build.sbt
  core/util/src/main/java/edu/uci/ics/util/RunCodegen.java
Labels: config, general

#1187 ScanSourceOp surpass error and add limit and offset
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/ScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/ParallelCSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/ParallelCSVScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/ParallelCSVScanSourceOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpExecConfig.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/source/scan/csv/CSVScanSourceOpDescSpec.scala
Labels: enhancement, fix

#1188 Fix Operator State Inconsistency
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/QueryWorkerStatisticsHandler.scala
Labels: bug, fix

#1192 Fix null field in HTMLVizOp
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/htmlviz/HtmlVizOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/htmlviz/HtmlVizOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/htmlviz/HtmlVizOpExecConfig.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/visualization/htmlviz/HtmlVizOpExecSpec.scala
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.spec.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.ts
Labels: fix

#1193 Fix Tuple.BuilderV2.build() schema mismatch issue
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/Tuple.java
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/common/tuple/TupleSpec.scala
Labels: fix

#1185 Minimap relocation
  core/new-gui/src/app/workspace/component/navigation/navigation.component.scss
  core/new-gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.html
  core/new-gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.scss
  core/new-gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.html
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.scss
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.html
  core/new-gui/src/app/workspace/component/workspace.component.scss
Labels: enhancement

#1162 Add UserDictionaryService (User Presets Step 2)
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/UserDictionaryResource.scala
  core/new-gui/src/app/common/service/user/user-dictionary/dictionary.service.spec.ts
  core/new-gui/src/app/common/service/user/user-dictionary/dictionary.service.ts
Labels: enhancement, gui

#1201 Introduce incremental output mode (#1100 Part 3)
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/ITupleSinkOperatorExecutor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/IncrementalOutputMode.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/SimpleSinkOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/SimpleSinkOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/SimpleSinkOpExecConfig.scala
Labels: enhancement

#1202 Add Incremental Output Mode to visualization operators (#1100 Part 4)
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowInfo.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/VisualizationOperator.java
Labels: enhancement
