Repository apache/texera, pull requests merged in 2021-08, with the labels that each got.

#1269 User Dashboard fix and style change
  core/new-gui/src/app/app-routing.module.ts
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/component/dashboard.component.scss
  core/new-gui/src/app/dashboard/component/feature-bar/feature-bar.component.html
  core/new-gui/src/app/dashboard/component/feature-bar/feature-bar.component.scss
  core/new-gui/src/app/dashboard/component/feature-bar/feature-bar.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.scss
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
Labels: bug, enhancement, fix, gui

#1267 Add Python DataProcessing Thread
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/common/ambermessage.proto
  core/amber/src/main/python/core/architecture/__init__.py
  core/amber/src/main/python/core/architecture/handlers/add_partitioning_handler.py
  core/amber/src/main/python/core/architecture/handlers/handler_base.py
  core/amber/src/main/python/core/architecture/handlers/pause_worker_handler.py
  core/amber/src/main/python/core/architecture/handlers/query_statistics_handler.py
  core/amber/src/main/python/core/architecture/handlers/resume_worker_handler.py
  core/amber/src/main/python/core/architecture/handlers/start_worker_handler.py
  core/amber/src/main/python/core/architecture/handlers/update_input_linking_handler.py
  core/amber/src/main/python/core/architecture/managers/__init__.py
  core/amber/src/main/python/core/architecture/managers/context.py
  core/amber/src/main/python/core/architecture/managers/pause_manager.py
  core/amber/src/main/python/core/architecture/managers/state_manager.py
  core/amber/src/main/python/core/architecture/managers/statistics_manager.py
  core/amber/src/main/python/core/architecture/managers/test_pause_manager.py
  core/amber/src/main/python/core/architecture/managers/test_state_manager.py
  core/amber/src/main/python/core/architecture/packaging/__init__.py
  core/amber/src/main/python/core/architecture/packaging/batch_to_tuple_converter.py
  core/amber/src/main/python/core/architecture/packaging/tuple_to_batch_converter.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_client.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_server.py
  core/amber/src/main/python/core/architecture/sendsemantics/__init__.py
  core/amber/src/main/python/core/architecture/sendsemantics/one_to_one_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/partitioner.py
  core/amber/src/main/python/core/python_worker.py
  core/amber/src/main/python/core/runnables/__init__.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/runnables/test_data_processor.py
  core/amber/src/main/python/core/udf/__init__.py
  core/amber/src/main/python/core/udf/examples/__init__.py
  core/amber/src/main/python/core/udf/examples/echo_operator.py
  core/amber/src/main/python/core/udf/examples/test_echo_operator.py
  core/amber/src/main/python/core/udf/udf_operator.py
  core/amber/src/main/python/core/util/proto/proto_utils.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/common/__init__.py
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/ambermessage/AmbermessageProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/ambermessage/ControlPayloadV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/ambermessage/PythonControlMessage.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/ambermessage/PythonDataHeader.scala
Labels: Python, engine, enhancement

#1279 Fix SavedWorkflowSectionComponent test unclosed ngbd modal issue
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-share-access/ngbd-modal-share-access.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-share-access/ngbd-modal-share-access.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-share-access/ngbd-modal-share-access.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/ngbd-modal-file-add/ngbd-modal-file-add.component.ts
Labels: bug, fix, gui, testing

#1274 Add PythonUDF V2
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlreturns.proto
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/common/ambermessage.proto
  core/amber/src/main/python/core/architecture/handlers/query_current_input_tuple_handler.py
  core/amber/src/main/python/core/architecture/handlers/send_python_udf_handler.py
  core/amber/src/main/python/core/architecture/handlers/start_worker_handler.py
  core/amber/src/main/python/core/architecture/managers/context.py
  core/amber/src/main/python/core/architecture/managers/statistics_manager.py
  core/amber/src/main/python/core/architecture/packaging/tuple_to_batch_converter.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_client.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_server.py
  core/amber/src/main/python/core/architecture/sendsemantics/round_robin_partitioner.py
  core/amber/src/main/python/core/python_worker.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/runnables/network_receiver.py
  core/amber/src/main/python/core/runnables/network_sender.py
  core/amber/src/main/python/core/runnables/test_data_processor.py
  core/amber/src/main/python/core/udf/udf_operator.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/common/__init__.py
  core/amber/src/main/python/texera_run_python_worker.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerLayer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/ArrowUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyServer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonWorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/WorkerBatchInternalQueue.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/ambermessage/InvocationConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV1/PythonUDFOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV1/PythonUDFOpExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV1/PythonUDFType.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV2/PythonUDFOpDescV2.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV2/PythonUDFOpExecV2.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV2/source/PythonUDFSourceOpDescV2.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV2/source/PythonUDFSourceOpExecV2.java
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlReturnV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlreturnsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/ambermessage/AmbermessageProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/ambermessage/PythonDataHeader.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/pythonworker/ArrowUtilsSpec.scala
  core/new-gui/src/assets/operator_images/PythonUDFSourceV2.png
  core/new-gui/src/assets/operator_images/PythonUDFV2.png
Labels: Python, enhancement, refactoring

#1277 Include external Json Schema library code for customization
  core/amber/.scalafmt.conf
  core/amber/build.sbt
  core/amber/src/main/scala/com/kjetland/jackson/jsonSchema/JsonSchemaDraft.java
  core/amber/src/main/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGenerator.scala
  core/amber/src/main/scala/com/kjetland/jackson/jsonSchema/annotations/JsonSchemaArrayWithUniqueItems.java
  core/amber/src/main/scala/com/kjetland/jackson/jsonSchema/annotations/JsonSchemaBool.java
  core/amber/src/main/scala/com/kjetland/jackson/jsonSchema/annotations/JsonSchemaDefault.java
  core/amber/src/main/scala/com/kjetland/jackson/jsonSchema/annotations/JsonSchemaDescription.java
  core/amber/src/main/scala/com/kjetland/jackson/jsonSchema/annotations/JsonSchemaExamples.java
  core/amber/src/main/scala/com/kjetland/jackson/jsonSchema/annotations/JsonSchemaFormat.java
  core/amber/src/main/scala/com/kjetland/jackson/jsonSchema/annotations/JsonSchemaInject.java
  core/amber/src/main/scala/com/kjetland/jackson/jsonSchema/annotations/JsonSchemaInt.java
  core/amber/src/main/scala/com/kjetland/jackson/jsonSchema/annotations/JsonSchemaOptions.java
  core/amber/src/main/scala/com/kjetland/jackson/jsonSchema/annotations/JsonSchemaString.java
  core/amber/src/main/scala/com/kjetland/jackson/jsonSchema/annotations/JsonSchemaTitle.java
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyServer.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV1/PythonUDFOpExec.java
Labels: enhancement

#1278 Fix frontend validation error of optional fields when the field is filled then deleted
  core/amber/src/main/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/OperatorMetadataGenerator.scala
  core/new-gui/src/app/workspace/service/validation/validation-workflow.service.ts
Labels: bug, fix

#1281 Python UDF V2 report compile time and runtime exceptions to frontend
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlreturns.proto
  core/amber/src/main/python/core/architecture/handlers/pause_worker_handler.py
  core/amber/src/main/python/core/architecture/handlers/resume_worker_handler.py
  core/amber/src/main/python/core/architecture/handlers/send_python_udf_handler.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_server.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Workflow.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerLayer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonWorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/promisehandlers/SendPythonUdfHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCServer.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/difference/DifferenceOpExecConf.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intervalJoin/IntervalJoinExecConfig.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlException.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlReturnV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlreturnsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/CurrentInputTupleInfo.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/control/TrivialControlSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/control/utils/ErrorHandler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/control/utils/TesterAsyncRPCHandlerInitializer.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/control/utils/TrivialControlTester.scala
Labels: Python, engine, enhancement

#1283 Expose exceptions to user in TwitterSearch Operator
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/TwitterSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/TwitterSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpExec.scala
Labels: bug, fix

#1286 Add chunk to Arrow Flight
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
Labels: bug, fix, Python

#1275 Support download User File in User Dashboard
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileResource.scala
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/service/blob-error-http-interceptor.service.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.ts
  core/new-gui/src/app/dashboard/service/user-file/stub-user-file-service.ts
  core/new-gui/src/app/dashboard/service/user-file/user-file.service.spec.ts
  core/new-gui/src/app/dashboard/service/user-file/user-file.service.ts
Labels: enhancement

#1288 Disable WorkflowCache when UserSystem is enabled
  core/new-gui/src/app/common/service/user/user.service.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
  core/new-gui/src/app/workspace/component/operator-panel/operator-label/operator-label.component.ts
  core/new-gui/src/app/workspace/component/operator-panel/operator-panel.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/service/workflow-cache/workflow-cache.service.ts
Labels: gui, fix

#1296 Add HashBasedShufflePartitioner in Python UDF V2
  core/amber/src/main/python/core/architecture/packaging/tuple_to_batch_converter.py
  core/amber/src/main/python/core/architecture/sendsemantics/hash_based_shuffle_partitioner.py
Labels: enhancement, engine, Python

#1292 Result Panel refactoring with dynamic component loading
  core/new-gui/package.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/util/json.ts
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.html
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.scss
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.spec.ts
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel-modal.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.html
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.spec.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.html
  core/new-gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.scss
  core/new-gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.spec.ts
  core/new-gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/visualization-frame/visualization-frame.component.html
  core/new-gui/src/app/workspace/component/result-panel/visualization-frame/visualization-frame.component.scss
  core/new-gui/src/app/workspace/component/result-panel/visualization-frame/visualization-frame.component.spec.ts
  core/new-gui/src/app/workspace/component/result-panel/visualization-frame/visualization-frame.component.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.html
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.scss
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.spec.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.ts
  core/new-gui/src/app/workspace/component/visualization-panel/visualization-panel.component.html
  core/new-gui/src/app/workspace/component/visualization-panel/visualization-panel.component.spec.ts
  core/new-gui/src/app/workspace/component/visualization-panel/visualization-panel.component.ts
  core/new-gui/src/app/workspace/service/result-panel-toggle/result-panel-toggle.service.ts
  core/new-gui/src/app/workspace/service/workflow-result/workflow-result.service.ts
  core/new-gui/yarn.lock
Labels: gui, refactoring

#1294 Python UDF V2 Print
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/runnables/test_data_processor.py
  core/amber/src/main/python/core/udf/udf_operator.py
  core/amber/src/main/python/core/util/print_writer/print_writer.py
  core/amber/src/main/python/core/util/print_writer/stream_to_logger_adaptor.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/python/texera_run_python_worker.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerEvent.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerEventListener.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PythonPrintHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/PythonPrintTriggeredEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/TexeraWebSocketEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.html
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.scss
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/app/workspace/service/workflow-console/workflow-console.service.spec.ts
  core/new-gui/src/app/workspace/service/workflow-console/workflow-console.service.ts
  core/new-gui/src/app/workspace/service/workflow-websocket/workflow-websocket.service.ts
  core/new-gui/src/app/workspace/types/execute-workflow.interface.ts
  core/new-gui/src/app/workspace/types/workflow-common.interface.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: enhancement, engine, Python

#1295 Replace code editor with Monaco Editor
  core/new-gui/angular.json
  core/new-gui/package.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor-dialog.component.html
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor-dialog.component.scss
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor-dialog.component.spec.ts
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor-dialog.component.ts
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.html
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.scss
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.ts
  core/new-gui/yarn.lock
Labels: enhancement, gui, Python

#1297 Optimize Workflows by Session User retrieval
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/WorkflowAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/WorkflowResource.scala
  core/new-gui/src/app/common/service/workflow-persist/workflow-persist.service.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
Labels: enhancement, refactoring

#1301 TwitterFullArchiveSearch Operator update
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpExec.scala
Labels: enhancement, fix

#1298 Limit console message displayed
  core/new-gui/package.json
  core/new-gui/src/app/workspace/service/workflow-console/workflow-console.service.ts
  core/new-gui/yarn.lock
Labels: enhancement, gui, Python

#1300 Enlarge FieldVector size to relax size limitation on Data Messages through Arrow
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/ArrowUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
Labels: fix

#1304 Properly update ConsoleFrame when state changes
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.html
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.scss
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.ts
Labels: fix

#1303 Fix some compilation warnings
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Workflow.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/TupleToBatchConverter.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyServer.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/OperatorMetadataGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/asterixdb/AsterixDBSourceOpExec.scala
Labels: fix

#1306 Notification Component and Service
  core/new-gui/src/app/app.component.html
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/component/notification/notification/notification.component.html
  core/new-gui/src/app/common/component/notification/notification/notification.component.scss
  core/new-gui/src/app/common/component/notification/notification/notification.component.spec.ts
  core/new-gui/src/app/common/component/notification/notification/notification.component.ts
  core/new-gui/src/app/common/service/notification/notification.service.spec.ts
  core/new-gui/src/app/common/service/notification/notification.service.ts
Labels: enhancement, gui

#1282 Remove WorkflowLogger
  core/amber/build.sbt
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/util/print_writer/print_log_handler.py
  core/amber/src/main/python/core/util/print_writer/stream_to_logger_adaptor.py
  core/amber/src/main/python/texera_run_python_worker.py
  core/amber/src/main/resources/cluster.conf
  core/amber/src/main/resources/log4j.properties
  core/amber/src/main/resources/logback.xml
  core/amber/src/main/resources/python_udf.conf
  core/amber/src/main/resources/web-config.yml
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/common/WorkflowActor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerEvent.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/FatalErrorHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerLayer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/CongestionControl.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/ControlOutputPort.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkCommunicationActor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkInputPort.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyServer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonWorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/PauseManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/QueryStatisticsHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/StartHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberLogging.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/WorkflowLogger.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/amberexception/BreakpointException.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/amberexception/WorkflowRuntimeException.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCServer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/statetransition/StateManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/operators/OpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/amber/error/WorkflowRuntimeError.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/WorkflowExecutionErrorEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intervalJoin/IntervalJoinOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/control/utils/TrivialControlTester.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkInputPortSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
  core/scripts/depoly-daemon.sh
Labels: enhancement, engine, config

#1307 Export workflow result to User Dashboard
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/ResultDownloadResponse.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/ResultExportResponse.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/ResultDownloadRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/ResultExportRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/TexeraWebSocketRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/ResultExportResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileUtils.scala
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/service/notification/notification.service.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/navigation/result-download/result-download.component.html
  core/new-gui/src/app/workspace/component/navigation/result-download/result-download.component.scss
  core/new-gui/src/app/workspace/component/navigation/result-download/result-download.component.spec.ts
  core/new-gui/src/app/workspace/component/navigation/result-download/result-download.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.spec.ts
  core/new-gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
  core/new-gui/src/environments/environment.default.ts
Labels: enhancement

#1309 Re-enabling breakpoints
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/breakpoint/globalbreakpoint/CountGlobalBreakpoint.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/breakpoint/globalbreakpoint/GlobalBreakpoint.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Workflow.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/AssignBreakpointHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/LocalBreakpointTriggeredHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/BreakpointManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCServer.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/Utils.scala
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/workflow-graph/util/workflow-util.service.spec.ts
  core/new-gui/src/app/workspace/service/workflow-graph/util/workflow-util.service.ts
Labels: enhancement, engine

#1318 Result Panel refactoring with dynamic component inputs
  core/new-gui/src/app/workspace/component/result-panel-toggle/result-panel-toggle.component.ts
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.html
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.spec.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/visualization-frame/visualization-frame.component.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.spec.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.ts
Labels: gui, refactoring

#1321 Auto unsubscribe from Subscriptions upon Component destroy
  core/new-gui/.eslintrc.json
  core/new-gui/package.json
  core/new-gui/src/app/common/component/notification/notification/notification.component.ts
  core/new-gui/src/app/common/service/blob-error-http-interceptor.service.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-share-access/ngbd-modal-workflow-share-access.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/user-dictionary-section.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/ngbd-modal-file-share-access/ngbd-modal-user-file-share-access.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-icon.component.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/ngbdmodal-user-login.component.ts
  core/new-gui/src/app/dashboard/service/user-file/user-file-upload.service.ts
  core/new-gui/src/app/dashboard/service/user-file/user-file.service.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/operator-panel/operator-label/operator-label.component.ts
  core/new-gui/src/app/workspace/component/operator-panel/operator-panel.component.ts
  core/new-gui/src/app/workspace/component/property-editor/breakpoint-property-edit-frame/breakpoint-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.ts
  core/new-gui/src/app/workspace/component/property-editor/typecasting-display/type-casting-display.component.ts
  core/new-gui/src/app/workspace/component/result-panel-toggle/result-panel-toggle.component.ts
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/visualization-frame/visualization-frame.component.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.html
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.ts
  core/new-gui/src/app/workspace/service/result-panel-toggle/result-panel-toggle.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/util/workflow-util.service.ts
  core/new-gui/yarn.lock
Labels: gui, refactoring
