Repository apache/texera, pull requests merged in 2021-03, with the labels that each got.

#1056 Configure HTTP log level separately
  core/amber/src/main/resources/logback.xml
Labels: config

#1058 fix the bug of type casting
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/typecasting/TypeCastingOpDesc.java
Labels: fix

#1060 Change PythonUDF server termination to blocking
  core/amber/src/main/resources/python_udf/texera_udf_server_main.py
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFOpExec.java
Labels: fix

#1053 SQLSource property re-design
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/OperatorMetadataGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/SQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/SQLSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/asterixdb/AsterixDBSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/asterixdb/AsterixDBSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/mysql/MySQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/mysql/MySQLSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/postgresql/PostgreSQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/postgresql/PostgreSQLSourceOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/TestOperators.scala
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.spec.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/dynamic-schema.service.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/types/custom-json-schema.interface.ts
Labels: enhancement

#958 Incrementalize word cloud operator (Step 1-1)
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/wordCloud/WordCloudOpPartialExec.java
Labels: enhancement

#960 Incrementalize word cloud operator (Step 1-2)
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/ProgressiveUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/SimpleSinkOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/wordCloud/WordCloudOpFinalExec.java
Labels: enhancement

#961 Incrementalize word cloud operator (Step 2)
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/QueryWorkerStatisticsHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerLayer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/principal/OperatorStatistics.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerStatistics.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/QueryStatisticsHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/operators/OpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
Labels: enhancement

#1049 Saving workflow results to Google Sheets
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/WebUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/ResultDownloadResponse.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/ResultDownloadRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/TexeraWebSocketRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/GoogleResource.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/ResultDownloadResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/conf/web.conf
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/navigation/result-download/result-download.component.html
  core/new-gui/src/app/workspace/component/navigation/result-download/result-download.component.scss
  core/new-gui/src/app/workspace/component/navigation/result-download/result-download.component.spec.ts
  core/new-gui/src/app/workspace/component/navigation/result-download/result-download.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
  core/web/src/main/java/edu/uci/ics/texera/web/resource/DownloadFileResource.java
Labels: enhancement

#1062 Remove redundant code
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileUtils.scala
Labels: fix
