Repository apache/texera, pull requests merged in 2021-04, with the labels that each got.

#1067 Fix extra characters in uploaded file
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileUtils.scala
Labels: fix

#1061 AttributeType utils
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/Utils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/schema/AttributeTypeUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/SpecializedAverageOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/filter/FilterPredicate.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/scan/CSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/scan/CSVScanSourceOpExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/SQLSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/asterixdb/AsterixDBSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/typecasting/TypeCastingAttributeType.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/typecasting/TypeCastingOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/typecasting/TypeCastingOpExec.java
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unit/AttributeTypeUtilsTest.scala
Labels: enhancement

#1068 Google sheet type fix
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/ResultDownloadResource.scala
Labels: fix

#1072 Fix AsteridDB auto progressive mode
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/SQLSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/asterixdb/AsterixDBSourceOpExec.scala
Labels: fix

#1073 Fix ProjectionOp output schema
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/AttributeTypeUtilsTest.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/projection/ProjectionOpDescSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/projection/ProjectionOpExecSpec.scala
Labels: fix

#1051 SVMTrainer and SVMClassifier Operators
  .gitignore
  core/amber/src/main/resources/python_udf/demo_non_map_udf.py
  core/amber/src/main/resources/python_udf/mock_data.py
  core/amber/src/main/resources/python_udf/svm_classifier.py
  core/amber/src/main/resources/python_udf/svm_trainer.py
  core/amber/src/main/resources/python_udf/texera_udf_operator_base.py
  core/amber/src/main/resources/python_udf/texera_udf_server_main.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFOpExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFType.java
  core/conf/web.conf
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.scss
  core/new-gui/src/app/workspace/component/workspace.component.scss
Labels: enhancement

#1065 JSONL Source Operator
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/OperatorMetadataGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/ScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONUtil.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/SQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/SQLSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/SQLSourceOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/asterixdb/AsterixDBConnUtil.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/asterixdb/AsterixDBSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/asterixdb/AsterixDBSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/mysql/MySQLConnUtil.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/mysql/MySQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/mysql/MySQLSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/postgresql/PostgreSQLConnUtil.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/postgresql/PostgreSQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/postgresql/PostgreSQLSourceOpExec.scala
  core/amber/src/test/resources/100.jsonl
  core/amber/src/test/resources/1000.jsonl
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/TestOperators.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/Utils.scala
  core/new-gui/src/assets/operator_images/JSONLFileScan.png
Labels: enhancement

#1086 Topic Modeling operator
  core/amber/src/main/resources/python_udf/svm_trainer.py
  core/amber/src/main/resources/python_udf/texera_udf_operator_base.py
  core/amber/src/main/resources/python_udf/topic_modeling_trainer.py
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFType.java
Labels: enhancement

#1087 Let PythonUDF take empty input tuples
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFOpExec.java
Labels: fix

#1076 Generalize AsterixDB Schema
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/schema/AttributeTypeUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/SQLSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/asterixdb/AsterixDBConnUtil.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/asterixdb/AsterixDBSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/asterixdb/AsterixDBSourceOpExec.scala
Labels: fix

#1050 Implement user password function
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/DefaultCatalog.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/File.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/KeywordDictionary.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/User.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/Workflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowOfUser.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/FileDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/KeywordDictionaryDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/UserDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowOfUserDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IFile.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IKeywordDictionary.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IUser.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowOfUser.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/File.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/KeywordDictionary.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/User.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/Workflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowOfUser.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/FileRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/KeywordDictionaryRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/UserRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowOfUserRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/auth/UserLoginRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/request/auth/UserRegistrationRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/PasswordEncryption.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/UserResource.scala
  core/new-gui/src/app/common/service/user/user.service.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/ngbdmodal-user-login.component.html
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/ngbdmodal-user-login.component.spec.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/ngbdmodal-user-login.component.ts
  core/scripts/sql/texera_ddl.sql
Labels: ddl-change, enhancement

#1088 Fix issues when running Python UDF with multiple workers
  core/amber/src/main/resources/python_udf/svm_classifier.py
  core/amber/src/main/resources/python_udf/svm_trainer.py
  core/amber/src/main/resources/python_udf/texera_udf_operator_base.py
  core/amber/src/main/resources/python_udf/texera_udf_server_main.py
  core/amber/src/main/resources/python_udf/topic_modeling_trainer.py
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/pythonUDF/PythonUDFOpExec.java
Labels: fix

#1091 Fix Google API rate limit exception
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/GoogleResource.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/ResultDownloadResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/Utils.scala
Labels: fix

#965 Incrementalize word cloud operator Step 3
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/QueryStatisticsHandler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/TexeraWebSocketEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/WorkflowCompletedEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/event/WorkflowStatusUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.html
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.html
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-panel-content.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/service/workflow-status/workflow-status.service.ts
  core/new-gui/src/app/workspace/types/execute-workflow.interface.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: enhancement

#1099 Fix result pagination key error that overwrites actual exception
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
Labels: fix
