Repository apache/texera, pull requests merged in 2021-12, with the labels that each got.

#1361 Enable User Dashboard Search Feature on Saved Workflows and Uploaded Files
  core/new-gui/package.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/service/workflow-persist/workflow-persist.service.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.ts
  core/new-gui/src/app/workspace/component/operator-panel/operator-panel.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/yarn.lock
Labels: enhancement

#1384 Add template for internal aggregation support in visualization operators
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/AggregatedVizOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/barChart/BarChartOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/barChart/BarChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/barChart/BarChartOpExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/barChart/BarChartOpExec.scala
Labels: enhancement, refactoring

#1386 Speedup frontend by merging jointjs updates into one call
  core/new-gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
Labels: enhancement, gui, refactoring
