Repository apache/texera, pull requests merged in 2021-02, with the labels that each got.

#1006 Enlarge operator property change debounce time
  core/new-gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.spec.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.ts
Labels: fix

#1011 Change roundrobin from per batch to per tuple
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/datatransferpolicy/HashBasedShufflePolicy.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/datatransferpolicy/ParallelBatchingPolicy.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/datatransferpolicy/RoundRobinPolicy.scala
Labels: fix

#1013 PostgreSQL Source Adaptor
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/Utils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/OperatorMetadataGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/annotations/UIWidget.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/SQLSourceOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/SQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/SQLSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/SQLSourceOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/mysql/MySQLConnUtil.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/mysql/MySQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/mysql/MySQLSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/mysql/MysqlSourceOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/mysql/MysqlSourceOpExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/postgresql/PostgreSQLConnUtil.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/postgresql/PostgreSQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/postgresql/PostgreSQLSourceOpExec.scala
  core/new-gui/src/app/workspace/component/operator-panel/operator-panel.component.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.ts
  core/new-gui/src/assets/operator_images/MySQLSource.png
  core/new-gui/src/assets/operator_images/PostgreSQLSource.png
Labels: enhancement

#1020 Convert ProjectionOp into Scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpExec.scala
Labels: enhancement

#1019 Add TIMESTAMP and LONG type support to FilterOp and AggregateOp
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/aggregate/AggregateOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/schema/AttributeType.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/SpecializedAverageOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/filter/FilterPredicate.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/filter/SpecializedFilterOpDesc.java
  core/new-gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.ts
Labels: enhancement

#990 Migrate UploadedFileResource as UserFileResource
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/SchemaPropagationResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/ServletAwareConfig.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/WorkflowContext.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/OperatorMetadataGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/localscan/LocalCsvFileScanOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/scan/CSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/scan/CSVScanSourceOpExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/scan/CSVScanSourceOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/SQLSourceOpDesc.java
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/TestOperators.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/Utils.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/RecoverySpec.scala
  core/new-gui/src/app/common/service/user/user-file/user-file-upload.service.ts
  core/new-gui/src/app/common/service/user/user-file/user-file.service.ts
  core/new-gui/src/app/common/type/user-file.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/ngbd-modal-file-add/ngbd-modal-file-add.component.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/source-tables/source-tables.service.ts
  core/new-gui/src/assets/operator_images/CSVFileScan.png
  core/web/src/main/java/edu/uci/ics/texera/web/TexeraWebApplication.java
  core/web/src/main/java/edu/uci/ics/texera/web/resource/UserFileResource.java
Labels: enhancement

#1021 Add the sign-in button to the top of the navigation page
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.scss
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
Labels: enhancement

#1025 Reformat Python UDF related code to PEP standard
  core/amber/src/main/resources/python_udf/demo_filter_udf.py
  core/amber/src/main/resources/python_udf/demo_map_udf.py
  core/amber/src/main/resources/python_udf/nltk_sentiment_classify.py
  core/amber/src/main/resources/python_udf/texera_udf_operator_base.py
  core/amber/src/main/resources/python_udf/texera_udf_server_main.py
  core/amber/src/main/resources/python_udf/tobacco_relevancy_classify.py
Labels: Python

#1030 Fix HTTPSession in Websocket
  core/amber/src/main/scala/edu/uci/ics/texera/web/HTTPSessionInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/ServletAwareConfigurator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/ServletAwareConfig.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
Labels: fix

#1031 Fix null user preventing workflow compilation
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/SchemaPropagationResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/UserResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/WorkflowResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileResource.scala
Labels: fix

#1035 Pin Node version to LTS/* with NVM
  core/new-gui/.nvmrc
Labels: dependencies

#1024 Fix issues with login status
  core/gui/app/navigation/navigation-bar.component.html
  core/new-gui/src/app/common/service/user/user.service.ts
  core/new-gui/src/app/common/util/predicate.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-icon.component.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/ngbdmodal-user-login.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.ts
Labels: fix, gui

#1038 Register ShutdownDPThread control command
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerAsyncRPCHandlerInitializer.scala
Labels: bug, fix

#1044 AsterixDB Source Operator
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/SQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/SQLSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/asterixdb/AsterixDBConnUtil.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/asterixdb/AsterixDBSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/asterixdb/AsterixDBSourceOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/TestOperators.scala
  core/new-gui/src/assets/operator_images/AsterixDBSource.png
Labels: enhancement

#1039 Reconfigure JOOQ Codegen
  core/conf/jooq-conf.xml
  core/dataflow/pom.xml
Labels: config

#1052 Make e2e data processing workflow result visible to the test body
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerEventListener.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/WorkerExecutionCompletedHandler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
Labels: testing

#1054 Configure log level to WARN
  core/amber/src/main/resources/log4j.properties
  core/amber/src/main/resources/logback.xml
  core/amber/src/main/scala/edu/uci/ics/amber/clustering/ClusterListener.scala
Labels: config
