Repository apache/texera, pull requests merged in 2022-02, with the labels that each got.

#1423 Track metadata information about workflow executions
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowExecutionsDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowExecutionsRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/event/ExecutionStatusEnum.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionsMetadataPersistService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobRuntimeService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowJobService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/WorkflowContext.scala
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
  core/new-gui/src/app/dashboard/service/workflow-executions/workflow-executions.service.spec.ts
  core/new-gui/src/app/dashboard/service/workflow-executions/workflow-executions.service.ts
  core/new-gui/src/app/dashboard/type/workflow-executions-entry.ts
  core/new-gui/src/environments/environment.default.ts
  core/scripts/sql/texera_ddl.sql
Labels: enhancement

#1421 Allow print in Python UDF V2 open()
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/python/core/architecture/handlers/initialize_operator_logic_handler.py
  core/amber/src/main/python/core/architecture/handlers/open_operator_handler.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_server.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/OpenOperatorHandler.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
Labels: fix, Python

#1422 Reduce pandas DataFrame from Python UDF output
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/python/core/architecture/handlers/initialize_operator_logic_handler.py
  core/amber/src/main/python/core/models/operator.py
  core/amber/src/main/python/core/models/payload.py
  core/amber/src/main/python/core/python_worker.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/runnables/network_receiver.py
  core/amber/src/main/python/core/runnables/network_sender.py
  core/amber/src/main/python/core/runnables/test_data_processor.py
  core/amber/src/main/python/core/runnables/test_network_receiver.py
  core/amber/src/main/python/core/runnables/test_network_sender.py
  core/amber/src/main/python/core/util/arrow_utils.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/schema/AttributeType.java
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
Labels: enhancement, fix, Python

#1426 Change GUI operator state color
  core/new-gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
Labels: gui, fix

#1399 Reshape 2/5: Adding the ability to detect skew
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/MonitoringHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PauseHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/ResumeHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/SkewDetectionHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/StartWorkflowHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/WorkerExecutionCompletedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/AcceptImmutableStateHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/SendImmutableStateHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/Constants.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCServer.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExec.scala
Labels: enhancement

#1393 Reshape 1/5: Adding the monitoring part of Reshape
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlreturns.proto
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/workloadmetrics.proto
  core/amber/src/main/python/core/architecture/handlers/monitoring_handler.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_server.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/MonitoringHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PauseHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/ResumeHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/SkewDetectionHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/StartWorkflowHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/WorkerExecutionCompletedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerWorkloadInfo.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkInputPort.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/AcceptImmutableStateHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/MonitoringHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/SendImmutableStateHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/Constants.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCServer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/operators/OpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExec.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlReturnV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlreturnsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/workloadmetrics/SelfWorkloadMetrics.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/workloadmetrics/WorkloadmetricsProto.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
Labels: enhancement

#1410 Reshape 4/5: Framework to sample workloads
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlreturns.proto
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/workloadmetrics.proto
  core/amber/src/main/python/core/architecture/handlers/monitoring_handler.py
  core/amber/src/main/python/core/util/customized_queue/double_blocking_queue.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/MonitoringHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/TupleToBatchConverter.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/ParallelBatchingPartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/AcceptImmutableStateHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/MonitoringHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/SendImmutableStateHandler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExec.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlReturnV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlreturnsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/workloadmetrics/Loads.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/workloadmetrics/SelfWorkloadMetrics.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/workloadmetrics/SelfWorkloadReturn.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/workloadmetrics/SelfWorkloadSample.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/workloadmetrics/WorkloadmetricsProto.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
Labels: enhancement

#1398 Albert load workflow opt
  core/new-gui/src/app/common/util/context.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.spec.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/joint-graph-wrapper.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
Labels: gui, fix, refactoring

#1360 Add project management feature
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/FileOfProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/UserProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowOfProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/FileOfProjectDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/UserProjectDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowOfProjectDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IFileOfProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IUserProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowOfProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/FileOfProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/UserProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowOfProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/FileOfProjectRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/UserProjectRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowOfProjectRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/project/ProjectResource.scala
  core/new-gui/src/app/app-routing.module.ts
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/component/feature-bar/feature-bar.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-list.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-list.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-list.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-add-project-file/ngbd-modal-add-project-file.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-add-project-file/ngbd-modal-add-project-file.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-add-project-file/ngbd-modal-add-project-file.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-add-project-workflow/ngbd-modal-add-project-workflow.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-add-project-workflow/ngbd-modal-add-project-workflow.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-add-project-workflow/ngbd-modal-add-project-workflow.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-remove-project-file/ngbd-modal-remove-project-file.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-remove-project-file/ngbd-modal-remove-project-file.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-remove-project-file/ngbd-modal-remove-project-file.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-remove-project-workflow/ngbd-modal-remove-project-workflow.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-remove-project-workflow/ngbd-modal-remove-project-workflow.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-remove-project-workflow/ngbd-modal-remove-project-workflow.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/user-project-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/user-project-section.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/user-project-section.component.ts
  core/new-gui/src/app/dashboard/service/user-project/user-project.service.ts
  core/new-gui/src/app/dashboard/type/user-project.ts
  core/scripts/sql/texera_ddl.sql
Labels: enhancement

#1433 Bugfix for Albert load workflow opt
  core/new-gui/src/app/common/util/context.ts
  core/new-gui/src/app/dashboard/service/workflow-version/workflow-version.service.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/joint-graph-wrapper.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
Labels: bug, gui, fix

#1432 Fix several bugs on the backend
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/client/AmberClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/client/ClientActor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/project/ProjectResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobRuntimeService.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
Labels: bug, fix

#1434 Fix Python UDF V2 Evaluate Expression
  core/amber/src/main/python/core/architecture/handlers/evaluate_expression_handler.py
Labels: fix, Python

#1437 Add descriptions for visualization input panel
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/lineChart/LineChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpDesc.scala
Labels: enhancement

#1408 Adjusts result panel auto-open logic
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.spec.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
  core/new-gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: enhancement, gui, fix

#1439 Improve clustering behavior
  core/amber/src/main/scala/edu/uci/ics/amber/clustering/ClusterListener.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/Constants.scala
Labels: enhancement, engine, refactoring

#1442 Update caniuse-lite
  core/new-gui/yarn.lock
Labels: gui

#1443 Fix workflow execution DB insertion in dev mode
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionsMetadataPersistService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobRuntimeService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowJobService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/WorkflowContext.scala
Labels: bug

#1445 Remove workflow state based on the correct key format
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
Labels: bug

#1427 Add lock to shared editing and integration with user system
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/collab/event/CollabWebSocketEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/collab/event/CommandEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/collab/event/LockGrantedEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/collab/event/LockRejectedEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/collab/event/ReleaseLockEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/collab/event/RestoreVersionEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/collab/event/WorkflowAccessEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/collab/request/AcquireLockRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/collab/request/CollabWebSocketRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/collab/request/CommandRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/collab/request/HeartBeatRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/collab/request/RestoreVersionRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/collab/request/TryLockRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/collab/request/WIdRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/collab/response/HeartBeatResponse.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/CollaborationResource.scala
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.scss
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/service/undo-redo/undo-redo.service.ts
  core/new-gui/src/app/workspace/service/workflow-collab/workflow-collab.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/new-gui/src/app/workspace/types/collab-websocket.interface.ts
  core/new-gui/src/app/workspace/types/command.interface.ts
Labels: enhancement, web, gui

#1450 Update CI
  .github/workflows/github-action-build.yml
Labels: general

#1444 Collapse workflow versions(positional, and aggregated by time)
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowVersionResource.scala
  core/new-gui/src/app/dashboard/type/workflow-version-entry.ts
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display.component.html
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display.component.ts
Labels: enhancement

#1447 Fix frontend format in CI
  .github/workflows/github-action-build.yml
  core/new-gui/.prettierignore
  core/new-gui/package.json
  core/new-gui/src/app/app-routing.module.ts
  core/new-gui/src/app/common/util/context.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-list.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-list.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-list.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-add-project-file/ngbd-modal-add-project-file.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-add-project-file/ngbd-modal-add-project-file.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-add-project-workflow/ngbd-modal-add-project-workflow.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-add-project-workflow/ngbd-modal-add-project-workflow.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-remove-project-file/ngbd-modal-remove-project-file.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-remove-project-file/ngbd-modal-remove-project-file.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-remove-project-workflow/ngbd-modal-remove-project-workflow.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-remove-project-workflow/ngbd-modal-remove-project-workflow.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/user-project-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/user-project-section.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/user-project-section.component.ts
  core/new-gui/src/app/dashboard/service/user-project/user-project.service.ts
  core/new-gui/src/app/dashboard/service/workflow-version/workflow-version.service.ts
  core/new-gui/src/app/dashboard/type/user-project.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.scss
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.spec.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/service/workflow-collab/workflow-collab.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/joint-graph-wrapper.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/new-gui/yarn.lock
Labels: fix

#1451 Disable google export
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
Labels: gui

#1448 Enlarge Python test timeout
  core/amber/src/main/python/core/runnables/test_data_processor.py
  core/amber/src/main/python/core/runnables/test_network_receiver.py
  core/amber/src/main/python/core/runnables/test_network_sender.py
  core/amber/src/main/python/core/util/customized_queue/test_double_blocking_queue.py
Labels: fix

#1414 Reshape 5/5: Mitigating the detected skew
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlreturns.proto
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Workflow.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/WorkflowReshapeState.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/MonitoringHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/SkewDetectionHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/TupleToBatchConverter.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/ParallelBatchingPartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/PauseSkewMitigationHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/SharePartitionHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/Constants.scala
Labels: enhancement

#1455 Fix workflow current version number
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowVersionResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionsMetadataPersistService.scala
Labels: bug, fix

#1457 Enlarge debounce time to reduce double persisting
  core/new-gui/src/app/workspace/component/workspace.component.ts
Labels: fix
