Repository apache/texera, pull requests merged in 2022-03, with the labels that each got.

#1453 Separate workflow state and job state in web server
  core/amber/src/main/protobuf/edu/uci/ics/texera/workflowruntimestate.proto
  core/amber/src/main/scala/edu/uci/ics/texera/web/SessionState.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/WorkflowLifecycleManager.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobBreakpointService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobPythonService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobRuntimeService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobStatsService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowJobService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/storage/JobStateStore.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/storage/StateStore.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/storage/WorkflowStateStore.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/JobMetadataStore.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/WorkflowruntimestateProto.scala
Labels: bug, web

#1417 Add Workflow Comments
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/type/workflow.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/comment-box-modal/nz-modal-comment-box.component.html
  core/new-gui/src/app/workspace/component/workflow-editor/comment-box-modal/nz-modal-comment-box.component.scss
  core/new-gui/src/app/workspace/component/workflow-editor/comment-box-modal/nz-modal-comment-box.component.spec.ts
  core/new-gui/src/app/workspace/component/workflow-editor/comment-box-modal/nz-modal-comment-box.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.spec.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/joint-graph-wrapper.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/mock-workflow-data.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.spec.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
  core/new-gui/src/app/workspace/service/workflow-graph/util/workflow-util.service.ts
  core/new-gui/src/app/workspace/types/command.interface.ts
  core/new-gui/src/app/workspace/types/workflow-common.interface.ts
  core/new-gui/src/assets/operator_images/icons8-chat_bubble.png
Labels: enhancement

#1373 Implement Texera User Avatars Featuer
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/JwtAuth.scala
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/service/user/auth.service.ts
  core/new-gui/src/app/common/service/user/stub-user.service.ts
  core/new-gui/src/app/common/type/user.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-icon.component.html
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-icon.component.scss
  core/new-gui/src/app/dashboard/component/user-avatar/user-avatar.component.html
  core/new-gui/src/app/dashboard/component/user-avatar/user-avatar.component.scss
  core/new-gui/src/app/dashboard/component/user-avatar/user-avatar.component.spec.ts
  core/new-gui/src/app/dashboard/component/user-avatar/user-avatar.component.ts
  core/new-gui/src/app/dashboard/type/google-api-response.ts
  core/new-gui/src/environments/environment.default.ts
Labels: enhancement

#1464 Fix backward compatiblity of comments
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
Labels: bug, fix

#1429 Null/Is Not Null Filter Support & Unit Tests
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/filter/ComparisonType.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/filter/FilterPredicate.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/filter/SpecializedFilterOpExec.java
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/specializedFilter/SpecializedFilterOpExecSpec.scala
Labels: enhancement, fix

#1460 Shared Editing Enhancement
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor-dialog.component.ts
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.html
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.scss
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.spec.ts
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.scss
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.html
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/service/undo-redo/undo-redo.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/new-gui/src/app/workspace/types/command.interface.ts
Labels: enhancement, gui

#1459 Allow users to rename projected columns
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/AttributeUnit.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpDescSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpExecSpec.scala
Labels: enhancement

#1469 Deployment configuration fix
  core/amber/src/main/resources/logback.xml
  core/amber/src/main/resources/web-config.yml
  core/scripts/depoly-daemon.sh
Labels: general, config, fix

#1471 Optimize backend CI
  .github/workflows/github-action-build.yml
  core/amber/build.sbt
  core/amber/project/build.properties
  core/amber/src/main/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkCommunicationActor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/project/ProjectResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/lineChart/LineChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/lineChart/LineChartOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/tuple/TupleSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/difference/DifferenceOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/intervalJoin/IntervalOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/symmetricDifference/SymmetricDifferenceOpExecSpec.scala
  core/util/project/build.properties
Labels: general, dependencies

#1472 Fix jointjs mouse hover on new version
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
Labels: gui, fix

#1474 Drop Python 3.6 support
  .github/workflows/github-action-build.yml
Labels: general, dependencies

#1435 Bugfix load workflow opt
  core/new-gui/src/app/common/util/context.ts
  core/new-gui/src/app/dashboard/service/workflow-version/workflow-version.service.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/joint-graph-wrapper.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/new-gui/src/environments/environment.default.ts
Labels: bug, gui, fix

#1477 Revert sbt version to 1.5.5
  core/amber/project/build.properties
  core/util/project/build.properties
Labels: dependencies, fix

#1478 Enrich user data in TwitterFullArchiveSearch operator
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpExec.scala
Labels: enhancement

#1473 Fix backend complier warnings
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/SkewDetectionHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/client/ClientActor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/SQLSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/asterixdb/AsterixDBSourceOpExec.scala
Labels: fix

#1482 Improve frontend stability
  core/new-gui/src/app/dashboard/service/workflow-version/workflow-version.service.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/operator-panel/operator-label/operator-label.component.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
Labels: gui, fix

#1483 Enable configuration on Python worker number
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OneToOneOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/filter/SpecializedFilterOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sentiment/SentimentAnalysisOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/typecasting/TypeCastingOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV1/PythonUDFOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV2/PythonUDFOpDescV2.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV2/source/PythonUDFSourceOpDescV2.java
Labels: enhancement

#1484 Add virtual scroll to user dashboard to speed up UI
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.scss
Labels: gui, fix

#1487 Add new AttributeType.Binary
  core/amber/src/main/python/core/models/tuple.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/util/arrow_utils.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/ArrowUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/schema/AttributeType.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/schema/AttributeTypeUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/SQLSourceOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/pythonworker/ArrowUtilsSpec.scala
Labels: enhancement

#1488 Fix frontend bugs on debug panel and result panel after updating libraries
  core/new-gui/src/app/workspace/component/result-panel/debugger-frame/debugger-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
Labels: bug, fix
