Repository apache/texera, pull requests merged in 2022-06, with the labels that each got.

#1533 Disable credit test as it is flaky
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
Labels: testing

#1532 Upgrade Arrow to 8.0.0
  core/amber/build.sbt
  core/amber/requirements.txt
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyServer.scala
Labels: dependencies

#1479 Formly field CSS override
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
Labels: enhancement

#1528 Add color to user projects
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/UserProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/UserProjectDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IUserProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/UserProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/UserProjectRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/project/ProjectResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowResource.scala
  core/new-gui/package.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/ngbd-modal-file-share-access/ngbd-modal-user-file-share-access.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-list.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-list.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-list.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-add-project-workflow/ngbd-modal-add-project-workflow.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/user-project-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/user-project-section.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/user-project-section.component.ts
  core/new-gui/src/app/dashboard/service/user-file/user-file.service.spec.ts
  core/new-gui/src/app/dashboard/service/user-project/user-project.service.ts
  core/new-gui/src/app/dashboard/type/dashboard-user-file-entry.ts
  core/new-gui/src/app/dashboard/type/dashboard-workflow-entry.ts
  core/new-gui/src/app/dashboard/type/user-project.ts
  core/new-gui/yarn.lock
  core/scripts/sql/texera_ddl.sql
Labels: enhancement

#1534 Fix CSV reader schema inference
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpDesc.scala
Labels: bug, fix

#1539 Fix difference op execution dependency
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/difference/DifferenceOpExecConf.scala
Labels: fix

#1538 Fix scripts
  core/scripts/deploy-daemon.sh
  core/scripts/python-proto-gen.sh
Labels: general, fix

#1526 Changed word cloud operator icon
  core/new-gui/src/assets/operator_images/WordCloud.png
Labels: enhancement, gui

#1503 Show workflow version difference
  core/new-gui/src/app/dashboard/service/workflow-version/workflow-version.service.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
Labels: enhancement

#1536 Fix persisting workflow without a project
  core/new-gui/src/app/workspace/component/workspace.component.ts
Labels: bug, fix

#1535 Fix fetching user file list in frontend
  core/new-gui/src/app/dashboard/service/user-file/user-file.service.ts
Labels: bug, fix

#1527 Improve the file name of operator result export
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/request/ResultExportRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/new-gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: enhancement

#1485 Add interactive workflow comments
  core/new-gui/src/app/workspace/component/workflow-editor/comment-box-modal/nz-modal-comment-box.component.html
  core/new-gui/src/app/workspace/component/workflow-editor/comment-box-modal/nz-modal-comment-box.component.scss
  core/new-gui/src/app/workspace/component/workflow-editor/comment-box-modal/nz-modal-comment-box.component.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
  core/new-gui/src/app/workspace/types/command.interface.ts
Labels: enhancement

#1475 Add Python 3.10 support in PyAmber
  .github/workflows/github-action-build.yml
  core/amber/requirements.txt
Labels: dependencies

#1542 Fix grids reappearing after dragging the canvas
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: gui, fix

#1518 Enforcing backpressure when credits are low
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/BatchToTupleConverter.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/FlowControl.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkCommunicationActor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkInputPort.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonWorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerInternalQueue.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/BackpressureHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/ResumeHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/Constants.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/ambermessage/WorkflowMessage.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/control/TrivialControlSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/control/utils/TrivialControlTester.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkInputPortSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
Labels: feature-request
