Repository apache/texera, pull requests merged in 2022-11, with the labels that each got.

#1554 Amber Fault Tolerance: Logging
  core/amber/build.sbt
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/common/WorkflowActor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/AsyncLogWriter.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/DeterminantLogger.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/LogManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/service/TimeService.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/storage/DeterminantLogStorage.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/storage/HDFSLogStorage.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/storage/LocalFSLogStorage.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerInternalQueue.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/IOperatorExecutor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorContext.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/BatchToTupleConverterSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
Labels: enhancement, engine

#1671 Amber Fault Tolerance: Local Recovery
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/common/WorkflowActor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/MonitoringHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerLayer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/AsyncLogWriter.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/DeterminantLogger.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/DeterminantLoggerImpl.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/EmptyDeterminantLogger.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/EmptyLogManagerImpl.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/LogManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/LogManagerImpl.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/storage/DeterminantLogStorage.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/storage/EmptyLogStorage.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/storage/HDFSLogStorage.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/storage/LocalFSLogStorage.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkCommunicationActor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkInputPort.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OrderingEnforcer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/TupleToBatchConverter.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonWorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/recovery/FIFOStateRecoveryManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/recovery/LocalRecoveryManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/recovery/RecordIterator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/ParallelBatchingPartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerInternalQueue.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/MonitoringHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/OpenOperatorHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/ShutdownDPThreadHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/StartHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/statetransition/WorkerStateManager.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/control/TrivialControlSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/control/utils/TrivialControlTester.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/BatchToTupleConverterSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/RecoverySpec.scala
Labels: enhancement, engine

#1677 Amber Fault Tolerance: Global Recovery and Detection
  core/amber/src/main/protobuf/edu/uci/ics/texera/workflowruntimestate.proto
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/clustering/ClusterListener.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/common/WorkflowActor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerEvent.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Workflow.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/LinkWorkersHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/StartWorkflowHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerInfo.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerLayer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/AsyncLogWriter.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/LogManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/storage/DeterminantLogStorage.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/storage/EmptyLogStorage.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/storage/HDFSLogStorage.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/storage/LocalFSLogStorage.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/CongestionControl.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkCommunicationActor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonWorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/recovery/FIFOStateRecoveryManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/recovery/GlobalRecoveryManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/recovery/LocalRecoveryManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/recovery/RecordIterator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerInternalQueue.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/ShutdownDPThreadHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/ambermessage/RecoveryPayload.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/ambermessage/WorkflowMessage.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/client/AmberClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/client/ClientActor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/Utils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionsMetadataPersistService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobRuntimeService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobStatsService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowJobService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/JobMetadataStore.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/WorkflowAggregatedState.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/WorkflowruntimestateProto.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/control/utils/TrivialControlTester.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowSchedulerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/RecoverySpec.scala
Labels: enhancement, engine

#1712 Add Collaborative Operator Property Form Editor
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/formly/collab-wrapper/collab-wrapper/collab-wrapper.component.css
  core/new-gui/src/app/common/formly/collab-wrapper/collab-wrapper/collab-wrapper.component.html
  core/new-gui/src/app/common/formly/collab-wrapper/collab-wrapper/collab-wrapper.component.ts
  core/new-gui/src/app/common/formly/formly-config.ts
  core/new-gui/src/app/common/formly/formly-utils.ts
  core/new-gui/src/app/common/type/user.ts
  core/new-gui/src/app/workspace/component/property-editor/breakpoint-property-edit-frame/breakpoint-property-edit-frame.component.spec.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.spec.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.spec.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/coeditor-presence.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/shared-model.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
  core/new-gui/src/app/workspace/types/shared-editing.interface.ts
Labels: enhancement, gui

#1688 Add autocomplete to filename in file scan operators
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileResource.scala
  core/new-gui/package.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/formly/formly-config.ts
  core/new-gui/src/app/dashboard/service/user-file/stub-user-file-service.ts
  core/new-gui/src/app/dashboard/service/user-file/user-file.service.ts
  core/new-gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.html
  core/new-gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.scss
  core/new-gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.spec.ts
  core/new-gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/yarn.lock
Labels: enhancement

#1652 Present Execution data through charts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.ts
Labels: enhancement, gui, undergrad-task

#1614 Enable multiple deletion and bookmarking for executions
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowExecutionsResource.scala
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.ts
  core/new-gui/src/app/dashboard/service/workflow-executions/workflow-executions.service.ts
Labels: enhancement, undergrad-task

#1728 Fix ESLint violations
  core/new-gui/src/app/common/formly/collab-wrapper/collab-wrapper/collab-wrapper.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-list.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/user-project-section.component.html
  core/new-gui/src/app/workspace/component/result-panel/result-panel-modal.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.html
  core/new-gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.html
  core/new-gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.html
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: bug, gui, fix

#1726 Enforce ESLint check in CI
  core/new-gui/package.json
Labels: gui, testing

#1735 Remove workflow Snapshot generated table files
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowSnapshot.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowSnapshotDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowSnapshot.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowSnapshot.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowSnapshotRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowSnapshotResource.scala
Labels: bug, fix

#1732 Fix sbt warnings during compilation
  core/amber/src/main/scala/edu/uci/ics/amber/clustering/ClusterListener.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/LinkCompletedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/RegionsTimeSlotExpiredHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/SkewDetectionHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/AsyncLogWriter.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/recovery/LocalRecoveryManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/AcceptImmutableStateHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/AcceptMutableStateHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/SendImmutableStateOrNotifyHelperHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/ShutdownDPThreadHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/ambermessage/RecoveryPayload.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/client/AmberClient.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpExec.scala
Labels: fix

#1742 Optimize Python process proxy connection
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
Labels: bug, fix

#1725 Change Python's InternalQueue to use LinkedBlockingMultiQueue
  core/amber/src/main/python/core/architecture/handlers/monitoring_handler.py
  core/amber/src/main/python/core/architecture/handlers/start_worker_handler.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_client.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_server.py
  core/amber/src/main/python/core/models/__init__.py
  core/amber/src/main/python/core/models/internal_queue.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/runnables/network_receiver.py
  core/amber/src/main/python/core/runnables/network_sender.py
  core/amber/src/main/python/core/runnables/test_data_processor.py
  core/amber/src/main/python/core/runnables/test_network_receiver.py
  core/amber/src/main/python/core/util/__init__.py
  core/amber/src/main/python/core/util/customized_queue/__init__.py
  core/amber/src/main/python/core/util/customized_queue/double_blocking_queue.py
  core/amber/src/main/python/core/util/customized_queue/inner.py
  core/amber/src/main/python/core/util/customized_queue/linked_blocking_multi_queue.py
  core/amber/src/main/python/core/util/customized_queue/queue_base.py
  core/amber/src/main/python/core/util/customized_queue/test_linked_blocking_multi_queue.py
  core/amber/src/main/python/core/util/stoppable/stoppable_queue_blocking_thread.py
  core/amber/src/main/python/core/util/thread/__init__.py
  core/amber/src/main/python/core/util/thread/atomic.py
Labels: engine, Python

#1717 Use two threads to replace coroutines in Python data processing
  core/amber/src/main/python/core/architecture/handlers/evaluate_expression_handler.py
  core/amber/src/main/python/core/architecture/handlers/initialize_operator_logic_handler.py
  core/amber/src/main/python/core/architecture/handlers/modify_operator_logic_handler.py
  core/amber/src/main/python/core/architecture/handlers/open_operator_handler.py
  core/amber/src/main/python/core/architecture/handlers/pause_worker_handler.py
  core/amber/src/main/python/core/architecture/handlers/replay_current_tuple_handler.py
  core/amber/src/main/python/core/architecture/handlers/resume_worker_handler.py
  core/amber/src/main/python/core/architecture/handlers/scheduler_time_slot_event_handler.py
  core/amber/src/main/python/core/architecture/handlers/start_worker_handler.py
  core/amber/src/main/python/core/architecture/managers/context.py
  core/amber/src/main/python/core/architecture/managers/exception_manager.py
  core/amber/src/main/python/core/architecture/managers/operator_manager.py
  core/amber/src/main/python/core/architecture/managers/tuple_processing_manager.py
  core/amber/src/main/python/core/models/__init__.py
  core/amber/src/main/python/core/python_worker.py
  core/amber/src/main/python/core/runnables/__init__.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/runnables/test_main_loop.py
  core/amber/src/main/python/core/util/customized_queue/double_blocking_queue.py
Labels: enhancement, engine, Python

#1744 Materialize Python UDF code for debugger to match source
  core/amber/requirements.txt
  core/amber/src/main/python/core/architecture/handlers/initialize_operator_logic_handler.py
  core/amber/src/main/python/core/architecture/handlers/modify_operator_logic_handler.py
  core/amber/src/main/python/core/architecture/managers/context.py
  core/amber/src/main/python/core/architecture/managers/operator_manager.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/util/operator/__init__.py
Labels: enhancement, engine, dependencies, Python
