Repository apache/texera, pull requests merged in 2022-12, with the labels that each got.

#1751 Refactor Python print logic
  core/amber/src/main/python/core/architecture/handlers/initialize_operator_logic_handler.py
  core/amber/src/main/python/core/architecture/handlers/modify_operator_logic_handler.py
  core/amber/src/main/python/core/architecture/managers/console_message_manager.py
  core/amber/src/main/python/core/architecture/managers/context.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/runnables/test_main_loop.py
  core/amber/src/main/python/core/util/buffer/buffer_base.py
  core/amber/src/main/python/core/util/buffer/timed_buffer.py
  core/amber/src/main/python/core/util/console_message/replace_print.py
  core/amber/src/main/python/core/util/customized_queue/queue_base.py
  core/amber/src/main/python/core/util/print_writer/stream_to_logger_adaptor.py
  core/amber/src/main/python/core/util/protocol/base_protocols.py
  core/amber/src/main/python/pytexera/udf/examples/echo_operator.py
  core/amber/src/main/python/texera_run_python_worker.py
Labels: engine, Python, refactoring

#1752 Add source in console message
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/protobuf/edu/uci/ics/texera/workflowruntimestate.proto
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/util/buffer/timed_buffer.py
  core/amber/src/main/python/core/util/console_message/replace_print.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/texera/web/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerEvent.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PythonConsoleMessageHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/event/TexeraWebSocketEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/event/python/ConsoleUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/event/python/PythonConsoleUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobPythonService.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/ConsoleMessage.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/PythonOperatorInfo.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/PythonWorkerInfo.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/WorkflowruntimestateProto.scala
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.html
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.ts
  core/new-gui/src/app/workspace/service/workflow-console/workflow-console.service.ts
  core/new-gui/src/app/workspace/types/workflow-common.interface.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: enhancement, gui, Python

#1733 Fix Path Check Condition
  core/amber/src/main/scala/edu/uci/ics/texera/web/OPversion.java
Labels: bug, fix

#1745 Remove dictionary_keyword table
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/KeywordDictionary.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/KeywordDictionaryDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IKeywordDictionary.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/KeywordDictionary.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/KeywordDictionaryRecord.java
Labels: ddl-change

#1749 Add clipboard reading access denied warning
  core/new-gui/src/app/workspace/service/operator-menu/operator-menu.service.ts
Labels: gui

#1740 Fix Key Not Found in InputSchemaMap in WorkflowPipelinedRegionsBuilder
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowPipelinedRegionsBuilder.scala
Labels: bug, fix

#1765 Temporary fix for ubuntu CI missing libncurses.so
  .github/workflows/github-action-build.yml
Labels: fix, testing

#1754 Introduce Debug Command to Worker
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/protobuf/edu/uci/ics/texera/workflowruntimestate.proto
  core/amber/src/main/python/core/architecture/handlers/debug_command_handler.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_server.py
  core/amber/src/main/python/core/util/console_message/timed_buffer.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/texera/web/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerEvent.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Workflow.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/DebugCommandHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/promisehandlers/WorkerDebugCommandHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/event/TexeraWebSocketEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/event/WorkerAssignmentUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/request/TexeraWebSocketRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/request/python/DebugCommandRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobPythonService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobStatsService.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/JobMetadataStore.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/JobStatsStore.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/OperatorRuntimeStats.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/OperatorWorkerMapping.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/WorkflowruntimestateProto.scala
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.html
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: enhancement, engine, gui, Python

#1755 Introduce Line Debugger for Python UDF
  core/amber/src/main/python/core/architecture/handlers/debug_command_handler.py
  core/amber/src/main/python/core/architecture/handlers/pause_worker_handler.py
  core/amber/src/main/python/core/architecture/handlers/resume_worker_handler.py
  core/amber/src/main/python/core/architecture/managers/context.py
  core/amber/src/main/python/core/architecture/managers/debug_manager.py
  core/amber/src/main/python/core/architecture/managers/tuple_processing_manager.py
  core/amber/src/main/python/core/models/single_blocking_io.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/util/console_message/replace_print.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerEvent.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/DebugCommandHandler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobPythonService.scala
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.ts
Labels: enhancement, engine, Python

#1766 Remove dictionary_keyword in DDL file
  core/scripts/sql/texera_ddl.sql
Labels: ddl-change, fix

#1756 Introduce login page as homepage
  core/new-gui/src/app/app-routing.module.ts
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/service/auth-guard/auth-guard.service.spec.ts
  core/new-gui/src/app/common/service/auth-guard/auth-guard.service.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-icon.component.html
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-icon.component.scss
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-icon.component.spec.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-icon.component.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/user-login-modal.component.html
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/user-login-modal.component.scss
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/user-login-modal.component.spec.ts
  core/new-gui/src/app/home/component/home.component.html
  core/new-gui/src/app/home/component/home.component.scss
  core/new-gui/src/app/home/component/home.component.spec.ts
  core/new-gui/src/app/home/component/home.component.ts
  core/new-gui/src/app/home/component/login/google-login/google-login.component.html
  core/new-gui/src/app/home/component/login/google-login/google-login.component.scss
  core/new-gui/src/app/home/component/login/google-login/google-login.component.spec.ts
  core/new-gui/src/app/home/component/login/google-login/google-login.component.ts
  core/new-gui/src/app/home/component/login/local-login/local-login.component.html
  core/new-gui/src/app/home/component/login/local-login/local-login.component.scss
  core/new-gui/src/app/home/component/login/local-login/local-login.component.spec.ts
  core/new-gui/src/app/home/component/login/local-login/local-login.component.ts
  core/new-gui/src/assets/logos/logo.png
Labels: enhancement, gui

#1741 Fix Angular CLI script for windows
  core/new-gui/package.json
  core/new-gui/yarn.lock
Labels: bug, fix

#1764 Bump Apache Arrow to 10.0.0
  core/amber/build.sbt
  core/amber/requirements.txt
Labels: dependencies

#1763 Fix Several Components Not Disabled During Execution
  core/new-gui/src/app/dashboard/service/workflow-version/workflow-version.service.ts
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor-dialog.component.ts
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.html
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.scss
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.html
  core/new-gui/src/app/workspace/service/operator-menu/operator-menu.service.ts
Labels: bug, gui, fix

#1770 Fix login on homepage
  core/new-gui/src/app/common/service/auth-guard/auth-guard.service.ts
  core/new-gui/src/app/common/service/user/auth.service.ts
  core/new-gui/src/app/common/service/user/stub-auth.service.ts
  core/new-gui/src/app/common/service/user/user.service.spec.ts
  core/new-gui/src/app/common/service/user/user.service.ts
  core/new-gui/src/app/common/type/user.ts
  core/new-gui/src/app/home/component/login/google-login/google-login.component.ts
  core/new-gui/src/app/home/component/login/local-login/local-login.component.ts
Labels: bug, fix

#1774 Introduce backend user role system
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/GuestAuthFilter.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/SessionRole.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/SessionUser.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/UserAuthenticator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/UserRoleAuthorizer.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/KeywordDictionary.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/KeywordDictionaryDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IKeywordDictionary.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/KeywordDictionary.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/KeywordDictionaryRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/SchemaPropagationResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/SystemMetadataResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/UserConfigResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/AuthResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/project/ProjectResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowVersionResource.scala
Labels: enhancement, java

#1767 Add Descriptions to Projects
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/UserProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/UserProjectDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IUserProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/UserProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/UserProjectRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/project/ProjectResource.scala
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-list.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-list.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-list.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/user-project-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/user-project-section.component.ts
  core/new-gui/src/app/dashboard/service/user-project/user-project.service.ts
  core/new-gui/src/app/dashboard/type/user-project.ts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/projects.sql
Labels: enhancement, ddl-change

#1768 Modifying the region concept to have a single source
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/PipelinedRegion.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowPipelinedRegionsBuilder.scala
Labels: enhancement
