Repository apache/texera, pull requests merged in 2022-08, with the labels that each got.

#1603 Add import/export in workflow dashboard
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
Labels: enhancement

#1612 [Execution-master]Introduced operator stats storage and reader for MongoDB
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobStatsService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowJobService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/storage/JobStateStore.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/storage/StatStorage.scala
Labels: enhancement

#1596 Fix pagination for workflow versions
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowVersionResource.scala
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.ts
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display.component.html
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display.component.scss
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display.component.ts
  core/new-gui/src/environments/environment.default.ts
Labels: bug, gui, fix

#1611 Search Workflows Feature
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowResource.scala
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
  core/new-gui/src/app/workspace/service/operator-metadata/operator-metadata.service.ts
Labels: enhancement, gui

#1590 Record and display the upload time of user files
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/File.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/FileDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IFile.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/File.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/FileRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileResource.scala
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/ngbd-modal-file-share-access/ngbd-modal-user-file-share-access.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.ts
  core/new-gui/src/app/dashboard/service/user-file/user-file.service.spec.ts
  core/new-gui/src/app/dashboard/type/dashboard-user-file-entry.ts
  core/new-gui/src/app/dashboard/type/dashboard-workflow-entry.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.spec.ts
  core/scripts/sql/texera_ddl.sql
Labels: ddl-change

#1608 Fix Execution table format
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.ts
Labels: enhancement, gui

#1606 [Execution-master]Allow users to view a particular execution
  core/new-gui/src/app/app-routing.module.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
  core/new-gui/src/app/dashboard/service/workflow-executions/workflow-executions.service.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.scss
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/app/workspace/service/workflow-websocket/workflow-websocket.service.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: enhancement, gui

#1577 Introduce Workflow Scheduler into Amber
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/python/core/architecture/handlers/initialize_operator_logic_handler.py
  core/amber/src/main/python/core/architecture/packaging/batch_to_tuple_converter.py
  core/amber/src/main/python/core/runnables/test_data_processor.py
  core/amber/src/main/python/proto/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/texera/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/texera/web/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Workflow.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/LinkCompletedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/LinkWorkersHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/StartPipelinedRegionHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/StartWorkflowHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/WorkerExecutionCompletedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerLayer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/BatchToTupleConverter.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonWorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/promisehandlers/InitializeOperatorLogicHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/PipelinedRegion.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowPipelinedRegionsBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/AddPartitioningHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/UpdateInputLinkingHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/operators/OpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/ManyToOneOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OneToOneOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/difference/DifferenceOpExecConf.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intervalJoin/IntervalJoinExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intervalJoin/IntervalJoinOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intervalJoin/IntervalJoinOpExec.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/BatchToTupleConverterSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowPipelinedRegionsBuilderSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowSchedulerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/intervalJoin/IntervalOpExecSpec.scala
Labels: enhancement

#1631 [Execution-master] Fix minor bugs in retrieval branch
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
Labels: bug

#1630 Increase executions table window size
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
Labels: bug, enhancement, gui, fix

#1636 Introduce types of pause in Amber
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/PauseManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/PauseType.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/AcceptMutableStateHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/BackpressureHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/PauseHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/ResumeHandler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sortPartitions/SortPartitionOpExec.scala
Labels: enhancement

#1639 Fix the operator state when it has not been initialized yet
  core/amber/src/main/scala/edu/uci/ics/amber/engine/operators/OpExecConfig.scala
Labels: bug
