Repository apache/texera, pull requests merged in 2022-09, with the labels that each got.

#1616 Adding materialization when the dependent inputs of an operator are in same region
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowPipelinedRegionsBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowPipelinedRegionsBuilderSpec.scala
Labels: enhancement

#1619 Copy and Paste Operators with System Clipboard
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.spec.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/joint-graph-wrapper.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
Labels: enhancement, gui, undergrad-task

#1653 Fix the scheduler tests
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowSchedulerSpec.scala
Labels: bug

#1644 filter based on modify time
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
Labels: gui

#1626 Separate scheduling policy from scheduler
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/python/core/architecture/handlers/scheduler_time_slot_event_handler.py
  core/amber/src/main/python/core/architecture/managers/pause_manager.py
  core/amber/src/main/python/core/architecture/managers/test_pause_manager.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_server.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Workflow.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/LinkCompletedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/RegionsTimeSlotExpiredHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/StartPipelinedRegionHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/StartWorkflowHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/WorkerExecutionCompletedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/AllReadyRegions.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/SchedulingPolicy.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/SingleReadyRegion.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/SingleReadyRegionTimeInterleaved.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/PauseType.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/BackpressureHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/SchedulerTimeSlotEventHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/Constants.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowSchedulerSpec.scala
Labels: enhancement

#1675 Add Autocomplete of Target User Names for Sharing a Workflow
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-share-access/ngbd-modal-workflow-share-access.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-share-access/ngbd-modal-workflow-share-access.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-share-access/ngbd-modal-workflow-share-access.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
Labels: gui

#1672 Yjs-based Shared Editing [1/4] Change Unnecessary Event Stream APIs in WorkflowGraph
  core/new-gui/src/app/workspace/service/dynamic-schema/dynamic-schema.service.ts
  core/new-gui/src/app/workspace/service/validation/validation-workflow.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/sync-operator-group.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
Labels: gui

#1658 Add workflow description
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/Workflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/Workflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowResource.scala
  core/new-gui/src/app/common/service/workflow-persist/workflow-persist.service.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-share-access/ngbd-modal-workflow-share-access.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
  core/new-gui/src/app/dashboard/service/workflow-access/stub-workflow-access.service.ts
  core/new-gui/src/app/dashboard/service/workflow-access/workflow-access.service.spec.ts
  core/new-gui/src/app/dashboard/type/workflow-metadata.interface.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/scripts/sql/texera_ddl.sql
Labels: gui, ddl-change
