Repository apache/texera, pull requests merged in 2022-10, with the labels that each got.

#1680 Remove wid from execution table
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowExecutionsDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowExecutionsRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionsMetadataPersistService.scala
  core/scripts/sql/texera_ddl.sql
Labels: ddl-change

#1651 Allow users to name execution before running workflow
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/request/WorkflowExecuteRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionsMetadataPersistService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowJobService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.scss
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.spec.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: enhancement, gui

#1634 Introduce execution snapshot
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowSnapshot.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowExecutionsDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowSnapshotDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowSnapshot.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowSnapshot.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowExecutionsRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowSnapshotRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowSnapshotResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowVersionResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionsMetadataPersistService.scala
  core/new-gui/package.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.ts
  core/new-gui/src/app/dashboard/service/workflow-snapshot/workflow-snapshot.service.ts
  core/new-gui/src/app/dashboard/type/workflow-executions-entry.ts
  core/new-gui/src/app/dashboard/type/workflow-snapshot-entry.ts
  core/new-gui/src/app/workspace/component/workspace.component.html
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.spec.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/styles.scss
  core/new-gui/yarn.lock
  core/scripts/sql/texera_ddl.sql
Labels: enhancement, gui, ddl-change

#1617 Introduce engine version for workflow executions
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/texera/web/OPversion.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowExecutionsDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowExecutionsRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/request/WorkflowExecuteRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionsMetadataPersistService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowJobService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/OperatorMetadataGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/PropertyNameConstants.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/filter/SpecializedFilterOpExecSpec.scala
  core/new-gui/src/app/dashboard/service/workflow-version/workflow-version.service.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.html
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.scss
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.spec.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.spec.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.spec.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/service/operator-metadata/mock-operator-metadata.data.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/mock-workflow-data.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
  core/new-gui/src/app/workspace/service/workflow-graph/util/workflow-util.service.ts
  core/new-gui/src/app/workspace/types/command.interface.ts
  core/new-gui/src/app/workspace/types/operator-schema.interface.ts
  core/new-gui/src/app/workspace/types/workflow-common.interface.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
  core/scripts/sql/texera_ddl.sql
Labels: enhancement, ddl-change

#1674 Yjs-based Shared Editing [3/4] Implement New Frontend Architecture based on Yjs
  core/new-gui/package.json
  core/new-gui/proxy.config.json
  core/new-gui/src/app/common/service/user/stub-user.service.ts
  core/new-gui/src/app/common/service/user/user.service.ts
  core/new-gui/src/app/common/type/user.ts
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor-dialog.component.ts
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.html
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.scss
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.html
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/comment-box-modal/nz-modal-comment-box.component.html
  core/new-gui/src/app/workspace/component/workflow-editor/comment-box-modal/nz-modal-comment-box.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/service/undo-redo/undo-redo.service.ts
  core/new-gui/src/app/workspace/service/workflow-collab/workflow-collab.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/joint-graph-wrapper.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/shared-model-change-handler.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/shared-model.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/sync-texera-model.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
  core/new-gui/src/app/workspace/types/command.interface.ts
  core/new-gui/src/app/workspace/types/shared-editing.interface.ts
  core/new-gui/yarn.lock
  core/scripts/deploy-daemon.sh
  core/scripts/terminate-daemon.sh
Labels: enhancement, gui, dependencies, scripts, refactoring

#1676 Yjs-based Shared Editing [4/4] Add Co-editor Presence
  core/new-gui/angular.json
  core/new-gui/package.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/type/user.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-icon.component.html
  core/new-gui/src/app/dashboard/component/user-avatar/user-avatar.component.html
  core/new-gui/src/app/dashboard/component/user-avatar/user-avatar.component.ts
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor-dialog.component.html
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor-dialog.component.scss
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor-dialog.component.ts
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.ts
  core/new-gui/src/app/workspace/component/navigation/coeditor-user-icon/coeditor-user-icon/coeditor-user-icon.component.css
  core/new-gui/src/app/workspace/component/navigation/coeditor-user-icon/coeditor-user-icon/coeditor-user-icon.component.html
  core/new-gui/src/app/workspace/component/navigation/coeditor-user-icon/coeditor-user-icon/coeditor-user-icon.component.spec.ts
  core/new-gui/src/app/workspace/component/navigation/coeditor-user-icon/coeditor-user-icon/coeditor-user-icon.component.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.scss
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/coeditor-presence.service.spec.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/coeditor-presence.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/joint-graph-wrapper.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/shared-model-change-handler.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/shared-model.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
  core/new-gui/yarn.lock
Labels: enhancement, gui, testing

#1683 Add Build Support for Shared Editing Server.
  core/new-gui/src/app/workspace/service/workflow-graph/model/shared-model.ts
  core/new-gui/src/environments/environment.default.ts
  core/scripts/shared-editing-server.sh
Labels: gui, fix, scripts

#1684 Reinstate Google Login
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/user-login-modal.component.html
  core/new-gui/src/app/dashboard/component/user-avatar/user-avatar.component.ts
Labels: gui

#1685 Fix Deployment Script problems With Shared Editing Server and Monaco Dependency Problem
  core/new-gui/angular.json
  core/new-gui/package.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/yarn.lock
  core/scripts/deploy-daemon.sh
  core/scripts/terminate-daemon.sh
Labels: scripts

#1690 Fix table api name mismatch
  core/amber/src/main/python/pytexera/udf/examples/echo_table_operator.py
  core/amber/src/main/python/pytexera/udf/udf_operator.py
Labels: bug, fix

#1691 Fix Several Incompatibility of Shared Editing With Version Preview
  core/new-gui/src/app/workspace/service/workflow-graph/model/shared-model.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
Labels: fix

#1695 Remove snapshot feature and fix version pagination
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowExecutionsDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowExecutionsRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionsMetadataPersistService.scala
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.ts
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display.component.html
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/scripts/sql/texera_ddl.sql
Labels: ddl-change, fix

#1701 Bump Apache Arrow to 9.0.0
  core/amber/build.sbt
  core/amber/requirements.txt
Labels: dependencies, Python

#1707 Add description to the keyword input box of PostgreSQL Source operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/postgresql/PostgreSQLSourceOpDesc.scala
Labels: enhancement

#1706 Fix GUI not loaded caused by JWT error
  core/new-gui/package.json
  core/new-gui/yarn.lock
Labels: bug, fix

#1705 Fix CSV parser to parse null as empty strings
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpDesc.scala
Labels: bug, fix

#1703 Fix NaN in Tuple and Table by treating them as None
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/runnables/network_receiver.py
Labels: fix
