Repository apache/texera, pull requests merged in 2022-01, with the labels that each got.

#1388 Update README.md to include the Correlative Proxy Models paper
  README.md
Labels: general, publications

#1243 Pixel based scatterplot
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/Constants.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpExecConfig.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/visualization/scatterplot/ScatterplotVizOpExecSpec.scala
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.ts
Labels: enhancement

#1392 Initial Workflow Shared-editing Implementation
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/CollaborationResource.scala
  core/new-gui/src/app/common/util/url.ts
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/app/workspace/service/undo-redo/undo-redo.service.ts
  core/new-gui/src/app/workspace/service/workflow-collab/workflow-collab.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/new-gui/src/app/workspace/service/workflow-websocket/workflow-websocket.service.ts
  core/new-gui/src/environments/environment.default.ts
Labels: enhancement, web, gui

#1407 Add back workflow version related code
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.spec.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.ts
Labels: fix

#1409 Change engine status update interval from 100ms to 500ms
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
Labels: engine, config

#1363 Sink operator result storage abstraction and refactoring
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerEvent.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/QueryWorkerStatisticsHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/WorkerExecutionCompletedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/principal/OperatorStatistics.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/QueryStatisticsHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/ISinkOperatorExecutor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/ITupleSinkOperatorExecutor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/SessionState.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/OperatorResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ProgressiveResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowCacheService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowJobService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/storage/OpResultStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/storage/memory/JCSOpResultStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/storage/memory/MemoryOpResultStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/storage/mongo/MongoOpResultStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/Tuple.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/TupleUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/schema/AttributeTypeUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowInfo.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowRewriter.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/CacheSinkOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/CacheSinkOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/SimpleSinkOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/SimpleSinkOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/SinkOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/managed/ProgressiveSinkOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/managed/ProgressiveSinkOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/managed/ProgressiveSinkOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/storage/MemoryStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/storage/MongoDBStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/storage/SinkStorageReader.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/storage/SinkStorageWriter.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/cache/CacheSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/cache/CacheSourceOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/typecasting/TypeCastingUnit.java
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/TestOperators.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/Utils.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/storage/memory/JCSOpResultStorageSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/storage/memory/MemoryOpResultStorageSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowRewriterSpec.scala
Labels: enhancement, engine, refactoring

#1416 Drop result tables in MongoDB upon workflow cleanup
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/storage/OpResultStorage.scala
Labels: fix

#1394 Fix Guest Auth
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/GuestAuthFilter.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/SessionRole.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/SessionUser.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/SessionUser.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/UserAuthenticator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/UserRoleAuthorizer.scala
Labels: web, fix

#1411 Enable workflow version preview
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowVersionResource.scala
  core/new-gui/src/app/common/service/workflow-persist/workflow-persist.service.ts
  core/new-gui/src/app/dashboard/service/workflow-version/workflow-version.service.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display.component.html
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.scss
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/app/workspace/service/undo-redo/undo-redo.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
Labels: enhancement, gui

#1415 Pie chart aggregation
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpFinalExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpPartialExec.java
Labels: enhancement, fix

#1400 Remove duplicate entry for overrides package
  core/amber/requirements.txt
Labels: fix, Python

#1385 Refactoring Tuple in Python UDF
  core/amber/requirements.txt
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/python/core/architecture/handlers/initialize_operator_logic_handler.py
  core/amber/src/main/python/core/architecture/packaging/batch_to_tuple_converter.py
  core/amber/src/main/python/core/architecture/packaging/tuple_to_batch_converter.py
  core/amber/src/main/python/core/architecture/sendsemantics/hash_based_shuffle_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/one_to_one_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/round_robin_partitioner.py
  core/amber/src/main/python/core/models/__init__.py
  core/amber/src/main/python/core/models/operator.py
  core/amber/src/main/python/core/models/payload.py
  core/amber/src/main/python/core/models/table.py
  core/amber/src/main/python/core/models/test_tuple.py
  core/amber/src/main/python/core/models/tuple.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/runnables/network_receiver.py
  core/amber/src/main/python/core/runnables/network_sender.py
  core/amber/src/main/python/core/runnables/test_data_processor.py
  core/amber/src/main/python/core/runnables/test_network_receiver.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/python/pytexera/udf/examples/test_echo_operator.py
  core/amber/src/main/python/pytexera/udf/examples/test_echo_table_operator.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/promisehandlers/InitializeOperatorLogicHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV2/PythonUDFOpDescV2.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV2/PythonUDFOpExecV2.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV2/source/PythonUDFSourceOpDescV2.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV2/source/PythonUDFSourceOpExecV2.java
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
Labels: enhancement, engine, Python, refactoring

#1418 Hide the result panel when previewing a version
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
Labels: bug, gui, fix

#1419 Fix null values in pie chart
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpFinalExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpPartialExec.java
Labels: fix

#1405 Reshape 3/5: Replicate hash join build table on helper worker
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/SkewDetectionHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/AcceptImmutableStateHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/SendImmutableStateHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCServer.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExec.scala
Labels: enhancement
