Repository apache/texera, pull requests merged in 2022-05, with the labels that each got.

#1502 Add macOS in CI
  .github/workflows/github-action-build.yml
  core/new-gui/nx.json
  core/new-gui/package.json
  core/new-gui/yarn.lock
Labels: general

#1513 Adding range based shuffle partitioning
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/sendsemantics/partitionings.proto
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Workflow.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/linksemantics/RangeBasedShuffle.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/TupleToBatchConverter.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/RangeBasedShufflePartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/operators/OpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/HashOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intervalJoin/IntervalJoinExecConfig.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/sendsemantics/partitionings/Partitioning.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/sendsemantics/partitionings/PartitioningsProto.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/RangeBasedShuffleSpec.scala
Labels: enhancement

#1516 Adding credit concept to worker
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/BatchToTupleConverter.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerInternalQueue.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/Constants.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/BatchToTupleConverterSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
Labels: enhancement

#1452 Fix network receiver thread
  core/amber/src/main/python/core/proxy/test_proxy_client.py
  core/amber/src/main/python/core/proxy/test_proxy_server.py
  core/amber/src/main/python/core/python_worker.py
  core/amber/src/main/python/core/runnables/network_receiver.py
  core/amber/src/main/python/core/runnables/test_network_receiver.py
Labels: fix, Python

#1381 Add support for enabling cluster mode in scripts
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraRunWorker.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/scripts/server.sh
  core/scripts/worker.sh
Labels: general, config

#1461 Refactor User Project Section Workflows
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/project/ProjectResource.scala
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-add-project-workflow/ngbd-modal-add-project-workflow.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-add-project-workflow/ngbd-modal-add-project-workflow.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-add-project-workflow/ngbd-modal-add-project-workflow.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-remove-project-workflow/ngbd-modal-remove-project-workflow.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-remove-project-workflow/ngbd-modal-remove-project-workflow.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/ngbd-modal-remove-project-workflow/ngbd-modal-remove-project-workflow.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/user-project-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/user-project-section.component.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.html
  core/new-gui/src/app/workspace/component/workspace.component.ts
Labels: refactoring

#1480 Formly Conditional hiding
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/annotations/BatchByColumn.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/annotations/HideAnnotation.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/filter/FilterPredicate.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/SQLSourceOpDesc.scala
  core/new-gui/src/app/common/formly/formly-utils.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/types/custom-json-schema.interface.ts
Labels: enhancement

#1521 Add option to toggle canvas grids on or off
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/joint-graph-wrapper.ts
Labels: enhancement, gui

#1522 Add close button to PythonUDF code editor
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor-dialog.component.html
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor-dialog.component.scss
  core/new-gui/src/index.html
Labels: enhancement, gui

#1470 Change Login component to use ng-zorro instead of bootstrap. Remove unused components
  core/new-gui/package.json
  core/new-gui/src/app/app-routing.module.ts
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/type/user-dictionary.ts
  core/new-gui/src/app/dashboard/component/feature-bar/feature-bar.component.html
  core/new-gui/src/app/dashboard/component/feature-container/resource-section/resource-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/resource-section/resource-section.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/resource-section/resource-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/resource-section/resource-section.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/running-job-section/running-job-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/running-job-section/running-job-section.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/running-job-section/running-job-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/running-job-section/running-job-section.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/ngbd-modal-resource-add/ngbd-modal-resource-add.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/ngbd-modal-resource-add/ngbd-modal-resource-add.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/ngbd-modal-resource-add/ngbd-modal-resource-add.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/ngbd-modal-resource-add/ngbd-modal-resource-add.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/ngbd-modal-resource-delete/ngbd-modal-resource-delete.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/ngbd-modal-resource-delete/ngbd-modal-resource-delete.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/ngbd-modal-resource-delete/ngbd-modal-resource-delete.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/ngbd-modal-resource-delete/ngbd-modal-resource-delete.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/ngbd-modal-resource-view/ngbd-modal-resource-view.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/ngbd-modal-resource-view/ngbd-modal-resource-view.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/ngbd-modal-resource-view/ngbd-modal-resource-view.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/ngbd-modal-resource-view/ngbd-modal-resource-view.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/user-dictionary-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/user-dictionary-section.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/user-dictionary-section.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-dictionary-section/user-dictionary-section.component.ts
  core/new-gui/src/app/dashboard/component/top-bar/top-bar.component.spec.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-icon.component.html
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-icon.component.scss
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-icon.component.spec.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-icon.component.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/ngbdmodal-user-login.component.html
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/user-login-modal.component.html
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/user-login-modal.component.scss
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/user-login-modal.component.spec.ts
  core/new-gui/src/app/dashboard/component/top-bar/user-icon/user-login/user-login-modal.component.ts
  core/new-gui/src/app/dashboard/service/user-dictionary/user-dictionary-upload.service.spec.ts
  core/new-gui/src/app/dashboard/service/user-dictionary/user-dictionary-upload.service.ts
  core/new-gui/src/app/dashboard/service/user-dictionary/user-dictionary.service.spec.ts
  core/new-gui/src/app/dashboard/service/user-dictionary/user-dictionary.service.ts
  core/new-gui/src/app/workspace/component/property-editor/breakpoint-property-edit-frame/breakpoint-property-edit-frame.component.html
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.html
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.scss
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/new-gui/src/theme.less
  core/new-gui/yarn.lock
Labels: gui, refactoring

#1529 Update to a faster CSV parser library
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/schema/AttributeTypeUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpExec.scala
Labels: enhancement

#1523 Sort partitions operator
  core/amber/src/main/python/core/architecture/packaging/tuple_to_batch_converter.py
  core/amber/src/main/python/core/architecture/sendsemantics/range_based_shuffle_partitioner.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/sendsemantics/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/operators/sortPartitions/SortPartitionOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/operators/sortPartitions/SortPartitionsOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/operators/sortPartitions/SortPartitionsOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/sortPartitions/SortPartitionsOpExecSpec.scala
  core/new-gui/src/assets/operator_images/SortPartitions.png
Labels: enhancement
