Repository apache/texera, pull requests merged in 2023-09, with the labels that each got.

#2123 Add Storage Cleanup Logic
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionsMetadataPersistService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowJobService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/storage/OpResultStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/LogicalPlan.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/MaterializationRewriter.scala
Labels: refactoring, java

#2130 Execution Dashboard
  core/amber/src/main/protobuf/edu/uci/ics/texera/workflowruntimestate.proto
  core/amber/src/main/scala/edu/uci/ics/amber/clustering/ClusterListener.scala
  core/amber/src/main/scala/edu/uci/ics/texera/Utils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/execution/AdminExecutionResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionsMetadataPersistService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobBreakpointService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobPythonService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobRuntimeService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobStatsService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowJobService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/storage/JobStateStore.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/WorkflowAggregatedState.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/WorkflowruntimestateProto.scala
Labels: webserver

#2131 Execution dashboard frontend
  core/new-gui/src/app/app-routing.module.ts
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/type/execution.ts
  core/new-gui/src/app/common/type/user.ts
  core/new-gui/src/app/dashboard/admin/component/admin-dashboard.component.html
  core/new-gui/src/app/dashboard/admin/component/admin-dashboard.component.scss
  core/new-gui/src/app/dashboard/admin/component/admin-dashboard.component.spec.ts
  core/new-gui/src/app/dashboard/admin/component/admin-dashboard.component.ts
  core/new-gui/src/app/dashboard/admin/service/admin-execution.service.ts
  core/new-gui/src/app/dashboard/admin/service/admin-user.service.ts
  core/new-gui/src/app/dashboard/user/component/dashboard.component.html
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.html
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/types/execute-workflow.interface.ts
Labels: frontend

#2139 Disable renaming execution when the workflow is not modifiable
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
Labels: bug, gui

#2151 Fix Wordcloud Display
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.ts
Labels: fix

#2149 Add DumbbellPlot Viz Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/dumbbellPlot/DumbbellPlotOpDesc.scala
  core/new-gui/src/assets/operator_images/DumbbellPlot.png
Labels: enhancement

#2153 Bug Fix for Pagination Control Disappearing Issue (Issue #2147)
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.html
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.ts
Labels: bug, gui

#2157 Create a new wordcloud operator using Python wordcloud library
  core/amber/operator-requirements.txt
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/ImageUtility.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/ImageViz/ImageVisualizerOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/wordCloud/WordCloudV2OpDesc.scala
  core/new-gui/src/assets/operator_images/WordCloudV2.png
Labels: enhancement

#2158 Bump lbmq version to 0.6.0
  core/amber/build.sbt
Labels: dependencies

#2167 Add Python native operator dependencies
  .github/workflows/github-action-build.yml
  core/amber/operator-requirements.txt
Labels: dependencies

#2159 Fix rendering workflow after cold boot
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/SystemMetadataResource.scala
  core/new-gui/src/app/workspace/component/operator-panel/operator-panel.component.spec.ts
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/app/workspace/service/operator-metadata/operator-metadata.service.spec.ts
  core/new-gui/src/app/workspace/service/operator-metadata/operator-metadata.service.ts
  core/new-gui/src/app/workspace/service/validation/validation-workflow.service.ts
Labels: fix

#2148 Improve flow control from credit based method to message size based method
  core/amber/build.sbt
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/FlowControl.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonWorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerInternalQueue.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/Constants.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/ambermessage/DataPayload.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/ambermessage/WorkflowMessage.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/tuple/ITuple.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/tuple/amber/AmberTuple.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/Tuple.java
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/control/TrivialControlSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/control/utils/TrivialControlTester.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkInputPortSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
Labels: refactoring
