Repository apache/texera, pull requests merged in 2023-12, with the labels that each got.

#2237 Use ActorMessage for flow control
  core/amber/requirements.txt
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/common/actormessage.proto
  core/amber/src/main/python/core/architecture/handlers/__init__.py
  core/amber/src/main/python/core/architecture/handlers/actorcommand/actor_handler_base.py
  core/amber/src/main/python/core/architecture/handlers/actorcommand/backpressure_handler.py
  core/amber/src/main/python/core/architecture/handlers/actorcommand/credit_update_handler.py
  core/amber/src/main/python/core/architecture/handlers/backpressure_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/__init__.py
  core/amber/src/main/python/core/architecture/handlers/control/add_partitioning_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/control_handler_base.py
  core/amber/src/main/python/core/architecture/handlers/control/debug_command_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/evaluate_expression_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/initialize_operator_logic_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/modify_operator_logic_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/monitoring_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/no_op_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/open_operator_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/pause_worker_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/query_current_input_tuple_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/query_statistics_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/replay_current_tuple_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/resume_worker_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/scheduler_time_slot_event_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/start_worker_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/update_input_linking_handler.py
  core/amber/src/main/python/core/architecture/managers/context.py
  core/amber/src/main/python/core/architecture/managers/pause_manager.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_server.py
  core/amber/src/main/python/core/models/internal_queue.py
  core/amber/src/main/python/core/proxy/proxy_server.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/runnables/network_receiver.py
  core/amber/src/main/python/core/util/customized_queue/linked_blocking_multi_queue.py
  core/amber/src/main/python/core/util/customized_queue/test_linked_blocking_multi_queue.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/common/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonWorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/WorkerBatchInternalQueue.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DPThread.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/BackpressureHandler.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ConsoleMessage.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/LinkOrdinal.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/actormessage/ActorCommand.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/actormessage/ActormessageProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/actormessage/PythonActorMessage.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DPThreadSpec.scala
Labels: enhancement, refactoring

#2249 Storing Workflow Runtime Statistics
  core/amber/src/main/scala/edu/uci/ics/texera/Utils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowRuntimeStatistics.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowRuntimeStatisticsDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowRuntimeStatistics.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowRuntimeStatistics.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowRuntimeStatisticsRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionsMetadataPersistService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobStatsService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowJobService.scala
  core/scripts/sql/texera_ddl.sql
Labels: engine, ddl-change

#2247 Merge DebuggerFrame into ConsoleFrame
  core/amber/src/main/python/core/architecture/handlers/control/replay_current_tuple_handler.py
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/request/SkipTupleRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobConsoleService.scala
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.html
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/debugger-frame/debugger-frame.component.html
  core/new-gui/src/app/workspace/component/result-panel/debugger-frame/debugger-frame.component.scss
  core/new-gui/src/app/workspace/component/result-panel/debugger-frame/debugger-frame.component.spec.ts
  core/new-gui/src/app/workspace/component/result-panel/debugger-frame/debugger-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: gui, refactoring

#2245 Hot-reload configurations in application.conf
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/clustering/ClusterListener.scala
  core/amber/src/main/scala/edu/uci/ics/amber/clustering/SingleNodeListener.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/common/AkkaMessageTransferService.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerTimerService.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/MonitoringHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/SkewDetectionHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/OpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/AsyncLogWriter.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logging/storage/DeterminantLogStorage.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/FlowControl.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/WorkerTimerService.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/SingleReadyRegionTimeInterleaved.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/Partitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/ReshapePartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberConfig.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/Constants.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/SqlServer.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/JwtAuth.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/GmailResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/AuthResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/GoogleAuthResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowVersionResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionsMetadataPersistService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobConsoleService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobReconfigurationService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/storage/MongoDatabaseManager.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/PythonOperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/storage/OpResultStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/PartitionEnforcer.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/limit/LimitOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/randomksampling/RandomKSamplingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/reservoirsampling/ReservoirSamplingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/storage/MongoDBSinkStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/ParallelCSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/split/SplitOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowSchedulerSpec.scala
Labels: enhancement, config

#2231 Refactor replay for fault tolerance
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/common/AmberProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/GlobalReplayManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/OpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logreplay/OrderEnforcer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logreplay/ReplayLogGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logreplay/ReplayLogManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logreplay/ReplayOrderEnforcer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logreplay/storage/ReplayLogStorage.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/InputGateway.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkInputGateway.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/PauseManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/client/ClientActor.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/ReplaySpec.scala
Labels: enhancement, refactoring

#2252 Fix schema propagation in dev mode
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/WorkflowContext.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/typecasting/TypeCastingOpDesc.java
  core/new-gui/src/app/workspace/service/dynamic-schema/auto-attribute-correction/auto-attribute-correction.service.spec.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.spec.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
Labels: bug, fix

#2248 Make Left-Panel Component dragable, resizable, and collapsible
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/workspace/component/left-panel/left-panel.component.html
  core/new-gui/src/app/workspace/component/left-panel/left-panel.component.scss
  core/new-gui/src/app/workspace/component/left-panel/left-panel.component.spec.ts
  core/new-gui/src/app/workspace/component/left-panel/left-panel.component.ts
  core/new-gui/src/app/workspace/component/left-panel/operator-menu-frame/operator-label/operator-label.component.html
  core/new-gui/src/app/workspace/component/left-panel/operator-menu-frame/operator-label/operator-label.component.scss
  core/new-gui/src/app/workspace/component/left-panel/operator-menu-frame/operator-menu-frame.component.html
  core/new-gui/src/app/workspace/component/left-panel/operator-menu-frame/operator-menu-frame.component.scss
  core/new-gui/src/app/workspace/component/left-panel/operator-menu/operator-label/operator-label.component.html
  core/new-gui/src/app/workspace/component/left-panel/operator-menu/operator-label/operator-label.component.scss
  core/new-gui/src/app/workspace/component/left-panel/operator-menu/operator-label/operator-label.component.spec.ts
  core/new-gui/src/app/workspace/component/left-panel/operator-menu/operator-label/operator-label.component.ts
  core/new-gui/src/app/workspace/component/left-panel/operator-menu/operator-menu.component.html
  core/new-gui/src/app/workspace/component/left-panel/operator-menu/operator-menu.component.scss
  core/new-gui/src/app/workspace/component/left-panel/operator-menu/operator-menu.component.spec.ts
  core/new-gui/src/app/workspace/component/left-panel/operator-menu/operator-menu.component.ts
  core/new-gui/src/app/workspace/component/left-panel/versions-frame/versions-frame.component.html
  core/new-gui/src/app/workspace/component/left-panel/versions-frame/versions-frame.component.scss
  core/new-gui/src/app/workspace/component/left-panel/versions-list/versions-list.component.html
  core/new-gui/src/app/workspace/component/left-panel/versions-list/versions-list.component.scss
  core/new-gui/src/app/workspace/component/left-panel/versions-list/versions-list.component.spec.ts
  core/new-gui/src/app/workspace/component/left-panel/versions-list/versions-list.component.ts
  core/new-gui/src/app/workspace/component/menu/menu.component.html
  core/new-gui/src/app/workspace/component/menu/menu.component.scss
  core/new-gui/src/app/workspace/component/menu/menu.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.html
  core/new-gui/src/app/workspace/component/workspace.component.scss
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/styles.scss
Labels: refactoring

#2255 Refactor workflow compiler with clean data classes
  core/amber/src/main/scala/edu/uci/ics/amber/clustering/ClusterListener.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ExecutionState.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Workflow.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/LinkWorkersHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/LocalBreakpointTriggeredHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/RegionsTimeSlotExpiredHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/SkewDetectionHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/OpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExecutionPlan.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/PipelinedRegion.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowPipelinedRegionsBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/AllReadyRegions.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/SchedulingPolicy.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/SingleReadyRegionTimeInterleaved.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/request/EditingTimeCompilationRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/SchemaPropagationResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionsMetadataPersistService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/FriesReconfigurationAlgorithm.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobReconfigurationService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobStatsService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowCacheChecker.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowJobService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/WorkflowContext.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/storage/OpResultStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/LogicalPlan.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/MaterializationRewriter.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/PartitionEnforcer.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/PartitioningPlan.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/PhysicalPlan.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/SinkInjectionTransformer.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCacheRewriter.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/download/BulkDownloaderOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/storage/MemoryStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/storage/MongoDBSinkStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/storage/SinkStorageReader.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/storage/SinkStorageWriter.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/ScanSourceOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowPipelinedRegionsBuilderSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowSchedulerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/TestUtils.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/workflow/SchemaPropagationSpec.scala
  core/new-gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.ts
Labels: engine, refactoring

#2266 Fix self-message dropping during Actor initialization in Akka
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/common/WorkflowActor.scala
Labels: bug, engine, fix

#2267 Fix rerender issue for error frame
  core/new-gui/src/app/workspace/component/result-panel/error-frame/error-frame.component.html
  core/new-gui/src/app/workspace/component/result-panel/error-frame/error-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
Labels: bug, fix, frontend

#2268 Update caniuse-lite
  core/new-gui/yarn.lock
Labels: dependencies

#2265 Fix removal of LogicalLink
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/LogicalPlan.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/SinkInjectionTransformer.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCacheRewriter.scala
Labels: bug, fix

#2276 Temporarily disable skew handling and monitoring by default
  core/amber/src/main/resources/application.conf
Labels: config

#2275 Fix dropped messages during actor initialization
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/common/AkkaActorRefMappingService.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/common/WorkflowActor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ExecutionState.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/OperatorExecution.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/PhysicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerInfo.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowScheduler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/control/utils/TrivialControlTester.scala
Labels: fix

#2263 Refactor PipelineRegionBuilder into a RegionPlanGenerator
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ExecutionState.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Workflow.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/RegionsTimeSlotExpiredHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/PhysicalLink.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/PhysicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExecutionPlan.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/PipelinedRegion.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/Region.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionPlan.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowPipelinedRegionsBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/AllReadyRegions.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/SchedulingPolicy.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/SingleReadyRegion.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/SingleReadyRegionTimeInterleaved.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/FriesReconfigurationAlgorithm.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobReconfigurationService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/aggregate/AggregateOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/MaterializationRewriter.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/PhysicalPlan.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/cartesianProduct/CartesianProductOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGeneratorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowSchedulerSpec.scala
Labels: engine, refactoring

#2277 Fix runtime statistics being reset randomly during the execution
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/OperatorExecution.scala
Labels: bug, fix
