Repository apache/texera, pull requests merged in 2023-05, with the labels that each got.

#1900 Bump Apache Arrow to 11.0.0
  core/amber/build.sbt
  core/amber/requirements.txt
  core/amber/src/main/python/core/proxy/proxy_server.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
Labels: engine, Python

#1839 Refactor workflow share modal
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/common/AccessEntry.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/http/response/AccessResponse.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/http/response/OwnershipResponse.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/enums/WorkflowUserAccessPrivilege.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowUserAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowUserAccessDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowUserAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowUserAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowUserAccessRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/project/ProjectResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/workflow/WorkflowVersionResource.scala
  core/new-gui/src/app/common/service/user/auth.service.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-share-access/ngbd-modal-workflow-share-access.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-share-access/ngbd-modal-workflow-share-access.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-share-access/ngbd-modal-workflow-share-access.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-share-access/ngbd-modal-workflow-share-access.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
  core/new-gui/src/app/dashboard/service/workflow-access/stub-workflow-access.service.ts
  core/new-gui/src/app/dashboard/service/workflow-access/workflow-access.service.spec.ts
  core/new-gui/src/app/dashboard/service/workflow-access/workflow-access.service.ts
  core/new-gui/src/app/dashboard/type/access.interface.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/workflow_user_access.sql
Labels: ddl-change, refactoring

#1908 Replacing delete-prompt with nz-confirm and fixing delete project
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/component/delete-prompt/delete-prompt.component.css
  core/new-gui/src/app/dashboard/component/delete-prompt/delete-prompt.component.html
  core/new-gui/src/app/dashboard/component/delete-prompt/delete-prompt.component.spec.ts
  core/new-gui/src/app/dashboard/component/delete-prompt/delete-prompt.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/saved-workflow-section.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/user-file-section.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-list.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-list.component.ts
Labels: bug, gui, fix, refactoring

#1883 [2/2] Introduce file_of_workflow table
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/FileOfWorkflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/FileOfWorkflowDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IFileOfWorkflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/FileOfWorkflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/FileOfWorkflowRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/file/UserFileAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/file/UserFileResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/file/UserFileUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/ScanSourceOpDesc.scala
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/file_of_workflow.sql
Labels: ddl-change

#1917 Update caniuse-lite
  core/new-gui/yarn.lock
Labels: dependencies

#1919 Initialize MockTexeraDB using JDBC
  core/amber/src/test/scala/edu/uci/ics/texera/web/MockTexeraDB.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
  core/scripts/sql/texera_ddl.sql
Labels: bug, fix

#1918 Fix Arrow's alert about DoAction calls
  core/amber/src/main/python/core/proxy/proxy_client.py
Labels: fix

#1922 Add Option To Name Output Attribute In Text Source Operators
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextInputSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextInputSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextSourceOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextInputSourceOpDescSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextScanSourceOpDescSpec.scala
Labels: enhancement

#1914 Refactor file sharing
  core/amber/src/main/resources/google_api.conf
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/SessionUser.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/UserAuthenticator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/common/AccessEntry.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/http/request/auth/GrantAccessRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/enums/UserFileAccessPrivilege.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/UserFileAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/UserFileAccessDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IUserFileAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/UserFileAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/UserFileAccessRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/file/UserFileAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/file/UserFileResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/file/UserFileUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/project/ProjectResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowVersionResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/download/BulkDownloaderOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/ScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextSourceOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileResourceSpec.scala
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/user/component/share-access/share-access.component.ts
  core/new-gui/src/app/dashboard/user/component/user-file/ngbd-modal-file-add/ngbd-modal-file-add.component.html
  core/new-gui/src/app/dashboard/user/component/user-file/ngbd-modal-file-add/ngbd-modal-file-add.component.ts
  core/new-gui/src/app/dashboard/user/component/user-file/ngbd-modal-file-share-access/ngbd-modal-user-file-share-access.component.html
  core/new-gui/src/app/dashboard/user/component/user-file/ngbd-modal-file-share-access/ngbd-modal-user-file-share-access.component.scss
  core/new-gui/src/app/dashboard/user/component/user-file/ngbd-modal-file-share-access/ngbd-modal-user-file-share-access.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-file/ngbd-modal-file-share-access/ngbd-modal-user-file-share-access.component.ts
  core/new-gui/src/app/dashboard/user/component/user-file/user-file.component.html
  core/new-gui/src/app/dashboard/user/component/user-file/user-file.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-file/user-file.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-add-project-file/ngbd-modal-add-project-file.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-add-project-file/ngbd-modal-add-project-file.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-remove-project-file/ngbd-modal-remove-project-file.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-remove-project-file/ngbd-modal-remove-project-file.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/user-project-section.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/user-project-section.component.ts
  core/new-gui/src/app/dashboard/user/service/share-access/share-access.service.ts
  core/new-gui/src/app/dashboard/user/service/user-file/stub-user-file-service.ts
  core/new-gui/src/app/dashboard/user/service/user-file/user-file-upload.service.spec.ts
  core/new-gui/src/app/dashboard/user/service/user-file/user-file-upload.service.ts
  core/new-gui/src/app/dashboard/user/service/user-file/user-file.service.spec.ts
  core/new-gui/src/app/dashboard/user/service/user-file/user-file.service.ts
  core/new-gui/src/app/dashboard/user/service/user-project/user-project.service.ts
  core/new-gui/src/app/dashboard/user/type/dashboard-file.interface.ts
  core/new-gui/src/app/dashboard/user/type/share-access.interface.ts
  core/new-gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/source-tables/source-tables.service.ts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/user_file_access.sql
Labels: ddl-change

#1921 Fix Property Editor Text Field Uneditable On Creation
  core/new-gui/src/app/common/formly/collab-wrapper/collab-wrapper/collab-wrapper.component.ts
Labels: bug, gui, fix

#1927 Fix typo in google config file
  core/amber/src/main/resources/google_api.conf
Labels: fix

#1926 Fix the binary mode in Text Scan Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextScanSourceOpDesc.scala
Labels: fix

#1931 [1/3] Make Python UDF Code Editor dragable
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor-dialog.component.html
Labels: gui

#1929 Fix redirection after login token expired
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/service/user/auth.interceptor.ts
Labels: gui, fix

#1930 [2/3] Make Python UDF resizable
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor-dialog.component.scss
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor-dialog.component.ts
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.ts
Labels: gui

#1933 Update Python SourceOperator API
  core/amber/src/main/python/core/architecture/managers/operator_manager.py
  core/amber/src/main/python/core/models/__init__.py
  core/amber/src/main/python/core/models/operator.py
  core/amber/src/main/python/pyamber/__init__.py
  core/amber/src/main/python/pytexera/__init__.py
  core/amber/src/main/python/pytexera/udf/examples/generator_operator.py
  core/amber/src/main/python/pytexera/udf/examples/test_generator_operator.py
  core/amber/src/main/python/pytexera/udf/udf_operator.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/ISourceOperatorExecutor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/source/SourceOperatorExecutor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV2/source/PythonUDFSourceOpDescV2.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV2/source/PythonUDFSourceOpExecV2.java
Labels: engine, Python

#1939 Fix the mongoDB storage for binary field type
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/TupleUtils.scala
Labels: bug

#1935 Refactored each project list item into its own component
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.css
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/user-project.component.scss
  core/new-gui/src/app/dashboard/user/component/user-project/user-project.component.ts
  core/new-gui/src/app/dashboard/user/type/user-project.ts
Labels: refactoring

#1937 Refactored each workflow list item into its own component
  core/new-gui/.eslintrc.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/dashboard-workflow-entry-view-model.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.html
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.scss
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-test-fixtures.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.html
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.scss
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.ts
Labels: refactoring
