Repository apache/texera, pull requests merged in 2023-04, with the labels that each got.

#1875 Use memory storage for HTML visualization sink operators
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/storage/OpResultStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/LogicalPlan.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/MaterializationRewriter.scala
Labels: engine, fix

#1773 Console UI redesign
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.html
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.scss
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.ts
Labels: enhancement, gui

#1869 Update Twitter Source Operator Query Limit Description
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterSearchSourceOpDesc.scala
Labels: enhancement

#1757 [1/6] Abstract Mongo reader and writer
  core/amber/src/main/scala/edu/uci/ics/texera/web/storage/MongoCollectionManager.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/storage/MongoDatabaseManager.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/storage/OpResultStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/storage/MongoDBSinkStorage.scala
Labels: refactoring
