Repository apache/texera, pull requests merged in 2023-02, with the labels that each got.

#1819 Enable local user with googleId to login
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/AuthResource.scala
Labels: enhancement

#1820 Introduce user email in frontend
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/JwtAuth.scala
  core/new-gui/src/app/common/service/user/auth.service.ts
  core/new-gui/src/app/common/service/user/stub-user.service.ts
  core/new-gui/src/app/common/type/user.ts
  core/new-gui/src/app/workspace/component/navigation/coeditor-user-icon/coeditor-user-icon/coeditor-user-icon.component.ts
Labels: enhancement

#1821 Fix google avatar display error
  core/new-gui/src/app/dashboard/component/user-avatar/user-avatar.component.html
Labels: fix

#1818 Make user email UNIQUE in DDL
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/User.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/UserDao.java
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/user.sql
Labels: ddl-change

#1825 Refactor partitioner module of data processor
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/TupleToBatchConverter.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/HashBasedShufflePartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/OneToOnePartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/Partitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/RangeBasedShufflePartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/ReshapePartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/RoundRobinPartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/AddPartitioningHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/MonitoringHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/PauseSkewMitigationHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/SharePartitionHandler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManagerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/RangeBasedShuffleSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
Labels: engine, refactoring, java

#1826 Add time-based batch in network output buffer
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/FlushNetworkBufferHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/ResumeHandler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
Labels: enhancement, engine, java

#1824 Refine dashboard menu
  core/new-gui/src/app/app.component.scss
  core/new-gui/src/app/app.component.spec.ts
  core/new-gui/src/app/app.component.ts
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/component/dashboard.component.html
  core/new-gui/src/app/dashboard/component/dashboard.component.scss
  core/new-gui/src/app/dashboard/component/dashboard.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-bar/feature-bar.component.html
  core/new-gui/src/app/dashboard/component/feature-bar/feature-bar.component.scss
  core/new-gui/src/app/dashboard/component/feature-bar/feature-bar.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-bar/feature-bar.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/feature-container.component.html
  core/new-gui/src/app/dashboard/component/feature-container/feature-container.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/feature-container.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/feature-container.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-add-workflow/ngbd-modal-add-workflow.component.scss
  core/new-gui/src/app/dashboard/component/top-bar/top-bar.component.html
  core/new-gui/src/app/dashboard/component/top-bar/top-bar.component.scss
  core/new-gui/src/app/dashboard/component/top-bar/top-bar.component.spec.ts
  core/new-gui/src/app/dashboard/component/top-bar/top-bar.component.ts
  core/new-gui/src/app/dashboard/component/user-icon/user-icon.component.html
  core/new-gui/src/app/dashboard/component/user-icon/user-icon.component.scss
  core/new-gui/src/app/dashboard/component/user-icon/user-icon.component.spec.ts
  core/new-gui/src/app/dashboard/component/user-icon/user-icon.component.ts
  core/new-gui/src/app/home/component/home.component.html
  core/new-gui/src/app/home/component/home.component.scss
  core/new-gui/src/app/home/component/login/google-login/google-login.component.spec.ts
  core/new-gui/src/app/home/component/login/local-login/local-login.component.spec.ts
Labels: gui, refactoring

#1822 Introduce frontend admin role check
  core/new-gui/src/app/common/service/user/stub-user.service.ts
  core/new-gui/src/app/common/service/user/user.service.ts
Labels: enhancement

#1829 Rename uid in the file table to owner_uid
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/File.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/FileDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IFile.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/File.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/FileRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/project/ProjectResource.scala
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/file.sql
Labels: ddl-change

#1828 Increase content field size in workflow table
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/workflow.sql
Labels: ddl-change, fix

#1823 Refine Download Operator and add URL Fetcher Operator
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/file/UserFileResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/download/BulkDownloaderOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/download/BulkDownloaderOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/fetcher/DecodingMethod.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/fetcher/URLFetcherOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/fetcher/URLFetcherOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/download/BulkDownloaderOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/source/fetcher/URLFetcherOpExecSpec.scala
  core/new-gui/src/assets/operator_images/BulkDownloader.png
  core/new-gui/src/assets/operator_images/URLFetcher.png
Labels: enhancement

#1802 Update Project Description Feature
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/Project.java
  core/new-gui/angular.json
  core/new-gui/package.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-list.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-list.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-list.component.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/user-project-section.component.html
  core/new-gui/src/app/dashboard/component/feature-container/user-project-list/user-project-section/user-project-section.component.scss
  core/new-gui/src/styles.scss
  core/new-gui/yarn.lock
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/projects.sql
Labels: enhancement, ddl-change

#1835 Fix number of worker for URL fetcher
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/fetcher/URLFetcherOpDesc.scala
Labels: bug, fix

#1833 Remove NgbdModalAddWorkflowComponent
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-add-workflow/ngbd-modal-add-workflow.component.html
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-add-workflow/ngbd-modal-add-workflow.component.scss
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-add-workflow/ngbd-modal-add-workflow.component.spec.ts
  core/new-gui/src/app/dashboard/component/feature-container/saved-workflow-section/ngbd-modal-add-workflow/ngbd-modal-add-workflow.component.ts
Labels: refactoring

#1813 Introduce admin dashboard: User
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/GoogleAuthResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
  core/new-gui/src/app/app-routing.module.ts
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/service/auth-guard/auth-guard.service.spec.ts
  core/new-gui/src/app/common/service/user/auth-guard.service.ts
  core/new-gui/src/app/common/service/user/stub-user.service.ts
  core/new-gui/src/app/common/type/user.ts
  core/new-gui/src/app/dashboard/admin/component/admin-user.component.html
  core/new-gui/src/app/dashboard/admin/component/admin-user.component.scss
  core/new-gui/src/app/dashboard/admin/component/admin-user.component.spec.ts
  core/new-gui/src/app/dashboard/admin/component/admin-user.component.ts
  core/new-gui/src/app/dashboard/admin/service/admin-guard.service.ts
  core/new-gui/src/app/dashboard/admin/service/admin-user.service.ts
  core/new-gui/src/app/dashboard/component/dashboard.component.html
  core/new-gui/src/app/dashboard/component/dashboard.component.scss
  core/new-gui/src/app/dashboard/component/dashboard.component.ts
  core/new-gui/src/app/workspace/component/navigation/coeditor-user-icon/coeditor-user-icon/coeditor-user-icon.component.ts
  core/new-gui/src/styles.scss
Labels: enhancement, gui

#1832 Refactor google login API
  core/amber/src/main/resources/google_api.conf
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/http/request/auth/GoogleUserLoginRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/GoogleAuthResource.scala
  core/new-gui/package.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/service/user/auth.service.ts
  core/new-gui/src/app/common/service/user/user.service.ts
  core/new-gui/src/app/dashboard/component/feature-container/user-file-section/ngbd-modal-file-share-access/ngbd-modal-user-file-share-access.component.spec.ts
  core/new-gui/src/app/dashboard/component/user-avatar/user-avatar.component.html
  core/new-gui/src/app/home/component/home.component.html
  core/new-gui/src/app/home/component/home.component.spec.ts
  core/new-gui/src/app/home/component/home.component.ts
  core/new-gui/src/app/home/component/login/google-login/google-login.component.html
  core/new-gui/src/app/home/component/login/google-login/google-login.component.scss
  core/new-gui/src/app/home/component/login/google-login/google-login.component.ts
  core/new-gui/src/app/home/service/google.service.ts
  core/new-gui/src/index.html
  core/new-gui/src/tsconfig.app.json
  core/new-gui/src/tsconfig.spec.json
  core/new-gui/yarn.lock
Labels: enhancement, gui, dependencies, refactoring

#1837 Fix sort and search for the admin dashboard
  core/new-gui/src/app/dashboard/admin/component/admin-user.component.ts
Labels: fix

#1842 Mitigate OOM by correctly turning off output message saving for fault tolerance
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/common/WorkflowActor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkCommunicationActor.scala
Labels: bug
