Repository apache/texera, pull requests merged in 2023-03, with the labels that each got.

#1798 Support Multiple Aggregation Functions in Aggregation Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/aggregate/AggregateOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/aggregate/DistributedAggregation.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/aggregate/FinalAggregateOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/aggregate/PartialAggregateOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/Tuple.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/AggregationOperation.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/SpecializedAggregateOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/SpecializedAverageOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/AggregatedVizOpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/barChart/BarChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/lineChart/LineChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpFinalExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpPartialExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/wordCloud/WordCloudOpFinalExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/wordCloud/WordCloudOpPartialExec.java
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/TestOperators.scala
Labels: enhancement

#1859 Fix minor test case error after #1844
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/split/SplitOpExec.scala
Labels: bug, fix

#1846 Text Scan Source Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextScanSourceOpExec.scala
  core/amber/src/test/resources/line_numbers.txt
  core/amber/src/test/resources/line_numbers_crlf.txt
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextScanSourceOpDescSpec.scala
  core/new-gui/src/assets/operator_images/TextFileScan.png
Labels: enhancement

#1864 Fix Python returnInvocation type of Unit
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
Labels: bug, fix

#1866 Fixed random error for UrlFetcher operator test
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/download/BulkDownloaderOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/fetcher/RandomUserAgent.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/fetcher/URLFetchUtil.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/fetcher/URLFetcherOpExec.scala
Labels: bug, testing
