Repository apache/texera, pull requests merged in 2023-07, with the labels that each got.

#2030 Fix python worker proxy server failed to start issue
  core/amber/requirements.txt
  core/amber/src/main/python/core/architecture/managers/operator_manager.py
  core/amber/src/main/python/core/proxy/proxy_client.py
  core/amber/src/main/python/core/proxy/proxy_server.py
  core/amber/src/main/python/core/proxy/test_proxy_client.py
  core/amber/src/main/python/core/proxy/test_proxy_server.py
  core/amber/src/main/python/core/python_worker.py
  core/amber/src/main/python/core/runnables/network_receiver.py
  core/amber/src/main/python/core/runnables/network_sender.py
  core/amber/src/main/python/core/runnables/test_network_receiver.py
  core/amber/src/main/python/texera_run_python_worker.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyServer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonWorkflowWorker.scala
Labels: enhancement, engine, Python

#2039 Fix None as a binary value
  core/amber/src/main/python/core/models/tuple.py
Labels: bug, fix, Python

#2040 Expose worker id to python
  core/amber/src/main/python/core/architecture/managers/context.py
  core/amber/src/main/python/core/python_worker.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/runnables/test_main_loop.py
  core/amber/src/main/python/texera_run_python_worker.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonWorkflowWorker.scala
Labels: enhancement, Python

#2038 Allow users to cascade the sharing
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DashboardResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/file/UserFileAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/file/UserFileResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/project/ProjectAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/project/ProjectResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/new-gui/src/app/common/service/workflow-persist/workflow-persist.service.ts
  core/new-gui/src/app/dashboard/user/component/share-access/share-access.component.html
  core/new-gui/src/app/dashboard/user/component/share-access/share-access.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/share-access/share-access.component.ts
  core/new-gui/src/app/dashboard/user/component/user-dashboard-test-fixtures.ts
  core/new-gui/src/app/dashboard/user/component/user-file/user-file-list-item/user-file-list-item.component.html
  core/new-gui/src/app/dashboard/user/component/user-file/user-file-list-item/user-file-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/user-project-section.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/user-project.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.html
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.ts
  core/new-gui/src/app/dashboard/user/type/dashboard-file.interface.ts
  core/new-gui/src/app/dashboard/user/type/dashboard-project.interface.ts
  core/new-gui/src/app/dashboard/user/type/dashboard-workflow.interface.ts
Labels: enhancement

#2041 Remove and bump Python dependencies
  core/amber/requirements.txt
  core/amber/src/main/python/core/models/single_blocking_io.py
  core/amber/src/main/python/core/models/tuple.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/runnables/test_main_loop.py
  core/amber/src/main/python/core/util/expression_evaluator/__init__.py
Labels: dependencies, Python

#2043 URL visualization operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/urlviz/UrlVizOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/urlviz/UrlVizOpPartialExec.scala
  core/new-gui/src/assets/operator_images/URLVisualizer.png
Labels: enhancement

#2044 Introduce Public Project
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/File.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/Project.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/PublicProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/User.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/Workflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/PublicProjectDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IPublicProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/PublicProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/PublicProjectRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DashboardResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/file/UserFileResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/project/ProjectResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/project/PublicProjectResource.scala
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/user/component/filters/filters.component.ts
  core/new-gui/src/app/dashboard/user/component/share-access/share-access.component.html
  core/new-gui/src/app/dashboard/user/component/share-access/share-access.component.scss
  core/new-gui/src/app/dashboard/user/component/share-access/share-access.component.ts
  core/new-gui/src/app/dashboard/user/component/user-file/user-file-list-item/user-file-list-item.component.html
  core/new-gui/src/app/dashboard/user/component/user-file/user-file-list-item/user-file-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-file/user-file.component.html
  core/new-gui/src/app/dashboard/user/component/user-file/user-file.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/public-project/public-project.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/public-project/public-project.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.scss
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/user-project-section.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/user-project.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.ts
  core/new-gui/src/app/dashboard/user/service/public-project/public-project.service.ts
  core/new-gui/src/app/dashboard/user/service/user-project/stub-user-project.service.ts
  core/new-gui/src/app/dashboard/user/service/user-project/user-project.service.ts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/01.sql
Labels: enhancement, ddl-change

#2056 Fix the zombie process issue that caused by stopping the workflow during the initialization
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
Labels: fix

#2055 Remove SourceTablesService
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/dynamic-schema.service.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/source-tables/mock-source-tables.data.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/source-tables/source-tables.service.spec.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/source-tables/source-tables.service.ts
Labels: config, fix

#2058 Remove the deprecated protractor and karma-coverage-istanbul-reporter
  core/new-gui/karma.conf.js
  core/new-gui/package.json
  core/new-gui/yarn.lock
Labels: dependencies

#2061 Fix read only mode on workflow sharing
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/new-gui/src/app/dashboard/user/component/user-dashboard-test-fixtures.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.ts
  core/new-gui/src/app/dashboard/user/type/workflow-metadata.interface.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
Labels: fix

#2063 Fix operators without git version number
  core/amber/src/main/scala/edu/uci/ics/texera/web/OPversion.java
Labels: fix

#2065 Allow admins to edit their own information
  core/new-gui/src/app/dashboard/admin/component/admin-user.component.html
Labels: fix

#2066 Fix local user missing email
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/AuthResource.scala
Labels: fix

#2070 Adding maximize and minimize button for html/url visualizer
  core/new-gui/src/app/workspace/component/result-panel/visualization-frame/visualization-frame.component.html
  core/new-gui/src/app/workspace/component/result-panel/visualization-frame/visualization-frame.component.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.scss
Labels: enhancement, gui

#2062 Move the execution name input box to a dropdown in the run button
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
Labels: enhancement, gui

#2064 Refactor Public Project
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/File.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/Project.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/PublicProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/User.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/Workflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/PublicProjectDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IPublicProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/PublicProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/PublicProjectRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DashboardResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/project/PublicProjectResource.scala
  core/new-gui/src/app/dashboard/user/component/share-access/share-access.component.html
  core/new-gui/src/app/dashboard/user/component/share-access/share-access.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/public-project/public-project.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/public-project/public-project.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project.component.ts
  core/new-gui/src/app/dashboard/user/service/public-project/public-project.service.ts
  core/new-gui/src/app/dashboard/user/type/dashboard-project.interface.ts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/01.sql
  core/scripts/sql/update/02.sql
Labels: enhancement

#2072 Bump Nx to 14.4.6
  core/new-gui/angular.json
  core/new-gui/nx.json
  core/new-gui/package.json
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.ts
  core/new-gui/src/app/workspace/types/custom-json-schema.interface.ts
  core/new-gui/tsconfig.json
  core/new-gui/yarn.lock
Labels: dependencies

#2083 Fix errors in frontend mock data
  core/new-gui/src/app/workspace/service/execute-workflow/mock-result-data.ts
Labels: fix

#2074 Fix file doesn't show up on shared projects
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/project/ProjectResource.scala
Labels: fix

#2073 Fix the bug that files shared by the workflow not accessible by the other workflow
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/file/UserFileAccessResource.scala
Labels: fix

#2090 Fix RedditSearchSourceOp with new SourceOperator API
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/reddit/RedditSearchSourceOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/reddit/RedditSearchSourceOpDesc.scala
Labels: fix

#2096 Fix Google Render Button Not Showing
  core/new-gui/src/app/common/service/user/google-auth.service.ts
Labels: fix

#2067 Refactor Python Table and TableLike
  core/amber/src/main/python/core/models/operator.py
  core/amber/src/main/python/core/models/table.py
  core/amber/src/main/python/core/models/test_table.py
  core/amber/src/main/python/core/models/tuple.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/pytexera/udf/examples/test_echo_table_operator.py
Labels: fix, Python, refactoring

#2091 Fix persist workflow error
  core/new-gui/src/app/common/service/notification/notification.service.ts
  core/new-gui/src/app/dashboard/user/service/user-project/user-project.service.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.ts
Labels: bug, fix

#2105 Fix NX cache issue
  core/new-gui/.gitignore
  core/new-gui/angular.json
  core/new-gui/nx.json
  core/new-gui/package.json
  core/new-gui/src/app/workspace/service/workflow-graph/model/shared-model-change-handler.ts
  core/new-gui/yarn.lock
Labels: dependencies, fix

#2102 Fix Mysql environment variables being reset after restarting DB
  core/amber/src/test/scala/edu/uci/ics/texera/web/MockTexeraDB.scala
  core/scripts/sql/texera_ddl.sql
Labels: fix

#2106 Refactor URLVizOp
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/urlviz/UrlVizOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/urlviz/UrlVizOpExec.scala
Labels: refactoring

#2101 Fix optional field displaying "no longer a valid option" error message
  core/new-gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.spec.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.ts
Labels: fix
