Repository apache/texera, pull requests merged in 2023-08, with the labels that each got.

#2107 Align hash function for Java and Python
  core/amber/src/main/python/core/architecture/sendsemantics/hash_based_shuffle_partitioner.py
  core/amber/src/main/python/core/models/schema/schema.py
  core/amber/src/main/python/core/models/test_tuple.py
  core/amber/src/main/python/core/models/tuple.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/HashBasedShufflePartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/Tuple.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/schema/Schema.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/distinct/DistinctOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/tuple/TupleSpec.scala
Labels: engine, fix, Python

#2099 Add Gantt Chart Visualization Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/ganttChart/GanttChartOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/visualization/ganttChart/GanttChartOpDescSpec.scala
  core/new-gui/src/assets/operator_images/GanttChart.png
Labels: undergrad-task

#2112 Add TimeSeries Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/timeseries/TimeSeriesOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/visualization/timeseries/TimeSeriesVisualizerOpDescSpec.scala
  core/new-gui/src/assets/operator_images/TimeSeries.png
Labels: undergrad-task

#2097 Add Bubble Chart Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/bubbleChart/BubbleChartOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/visualization/bubbleChart/BubbleChartOpDescSpec.scala
  core/new-gui/src/assets/operator_images/BubbleChart.png
Labels: undergrad-task

#2088 Update PieChart Visualization Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartEnum.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpFinalExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpPartialExec.java
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpDescSpec.scala
  core/new-gui/src/assets/operator_images/PieChart.png
Labels: undergrad-task

#2087 Add DotPlot Visualization Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/DotPlot/DotPlotOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/visualization/DotPlot/DotPlotOpDescSpec.scala
  core/new-gui/src/assets/operator_images/DotPlot.png
Labels: undergrad-task

#2084 Temporarily remove operator cache feature
  core/amber/src/main/protobuf/edu/uci/ics/texera/workflowcachestate.proto
  core/amber/src/main/python/proto/edu/uci/ics/texera/web/__init__.py
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/request/WorkflowExecuteRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowCacheService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowJobService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/storage/WorkflowStateStore.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowRewriter.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowcachestate/CacheState.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowcachestate/WorkflowCacheStore.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowcachestate/WorkflowcachestateProto.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowRewriterSpec.scala
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.html
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/service/execute-workflow/mock-workflow-plan.ts
  core/new-gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
  core/new-gui/src/app/workspace/service/operator-menu/operator-menu.service.ts
  core/new-gui/src/app/workspace/service/workflow-status/operator-cache-status.service.spec.ts
  core/new-gui/src/app/workspace/service/workflow-status/operator-cache-status.service.ts
  core/new-gui/src/app/workspace/types/execute-workflow.interface.ts
Labels: refactoring

#2086 Add Filled Area Plot Visualizer Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/filledAreaPlot/FilledAreaPlotOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/visualization/filledAreaPlot/FilledAreaPlotOpDescSpec.scala
  core/new-gui/src/assets/operator_images/FilledAreaPlot.png
Labels: undergrad-task

#2075 Add TreeMap Visualization Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/treemap/HierarchySection.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/treemap/TreeMapOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/visualization/treemap/TreeMapOpDescSpec.scala
  core/new-gui/src/assets/operator_images/TreeMap.png
Labels: undergrad-task

#2110 Fix outer join in HashJoinOp
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExec.scala
Labels: bug, fix

#2082 Update BarChart Visualizer Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/barChart/BarChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/barChart/BarChartOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/visualization/barChart/BarChartOpDescSpec.scala
Labels: enhancement, undergrad-task

#2109 Fix result panel modal show-next-page button bug
  core/new-gui/src/app/workspace/component/result-panel/result-panel-modal.component.ts
Labels: bug, fix

#2111 Add Image Visualizer Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/ImageViz/ImageVisualizerOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/visualization/ImageViz/ImageVisualizerOpDescSpec.scala
  core/new-gui/src/assets/operator_images/ImageVisualizer.png
Labels: undergrad-task

#2108 Show Number of Machines with Connected Status
  core/amber/src/main/scala/edu/uci/ics/amber/clustering/ClusterListener.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/SessionState.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/response/RegisterWIdResponse.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/service/workflow-websocket/workflow-websocket.service.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: enhancement, gui

#2115 Fix for empty attribute name as an option for required fields
  core/new-gui/src/app/workspace/service/dynamic-schema/dynamic-schema.service.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.ts
Labels: bug, fix

#2100 Zombie process self-cleanup logic with heartbeat
  core/amber/requirements.txt
  core/amber/src/main/python/core/python_worker.py
  core/amber/src/main/python/core/runnables/__init__.py
  core/amber/src/main/python/core/runnables/heartbeat.py
Labels: engine, fix, Python

#2121 Refactor autocomplete
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/file/UserFileResource.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
Labels: fix, refactoring

#2122 Fix the issue of displaying projects for each workflow
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DashboardResource.scala
Labels: bug, fix

#2095 Introduce Python Table Reducer
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/LambdaAttributeUnit.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/PythonTableReducerOpDesc.scala
  core/new-gui/src/assets/operator_images/PythonTableReducer.png
Labels: enhancement

#2124 Using distinct on GroupConcat to remove duplicated project labels
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DashboardResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.html
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.spec.ts
Labels: fix

#2126 Show All Errors in Schema Propagation
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/LogicalPlan.scala
Labels: engine, fix

#2132 Add a hyperlink to the Texera main logo on the navigation page for system users
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.scss
Labels: enhancement, gui
