Repository apache/texera, pull requests merged in 2023-06, with the labels that each got.

#1944 Light refactor on version-related components and service
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/user/service/workflow-version/workflow-version.service.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.spec.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.ts
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display-frame.component.html
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display-frame.component.scss
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display-frame.component.spec.ts
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display-frame.component.ts
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display.component.spec.ts
Labels: refactoring

#1943 Enforce exact version for node modules
  core/new-gui/.nvmrc
  core/new-gui/package.json
  core/new-gui/yarn.lock
Labels: dependencies

#1942 Enforce Node LTS v18
  .github/workflows/github-action-build.yml
  core/new-gui/.nvmrc
  core/new-gui/package.json
Labels: config

#1953 Refactor UserWorkflowComponent into SortButtonComponent, FiltersComponent
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/service/workflow-persist/stub-workflow-persist.service.ts
  core/new-gui/src/app/common/service/workflow-persist/workflow-persist.service.ts
  core/new-gui/src/app/dashboard/user/component/filters-instructions/filters-instructions.component.html
  core/new-gui/src/app/dashboard/user/component/filters-instructions/filters-instructions.component.scss
  core/new-gui/src/app/dashboard/user/component/filters-instructions/filters-instructions.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/filters-instructions/filters-instructions.component.ts
  core/new-gui/src/app/dashboard/user/component/filters/filters.component.html
  core/new-gui/src/app/dashboard/user/component/filters/filters.component.scss
  core/new-gui/src/app/dashboard/user/component/filters/filters.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/filters/filters.component.ts
  core/new-gui/src/app/dashboard/user/component/sort-button/sort-button.component.html
  core/new-gui/src/app/dashboard/user/component/sort-button/sort-button.component.scss
  core/new-gui/src/app/dashboard/user/component/sort-button/sort-button.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/sort-button/sort-button.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/user-project-section.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/user-project-section.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/dashboard-workflow-entry-view-model.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.html
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-test-fixtures.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.html
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.scss
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.ts
  core/new-gui/src/app/dashboard/user/service/user-project/stub-user-project.service.ts
  core/new-gui/src/app/dashboard/user/service/user-project/user-project.service.ts
  core/new-gui/src/app/dashboard/user/type/dashboard-entry.ts
  core/new-gui/src/app/dashboard/user/type/sort-method.ts
Labels: refactoring

#1958 Remove the deprecated Python UDF V1
  core/amber/src/main/resources/python_udf/NltkSentiment.pickle
  core/amber/src/main/resources/python_udf/demo_filter_udf.py
  core/amber/src/main/resources/python_udf/demo_map_udf.py
  core/amber/src/main/resources/python_udf/demo_non_map_udf.py
  core/amber/src/main/resources/python_udf/mock_data.py
  core/amber/src/main/resources/python_udf/nltk_sentiment_classify.py
  core/amber/src/main/resources/python_udf/operators/__init__.py
  core/amber/src/main/resources/python_udf/operators/texera_blocking_supervised_trainer_operator.py
  core/amber/src/main/resources/python_udf/operators/texera_blocking_unsupervised_trainer_operator.py
  core/amber/src/main/resources/python_udf/operators/texera_filter_operator.py
  core/amber/src/main/resources/python_udf/operators/texera_map_operator.py
  core/amber/src/main/resources/python_udf/operators/texera_udf_operator_base.py
  core/amber/src/main/resources/python_udf/server/__init__.py
  core/amber/src/main/resources/python_udf/server/udf_server.py
  core/amber/src/main/resources/python_udf/svm_classifier.py
  core/amber/src/main/resources/python_udf/svm_trainer.py
  core/amber/src/main/resources/python_udf/texera_udf_main.py
  core/amber/src/main/resources/python_udf/tobacco_cv.sav
  core/amber/src/main/resources/python_udf/tobacco_model.sav
  core/amber/src/main/resources/python_udf/tobacco_relevancy_classify.py
  core/amber/src/main/resources/python_udf/topic_modeling_mallet_trainer.py
  core/amber/src/main/resources/python_udf/topic_modeling_trainer.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Workflow.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/ModifyLogicHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/OpExecConfig.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowJobService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/PythonOperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/DualInputPortsPythonUDFOpDescV2.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/LambdaAttributeUnit.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/PythonLambdaFunctionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/PythonUDFOpDescV2.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/PythonUDFOpExecV2.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/source/PythonUDFSourceOpDescV2.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/source/PythonUDFSourceOpExecV2.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV1/PythonUDFOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV1/PythonUDFOpExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/pythonV1/PythonUDFType.java
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowPipelinedRegionsBuilderSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/udf/python/PythonLambdaFunctionOpDescSpec.scala
  core/new-gui/src/assets/operator_images/PythonUDF.png
Labels: Python, refactoring

#1961 Fix racing conditions in Python Batch API related tests
  core/amber/src/main/python/core/runnables/test_main_loop.py
Labels: fix

#1952 Validate UDF output tuple against the schema
  core/amber/src/main/python/core/models/tuple.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/runnables/main_loop.py
Labels: enhancement, Python

#1963 Fix minor bugs introduced by frontend component refactoring
  core/new-gui/src/app/dashboard/user/component/sort-button/sort-button.component.ts
  core/new-gui/src/app/dashboard/user/component/user-file/user-file.component.scss
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/user-project-section.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.scss
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.scss
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.ts
  core/new-gui/src/app/dashboard/user/service/user-project/stub-user-project.service.ts
  core/new-gui/src/app/dashboard/user/service/user-project/user-project.service.ts
Labels: fix

#1973 Rename DashboardWorkflowEntry to DashboardWorkflow
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DashboardResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/project/ProjectResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
  core/new-gui/src/app/common/service/workflow-persist/stub-workflow-persist.service.ts
  core/new-gui/src/app/common/service/workflow-persist/workflow-persist.service.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-add-project-workflow/ngbd-modal-add-project-workflow.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-remove-project-workflow/ngbd-modal-remove-project-workflow.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.ts
  core/new-gui/src/app/dashboard/user/service/user-project/stub-user-project.service.ts
  core/new-gui/src/app/dashboard/user/service/user-project/user-project.service.ts
  core/new-gui/src/app/dashboard/user/type/dashboard-entry.ts
  core/new-gui/src/app/dashboard/user/type/dashboard-workflow-entry.ts
  core/new-gui/src/app/dashboard/user/type/dashboard-workflow.interface.ts
  core/new-gui/src/app/dashboard/user/type/search-result.ts
Labels: refactoring

#1977 Clean up backend google configs
  core/amber/src/main/resources/application.conf
  core/amber/src/main/resources/google_api.conf
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/GoogleResource.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/GoogleAuthResource.scala
Labels: config

#1978 Redirect to original URL requested after login
  core/new-gui/src/app/common/service/user/auth-guard.service.ts
  core/new-gui/src/app/dashboard/user/component/user-icon/user-icon.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-icon/user-icon.component.ts
  core/new-gui/src/app/home/component/home.component.ts
  core/new-gui/src/app/home/component/login/local-login/local-login.component.ts
Labels: fix

#1981 Fix "Multiple search dates is not allowed" error
  core/new-gui/src/app/dashboard/user/component/filters/filters.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/filters/filters.component.ts
  core/new-gui/src/app/dashboard/user/component/search/search.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.spec.ts
Labels: bug

#1975 Project sharing DDL
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/enums/ProjectUserAccessPrivilege.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/File.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/Project.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/ProjectUserAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/User.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/Workflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/ProjectUserAccessDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IProjectUserAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/ProjectUserAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/ProjectUserAccessRecord.java
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/project_sharing.sql
Labels: ddl-change

#1974 Rename UserProject to DashboardProject
  core/new-gui/src/app/dashboard/user/component/filters/filters.component.ts
  core/new-gui/src/app/dashboard/user/component/user-dashboard-test-fixtures.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/user-project-section.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.ts
  core/new-gui/src/app/dashboard/user/service/user-project/stub-user-project.service.ts
  core/new-gui/src/app/dashboard/user/service/user-project/user-project.service.ts
  core/new-gui/src/app/dashboard/user/type/dashboard-entry.ts
  core/new-gui/src/app/dashboard/user/type/dashboard-project.interface.ts
  core/new-gui/src/app/dashboard/user/type/search-result.ts
Labels: refactoring

#1983 Enhance /dashboard/search API with Pagination and Sorting Options
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DashboardResource.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
Labels: enhancement

#1985 Support Binary Source
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/FileDecodingMethod.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/ScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csvOld/CSVOldScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csvOld/CSVOldScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextInputSourceAttributeType.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextInputSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextInputSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextScanSourceAttributeType.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextSourceOpDesc.scala
  core/amber/src/test/resources/numbers.txt
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextInputSourceOpDescSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextScanSourceOpDescSpec.scala
Labels: enhancement

#1957 Remove ANY as an allowed AttributeType to select on UI
  core/amber/src/main/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/schema/Attribute.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/schema/AttributeType.java
  core/new-gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.ts
Labels: fix

#1967 Add Operator/Link ID in URL Fragment for Automatic Highlight
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/joint-graph-wrapper.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
Labels: enhancement, gui

#1843 Add Port Info Editor for PythonUDFs
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/OperatorMetadataGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/PortDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/PartitionInfo.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/filter/SpecializedFilterOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/managed/ProgressiveSinkOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/reddit/RedditSearchSourceOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/typecasting/TypeCastingOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/PythonUDFOpDescV2.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/source/PythonUDFSourceOpDescV2.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/wordCloud/WordCloudOpDesc.java
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/component/property-editor/port-property-edit-frame/port-property-edit-frame.component.html
  core/new-gui/src/app/workspace/component/property-editor/port-property-edit-frame/port-property-edit-frame.component.scss
  core/new-gui/src/app/workspace/component/property-editor/port-property-edit-frame/port-property-edit-frame.component.spec.ts
  core/new-gui/src/app/workspace/component/property-editor/port-property-edit-frame/port-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/service/operator-metadata/mock-operator-metadata.data.ts
  core/new-gui/src/app/workspace/service/validation/validation-workflow.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/joint-graph-wrapper.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/shared-model-change-handler.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
  core/new-gui/src/app/workspace/types/execute-workflow.interface.ts
  core/new-gui/src/app/workspace/types/operator-schema.interface.ts
  core/new-gui/src/app/workspace/types/shared-editing.interface.ts
  core/new-gui/src/app/workspace/types/workflow-common.interface.ts
Labels: engine, gui

#1976 Add Schema to Python Tuple
  core/amber/requirements.txt
  core/amber/src/main/python/core/models/__init__.py
  core/amber/src/main/python/core/models/operator.py
  core/amber/src/main/python/core/models/payload.py
  core/amber/src/main/python/core/models/schema/__init__.py
  core/amber/src/main/python/core/models/schema/attribute_type.py
  core/amber/src/main/python/core/models/schema/field.py
  core/amber/src/main/python/core/models/schema/schema.py
  core/amber/src/main/python/core/models/schema/test_schema.py
  core/amber/src/main/python/core/models/test_tuple.py
  core/amber/src/main/python/core/models/tuple.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/runnables/network_sender.py
  core/amber/src/main/python/core/runnables/test_network_receiver.py
  core/amber/src/main/python/core/util/arrow_utils.py
Labels: engine, Python, refactoring

#1986 Rename DashboardFileEntry to DashboardFile
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DashboardResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/file/UserFileResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/project/ProjectResource.scala
Labels: refactoring

#1989 Merge JDBC config to backend
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/SqlServer.java
  core/conf/README.md
  core/conf/jdbc.conf
  core/new-gui/src/app/dashboard/user/component/search/search.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/search/search.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.ts
  core/new-gui/src/app/dashboard/user/service/search/search.service.ts
  core/new-gui/src/app/dashboard/user/service/search/stub-search.service.ts
  core/new-gui/src/app/dashboard/user/service/user-workflow/workflow-executions.service.spec.ts
  core/new-gui/src/app/dashboard/user/service/user-workflow/workflow-executions.service.ts
  core/new-gui/src/app/dashboard/user/service/user-workflow/workflow-snapshot.service.ts
  core/new-gui/src/app/dashboard/user/service/user-workflow/workflow-version.service.spec.ts
  core/new-gui/src/app/dashboard/user/service/user-workflow/workflow-version.service.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.spec.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.ts
  core/new-gui/src/app/workspace/component/property-editor/versions-display/versions-display-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.spec.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.spec.ts
  core/util/conf/jooq-conf.xml
  core/util/src/main/java/edu/uci/ics/util/RunCodegen.java
Labels: config

#1990 Introduce the check of user system config mismatch
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/SystemMetadataResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/AuthResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/GoogleAuthResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/file/UserFileAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/project/ProjectResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
  core/new-gui/src/app/common/service/user/auth-guard.service.ts
  core/new-gui/src/app/common/service/user/auth.interceptor.ts
  core/new-gui/src/app/common/service/user/auth.service.ts
  core/new-gui/src/app/dashboard/user/component/user-avatar/user-avatar.component.ts
  core/new-gui/src/app/dashboard/user/component/user-icon/user-icon.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-icon/user-icon.component.ts
  core/new-gui/src/app/home/component/home.component.spec.ts
  core/new-gui/src/app/home/service/google.service.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.spec.ts
  core/new-gui/src/app/workspace/service/preset/preset.service.spec.ts
  core/new-gui/src/environments/environment.default.ts
Labels: bug

#1997 Merge JDBC config to backend
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/texera/web/SqlServer.java
  core/conf/README.md
  core/conf/jdbc.conf
  core/util/conf/jooq-conf.xml
  core/util/src/main/java/edu/uci/ics/util/RunCodegen.java
Labels: config

#2002 Fix project section displaying all workflows incorrectly
  core/new-gui/src/app/dashboard/user/component/filters/filters.component.html
  core/new-gui/src/app/dashboard/user/component/filters/filters.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.html
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.ts
Labels: bug, fix

#1987 Minor refactoring of fulltext search backend
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DashboardResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
Labels: refactoring

#2006 Fix non-source operator being recognized as source in ModifyOperatorLogic
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/ModifyLogicHandler.scala
Labels: bug, fix

#1936 Fix exception reporting during Python UDF initialization
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCClient.scala
Labels: bug, fix

#2001 Clean up frontend google configs
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/GoogleAuthResource.scala
  core/new-gui/src/app/dashboard/user/component/user-avatar/user-avatar.component.ts
  core/new-gui/src/app/home/component/home.component.spec.ts
  core/new-gui/src/app/home/service/google.service.ts
  core/new-gui/src/environments/environment.default.ts
Labels: config

#1938 Project sharing
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DashboardResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/project/ProjectAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/project/ProjectResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowAccessResource.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
  core/new-gui/src/app/dashboard/user/component/user-file/user-file-list-item/user-file-list-item.component.html
  core/new-gui/src/app/dashboard/user/component/user-file/user-file-list-item/user-file-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-file/user-file.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/user-project.component.ts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/fix_groupby.sql
Labels: enhancement

#1971 Fix missing paths in polyfills
  core/new-gui/package.json
  core/new-gui/tsconfig.json
  core/new-gui/yarn.lock
Labels: bug, fix

#1998 Fix google login after logout
  core/new-gui/src/app/dashboard/user/component/user-icon/user-icon.component.ts
Labels: fix

#1999 Fix the redirect after login
  core/new-gui/src/app/common/service/user/auth-guard.service.ts
Labels: fix

#1991 Introducing Enhanced Version View with Difference Editor
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor-dialog.component.ts
Labels: enhancement

#1970 Remove unused new-gui packages
  core/new-gui/.depcheckrc
  core/new-gui/package.json
  core/new-gui/tsconfig.json
  core/new-gui/yarn.lock
Labels: dependencies

#1845 Send input/output mapping information to Python engine
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/python/core/architecture/handlers/initialize_operator_logic_handler.py
  core/amber/src/main/python/core/architecture/managers/tuple_processing_manager.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/runnables/test_main_loop.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/texera/web/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/promisehandlers/InitializeOperatorLogicHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/LinkOrdinal.scala
Labels: engine, Python

#2008 Fix frontend duplicate button and refactor pid
  core/new-gui/src/app/dashboard/user/component/filters/filters.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/user-project-section.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.ts
Labels: bug, fix

#2004 Remove frontend timeout for execution/pause/resume requests
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
Labels: enhancement

#2010 Fix the login on Safari
  core/new-gui/src/app/home/component/home.component.ts
  core/new-gui/src/app/home/component/login/local-login/local-login.component.ts
Labels: fix

#2012 Show resource types in fulltext search result
  core/new-gui/src/app/dashboard/user/component/dashboard.component.html
  core/new-gui/src/app/dashboard/user/component/search-results/search-results.component.html
  core/new-gui/src/app/dashboard/user/component/search-results/search-results.component.scss
  core/new-gui/src/app/dashboard/user/component/search-results/search-results.component.ts
  core/new-gui/src/app/dashboard/user/component/search/search.component.html
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.html
Labels: enhancement, gui

#2013 Align angular dependency versions
  core/new-gui/package.json
  core/new-gui/yarn.lock
Labels: dependencies

#2016 Fix upstream link for source UDF operator
  core/amber/src/main/python/core/runnables/data_processor.py
Labels: bug, fix

#2018 Remove the deprecated Tuple.Builder
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/Tuple.java
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/RangeBasedShuffleSpec.scala
Labels: refactoring

#2019 Bump Apache Arrow to 12.0.1
  core/amber/build.sbt
  core/amber/requirements.txt
Labels: engine, dependencies, Python

#2017 Fix scatterplot un-serializable issue
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/unittest/workflow/operators/visualization/scatterplot/ScatterplotVizOpExecSpec.scala
Labels: bug, fix

#2021 Mirror refactor of Google Login Service
  core/new-gui/src/app/common/service/user/google-auth.service.ts
  core/new-gui/src/app/home/component/home.component.spec.ts
  core/new-gui/src/app/home/component/home.component.ts
Labels: refactoring

#2020 Bump Google Api client versions
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/GoogleResource.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/GoogleAuthResource.scala
Labels: dependencies, java

#2025 Bump @ng-bootstrap to 11.0.1 and remove ngx-bootstrap
  core/new-gui/package.json
  core/new-gui/yarn.lock
Labels: dependencies

#1788 Replace out-of-date library json-ref-lite
  core/new-gui/package.json
  core/new-gui/src/app/workspace/service/dynamic-schema/auto-attribute-correction/auto-attribute-correction.service.spec.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/auto-attribute-correction/auto-attribute-correction.service.ts
  core/new-gui/src/tsconfig.app.json
  core/new-gui/yarn.lock
Labels: dependencies, fix

#2023 Bump deck.gl and mapbox related dependencies
  core/new-gui/package.json
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.ts
  core/new-gui/src/typings.d.ts
  core/new-gui/yarn.lock
Labels: gui, dependencies

#2032 Add a Timer for Execution Duration on UI
  core/amber/src/main/protobuf/edu/uci/ics/texera/workflowruntimestate.proto
  core/amber/src/main/scala/edu/uci/ics/amber/clustering/ClusterListener.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/event/ExecutionDurationUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobRuntimeService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/JobStatsService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowJobService.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/JobStatsStore.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/WorkflowruntimestateProto.scala
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.scss
  core/new-gui/src/app/workspace/component/navigation/navigation.component.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: gui
