Repository apache/texera, pull requests merged in 2023-10, with the labels that each got.

#2173 Fix hanging execution with broadcast partitioning
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManager.scala
Labels: bug, fix

#2175 Increase workflow content size in DDL to support large workflow
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/03.sql
Labels: ddl-change

#2174 Improve Co-editor Color Generation Method
  core/new-gui/src/app/common/service/user/user.service.ts
Labels: enhancement, gui

#2169 Fix missing Execution ID in workflow context and refactor ExecutionsMetadataPersistService
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionsMetadataPersistService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/storage/JobStateStore.scala
Labels: fix

#2180 Use currentWorkerNum instead of numWorkerPerNode
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/OpExecConfig.scala
Labels: fix

#2027 Introduce Email Notification System
  .gitignore
  core/amber/build.sbt
  core/amber/src/main/resources/application.conf
  core/amber/src/main/resources/gmail/README
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/GmailResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/GoogleAuthResource.scala
  core/new-gui/src/app/app-routing.module.ts
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/admin/component/gmail/gmail.component.html
  core/new-gui/src/app/dashboard/admin/component/gmail/gmail.component.scss
  core/new-gui/src/app/dashboard/admin/component/gmail/gmail.component.ts
  core/new-gui/src/app/dashboard/admin/service/gmail.service.ts
  core/new-gui/src/app/dashboard/user/component/dashboard.component.html
  core/new-gui/src/app/dashboard/user/component/dashboard.component.scss
  core/new-gui/src/app/dashboard/user/component/share-access/share-access.component.ts
  core/new-gui/src/app/workspace/component/navigation/navigation.component.html
  core/new-gui/src/app/workspace/component/navigation/navigation.component.scss
Labels: config

#2189 Fix exporting results without ViewResult operator
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/new-gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
  core/new-gui/src/app/workspace/service/workflow-result/workflow-result.service.ts
Labels: fix

#2188 Enable flow control at python side
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/python/core/architecture/handlers/backpressure_handler.py
  core/amber/src/main/python/core/architecture/managers/context.py
  core/amber/src/main/python/core/architecture/managers/pause_manager.py
  core/amber/src/main/python/core/architecture/managers/test_pause_manager.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_server.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/texera/web/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonWorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/WorkerBatchInternalQueue.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/PauseManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerInternalQueue.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
Labels: enhancement

#2187 Fix csv scan error with LF line ending
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpExec.scala
Labels: fix
