Repository apache/texera, pull requests merged in 2024-10, with the labels that each got.

#2893 Add User-Controlled Email Notification Toggle with Developer System Setting
  core/gui/src/app/workspace/component/menu/menu.component.html
  core/gui/src/app/workspace/component/menu/menu.component.ts
  core/gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
Labels: enhancement, fix, frontend

#2894 Fix No marker or tuple to process error in Python operators
  core/amber/src/main/python/core/runnables/data_processor.py
Labels: bug

#2897 Freeze Dependency For Texera
  core/amber/operator-requirements.txt
  core/amber/requirements.txt
  core/gui/package.json
  core/gui/yarn.lock
Labels: dependencies

#2903 Enable email notifications by default and improve notification content
  core/gui/src/app/workspace/component/menu/menu.component.ts
  core/gui/src/app/workspace/service/execute-workflow/execute-workflow.service.spec.ts
  core/gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/gui/src/environments/environment.default.ts
Labels: fix, frontend

#2906 Fix the glitching error frame in result panel
  core/gui/src/app/workspace/component/result-panel/error-frame/error-frame.component.scss
  core/gui/src/app/workspace/component/result-panel/result-panel.component.scss
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
Labels: bug, fix

#2909 Drop support for Python 3.8
  .github/workflows/github-action-build.yml
Labels: dependencies

#2911 Fix timeout on Python proxy server shutdown
  core/amber/src/main/python/core/proxy/proxy_server.py
  core/amber/src/main/python/core/runnables/test_network_receiver.py
Labels: bug, fix

#2916 Add Download Button to Dashboard Entry
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.html
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-explorer.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/dashboard/service/user/download/download.service.spec.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.spec.ts
Labels: enhancement, frontend

#2917 Fix Directory Handling in Dataset Download and Add Start Notification for Large File Downloads
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/gui/src/app/dashboard/service/user/download/download.service.spec.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: fix, frontend

#2910 Add support for Python 3.12
  .github/workflows/github-action-build.yml
  core/amber/requirements.txt
Labels: dependencies

#2914 Move Workflow Email Notification Logic from Frontend to Backend for Improved Reliability and Maintainability
  core/amber/src/main/scala/edu/uci/ics/texera/web/ServletAwareConfigurator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/request/WorkflowExecuteRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/GmailResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/EmailNotificationService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowEmailNotifier.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/gui/src/app/workspace/component/menu/menu.component.ts
  core/gui/src/app/workspace/service/execute-workflow/execute-workflow.service.spec.ts
  core/gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
Labels: enhancement, engine, frontend

#2920 Refactor Frontend to Centralize Downloads Using DownloadService
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow-list-item/user-workflow-list-item.component.ts
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow.component.spec.ts
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow.component.ts
  core/gui/src/app/dashboard/service/user/download/download.service.spec.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.spec.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: refactoring, frontend

#2924 Add Scroll Bar to Quota Dashboard
  core/gui/src/app/dashboard/component/user/user-quota/user-quota.component.html
  core/gui/src/app/dashboard/component/user/user-quota/user-quota.component.scss
Labels: frontend

#2922 Add micro-services sbt root project
  core/micro-services/build.sbt
Labels: refactoring

#2915 Refresh page after workflow uplaod to display new workflow
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow.component.ts
Labels: fix

#2896 Add clone & edit button on detail page
  core/gui/src/app/hub/component/workflow/detail/hub-workflow-detail.component.html
  core/gui/src/app/hub/component/workflow/detail/hub-workflow-detail.component.scss
  core/gui/src/app/hub/component/workflow/detail/hub-workflow-detail.component.ts
  core/gui/src/app/hub/service/workflow/hub-workflow.service.ts
Labels: undergrad-task, frontend

#2912 Upgrade Monaco Language Client to 8.8.3
  core/gui/custom-webpack.config.js
  core/gui/package.json
  core/gui/src/app/workspace/component/code-editor-dialog/code-editor.component.ts
  core/gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.html
  core/gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.ts
  core/gui/src/app/workspace/component/left-panel/left-panel.component.ts
  core/gui/src/app/workspace/component/property-editor/property-editor.component.ts
  core/gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/gui/src/app/workspace/service/code-editor/code-editor.service.ts
  core/gui/yarn.lock
Labels: dependencies, frontend

#2919 Sanitize the file path when saving result to dataset
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
Labels: fix

#2927 Display Dataset Size for Improved Usability
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DatasetSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/type/DatasetFileNode.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/type/DatasetFileNodeSerializer.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/type/PhysicalFileNode.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/utils/DatasetStatisticsUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/utils/JGitVersionControl.java
  core/amber/src/test/java/edu/uci/ics/texera/web/resource/dashboard/user/dataset/GitVersionControlLocalFileStorageSpec.java
  core/gui/src/app/common/type/datasetVersionFileTree.ts
  core/gui/src/app/common/util/size-formatter.util.spec.ts
  core/gui/src/app/common/util/size-formatter.util.ts
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.html
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.scss
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-explorer.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-explorer.component.scss
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-explorer.component.ts
  core/gui/src/app/dashboard/component/user/user-quota/user-quota.component.html
  core/gui/src/app/dashboard/component/user/user-quota/user-quota.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/dashboard/type/dashboard-dataset.interface.ts
  core/gui/src/app/dashboard/type/dashboard-entry.ts
  core/gui/src/app/workspace/component/file-selection/file-selection.component.ts
Labels: enhancement, frontend, webserver

#2931 Enable Bulk Download of Binary Data from Result Table
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.html
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.scss
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: enhancement, frontend

#2935 Fix email notification without usersys
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
Labels: bug, fix

#2937 Fix Workflow Version Restore Button Behavior
  core/gui/src/app/dashboard/service/user/workflow-version/workflow-version.service.spec.ts
  core/gui/src/app/dashboard/service/user/workflow-version/workflow-version.service.ts
  core/gui/src/app/workspace/component/menu/menu.component.html
Labels: fix, frontend

#2936 Add Check for Python Language Server Availability
  core/gui/src/app/workspace/component/code-editor-dialog/code-editor.component.ts
Labels: bug, frontend

#2941 Separate TypeCastingUnit from casting utility
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/model/tuple/AttributeTypeUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/typecasting/TypeCastingOpExec.scala
Labels: refactoring

#2940 Decouple LocationPreference with Akka Address
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/AddressInfo.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/locationpreference/LocationPreference.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/model/PhysicalOp.scala
Labels: refactoring

#2944 Re-add workflow settings assignment to WorkflowContext
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
Labels: engine, fix

#2938 Retrieve Schema from Backend to Fix Binary Data Issues
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/event/PaginatedResultEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/gui/src/app/common/util/json.ts
  core/gui/src/app/workspace/component/result-panel/result-panel-modal.component.ts
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.spec.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
  core/gui/src/app/workspace/service/workflow-result/workflow-result.service.spec.ts
  core/gui/src/app/workspace/service/workflow-result/workflow-result.service.ts
  core/gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: fix

#2942 Encapsulate workflow basic dependencies into a workflow-core package
  .github/workflows/github-action-build.yml
  core/micro-services/.scalafix.conf
  core/micro-services/.scalafmt.conf
  core/micro-services/build.sbt
  core/micro-services/project/build.properties
  core/micro-services/project/plugins.sbt
  core/micro-services/workflow-core/build.sbt
  core/micro-services/workflow-core/src/main/protobuf/edu/uci/ics/amber/virtualidentity.proto
  core/micro-services/workflow-core/src/main/protobuf/edu/uci/ics/amber/workflow.proto
  core/micro-services/workflow-core/src/main/protobuf/scalapb/scalapb.proto
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/executor/JavaRuntimeCompilation.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/executor/OpExecInitInfo.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/executor/OperatorExecutor.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/marker/Marker.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/tuple/Attribute.java
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/tuple/AttributeType.java
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/tuple/AttributeTypeUtils.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/tuple/Schema.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/tuple/Tuple.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/tuple/TupleLike.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/tuple/TupleUtils.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/workflow/LocationPreference.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/workflow/PartitionInfo.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/workflow/PhysicalOp.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/workflow/PhysicalPlan.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/workflow/WorkflowContext.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/workflow/WorkflowSettings.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/util/JSONUtils.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/util/VirtualIdentityUtils.scala
  core/micro-services/workflow-core/src/test/scala/edu/uci/ics/amber/core/tuple/AttributeTypeUtilsSpec.scala
  core/micro-services/workflow-core/src/test/scala/edu/uci/ics/amber/core/tuple/TupleSpec.scala
Labels: refactoring

#2945 Fix code editor long loading issue
  core/gui/src/app/workspace/component/code-editor-dialog/code-editor.component.ts
Labels: bug, fix

#2946 Fix monaco editor with timeout and diff mode
  core/gui/src/app/workspace/component/code-editor-dialog/code-editor.component.ts
Labels: bug, fix

#2954 Upgrade Yarn to 4.5.1 and Nx to 20 for fixing alias packaging resolution
  .github/workflows/github-action-build.yml
  core/gui/.gitignore
  core/gui/.prettierignore
  core/gui/.yarnrc.yml
  core/gui/custom-webpack.config.js
  core/gui/nx.json
  core/gui/package.json
  core/gui/yarn.lock
Labels: bug, fix, testing, frontend

#2939 Fix Port Handling in URL to Avoid Invalid Redirection
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowEmailNotifier.scala
Labels: fix, webserver

#2958 Fix import in JavaUDF template
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/java/JavaUDFOpDesc.scala
Labels: fix

#2955 Handle empty table in ArrowTupleProvider
  core/amber/src/main/python/core/models/test_tuple.py
  core/amber/src/main/python/core/models/tuple.py
Labels: bug, fix

#2949 Upgrade pandas to 2.2.2
  core/amber/requirements.txt
Labels: dependencies

#2957 Fix FileDocumentSpec test cases
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/storage/FileDocumentSpec.scala
Labels: fix

#2962 Update File Selection Message for Dataset Creation
  core/gui/src/app/dashboard/component/user/files-uploader/files-uploader.component.ts
Labels: gui

#2966 Add nz-spin Loader to Workspace
  core/gui/src/app/workspace/component/workspace.component.html
  core/gui/src/app/workspace/component/workspace.component.scss
  core/gui/src/app/workspace/component/workspace.component.ts
Labels: gui

#2953 Add Udon breakpoint UI - breakpoint-related operations
  core/amber/src/main/python/core/architecture/handlers/control/debug_command_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/replay_current_tuple_handler.py
  core/amber/src/main/python/core/architecture/managers/pause_manager.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/ConsoleMessageHandler.scala
  core/gui/custom-webpack.config.js
  core/gui/package.json
  core/gui/src/app/app.module.ts
  core/gui/src/app/workspace/component/code-editor-dialog/breakpoint-condition-input/breakpoint-condition-input.component.html
  core/gui/src/app/workspace/component/code-editor-dialog/breakpoint-condition-input/breakpoint-condition-input.component.scss
  core/gui/src/app/workspace/component/code-editor-dialog/breakpoint-condition-input/breakpoint-condition-input.component.spec.ts
  core/gui/src/app/workspace/component/code-editor-dialog/breakpoint-condition-input/breakpoint-condition-input.component.ts
  core/gui/src/app/workspace/component/code-editor-dialog/code-debugger.component.html
  core/gui/src/app/workspace/component/code-editor-dialog/code-debugger.component.spec.ts
  core/gui/src/app/workspace/component/code-editor-dialog/code-debugger.component.ts
  core/gui/src/app/workspace/component/code-editor-dialog/code-editor.component.html
  core/gui/src/app/workspace/component/code-editor-dialog/code-editor.component.ts
  core/gui/src/app/workspace/component/menu/menu.component.ts
  core/gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.html
  core/gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.ts
  core/gui/src/app/workspace/service/operator-debug/udf-debug.service.spec.ts
  core/gui/src/app/workspace/service/operator-debug/udf-debug.service.ts
  core/gui/src/app/workspace/service/operator-metadata/mock-operator-metadata.data.ts
  core/gui/src/app/workspace/service/workflow-graph/model/mock-workflow-data.ts
  core/gui/src/app/workspace/service/workflow-graph/model/shared-model.ts
  core/gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
  core/gui/src/app/workspace/types/workflow-common.interface.ts
  core/gui/yarn.lock
Labels: enhancement, Python

#2970 Remove unused RPCs and disable reconfiguration
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerEvent.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/ModifyLogicHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PauseHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/ReconfigureHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/QueryCurrentInputTupleHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/ShutdownDPThreadHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/UpdateExecutorHandler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/event/OperatorCurrentTuplesUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/event/TexeraWebSocketEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionConsoleService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionReconfigurationService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/FriesReconfigurationAlgorithm.scala
Labels: engine

#2968 Fix macOS frontend CI disconnecting issue
  .github/workflows/github-action-build.yml
  core/gui/karma.conf.js
  core/gui/karma.waitwebpack.js
  core/gui/package.json
  core/gui/src/app/dashboard/component/user/filters-instructions/filters-instructions.component.spec.ts
  core/gui/src/app/dashboard/component/user/filters/filters.component.spec.ts
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.spec.ts
  core/gui/src/app/dashboard/component/user/user-avatar/user-avatar.component.spec.ts
  core/gui/src/app/dashboard/component/user/user-project/user-project-list-item/user-project-list-item.component.spec.ts
  core/gui/src/app/dashboard/component/user/user-quota/user-quota.component.spec.ts
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow-list-item/user-workflow-list-item.component.spec.ts
  core/gui/src/app/workspace/component/code-editor-dialog/code-debugger.component.spec.ts
  core/gui/src/app/workspace/component/workflow-editor/comment-box-modal/nz-modal-comment-box.component.spec.ts
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.spec.ts
  core/gui/src/app/workspace/service/workflow-graph/model/operator-group.spec.ts
  core/gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.spec.ts
  core/gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
  core/gui/src/app/workspace/service/workflow-status/workflow-status.service.spec.ts
  core/gui/src/test.ts
  core/gui/yarn.lock
Labels: dependencies, testing

#2969 Add `FileResolver` to resolve fileName given by users consistently without depending on userSystemEnabled flag
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/storage/FileResolver.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/ScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/ParallelCSVScanSourceOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/FileScanSourceOpDescSpec.scala
Labels: refactoring

#2902 Add Like and Clone Button Functionality with Database Enhancements for User Interaction Tracking
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowUserActivity.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowUserClones.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowUserLikes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowUserClonesDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowUserLikesDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowUserActivity.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowUserClones.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowUserLikes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowUserActivity.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowUserClones.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowUserLikes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowUserActivityRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowUserClonesRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowUserLikesRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/workflow/HubWorkflowResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/gui/src/app/dashboard/component/dashboard.component.ts
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.html
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.scss
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.ts
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow.component.ts
  core/gui/src/app/hub/component/workflow/detail/hub-workflow-detail.component.html
  core/gui/src/app/hub/component/workflow/detail/hub-workflow-detail.component.scss
  core/gui/src/app/hub/component/workflow/detail/hub-workflow-detail.component.ts
  core/gui/src/app/hub/service/workflow/hub-workflow.service.ts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/16.sql
Labels: ddl-change, undergrad-task

#2925 Fix UDF code editor z-index and boundary
  core/gui/src/app/workspace/component/code-editor-dialog/code-editor.component.html
  core/gui/src/app/workspace/component/code-editor-dialog/code-editor.component.scss
Labels: bug, fix, undergrad-task, frontend

#2933 Fix hub workflow detail page not being scrollable
  core/gui/src/app/dashboard/component/user/user-quota/user-quota.component.html
  core/gui/src/app/dashboard/component/user/user-quota/user-quota.component.scss
  core/gui/src/styles.scss
Labels: bug, fix, frontend

#2967 Auto continue after breakpoint events
  core/gui/src/app/workspace/service/operator-debug/udf-debug.service.spec.ts
  core/gui/src/app/workspace/service/operator-debug/udf-debug.service.ts
Labels: enhancement

#2976 Remove scrollbar in workflow workspace
  core/gui/src/app/workspace/component/left-panel/left-panel.component.scss
  core/gui/src/app/workspace/component/workspace.component.scss
Labels: bug, gui, fix, undergrad-task

#2975 Refactor the logic of showing selected dataset and version in scan source operators.
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/workspace/component/file-selection/file-selection.component.ts
Labels: refactoring

#2973 Refactor downloading dataset version's API
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-explorer.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/dashboard/service/user/download/download.service.spec.ts
  core/gui/src/app/dashboard/service/user/download/download.service.ts
Labels: refactoring

#2930 Add view count to workflow
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowRuntimeStatistics.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowViewCount.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowViewCountDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowViewCount.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowViewCount.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowViewCountRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/workflow/HubWorkflowResource.scala
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.html
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.scss
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.ts
  core/gui/src/app/hub/component/workflow/detail/hub-workflow-detail.component.html
  core/gui/src/app/hub/component/workflow/detail/hub-workflow-detail.component.ts
  core/gui/src/app/hub/service/workflow/hub-workflow.service.ts
  core/gui/src/app/workspace/component/workspace.component.ts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/17.sql
Labels: gui, ddl-change, undergrad-task, frontend

#2972 Decouple creating source file's handler with resolving as URI in ScanSourceOp
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/executor/SourceOperatorExecutor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/storage/DatasetFileDocument.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/storage/DocumentFactory.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/SchemaPropagationResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/storage/FileResolver.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/LogicalPlan.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/FileScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/FileScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/ScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/ParallelCSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csvOld/CSVOldScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csvOld/CSVOldScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/TestOperators.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpDescSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/FileScanSourceOpDescSpec.scala
Labels: refactoring

#2977 Add test case for transfer batch size
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGeneratorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/BatchSizePropagationSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/TestUtils.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/CheckpointSpec.scala
Labels: testing
