Repository apache/texera, pull requests merged in 2024-03, with the labels that each got.

#2434 Add Environment WebServer APIs
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/DatasetOfEnvironment.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/Environment.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/EnvironmentOfWorkflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/DatasetOfEnvironmentDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/EnvironmentDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/EnvironmentOfWorkflowDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowExecutionsDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IDatasetOfEnvironment.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IEnvironment.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IEnvironmentOfWorkflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/DatasetOfEnvironment.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/Environment.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/EnvironmentOfWorkflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/DatasetOfEnvironmentRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/EnvironmentOfWorkflowRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/EnvironmentRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowExecutionsRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/type/FileNode.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/environment/EnvironmentResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/09.sql
Labels: webserver

#2437 Hide the forum tab on the dashboard when it's unavailable
  core/new-gui/src/app/dashboard/user/component/dashboard.component.html
  core/new-gui/src/app/dashboard/user/component/dashboard.component.ts
Labels: fix

#2363 Add Dummy Operator and Dummy Property
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/DummyProperties.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/dummy/DummyOpDesc.scala
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/assets/operator_images/Dummy.png
Labels: undergrad-task

#2441 Fix error in NotAnIterable trait
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/tuple/amber/TupleLike.scala
Labels: bug, fix

#2438 Refactor Aggregate operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/aggregate/AggregateOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/aggregate/FinalAggregateOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/aggregate/PartialAggregateOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/AggregateOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/AggregateOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/AggregationOperation.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/DistributedAggregation.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/SpecializedAggregateOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/TestOperators.scala
Labels: refactoring

#2440 Use attribute names for range partitioning
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/sendsemantics/partitionings.proto
  core/amber/src/main/python/core/architecture/sendsemantics/range_based_shuffle_partitioner.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/sendsemantics/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/config/LinkConfig.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/RangeBasedShufflePartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/PartitionInfo.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sortPartitions/SortPartitionsOpDesc.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/sendsemantics/partitionings/Partitioning.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/sendsemantics/partitionings/PartitioningsProto.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/RangeBasedShuffleSpec.scala
  core/new-gui/src/app/workspace/service/operator-metadata/mock-operator-metadata.data.ts
  core/new-gui/src/app/workspace/types/workflow-common.interface.ts
Labels: engine, refactoring

#2443 Fix readme hidden content
  README.md
Labels: fix

#2439 Schema propagation push down to PhysicalPlan
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/PhysicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionExecutionCoordinator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/SchemaPropagationResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/PythonOperatorDescriptor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/LogicalPlan.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/PhysicalPlan.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCacheRewriter.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/AggregateOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/cartesianProduct/CartesianProductOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/dictionary/DictionaryMatcherOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/difference/DifferenceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/distinct/DistinctOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/download/BulkDownloaderOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/filter/SpecializedFilterOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intersect/IntersectOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intervalJoin/IntervalJoinOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/keywordSearch/KeywordSearchOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/limit/LimitOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/linearregression/LinearRegressionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/randomksampling/RandomKSamplingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/regex/RegexOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/reservoirsampling/ReservoirSamplingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sentiment/SentimentAnalysisOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/managed/ProgressiveSinkOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sortPartitions/SortPartitionsOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterSearchSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/cache/CacheSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/fetcher/URLFetcherOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/FileScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/ParallelCSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csvOld/CSVOldScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextInputSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/asterixdb/AsterixDBSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/mysql/MySQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/postgresql/PostgreSQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/split/SplitOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/symmetricDifference/SymmetricDifferenceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/typecasting/TypeCastingOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/DualInputPortsPythonUDFOpDescV2.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/PythonUDFOpDescV2.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/source/PythonUDFSourceOpDescV2.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/union/UnionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/unneststring/UnnestStringOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/htmlviz/HtmlVizOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/urlviz/UrlVizOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DPThreadSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/TestOperators.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/dictionary/DictionaryMatcherOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/intervalJoin/IntervalOpExecSpec.scala
Labels: engine, refactoring

#2445 Fix ConcurrentModificationException in WorkerSpec
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
Labels: fix, testing

#2449 Enhance the DumbbellPlot Visualization Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/dumbbellPlot/DumbbellDotConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/dumbbellPlot/DumbbellPlotOpDesc.scala
Labels: gui

#2420 Add Initial Implementation of Cost-based Region Plan Generator
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/PhysicalPlan.scala
Labels: enhancement, engine, config, refactoring

#2450 Fix empty groupby key in Aggregate Op
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/AggregateOpDesc.scala
Labels: bug, fix

#2452 Remove the Dependency of Environment when Workflow executes without user system enabled
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionsMetadataPersistService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
Labels: bug

#2442 Refactor InputManager and OutputManager
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/python/core/architecture/handlers/control/add_input_channel_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/add_partitioning_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/assign_port_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/initialize_operator_logic_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/start_worker_handler.py
  core/amber/src/main/python/core/architecture/managers/context.py
  core/amber/src/main/python/core/architecture/managers/operator_manager.py
  core/amber/src/main/python/core/architecture/packaging/input_manager.py
  core/amber/src/main/python/core/architecture/packaging/output_manager.py
  core/amber/src/main/python/core/models/operator.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/runnables/heartbeat.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/runnables/test_main_loop.py
  core/amber/src/main/python/core/util/console_message/replace_print.py
  core/amber/src/main/python/core/util/customized_queue/inner.py
  core/amber/src/main/python/core/util/expression_evaluator/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/InputGateway.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/InputManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkInputGateway.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkOutputGateway.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/WorkerPort.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/promisehandlers/InitializeOperatorLogicHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionExecutionCoordinator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DPThread.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/AddInputChannelHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/AssignPortHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/ModifyOperatorLogicHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/PrepareCheckpointHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/QueryCurrentInputTupleHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/StartHandler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/schema/Schema.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManagerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DPThreadSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
Labels: engine, refactoring

#2446 Initialize executors through message
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/PhysicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/OpExecInitInfo.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonWorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/promisehandlers/InitializeOperatorLogicHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionExecutionCoordinator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/InitializeOperatorLogicHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/ModifyOperatorLogicHandler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/AggregateOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/cartesianProduct/CartesianProductOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/dictionary/DictionaryMatcherOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/difference/DifferenceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/distinct/DistinctOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/download/BulkDownloaderOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/filter/SpecializedFilterOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intersect/IntersectOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intervalJoin/IntervalJoinOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/keywordSearch/KeywordSearchOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/limit/LimitOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/linearregression/LinearRegressionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/randomksampling/RandomKSamplingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/regex/RegexOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/reservoirsampling/ReservoirSamplingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sentiment/SentimentAnalysisOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/managed/ProgressiveSinkOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sortPartitions/SortPartitionsOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterFullArchiveSearchSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/v2/TwitterSearchSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/cache/CacheSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/fetcher/URLFetcherOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/FileScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/ParallelCSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csvOld/CSVOldScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextInputSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/asterixdb/AsterixDBSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/mysql/MySQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/postgresql/PostgreSQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/split/SplitOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/symmetricDifference/SymmetricDifferenceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/typecasting/TypeCastingOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/union/UnionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/unneststring/UnnestStringOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/htmlviz/HtmlVizOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/urlviz/UrlVizOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManagerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DPThreadSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
Labels: engine, refactoring

#2456 Fix sbt compilation warnings
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionExecutionCoordinator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/PhysicalPlan.scala
Labels: fix

#2457 Fix Google Avatar Display
  core/amber/src/main/scala/edu/uci/ics/texera/web/ServletAwareConfigurator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/GuestAuthFilter.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/JwtAuth.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/UserAuthenticator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/Dataset.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/User.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/UserDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowExecutionsDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IUser.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/User.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/UserRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowExecutionsRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/GoogleAuthResource.scala
  core/new-gui/src/app/common/service/user/auth.service.ts
  core/new-gui/src/app/common/type/user.ts
  core/new-gui/src/app/dashboard/admin/component/user/admin-user.component.html
  core/new-gui/src/app/dashboard/user/component/user-avatar/user-avatar.component.html
  core/new-gui/src/app/dashboard/user/component/user-avatar/user-avatar.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-avatar/user-avatar.component.ts
  core/new-gui/src/app/dashboard/user/component/user-icon/user-icon.component.html
  core/new-gui/src/app/workspace/component/menu/coeditor-user-icon/coeditor-user-icon.component.html
  core/new-gui/src/environments/environment.default.ts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/10.sql
Labels: ddl-change, fix

#2385 Add Histogram Visualization Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/histogram/HistogramChartOpDesc.scala
  core/new-gui/src/assets/operator_images/Histogram.png
Labels: enhancement

#2455 Update scripts to run Texera from compiled binary
  core/amber/build.sbt
  core/amber/project/build.properties
  core/amber/project/plugins.sbt
  core/scripts/build.sh
  core/scripts/deploy-daemon.sh
  core/scripts/server.sh
  core/scripts/worker.sh
Labels: scripts

#2462 Fix Python UDF source operator's schema
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/source/PythonUDFSourceOpDescV2.java
Labels: bug, fix

#2471 Fix initialization issue for Mongo sink storage
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/managed/ProgressiveSinkOpExec.scala
Labels: bug, fix

#2470 Add support for Python 3.11
  .github/workflows/github-action-build.yml
Labels: dependencies

#2435 Make Property Editor and Minimap Panel Resizable, Draggable, and Collapsible
  core/new-gui/package.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/type/dynamic-component-config.ts
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor.component.html
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor.component.scss
  core/new-gui/src/app/workspace/component/left-panel/left-panel.component.html
  core/new-gui/src/app/workspace/component/left-panel/left-panel.component.scss
  core/new-gui/src/app/workspace/component/left-panel/left-panel.component.ts
  core/new-gui/src/app/workspace/component/left-panel/operator-menu/operator-label/operator-label.component.scss
  core/new-gui/src/app/workspace/component/left-panel/operator-menu/operator-menu.component.html
  core/new-gui/src/app/workspace/component/left-panel/operator-menu/operator-menu.component.scss
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.html
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.html
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.scss
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.spec.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.ts
  core/new-gui/src/app/workspace/component/property-editor/typecasting-display/type-casting-display.component.scss
  core/new-gui/src/app/workspace/component/property-editor/typecasting-display/type-casting-display.component.ts
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.scss
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.html
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.scss
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.spec.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.html
  core/new-gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.scss
  core/new-gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.ts
  core/new-gui/src/app/workspace/component/workspace.component.html
  core/new-gui/src/app/workspace/component/workspace.component.scss
  core/new-gui/src/styles.scss
  core/new-gui/yarn.lock
Labels: enhancement, refactoring, frontend

#2475 Remove coverage report
  core/new-gui/karma.conf.js
Labels: config

#2477 Fix angular warnings
  core/new-gui/nx.json
  core/new-gui/tsconfig.json
Labels: config

#2332 Load workflow state from a checkpoint
  core/amber/src/main/python/core/architecture/managers/state_manager.py
  core/amber/src/main/python/core/architecture/managers/test_state_manager.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/common/WorkflowActor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/execution/WorkflowExecution.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/StartWorkflowHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/TakeGlobalCheckpointHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/OpExecInitInfo.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/AmberFIFOChannel.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonWorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/ChannelMarkerManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DPThread.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/managers/SerializationManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/InitializeOperatorLogicHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/PrepareCheckpointHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/statetransition/StateManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/storage/EmptyRecordStorage.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/storage/HDFSRecordStorage.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/storage/SequentialRecordStorage.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/storage/VFSRecordStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/request/TexeraWebSocketRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/request/WorkflowCheckpointRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/request/WorkflowInteractionRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionRuntimeService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/managed/ProgressiveSinkOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/storage/MongoDBSinkStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/control/utils/TrivialControlTester.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/CheckpointSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/ReplaySpec.scala
  core/new-gui/src/app/workspace/component/menu/menu.component.html
  core/new-gui/src/app/workspace/component/menu/menu.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: enhancement, engine

#2480 Fix Property Panel overflow and title bar
  core/new-gui/src/app/workspace/component/left-panel/left-panel.component.html
  core/new-gui/src/app/workspace/component/left-panel/left-panel.component.scss
  core/new-gui/src/app/workspace/component/left-panel/left-panel.component.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.html
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.scss
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.ts
Labels: bug

#2478 Remove ML operators written in Scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/mlmodel/MLModelOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/mlmodel/MLModelOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/linearregression/LinearRegressionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/linearregression/LinearRegressionOpExec.java
  core/new-gui/src/assets/operator_images/LinearRegression.png
Labels: refactoring

#2482 Fix missing runtime stats upon reconnection
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/QueryWorkerStatisticsHandler.scala
Labels: bug, fix

#2469 Unify Amber state update messages
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerEvent.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PauseHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/QueryWorkerStatisticsHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/ResumeHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/WorkerExecutionCompletedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/WorkerStateUpdatedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionExecutionCoordinator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionRuntimeService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionStatsService.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/CheckpointSpec.scala
Labels: refactoring

#2483 Fix blinking issue for an unchanged plot
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.ts
Labels: bug, fix

#2461 Add TablesPlot Visualization Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/tablesChart/TablesConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/tablesChart/TablesPlotOpDesc.scala
  core/new-gui/src/assets/operator_images/TablesPlot.png
Labels: enhancement

#2485 Fix the bug that floating panels can be resized after collapsed
  core/new-gui/src/app/workspace/component/left-panel/left-panel.component.html
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.html
Labels: bug

#2486 Fix result panel height
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.scss
Labels: bug

#2487 Replace mini map icon
  core/new-gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.html
Labels: gui

#2479 Simplify Python iterator syntax
  core/amber/src/main/python/core/runnables/main_loop.py
Labels: Python, refactoring

#2259 Support partial workflow execution up to an operator
  core/new-gui/src/app/common/util/set.ts
  core/new-gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.html
  core/new-gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/service/execute-workflow/mock-workflow-plan.ts
  core/new-gui/src/app/workspace/service/operator-menu/operator-menu.service.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
Labels: enhancement, gui

#2492 Disable time-travel related frontend component by default
  core/new-gui/src/app/workspace/component/left-panel/left-panel.component.ts
  core/new-gui/src/app/workspace/component/menu/menu.component.html
  core/new-gui/src/app/workspace/component/menu/menu.component.ts
  core/new-gui/src/environments/environment.default.ts
Labels: config, fix

#2493 Change the default height of floating panels
  core/new-gui/src/app/workspace/component/left-panel/left-panel.component.html
  core/new-gui/src/app/workspace/component/left-panel/left-panel.component.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.html
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.ts
Labels: gui

#2495 Show mini-map by default and cache the hidden state of mini-map
  core/new-gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.ts
Labels: gui

#2494 Disable grid by default
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: gui

#2496 Add bottom border to the operator labels
  core/new-gui/src/app/workspace/component/left-panel/operator-menu/operator-menu.component.scss
Labels: gui

#2491 Fix logo redirection
  core/new-gui/src/app/workspace/component/menu/menu.component.html
Labels: bug, fix

#2499 Fix the issue of retrieving the incorrect wid when version-list component is initializing
  core/new-gui/src/app/workspace/component/left-panel/left-panel.component.spec.ts
  core/new-gui/src/app/workspace/component/left-panel/versions-list/versions-list.component.spec.ts
  core/new-gui/src/app/workspace/component/left-panel/versions-list/versions-list.component.ts
Labels: bug

#2497 Make mongo collection cleanup upon server restart configurable
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
Labels: fix

#2506 Disable run button if workflow is empty
  core/new-gui/src/app/workspace/component/menu/menu.component.ts
  core/new-gui/src/app/workspace/service/validation/validation-workflow.service.ts
Labels: fix

#2508 Remove unnecessary console logs on frontend
  core/new-gui/src/app/dashboard/admin/service/admin-user.service.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/workflow-execution-modal.component.ts
  core/new-gui/src/app/dashboard/user/service/user-quota/user-quota.service.ts
  core/new-gui/src/app/dashboard/user/service/workflow-version/workflow-version.service.ts
  core/new-gui/src/app/workspace/component/menu/menu.component.ts
  core/new-gui/src/app/workspace/service/dynamic-schema/auto-attribute-correction/auto-attribute-correction.service.ts
  core/new-gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
Labels: enhancement, frontend

#2472 Add Blocking Output Port
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/common/workflow.proto
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/common/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/PhysicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/PhysicalPlan.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/AggregateOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/cartesianProduct/CartesianProductOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/difference/DifferenceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/distinct/DistinctOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/filter/SpecializedFilterOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intersect/IntersectOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intervalJoin/IntervalJoinOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/managed/ProgressiveSinkOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sortPartitions/SortPartitionsOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/symmetricDifference/SymmetricDifferenceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/typecasting/TypeCastingOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/DualInputPortsPythonUDFOpDescV2.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/source/PythonUDFSourceOpDescV2.java
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/workflow/OutputPort.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/workflow/WorkflowProto.scala
Labels: engine

#2509 Bump NX to 18.1.3
  .github/workflows/github-action-build.yml
  core/new-gui/angular.json
  core/new-gui/decorate-angular-cli.js
  core/new-gui/package.json
  core/new-gui/yarn.lock
Labels: dependencies

#2507 Improve frontend error reporting
  core/amber/src/main/scala/edu/uci/ics/amber/clustering/ClusterListener.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/locationpreference/LocationPreference.scala
  core/amber/src/main/scala/edu/uci/ics/amber/error/ErrorUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/ScanSourceOpDesc.scala
  core/gui/src/app/workspace/component/result-panel/error-frame/error-frame.component.html
  core/gui/src/app/workspace/component/result-panel/error-frame/error-frame.component.scss
Labels: enhancement

#2512 Remove the `storage_path` from the `dataset` table
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/Dataset.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/WorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/DatasetDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/WorkflowExecutionsDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IDataset.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IWorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/Dataset.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/WorkflowExecutions.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/DatasetRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/WorkflowExecutionsRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DatasetSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/11.sql
Labels: bug

#2513 Fix mini-map state cache
  core/gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.ts
Labels: bug, fix

#2517 Ignore the files produced by NX
  core/gui/.gitignore
Labels: fix

#2518 Fix the issue that dataset file preview is wrong when switching between versions
  core/gui/src/app/dashboard/user/component/user-dataset/user-dataset-explorer/user-dataset-explorer.component.html
  core/gui/src/app/dashboard/user/component/user-dataset/user-dataset-explorer/user-dataset-file-renderer/user-dataset-file-renderer.component.ts
Labels: bug

#2515 Enable environment tab and file scan from files in environment
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/SourceOperatorExecutor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DatasetSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/service/GitVersionControlLocalFileStorage.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/type/DatasetFileDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/utils/JGitVersionControl.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/environment/EnvironmentResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionsMetadataPersistService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/FileScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/FileScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/ScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/CSVScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/ParallelCSVScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csv/ParallelCSVScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/csvOld/CSVOldScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONLScanSourceOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/json/JSONUtil.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/dumbbellPlot/DumbbellPlotOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/FileScanSourceOpDescSpec.scala
  core/gui/package.json
  core/gui/src/app/app.module.ts
  core/gui/src/app/common/service/workflow-persist/workflow-persist.service.ts
  core/gui/src/app/common/type/environment.ts
  core/gui/src/app/dashboard/user/component/user-dataset/user-dataset-explorer/user-dataset-explorer.component.html
  core/gui/src/app/dashboard/user/component/user-dataset/user-dataset-explorer/user-dataset-explorer.component.ts
  core/gui/src/app/dashboard/user/component/user-dataset/user-dataset-explorer/user-dataset-file-renderer/user-dataset-file-renderer.component.ts
  core/gui/src/app/dashboard/user/component/user-dataset/user-dataset-explorer/user-dataset-version-creator/user-dataset-version-creator.component.html
  core/gui/src/app/dashboard/user/component/user-dataset/user-dataset-explorer/user-dataset-version-creator/user-dataset-version-creator.component.ts
  core/gui/src/app/dashboard/user/component/user-dataset/user-dataset.component.html
  core/gui/src/app/dashboard/user/component/user-dataset/user-dataset.component.scss
  core/gui/src/app/dashboard/user/component/user-dataset/user-dataset.component.ts
  core/gui/src/app/dashboard/user/service/user-dataset/dataset.service.ts
  core/gui/src/app/dashboard/user/service/user-environment/environment.service.ts
  core/gui/src/app/dashboard/user/service/user-file/user-file-upload.service.ts
  core/gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.ts
  core/gui/src/app/workspace/component/left-panel/environment/environment.component.html
  core/gui/src/app/workspace/component/left-panel/environment/environment.component.scss
  core/gui/src/app/workspace/component/left-panel/environment/environment.component.ts
  core/gui/src/app/workspace/component/left-panel/left-panel.component.ts
  core/gui/yarn.lock
Labels: gui, webserver

#2519 Fix left panel order array
  core/gui/src/app/workspace/component/left-panel/left-panel.component.ts
Labels: fix

#2520 Disable Dragging Co-editor's Cursor On Joint Paper
  core/gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
  core/gui/src/app/workspace/service/workflow-graph/model/coeditor-presence.service.ts
Labels: bug, fix, frontend

#2522 Hide the dummy operator in the operator list
  core/gui/src/app/workspace/component/left-panel/operator-menu/operator-menu.component.ts
Labels: fix

#2523 Fix the double slash in the environment retrieval request
  core/gui/src/app/common/service/workflow-persist/workflow-persist.service.ts
Labels: bug

#2530 Remove the file loading animation when creating the dataset
  core/gui/src/app/dashboard/user/component/user-dataset/user-dataset-explorer/user-dataset-explorer.component.html
Labels: bug

#2526 Fix the double slash in environment service
  core/gui/src/app/dashboard/user/service/user-environment/environment.service.ts
Labels: bug

#2531 Regard `Files` tab as the `Results` used to only store the workflows' outputs
  core/gui/src/app/dashboard/user/component/dashboard.component.html
  core/gui/src/app/dashboard/user/component/user-file/user-file.component.html
  core/gui/src/app/dashboard/user/component/user-file/user-file.component.ts
Labels: gui

#2529 Enable asynchronous workflow stats persistence
  core/amber/src/main/scala/edu/uci/ics/texera/Utils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionStatsService.scala
Labels: bug, fix

#2532 Remove unused upload file modules
  core/gui/package.json
  core/gui/src/app/app.module.ts
  core/gui/src/app/dashboard/user/component/user-file/ngbd-modal-file-add/ngbd-modal-file-add.component.html
  core/gui/src/app/dashboard/user/component/user-file/ngbd-modal-file-add/ngbd-modal-file-add.component.scss
  core/gui/src/app/dashboard/user/component/user-file/ngbd-modal-file-add/ngbd-modal-file-add.component.spec.ts
  core/gui/src/app/dashboard/user/component/user-file/ngbd-modal-file-add/ngbd-modal-file-add.component.ts
  core/gui/src/app/dashboard/user/component/user-file/user-file.component.ts
  core/gui/yarn.lock
Labels: dependencies

#2538 Make newly-created workflow persist to the database directly
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.ts
Labels: webserver

#2533 Fix workflow sharing modal access list icons
  core/gui/src/app/dashboard/user/component/share-access/share-access.component.html
Labels: fix

#2534 Add Resource Sharing Notification
  core/gui/src/app/dashboard/user/component/share-access/share-access.component.ts
Labels: gui
