Repository apache/texera, pull requests merged in 2024-11, with the labels that each got.

#2984 Make scalapb marked as source in sbt project
  core/amber/.scalafmt.conf
  core/amber/build.sbt
Labels: fix

#2988 Fix Left Panel Resize Bug
  core/gui/src/app/workspace/component/left-panel/left-panel.component.scss
Labels: bug, gui, fix, frontend

#2961 Add more necessities to `workflow-core`
  core/micro-services/build.sbt
  core/micro-services/workflow-core/build.sbt
  core/micro-services/workflow-core/src/main/resources/storage-config.yaml
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/WorkflowRuntimeException.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/executor/SinkOperatorExecutor.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/executor/SourceOperatorExecutor.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/DocumentFactory.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/FileResolver.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/StorageConfig.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/model/BufferedItemWriter.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/model/DatasetFileDocument.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/model/ReadonlyLocalFileDocument.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/model/ReadonlyVirtualDocument.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/model/VirtualCollection.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/model/VirtualDocument.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/MemoryStorage.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/MongoDBSinkStorage.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/OpResultStorage.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/SinkStorageReader.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/SinkStorageWriter.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/WorkflowResultStore.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/util/dataset/GitVersionControlLocalFileStorage.java
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/util/dataset/JGitVersionControl.java
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/util/dataset/PhysicalFileNode.java
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/util/mongo/MongoCollectionManager.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/util/mongo/MongoDatabaseManager.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/util/PathUtils.scala
Labels: refactoring

#3001 Let ReservoirSampling use scheduled worker number count
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/reservoirsampling/ReservoirSamplingOpDesc.scala
Labels: fix

#3002 Improve selecting source file experience
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/workspace/component/file-selection/file-selection.component.html
  core/gui/src/app/workspace/component/file-selection/file-selection.component.ts
  core/gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.ts
Labels: enhancement

#3003 Let RandomKSamplingOp use scheduled worker number count
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/randomksampling/RandomKSamplingOpDesc.scala
Labels: fix

#3006 Remove home page and step from the detail page
  core/gui/src/app/hub/component/workflow/detail/hub-workflow-detail.component.html
  core/gui/src/app/hub/component/workflow/detail/hub-workflow-detail.component.ts
Labels: fix

#3007 Fix sharing issue of hub preview
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/workflow/HubWorkflowResource.scala
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.ts
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow.component.ts
  core/gui/src/app/hub/component/workflow/detail/hub-workflow-detail.component.html
  core/gui/src/app/hub/component/workflow/detail/hub-workflow-detail.component.scss
  core/gui/src/app/hub/component/workflow/detail/hub-workflow-detail.component.ts
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: gui, fix, undergrad-task

#3013 Add blue background to clone button
  core/gui/src/app/hub/component/workflow/detail/hub-workflow-detail.component.html
Labels: frontend

#3011 Improve List Item Layout
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.html
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.scss
Labels: gui

#3014 Rename Home Component to About Component
  core/gui/src/app/app-routing.module.ts
  core/gui/src/app/app.module.ts
  core/gui/src/app/dashboard/component/user/user-icon/user-icon.component.spec.ts
  core/gui/src/app/hub/component/about/about.component.html
  core/gui/src/app/hub/component/about/about.component.scss
  core/gui/src/app/hub/component/about/about.component.spec.ts
  core/gui/src/app/hub/component/about/about.component.ts
  core/gui/src/app/hub/component/about/local-login/local-login.component.html
  core/gui/src/app/hub/component/about/local-login/local-login.component.scss
  core/gui/src/app/hub/component/about/local-login/local-login.component.ts
Labels: refactoring

#3017 Fix Aggregate Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/AggregateOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/AggregationOperation.scala
Labels: fix, frontend

#3025 Fix Workflow Versioning Bug by Enforcing Singleton Instance of WorkflowPersistService
  core/gui/src/app/dashboard/component/dashboard.component.ts
Labels: fix, frontend

#2996 Minor Updates to CostBasedRegionPlanGenerator
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/Region.scala
Labels: engine, fix

#3033 Remove Operator Group
  core/gui/src/app/common/service/workflow-persist/workflow-persist.service.spec.ts
  core/gui/src/app/common/type/workflow.ts
  core/gui/src/app/dashboard/component/admin/execution/admin-execution.component.ts
  core/gui/src/app/dashboard/component/user-dashboard-test-fixtures.ts
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow.component.ts
  core/gui/src/app/dashboard/service/user/workflow-version/workflow-version.service.ts
  core/gui/src/app/workspace/component/left-panel/left-panel.component.spec.ts
  core/gui/src/app/workspace/component/menu/menu.component.ts
  core/gui/src/app/workspace/component/property-editor/property-editor.component.ts
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.html
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.spec.ts
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.ts
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/gui/src/app/workspace/service/drag-drop/drag-drop.service.ts
  core/gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
  core/gui/src/app/workspace/service/operator-menu/operator-menu.service.ts
  core/gui/src/app/workspace/service/workflow-graph/model/joint-graph-wrapper.ts
  core/gui/src/app/workspace/service/workflow-graph/model/operator-group.ts
  core/gui/src/app/workspace/service/workflow-graph/model/shared-model-change-handler.ts
  core/gui/src/app/workspace/service/workflow-graph/model/sync-operator-group.spec.ts
  core/gui/src/app/workspace/service/workflow-graph/model/sync-operator-group.ts
  core/gui/src/app/workspace/service/workflow-graph/model/sync-texera-model.spec.ts
  core/gui/src/app/workspace/service/workflow-graph/model/sync-texera-model.ts
  core/gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
Labels: refactoring, frontend

#3050 Clear the result of previous execution when a new execution starts
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/storage/OpResultStorage.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/BatchSizePropagationSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
Labels: bug

#3052 Fix Reverse Interpretation of Limit and Offset in Text Input Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextInputSourceOpExec.scala
Labels: fix

#3061 Remove string cast on result row display
  core/gui/src/app/common/util/json.ts
Labels: bug, fix

#3059 Allow force casting of comma-separated numbers
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/model/tuple/AttributeTypeUtils.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/common/model/tuple/AttributeTypeUtilsSpec.scala
Labels: enhancement, fix

#3062 Introduce globle reset and close buttons for panels
  core/gui/src/app/workspace/component/left-panel/left-panel.component.ts
  core/gui/src/app/workspace/component/menu/menu.component.html
  core/gui/src/app/workspace/component/menu/menu.component.ts
  core/gui/src/app/workspace/component/property-editor/property-editor.component.html
  core/gui/src/app/workspace/component/property-editor/property-editor.component.ts
  core/gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.ts
  core/gui/src/app/workspace/service/panel/panel.service.ts
Labels: enhancement

#3078 Address "Too Many Connections" Issue for Workflow Runtime Statistics
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionStatsService.scala
  core/gui/src/app/dashboard/component/user/user-workflow/ngbd-modal-workflow-executions/workflow-runtime-statistics/workflow-runtime-statistics.component.ts
  core/gui/src/app/dashboard/service/user/workflow-executions/workflow-executions.service.ts
  core/gui/src/app/dashboard/type/operator-runtime-statistics.ts
Labels: fix

#3021 Tentative fix for a random error of checkpoint test
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/CheckpointSpec.scala
Labels: bug

#3020 Move workflow compiling service to `micro-services/workflow-compiling-service`
  core/micro-services/build.sbt
  core/micro-services/workflow-compiling-service/build.sbt
  core/micro-services/workflow-compiling-service/project/build.properties
  core/micro-services/workflow-compiling-service/src/main/resources/workflow-compiling-service-config.yaml
  core/micro-services/workflow-compiling-service/src/main/scala/edu/uci/ics/amber/compiler/WorkflowCompiler.scala
  core/micro-services/workflow-compiling-service/src/main/scala/edu/uci/ics/amber/compiler/model/LogicalLink.scala
  core/micro-services/workflow-compiling-service/src/main/scala/edu/uci/ics/amber/compiler/model/LogicalPlan.scala
  core/micro-services/workflow-compiling-service/src/main/scala/edu/uci/ics/amber/compiler/model/LogicalPlanPojo.scala
  core/micro-services/workflow-compiling-service/src/main/scala/edu/uci/ics/amber/compiler/util/SinkInjectionTransformer.scala
  core/micro-services/workflow-compiling-service/src/main/scala/edu/uci/ics/texera/service/WorkflowCompilingService.scala
  core/micro-services/workflow-compiling-service/src/main/scala/edu/uci/ics/texera/service/WorkflowCompilingServiceConfiguration.scala
  core/micro-services/workflow-compiling-service/src/main/scala/edu/uci/ics/texera/service/resource/WorkflowCompilationResource.scala
  core/micro-services/workflow-compiling-service/src/test/resources/country_sales_small.csv
  core/micro-services/workflow-compiling-service/src/test/scala/edu/uci/ics/texera/service/resource/WorkflowCompilationResourceSpec.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/workflow/PhysicalOp.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/core/workflow/PhysicalPlan.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/util/JSONUtils.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/util/PathUtils.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/util/serde/PortIdentityKeyDeserializer.scala
  core/micro-services/workflow-core/src/main/scala/edu/uci/ics/amber/util/serde/PortIdentityKeySerializer.scala
  core/micro-services/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/projection/AttributeUnit.java
Labels: refactoring

#3030 Fix result panel docking behavior
  core/gui/src/app/workspace/component/result-panel/result-panel.component.html
  core/gui/src/app/workspace/component/result-panel/result-panel.component.ts
Labels: gui, fix, frontend

#3082 Resolve Unresponsive "Your Work" Menu in Dashboard
  core/gui/src/app/dashboard/component/dashboard.component.ts
Labels: fix, frontend

#3019 Make `gui` and deployment scripts use `micro-services/workflow-compiling-service`
  Dockerfile
  core/gui/.prettierignore
  core/gui/package.json
  core/gui/proxy.config.json
  core/gui/src/app/common/type/physical-plan.ts
  core/gui/src/app/common/type/proto/edu/uci/ics/amber/engine/common/virtualidentity.ts
  core/gui/src/app/common/type/proto/edu/uci/ics/amber/engine/common/workflow.ts
  core/gui/src/app/common/type/proto/google/protobuf/descriptor.ts
  core/gui/src/app/common/type/proto/scalapb/scalapb.ts
  core/gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/gui/src/app/workspace/component/property-editor/typecasting-display/type-casting-display.component.spec.ts
  core/gui/src/app/workspace/component/property-editor/typecasting-display/type-casting-display.component.ts
  core/gui/src/app/workspace/component/result-panel/error-frame/error-frame.component.ts
  core/gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/gui/src/app/workspace/component/workspace.component.ts
  core/gui/src/app/workspace/service/compile-workflow/workflow-compiling.service.ts
  core/gui/src/app/workspace/types/operator-schema.interface.ts
  core/gui/src/app/workspace/types/workflow-compiling.interface.ts
  core/gui/yarn.lock
  core/scripts/build-docker.sh
  core/scripts/build-workflow-compiling-service.sh
  core/scripts/build.sh
  core/scripts/deploy-daemon.sh
  core/scripts/deploy-docker.sh
  core/scripts/gui-proto-gen.sh
  core/scripts/workflow-compiling-service.sh
Labels: gui, dependencies

#3032 Refactoring of Pruning Techniques in CostBasedRegionPlanGenerator
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedRegionPlanGenerator.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedRegionPlanGeneratorSpec.scala
Labels: engine, refactoring

#3101 Improve UI Behavior by Hiding Execution Option for Operators with Compilation Errors
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.html
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.spec.ts
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.ts
Labels: gui, fix

#3095 Add Time Logging in CostBasedRegionPlanGenerator
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedRegionPlanGenerator.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedRegionPlanGeneratorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/BatchSizePropagationSpec.scala
Labels: engine

#3103 Prevent Workflow Execution for Inactive Operators
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.html
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.spec.ts
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.ts
  core/gui/src/app/workspace/service/validation/validation-workflow.service.ts
  core/gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
Labels: gui, fix

#3106 Fix Keyword Search Operator for Numeric Tokens and Improve Exact Matching Behavior
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/keywordSearch/KeywordSearchOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/keywordSearch/KeywordSearchOpExecSpec.scala
Labels: fix

#3108 Cleanup unused flags and services in frontend
  core/gui/src/app/common/formly/formly-utils.ts
  core/gui/src/app/common/util/json.ts
  core/gui/src/app/workspace/component/menu/menu.component.html
  core/gui/src/app/workspace/component/property-editor/property-editor.component.spec.ts
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.html
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/gui/src/app/workspace/component/workspace.component.ts
  core/gui/src/app/workspace/service/compile-workflow/workflow-compiling.service.ts
  core/gui/src/app/workspace/service/dynamic-schema/dynamic-schema.service.ts
  core/gui/src/app/workspace/service/dynamic-schema/schema-propagation/mock-schema-propagation.data.ts
  core/gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.spec.ts
  core/gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.ts
  core/gui/src/app/workspace/service/workflow-result/workflow-result.service.spec.ts
  core/gui/src/app/workspace/service/workflow-result/workflow-result.service.ts
  core/gui/src/app/workspace/service/workflow-status/operator-reuse-cache-status.service.ts
  core/gui/src/app/workspace/service/workflow-status/workflow-status.service.ts
  core/gui/src/app/workspace/types/workflow-websocket.interface.ts
  core/gui/src/environments/environment.default.ts
Labels: refactoring

#3110 Independent linear regression op with degree
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnAdaptiveBoostingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnBaggingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnBernoulliNaiveBayesOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnClassifierOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnComplementNaiveBayesOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnDecisionTreeOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnDummyClassifierOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnExtraTreeOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnExtraTreesOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnGaussianNaiveBayesOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnGradientBoostingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnKNNOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnLinearRegressionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnLinearSVMOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnLogisticRegressionCVOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnLogisticRegressionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnMultiLayerPerceptronOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnMultinomialNaiveBayesOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnNearestCentroidOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnPassiveAggressiveOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnPerceptronOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnProbabilityCalibrationOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnRandomForestOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnRidgeCVOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnRidgeOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnSDGOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnSVMOpDesc.scala
Labels: enhancement

#3114 Use port 1 on Prediction Op ground truth
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnPredictionOpDesc.scala
Labels: bug, fix

#3116 Sort Operators in Operator Panel's List
  core/gui/src/app/workspace/component/left-panel/operator-menu/operator-menu.component.ts
Labels: enhancement, gui, frontend

#3117 Bump plotly to 5.24.1
  core/amber/operator-requirements.txt
Labels: dependencies

#3049 Update Result Panel Title When User Unhighlight Operators
  core/gui/src/app/workspace/component/result-panel/result-panel.component.html
  core/gui/src/app/workspace/component/result-panel/result-panel.component.ts
Labels: frontend

#3112 File Selection Window Enable Resize
  core/gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.ts
Labels: frontend
