Repository apache/texera, pull requests merged in 2024-04, with the labels that each got.

#2540 Add debounce time on EditTimeCompilationRequest
  core/gui/src/app/workspace/service/workflow-status/operator-reuse-cache-status.service.ts
Labels: fix

#2541 Apply debounce time on all changes triggering schema propagation
  core/gui/src/app/workspace/service/dynamic-schema/auto-attribute-correction/auto-attribute-correction.service.spec.ts
  core/gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.ts
Labels: fix

#2536 Fix Public Project Modal Life Cycle
  core/gui/src/app/dashboard/user/component/user-project/public-project/public-project.component.ts
Labels: fix

#2525 Remove the title for discussion tab
  core/gui/src/app/dashboard/user/component/flarum/flarum.component.html
Labels: fix

#2544 Fix side-effects of storing statistics after supporting asynchronous workflow stats update
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionStatsService.scala
Labels: bug

#2535 Fix account pending approval alert
  core/gui/src/app/common/service/user/auth.service.ts
Labels: fix

#2539 Replace Gmail Service OAuth with SMTP
  core/amber/build.sbt
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/GmailResource.scala
  core/gui/src/app/dashboard/admin/component/gmail/gmail.component.html
  core/gui/src/app/dashboard/admin/component/gmail/gmail.component.scss
  core/gui/src/app/dashboard/admin/component/gmail/gmail.component.ts
  core/gui/src/app/dashboard/admin/service/gmail.service.ts
Labels: dependencies

#2545 Make Dashboard Menu Collapsed By Default
  core/gui/src/app/dashboard/user/component/dashboard.component.html
  core/gui/src/app/dashboard/user/component/dashboard.component.scss
Labels: gui

#2542 Refine the gui of inputing file name for source scan operator
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/environment/EnvironmentResource.scala
  core/gui/src/app/app.module.ts
  core/gui/src/app/common/type/datasetVersionFileTree.ts
  core/gui/src/app/dashboard/user/component/user-dataset/user-dataset-explorer/user-dataset-explorer.component.ts
  core/gui/src/app/dashboard/user/component/user-dataset/user-dataset-explorer/user-dataset-version-filetree/user-dataset-version-filetree.component.html
  core/gui/src/app/dashboard/user/component/user-dataset/user-dataset-explorer/user-dataset-version-filetree/user-dataset-version-filetree.component.ts
  core/gui/src/app/dashboard/user/service/user-environment/environment.service.ts
  core/gui/src/app/workspace/component/file-selection/file-selection.component.html
  core/gui/src/app/workspace/component/file-selection/file-selection.component.scss
  core/gui/src/app/workspace/component/file-selection/file-selection.component.ts
  core/gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.html
  core/gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.spec.ts
  core/gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.ts
Labels: gui

#2547 Add Sort operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sort/SortCriteriaUnit.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sort/SortOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sort/SortPreference.java
  core/gui/src/assets/operator_images/Sort.png
Labels: enhancement

#2548 Add Dockerfile for Building Texera Docker Image
  Dockerfile
  core/scripts/build-docker.sh
  core/scripts/deploy-docker.sh
Labels: scripts

#2549 Set Limit operator as non-parallelizable
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/limit/LimitOpDesc.scala
Labels: enhancement, config

#2551 Fix long "Running" workflow in admin dashboard
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
Labels: bug, fix

#2550 Fix the workflow version creation and retrieval logics
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowVersionResource.scala
Labels: bug

#2553 Remove partitioned limit per worker in Limit operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/limit/LimitOpDesc.scala
Labels: bug, fix

#2555 Remove "no dot in column names" enforcement for mongo sink
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/storage/MongoDBSinkStorage.scala
Labels: enhancement

#2567 Duplicate environment when duplicate workflow
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/environment/EnvironmentResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
Labels: bug

#2573 Allow the access propagation from workflow to dataset
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
Labels: bug

#2574 Fix Resource Sharing Error Report
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowAccessResource.scala
  core/gui/src/app/dashboard/user/component/share-access/share-access.component.ts
Labels: fix

#2575 Disallow Self-Sharing Workflows
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowAccessResource.scala
Labels: fix

#2576 Fix the bug that allows users to add new operators to read-only workflows
  core/gui/src/app/workspace/component/left-panel/operator-menu/operator-label/operator-label.component.scss
  core/gui/src/app/workspace/component/left-panel/operator-menu/operator-label/operator-label.component.ts
Labels: fix

#2577 Update mongo driver library to 5.0.0
  core/amber/build.sbt
Labels: enhancement

#2578 Remove schema auto correct service
  core/gui/src/app/workspace/component/workspace.component.ts
  core/gui/src/app/workspace/service/dynamic-schema/auto-attribute-correction/auto-attribute-correction.service.spec.ts
  core/gui/src/app/workspace/service/dynamic-schema/auto-attribute-correction/auto-attribute-correction.service.ts
  core/gui/src/app/workspace/service/dynamic-schema/auto-attribute-correction/mock-auto-attribute-correction.data.ts
Labels: fix

#2579 Fix type casting display
  core/gui/src/app/workspace/component/property-editor/typecasting-display/type-casting-display.component.ts
Labels: bug, fix

#2570 Enhancing Workflow Runtime Statistics Measurement at Port Level
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlreturns.proto
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/statistics.proto
  core/amber/src/main/protobuf/edu/uci/ics/texera/workflowruntimestate.proto
  core/amber/src/main/python/core/architecture/handlers/control/query_statistics_handler.py
  core/amber/src/main/python/core/architecture/managers/statistics_manager.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/runnables/test_main_loop.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/sendsemantics/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/common/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/texera/web/__init__.py
  core/amber/src/main/python/proto/scalapb/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerEvent.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/execution/ExecutionUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/execution/OperatorExecution.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/execution/RegionExecution.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/execution/WorkflowExecution.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PauseHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/QueryWorkerStatisticsHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/ResumeHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/WorkerStateUpdatedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerExecution.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionExecutionCoordinator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/managers/StatisticsManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/QueryStatisticsHandler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/event/OperatorStatisticsUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionStatsService.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlReturnV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlreturnsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/statistics/PortTupleCountMapping.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/statistics/StatisticsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/statistics/WorkerMetrics.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/statistics/WorkerStatistics.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/ExecutionMetadataStore.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/ExecutionStatsStore.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/OperatorMetrics.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/OperatorRuntimeStats.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/OperatorStatistics.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/WorkflowFatalError.scala
  core/amber/src/main/scalapb/edu/uci/ics/texera/web/workflowruntimestate/WorkflowruntimestateProto.scala
Labels: engine, urgent

#2582 Disable parallelization for diff and intersect operators
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/difference/DifferenceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intersect/IntersectOpDesc.scala
Labels: fix

#2583 Disable parallelization for SymmetricDifference
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/symmetricDifference/SymmetricDifferenceOpDesc.scala
Labels: fix

#2584 Fix "head of empty list" error for stats report
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/execution/OperatorExecution.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/execution/RegionExecution.scala
Labels: bug, fix

#2585 Fix incorrect execution state aggregation for multi-region workflows
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/execution/WorkflowExecution.scala
Labels: bug, fix

#2589 Fix set-based operators to be parallelizable
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/difference/DifferenceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intersect/IntersectOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/symmetricDifference/SymmetricDifferenceOpDesc.scala
Labels: fix

#2590 Fix The Issue That Python Operators Cannot Be Paused And Resumed
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlreturns.proto
  core/amber/src/main/python/core/runnables/test_main_loop.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlReturnV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlreturnsProto.scala
Labels: bug

#2591 Fix file scan with filename
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/FileScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/FileScanSourceOpExec.scala
Labels: fix

#2594 Fix Python code indent for linechart operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/lineChart/LineChartOpDesc.scala
Labels: bug, fix

#2595 Enhancing Statistics Manager to Include Internal Ports
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/statistics.proto
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/execution/ExecutionUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/managers/StatisticsManager.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/statistics/PortTupleCountMapping.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/statistics/StatisticsProto.scala
Labels: enhancement

#2596 Fix schema propagation for native python op
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/PythonOperatorDescriptor.scala
Labels: bug, fix

#2597 Fix missing schema auto fill on ScatterPlot
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpDesc.scala
Labels: fix

#2593 Introduce File Layer Abstraction
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/storage/VirtualCollection.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/storage/VirtualDocument.scala
Labels: engine

#2599 Fix null schema exception when MongoDB CacheSource starts
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/storage/MongoDBSinkStorage.scala
Labels: bug, fix

#2604 Making Result Panel Draggable, Resizable, and Collapsible
  core/gui/src/app/app.module.ts
  core/gui/src/app/workspace/component/left-panel/left-panel.component.ts
  core/gui/src/app/workspace/component/property-editor/property-editor.component.html
  core/gui/src/app/workspace/component/result-panel-toggle/result-panel-toggle.component.html
  core/gui/src/app/workspace/component/result-panel-toggle/result-panel-toggle.component.scss
  core/gui/src/app/workspace/component/result-panel-toggle/result-panel-toggle.component.spec.ts
  core/gui/src/app/workspace/component/result-panel-toggle/result-panel-toggle.component.ts
  core/gui/src/app/workspace/component/result-panel/result-panel-modal.component.ts
  core/gui/src/app/workspace/component/result-panel/result-panel-model.component.scss
  core/gui/src/app/workspace/component/result-panel/result-panel.component.html
  core/gui/src/app/workspace/component/result-panel/result-panel.component.scss
  core/gui/src/app/workspace/component/result-panel/result-panel.component.spec.ts
  core/gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.spec.ts
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/gui/src/app/workspace/component/workspace.component.html
  core/gui/src/app/workspace/component/workspace.component.scss
  core/gui/src/app/workspace/component/workspace.component.ts
  core/gui/src/app/workspace/service/result-panel-toggle/result-panel-toggle.service.spec.ts
  core/gui/src/app/workspace/service/result-panel-toggle/result-panel-toggle.service.ts
  core/gui/src/app/workspace/service/workflow-result/panel-resize/panel-resize.service.spec.ts
  core/gui/src/app/workspace/service/workflow-result/panel-resize/panel-resize.service.ts
  core/gui/src/app/workspace/service/workflow-result/workflow-result.service.ts
Labels: enhancement, refactoring, frontend

#2572 Grant Dummy Operators Access to Dummy Property Field
  core/gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
Labels: undergrad-task

#2610 Generate dataset version name based on number of versions and user-provided description
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/gui/src/app/dashboard/user/component/user-dataset/user-dataset-explorer/user-dataset-version-creator/user-dataset-version-creator.component.ts
Labels: enhancement

#2617 Enable Fine-grained Property Panel Shared Editing
  core/gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
Labels: bug, gui

#2623 Fix Result Panel Not Showing Results Occasionally
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
Labels: bug, fix, frontend

#2616 Save result file to existing dataset
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/request/ResultExportRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/gui/src/app/app.module.ts
  core/gui/src/app/workspace/component/menu/menu.component.ts
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.html
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.scss
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
  core/gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: enhancement

#2620 Fix Comment Box Positions Not Persisted
  core/gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
Labels: bug, fix, frontend

#2624 Fix Incorrect Size for Revert Version Button
  core/gui/src/app/workspace/component/menu/menu.component.html
Labels: bug, gui
