Repository apache/texera, pull requests merged in 2024-06, with the labels that each got.

#2685 Add Sklearn SVM Training Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/machineLearning/sklearnAdvanced/SVCTrainer/SklearnAdvancedSVCParameters.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/machineLearning/sklearnAdvanced/SVCTrainer/SklearnAdvancedSVCTrainerOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/machineLearning/sklearnAdvanced/SVRTrainer/SklearnAdvancedSVRParameters.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/machineLearning/sklearnAdvanced/SVRTrainer/SklearnAdvancedSVRTrainerOpDesc.scala
  core/gui/src/assets/operator_images/SVCTrainer.png
  core/gui/src/assets/operator_images/SVRTrainer.png
Labels: enhancement

#2691 Fix Python Console GUI
  core/gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.html
  core/gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.scss
  core/gui/src/app/workspace/component/result-panel/result-panel.component.html
  core/gui/src/app/workspace/component/result-panel/result-panel.component.scss
  core/gui/src/app/workspace/component/result-panel/result-panel.component.spec.ts
Labels: fix

#2690 Fix blinking issue in result panel during the execution
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
Labels: bug, fix

#2686 Enhancing the Projection Operator by Adding a Drop Option
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpExec.scala
Labels: enhancement

#2698 Pin numpy version to be <2.0
  core/amber/requirements.txt
Labels: dependencies

#2675 Add Scorer Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/OperatorGroupConstants.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/machineLearning/Scorer/MachineLearningScorerOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/machineLearning/Scorer/classificationMetricsFnc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/machineLearning/Scorer/regressionMetricsFnc.java
  core/gui/src/assets/operator_images/Scorer.png
Labels: enhancement

#2703 Drop Java 8 support
  .github/workflows/github-action-build.yml
Labels: dependencies

#2693 Result Table Improvement (Add Column Statistics) Backend
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/event/WebResultUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/storage/MongoCollectionManager.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/storage/MongoDBSinkStorage.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/storage/SinkStorageReader.scala
Labels: enhancement

#2694 Enhance MongoDB Storage Mode with Dataset Statistics Calculation
  core/gui/src/app/workspace/component/result-panel/result-panel.component.html
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.html
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.scss
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
  core/gui/src/app/workspace/service/workflow-result/workflow-result.service.ts
  core/gui/src/app/workspace/types/execute-workflow.interface.ts
Labels: enhancement, gui, frontend
