Repository apache/texera, pull requests merged in 2024-08, with the labels that each got.

#2757 Reduce the Information Fetching of the File Selection Window of Scan Operators
  core/gui/src/app/workspace/component/file-selection/file-selection.component.html
  core/gui/src/app/workspace/component/file-selection/file-selection.component.scss
  core/gui/src/app/workspace/component/file-selection/file-selection.component.ts
  core/gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.ts
Labels: enhancement, frontend

#2763 Remove default option for sort of Admin page
  core/gui/src/app/dashboard/component/admin/execution/admin-execution.component.html
  core/gui/src/app/dashboard/component/admin/user/admin-user.component.html
Labels: frontend

#2764 Workflow Pods Headless Service Implementation
  core/workflow-pod-brain/scripts/workflow_pods_service.yaml
  core/workflow-pod-brain/src/main/scala/service/KubernetesClientService.scala
  core/workflow-pod-brain/src/main/scala/web/resources/WorkflowPodBrainResource.scala
Labels: undergrad-task

#2769 Fix local storage issue relate to left panel components
  core/gui/src/app/workspace/component/left-panel/left-panel.component.ts
Labels: bug, frontend

#2783 Fix result penal glitches on the initial view
  core/gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.scss
  core/gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.scss
Labels: bug, frontend

#2778 Improve row data UI show more information
  core/gui/src/app/common/util/json.ts
Labels: frontend

#2773 Add navbar to the workflow editor workspace
  core/gui/src/app/app-routing.module.ts
  core/gui/src/app/dashboard/component/dashboard.component.html
  core/gui/src/app/dashboard/component/dashboard.component.scss
  core/gui/src/app/dashboard/component/dashboard.component.ts
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow-list-item/user-workflow-list-item.component.ts
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow.component.ts
  core/gui/src/app/workspace/component/menu/menu.component.html
  core/gui/src/app/workspace/component/menu/menu.component.scss
  core/gui/src/app/workspace/component/workspace.component.scss
Labels: gui, undergrad-task, frontend

#2776 Moved General Search from the Sidebar to the Top Bar
  core/gui/src/app/app.module.ts
  core/gui/src/app/dashboard/component/dashboard.component.html
  core/gui/src/app/dashboard/component/dashboard.component.scss
  core/gui/src/app/dashboard/component/section-style.scss
  core/gui/src/app/dashboard/component/user/filters-instructions/filters-instructions.component.scss
  core/gui/src/app/dashboard/component/user/filters-instructions/filters-instructions.component.ts
  core/gui/src/app/dashboard/component/user/filters/filters.component.scss
  core/gui/src/app/dashboard/component/user/search-bar/search-bar.component.html
  core/gui/src/app/dashboard/component/user/search-bar/search-bar.component.scss
  core/gui/src/app/dashboard/component/user/search-bar/search-bar.component.ts
  core/gui/src/app/dashboard/component/user/search-results/search-results.component.html
  core/gui/src/app/dashboard/component/user/search-results/search-results.component.scss
  core/gui/src/app/dashboard/component/user/search/search.component.html
  core/gui/src/app/dashboard/component/user/search/search.component.scss
  core/gui/src/app/dashboard/component/user/search/search.component.spec.ts
  core/gui/src/app/dashboard/component/user/search/search.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-list-item/user-dataset-list-item.component.scss
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset.component.scss
  core/gui/src/app/dashboard/component/user/user-file/user-file-list-item/user-file-list-item.component.scss
  core/gui/src/app/dashboard/component/user/user-file/user-file.component.html
  core/gui/src/app/dashboard/component/user/user-file/user-file.component.scss
  core/gui/src/app/dashboard/component/user/user-project/user-project.component.scss
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow-list-item/user-workflow-list-item.component.scss
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow.component.html
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow.component.scss
Labels: gui, undergrad-task, frontend

#2779 Added autocomplete to General Search Bar
  core/gui/src/app/dashboard/component/user/search-bar/search-bar.component.html
  core/gui/src/app/dashboard/component/user/search-bar/search-bar.component.ts
Labels: enhancement, gui

#2789 Refactored Dashboard Entry
  core/gui/src/app/dashboard/type/dashboard-entry.ts
  core/gui/src/app/dashboard/type/type-predicates.ts
Labels: refactoring

#2781 Remove File-Related Components
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DashboardResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/FileSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/file/UserFileAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/file/UserFileResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/project/ProjectResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/quota/UserQuotaResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/download/BulkDownloaderOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
  core/gui/src/app/app-routing.module.ts
  core/gui/src/app/app.module.ts
  core/gui/src/app/dashboard/component/dashboard.component.html
  core/gui/src/app/dashboard/component/user/files-uploader/files-uploader.component.ts
  core/gui/src/app/dashboard/component/user/search-results/search-results.component.html
  core/gui/src/app/dashboard/component/user/user-file/user-file-list-item/user-file-list-item.component.html
  core/gui/src/app/dashboard/component/user/user-file/user-file-list-item/user-file-list-item.component.scss
  core/gui/src/app/dashboard/component/user/user-file/user-file-list-item/user-file-list-item.component.ts
  core/gui/src/app/dashboard/component/user/user-file/user-file.component.html
  core/gui/src/app/dashboard/component/user/user-file/user-file.component.scss
  core/gui/src/app/dashboard/component/user/user-file/user-file.component.ts
  core/gui/src/app/dashboard/component/user/user-project/user-project-section/ngbd-modal-add-project-file/ngbd-modal-add-project-file.component.html
  core/gui/src/app/dashboard/component/user/user-project/user-project-section/ngbd-modal-add-project-file/ngbd-modal-add-project-file.component.scss
  core/gui/src/app/dashboard/component/user/user-project/user-project-section/ngbd-modal-add-project-file/ngbd-modal-add-project-file.component.ts
  core/gui/src/app/dashboard/component/user/user-project/user-project-section/ngbd-modal-remove-project-file/ngbd-modal-remove-project-file.component.html
  core/gui/src/app/dashboard/component/user/user-project/user-project-section/ngbd-modal-remove-project-file/ngbd-modal-remove-project-file.component.scss
  core/gui/src/app/dashboard/component/user/user-project/user-project-section/ngbd-modal-remove-project-file/ngbd-modal-remove-project-file.component.ts
  core/gui/src/app/dashboard/component/user/user-project/user-project-section/user-project-section.component.html
  core/gui/src/app/dashboard/component/user/user-project/user-project-section/user-project-section.component.scss
  core/gui/src/app/dashboard/component/user/user-project/user-project-section/user-project-section.component.ts
  core/gui/src/app/dashboard/component/user/user-quota/user-quota.component.html
  core/gui/src/app/dashboard/component/user/user-quota/user-quota.component.ts
  core/gui/src/app/dashboard/service/user/file/user-file-upload.service.ts
  core/gui/src/app/dashboard/service/user/file/user-file.service.ts
  core/gui/src/app/dashboard/service/user/quota/user-quota.service.ts
Labels: evaluation

#2791 Remove WorkflowCacheRewriter and its related logic
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Workflow.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCacheRewriter.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/TestUtils.scala
Labels: refactoring

#2798 Remove File-Related Tables from DDL File
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/enums/UserFileAccessPrivilege.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/File.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/FileOfProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/FileOfWorkflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/UserFileAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/FileDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/FileOfProjectDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/FileOfWorkflowDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/UserFileAccessDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IFile.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IFileOfProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IFileOfWorkflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IUserFileAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/File.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/FileOfProject.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/FileOfWorkflow.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/UserFileAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/FileOfProjectRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/FileOfWorkflowRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/FileRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/UserFileAccessRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/UnifiedResourceSchema.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/project/ProjectResource.scala
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/14.sql
Labels: ddl-change

#2772 Introduce Marker for Enhanced Data Handling
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/common/ambermessage.proto
  core/amber/src/main/python/core/architecture/packaging/input_manager.py
  core/amber/src/main/python/core/architecture/packaging/output_manager.py
  core/amber/src/main/python/core/architecture/sendsemantics/broad_cast_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/hash_based_shuffle_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/one_to_one_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/range_based_shuffle_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/round_robin_partitioner.py
  core/amber/src/main/python/core/models/__init__.py
  core/amber/src/main/python/core/models/internal_marker.py
  core/amber/src/main/python/core/models/internal_queue.py
  core/amber/src/main/python/core/models/marker.py
  core/amber/src/main/python/core/models/payload.py
  core/amber/src/main/python/core/models/tuple.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/runnables/network_receiver.py
  core/amber/src/main/python/core/runnables/network_sender.py
  core/amber/src/main/python/core/runnables/test_main_loop.py
  core/amber/src/main/python/core/runnables/test_network_receiver.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/common/__init__.py
  core/amber/src/main/python/pytexera/udf/udf_operator.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyServer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/Partitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/StartHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/ambermessage/DataPayload.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/tuple/amber/TupleLike.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/Marker.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorExecutor.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/ambermessage/AmbermessageProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/common/ambermessage/PythonDataHeader.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManagerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
Labels: Python, refactoring, java

#2800 Remove userId from WorkflowContext
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/storage/DatasetFileDocument.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/SchemaPropagationResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/WorkflowContext.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/download/BulkDownloaderOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/ScanSourceOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/download/BulkDownloaderOpExecSpec.scala
Labels: refactoring

#2804 Fix redirect to dashboard on domain root
  core/gui/src/app/app-routing.module.ts
Labels: fix

#2813 Add wid to pod table and creation request
  core/workflow-pod-brain/src/main/scala/service/KubernetesClientService.scala
  core/workflow-pod-brain/src/main/scala/web/resources/WorkflowPodBrainResource.scala
Labels: enhancement, undergrad-task, workflow-pods
