Repository apache/texera, pull requests merged in 2024-07, with the labels that each got.

#2676 Add Sklearn Training Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/OperatorGroupConstants.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/machineLearning/sklearnAdvanced/KNNTrainer/SklearnAdvancedKNNClassifierTrainerOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/machineLearning/sklearnAdvanced/KNNTrainer/SklearnAdvancedKNNParameters.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/machineLearning/sklearnAdvanced/KNNTrainer/SklearnAdvancedKNNRegressorTrainerOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/machineLearning/sklearnAdvanced/SVCTrainer/SklearnAdvancedSVCParameters.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/machineLearning/sklearnAdvanced/SVCTrainer/SklearnAdvancedSVCTrainerOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/machineLearning/sklearnAdvanced/SVRTrainer/SklearnAdvancedSVRParameters.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/machineLearning/sklearnAdvanced/SVRTrainer/SklearnAdvancedSVRTrainerOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/machineLearning/sklearnAdvanced/base/HyperParameters.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/machineLearning/sklearnAdvanced/base/SklearnAdvancedBaseDesc.scala
  core/gui/src/assets/operator_images/KNNClassifierTrainer.png
  core/gui/src/assets/operator_images/KNNRegressorTrainer.png
  core/gui/src/assets/operator_images/SVCTrainer.png
  core/gui/src/assets/operator_images/SVMClassifierTrainer.png
  core/gui/src/assets/operator_images/SVMRegressorTrainer.png
  core/gui/src/assets/operator_images/SVRTrainer.png
Labels: enhancement

#2674 Move websocket wid registration to OnOpen
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/event/TexeraWebSocketEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/request/RegisterWorkflowIdRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/request/TexeraWebSocketRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/response/ClusterStatusUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/gui/src/app/workspace/service/workflow-websocket/workflow-websocket.service.ts
  core/gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: enhancement

#2712 Add Log Plot Support to Scatter Plot Visualization Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpDesc.scala
Labels: enhancement, undergrad-task

#2710 Add Ternary Plot Visualization Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/ternaryPlot/TernaryPlotOpDesc.scala
  core/gui/src/assets/operator_images/TernaryPlot.png
Labels: enhancement, undergrad-task

#2711 Enhance Histogram Operator with Distribution Plot Visualization
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/histogram/HistogramChartOpDesc.scala
Labels: enhancement, undergrad-task

#2714 Add Figure Factory Table Visualization Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/figureFactoryTable/FigureFactoryTableConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/figureFactoryTable/FigureFactoryTableOpDesc.scala
  core/gui/src/assets/operator_images/FigureFactoryTable.png
Labels: enhancement, undergrad-task

#2713 Add Basic Continuous Error Bands Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/continuousErrorBands/BandConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/continuousErrorBands/ContinuousErrorBandsOpDesc.scala
  core/gui/src/assets/operator_images/ContinuousErrorBands.png
Labels: enhancement, undergrad-task

#2678 Adding TupleAPI to R UDF
  .github/workflows/github-action-build.yml
  core/amber/DESCRIPTION
  core/amber/src/main/python/core/architecture/managers/executor_manager.py
  core/amber/src/main/python/core/architecture/packaging/input_manager.py
  core/amber/src/main/python/core/models/RTupleExecutor.py
  core/amber/src/main/python/core/models/r_utils.py
  core/amber/src/main/python/pytexera/udf/examples/rudf/r_table_operator.py
  core/amber/src/main/python/pytexera/udf/examples/rudf/r_tuple_operator.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/PhysicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/OperatorGroupConstants.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/r/RUDFOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/r/RUDFSourceOpDesc.java
Labels: enhancement

#2716 Add Icicle Chart Visualization Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/IcicleChart/IcicleChartOpDesc.scala
  core/gui/src/assets/operator_images/IcicleChart.png
Labels: enhancement, undergrad-task

#2709 Add Candlestick Chart Visualization Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/candlestickChart/CandlestickChartOpDesc.scala
  core/gui/src/assets/operator_images/CandlestickChart.png
Labels: enhancement, undergrad-task

#2724 Make Dashboard Menu expanded By Default
  core/gui/src/app/dashboard/user/component/dashboard.component.html
Labels: gui

#2726 Fix Admin Service Folder Structure
  core/gui/src/app/app-routing.module.ts
  core/gui/src/app/app.module.ts
  core/gui/src/app/common/service/gmail/gmail.service.ts
  core/gui/src/app/dashboard/admin/component/execution/admin-execution.component.spec.ts
  core/gui/src/app/dashboard/admin/component/execution/admin-execution.component.ts
  core/gui/src/app/dashboard/admin/component/gmail/gmail.component.ts
  core/gui/src/app/dashboard/admin/component/user/admin-user.component.spec.ts
  core/gui/src/app/dashboard/admin/component/user/admin-user.component.ts
  core/gui/src/app/dashboard/user/component/share-access/share-access.component.ts
  core/gui/src/app/dashboard/user/component/user-quota/user-quota.component.ts
  core/gui/src/app/dashboard/user/service/admin/execution/admin-execution.service.ts
  core/gui/src/app/dashboard/user/service/admin/guard/admin-guard.service.ts
  core/gui/src/app/dashboard/user/service/admin/user/admin-user.service.ts
Labels: fix

#2723 Fix frontend code editor language detection
  core/gui/src/app/workspace/component/code-editor-dialog/code-editor.component.ts
Labels: fix

#2733 Remove the discarding uncommitted dataset data check when the TexeraWebApplication is launching
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
Labels: bug

#2732 Fix result of workflow with visualization operators is always blank when mongodb is on
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
Labels: bug

#2715 Add Quiver Plot Visualization Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/quiverPlot/QuiverPlotOpDesc.scala
  core/gui/src/assets/operator_images/QuiverPlot.png
Labels: enhancement, undergrad-task

#2727 Fix Admin Component Folder Structure
  core/gui/src/app/app-routing.module.ts
  core/gui/src/app/app.module.ts
  core/gui/src/app/dashboard/user/component/admin/execution/admin-execution.component.html
  core/gui/src/app/dashboard/user/component/admin/execution/admin-execution.component.spec.ts
  core/gui/src/app/dashboard/user/component/admin/execution/admin-execution.component.ts
  core/gui/src/app/dashboard/user/component/admin/gmail/admin-gmail.component.html
  core/gui/src/app/dashboard/user/component/admin/gmail/admin-gmail.component.scss
  core/gui/src/app/dashboard/user/component/admin/gmail/admin-gmail.component.ts
  core/gui/src/app/dashboard/user/component/admin/user/admin-user.component.html
  core/gui/src/app/dashboard/user/component/admin/user/admin-user.component.scss
  core/gui/src/app/dashboard/user/component/admin/user/admin-user.component.spec.ts
  core/gui/src/app/dashboard/user/component/admin/user/admin-user.component.ts
Labels: fix

#2734 Bump protobuf version from 3.19.5 to 3.20.3
  core/amber/requirements.txt
Labels: dependencies, Python

#2738 Move rpy2 and rpy2-arrow to r-requirements.txt
  .github/workflows/github-action-build.yml
  core/amber/r-requirements.txt
  core/amber/requirements.txt
Labels: dependencies, config

#2743 Fix ML Operator Schema Requirement Bug
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnMLOpDesc.scala
Labels: fix

#2744 Fix Sklean ML Operator Serialization Issue
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnMLOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnPredictionOpDesc.scala
Labels: fix

#2684 Fix One-To-One Partitioner Logic
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/sendsemantics/partitionings.proto
  core/amber/src/main/python/core/architecture/managers/context.py
  core/amber/src/main/python/core/architecture/packaging/output_manager.py
  core/amber/src/main/python/core/architecture/sendsemantics/broad_cast_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/hash_based_shuffle_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/one_to_one_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/range_based_shuffle_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/round_robin_partitioner.py
  core/amber/src/main/python/core/runnables/test_main_loop.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/sendsemantics/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/common/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/config/ChannelConfig.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/config/LinkConfig.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/resourcePolicies/ResourceAllocator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/BroadcastPartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/HashBasedShufflePartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/OneToOnePartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/RangeBasedShufflePartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/RoundRobinPartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/PartitionInfo.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpDesc.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/sendsemantics/partitionings/Partitioning.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/sendsemantics/partitionings/PartitioningsProto.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManagerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/RangeBasedShuffleSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/LoggingSpec.scala
Labels: fix

#2751 Fix Scatter Plot Color Schema
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpDesc.scala
Labels: bug

#2753 Show original operator type
  core/gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
Labels: enhancement, frontend

#2754 Fix dataset APIs not fetching files shared by others correctly
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.ts
Labels: bug

#2758 Implement Basic Workflow Pod Lifecycle API
  core/workflow-pod-brain/src/main/scala/WorkflowPodBrainApplication.scala
  core/workflow-pod-brain/src/main/scala/config/ApplicationConf.scala
  core/workflow-pod-brain/src/main/scala/service/KubernetesClientService.scala
  core/workflow-pod-brain/src/main/scala/web/resources/WorkflowPodBrainResource.scala
Labels: enhancement, undergrad-task
