Repository apache/texera, pull requests merged in 2024-02, with the labels that each got.

#2338 Improve timestamp format
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.html
Labels: frontend

#2329 Make Region a self-contained DAG
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ExecutionState.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/Region.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionPlan.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/SchedulingPolicy.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/resourcePolicies/ResourceAllocator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/FriesReconfigurationAlgorithm.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGeneratorSpec.scala
Labels: engine, refactoring

#2342 Remove region from region link
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/Region.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionPlan.scala
Labels: engine, fix, refactoring

#2344 Remove TimeInterleaved scheduling policy
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/SchedulingPolicy.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/SingleReadyRegionTimeInterleaved.scala
Labels: engine, refactoring

#2343 Region completion check with ports
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ExecutionState.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/Region.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionPlan.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/SchedulingPolicy.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/resourcePolicies/ResourceAllocator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/FriesReconfigurationAlgorithm.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGeneratorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowSchedulerSpec.scala
Labels: engine, refactoring

#2347 Remove testing framework Cypress
  core/new-gui/.eslintrc.json
  core/new-gui/.gitignore
  core/new-gui/README.md
  core/new-gui/angular.json
  core/new-gui/e2e/cypress.json
  core/new-gui/e2e/src/integration/placeholder_test.spec.ts
  core/new-gui/e2e/src/plugins/index.js
  core/new-gui/e2e/tsconfig.e2e.json
  core/new-gui/e2e/tsconfig.json
  core/new-gui/nx.json
  core/new-gui/package.json
  core/new-gui/protractor.conf.js
  core/new-gui/yarn.lock
Labels: dependencies

#2354 Replace Bootstrap NgbModal with NzModal in the User File
  core/new-gui/src/app/dashboard/user/component/user-file/ngbd-modal-file-add/ngbd-modal-file-add.component.html
  core/new-gui/src/app/dashboard/user/component/user-file/ngbd-modal-file-add/ngbd-modal-file-add.component.scss
  core/new-gui/src/app/dashboard/user/component/user-file/ngbd-modal-file-add/ngbd-modal-file-add.component.ts
  core/new-gui/src/app/dashboard/user/component/user-file/user-file.component.ts
Labels: refactoring

#2348 Remove i18n dependencies
  core/new-gui/angular.json
  core/new-gui/package.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.spec.ts
  core/new-gui/src/polyfills.ts
  core/new-gui/yarn.lock
Labels: dependencies

#2355 Replace Bootstrap NgbModal with NzModal in the Workflow Execution
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/admin/component/execution/admin-execution.component.spec.ts
  core/new-gui/src/app/dashboard/admin/component/execution/admin-execution.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.html
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/ngbd-modal-workflow-executions.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/workflow-execution-modal.component.html
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/workflow-execution-modal.component.scss
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/workflow-execution-modal.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.ts
  core/new-gui/src/styles.scss
Labels: refactoring

#2302 Split Hash Join Into Build and Probe Operators as Its Physical Plan
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinBuildOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinProbeOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowSchedulerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpSpec.scala
Labels: refactoring

#2362 Fix sbt warnings
  core/amber/src/main/scala/com/kjetland/jackson/jsonSchema/JsonSchemaGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logreplay/AsyncReplayLogWriter.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCacheRewriter.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/split/SplitOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
Labels: fix

#2350 Change plotly.js library
  core/new-gui/package.json
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/workflow-runtime-statistics/workflow-runtime-statistics.component.ts
  core/new-gui/src/polyfills.ts
  core/new-gui/yarn.lock
Labels: bug

#2351 Remove unused Angular Modules
  core/new-gui/package.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/always-display-error-state.matcher.ts
  core/new-gui/src/app/common/custom-ng-material.module.ts
  core/new-gui/src/app/dashboard/user/component/user-file/ngbd-modal-file-add/ngbd-modal-file-add.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.html
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.ts
  core/new-gui/src/app/workspace/component/left-panel/operator-menu/operator-label/operator-label.component.spec.ts
  core/new-gui/yarn.lock
Labels: dependencies

#2349 Hide Email Related error notifications
  core/new-gui/src/app/dashboard/admin/service/gmail.service.ts
Labels: fix

#2364 Replace Bootstrap NgbModal with NzModal in the Share Access
  core/new-gui/src/app/dashboard/user/component/share-access/share-access.component.html
  core/new-gui/src/app/dashboard/user/component/share-access/share-access.component.ts
  core/new-gui/src/app/dashboard/user/component/user-file/user-file-list-item/user-file-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel-modal.component.ts
Labels: refactoring

#2365 Replace Bootstrap NgbModal with NzModal in the Projects
  core/new-gui/src/app/dashboard/user/component/share-access/share-access.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-file/ngbd-modal-file-add/ngbd-modal-file-add.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-project/public-project/public-project.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/public-project/public-project.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-add-project-file/ngbd-modal-add-project-file.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-add-project-file/ngbd-modal-add-project-file.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-add-project-workflow/ngbd-modal-add-project-workflow.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-add-project-workflow/ngbd-modal-add-project-workflow.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-remove-project-file/ngbd-modal-remove-project-file.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-remove-project-file/ngbd-modal-remove-project-file.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-remove-project-workflow/ngbd-modal-remove-project-workflow.component.html
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-remove-project-workflow/ngbd-modal-remove-project-workflow.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/user-project-section.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.ts
  core/new-gui/src/app/workspace/component/left-panel/operator-menu/operator-label/operator-label.component.spec.ts
  core/new-gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
Labels: refactoring

#2366 Remove Bootstrap from Frontend
  core/new-gui/angular.json
  core/new-gui/package.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/yarn.lock
Labels: dependencies

#2367 Fix duplicated initialization of a physicalOp
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ExecutionState.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowScheduler.scala
Labels: bug, fix

#2370 Remove amber engine and pause resume config
  core/new-gui/src/app/workspace/component/left-panel/time-travel/time-travel.component.ts
  core/new-gui/src/app/workspace/component/menu/menu.component.spec.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.spec.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/environments/environment.default.ts
Labels: config

#2371 Reset UI status with new execution
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/new-gui/src/app/workspace/service/workflow-status/workflow-status.service.ts
Labels: fix

#2372 Refactor WorkflowScheduler to be WorkflowExecutionController
  core/amber/src/main/python/core/architecture/packaging/batch_to_tuple_converter.py
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ExecutionState.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/OperatorExecution.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/WorkerPortExecution.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/LinkWorkersHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PortCompletedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/RegionsTimeSlotExpiredHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/StartWorkflowHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerExecution.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionExecutionController.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionPlan.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowExecutionController.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/AllReadyRegions.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/SchedulingPolicy.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/policies/SingleReadyRegion.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/SchedulerTimeSlotEventHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberConfig.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCServer.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGeneratorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowSchedulerSpec.scala
Labels: engine, refactoring

#2353 Refactor Frontend Notification Service
  core/new-gui/src/app/app.component.html
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/component/notification/notification/notification.component.html
  core/new-gui/src/app/common/component/notification/notification/notification.component.scss
  core/new-gui/src/app/common/component/notification/notification/notification.component.spec.ts
  core/new-gui/src/app/common/component/notification/notification/notification.component.ts
  core/new-gui/src/app/common/service/notification/notification.service.ts
  core/new-gui/src/app/dashboard/user/component/user-file/user-file-list-item/user-file-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/user-project-section.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.ts
  core/new-gui/src/app/home/component/home.component.ts
  core/new-gui/src/app/home/component/login/local-login/local-login.component.ts
  core/new-gui/src/app/workspace/component/menu/menu.component.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.ts
  core/new-gui/src/test.ts
Labels: refactoring

#2376 Fix race condition on updating server execution state
  core/amber/src/main/scala/edu/uci/ics/texera/web/storage/StateStore.scala
Labels: fix

#2374 Fix port not found issue
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionPlan.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowExecutionController.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCServer.scala
Labels: bug, fix

#2346 Add Scatter3D Visualization Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatter3DChart/Scatter3dChartOpDesc.scala
  core/new-gui/src/assets/operator_images/Scatter3DChart.png
Labels: enhancement

#2356 Collect worker's execution time and idle time from python UDF operator
  core/amber/src/main/python/core/architecture/handlers/control/query_statistics_handler.py
  core/amber/src/main/python/core/architecture/managers/statistics_manager.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/runnables/test_main_loop.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/sendsemantics/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/common/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/texera/web/__init__.py
  core/amber/src/main/python/proto/scalapb/__init__.py
Labels: engine

#2375 Fix dynamic port reloading issue
  core/new-gui/src/app/workspace/service/workflow-graph/util/workflow-util.service.ts
Labels: bug, fix

#2377 Add materializations without LogicalPlan
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
Labels: engine, refactoring

#2379 Remove Code Related to Skew-handling
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlcommands.proto
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/controlreturns.proto
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/workloadmetrics.proto
  core/amber/src/main/python/core/architecture/handlers/control/monitoring_handler.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_server.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/sendsemantics/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/common/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/texera/web/__init__.py
  core/amber/src/main/python/proto/scalapb/__init__.py
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerTimerService.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/OperatorExecution.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/WorkflowReshapeState.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/MonitoringHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PauseHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/ResumeHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/SkewDetectionHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/StartWorkflowHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/WorkerExecutionCompletedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/PhysicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerWorkloadInfo.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/ReshapePartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/AcceptImmutableStateHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/MonitoringHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/PauseSkewMitigationHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/SendImmutableStateHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/SharePartitionHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpExec.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlcommandsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlReturnV2.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/controlreturns/ControlreturnsProto.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/workloadmetrics/Loads.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/workloadmetrics/SelfWorkloadMetrics.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/workloadmetrics/SelfWorkloadReturn.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/workloadmetrics/SelfWorkloadSample.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/worker/workloadmetrics/WorkloadmetricsProto.scala
Labels: engine, refactoring

#2384 Use Plotly.js instead of C3 in Workflow Execution Modal
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/workflow-execution-modal.component.html
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/workflow-execution-modal.component.ts
Labels: refactoring, frontend

#2368 Remove WordCloud V1
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/wordCloud/WordCloudOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/wordCloud/WordCloudOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/wordCloud/WordCloudOpFinalExec.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/wordCloud/WordCloudOpPartialExec.java
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/TestOperators.scala
Labels: refactoring

#2381 Add HeatMap Visualization Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/heatMap/HeatMapOpDesc.scala
  core/new-gui/src/assets/operator_images/HeatMap.png
Labels: enhancement

#2306 Add checkpoint functionality to scala Amber
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/common/AkkaMessageTransferService.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/common/AmberProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/common/WorkflowActor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/LinkWorkersHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/TakeGlobalCheckpointHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/PhysicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logreplay/AsyncReplayLogWriter.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logreplay/ReplayLogManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logreplay/ReplayOrderEnforcer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkInputGateway.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonWorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionExecutionController.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/ChannelMarkerManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DPThread.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/FinalizeCheckpointHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/PrepareCheckpointHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/CheckpointState.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/CheckpointSupport.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/SerializedState.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionRuntimeService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/control/utils/TrivialControlTester.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
Labels: enhancement, engine

#2383 Refactoring runtime statistics in Scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/common/AmberProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DPThread.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/managers/StatisticsManager.scala
Labels: refactoring

#2369 Add Dataset-related relational schemas and the file system service with Git version control
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Indexes.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Keys.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/Tables.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/TexeraDb.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/enums/DatasetUserAccessPrivilege.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/Dataset.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/DatasetUserAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/DatasetVersion.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/DatasetDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/DatasetUserAccessDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/daos/DatasetVersionDao.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IDataset.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IDatasetUserAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/interfaces/IDatasetVersion.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/Dataset.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/DatasetUserAccess.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/pojos/DatasetVersion.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/DatasetRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/DatasetUserAccessRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/records/DatasetVersionRecord.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/service/GitVersionControlLocalFileStorage.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/type/FileNode.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/utils/JGitVersionControl.java
  core/amber/src/test/java/edu/uci/ics/texera/web/resource/dashboard/user/dataset/GitVersionControlLocalFileStorageSpec.java
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/07.sql
Labels: webserver

#2393 Enforce serializability of the execution via tests
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PortCompletedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/StartWorkflowHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionExecutionController.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowExecutionController.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/CheckpointSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/RecoverySpec.scala
Labels: refactoring

#2391 Add Dataset APIs to the webserver
  core/amber/src/main/scala/edu/uci/ics/texera/Utils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/jooq/generated/tables/Dataset.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DashboardResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/service/GitVersionControlLocalFileStorage.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/type/FileNode.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/type/FileNodeSerializer.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/utils/JGitVersionControl.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/utils/PathUtils.scala
  core/amber/src/test/java/edu/uci/ics/texera/web/resource/dashboard/user/dataset/GitVersionControlLocalFileStorageSpec.java
  core/scripts/sql/update/08.sql
Labels: webserver

#2397 Remove hardcoded empty breakpoint list from schema prop request
  core/new-gui/src/app/workspace/service/dynamic-schema/schema-propagation/schema-propagation.service.ts
Labels: fix, frontend

#2014 Bump formly version to 6.3.0
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/AggregationOperation.scala
  core/new-gui/package.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/common/formly/array.type.ts
  core/new-gui/src/app/common/formly/collab-wrapper/collab-wrapper/collab-wrapper.component.css
  core/new-gui/src/app/common/formly/collab-wrapper/collab-wrapper/collab-wrapper.component.html
  core/new-gui/src/app/common/formly/collab-wrapper/collab-wrapper/collab-wrapper.component.ts
  core/new-gui/src/app/common/formly/formly-config.ts
  core/new-gui/src/app/common/formly/formly-utils.ts
  core/new-gui/src/app/common/formly/multischema.type.ts
  core/new-gui/src/app/common/formly/null.type.ts
  core/new-gui/src/app/common/formly/object.type.ts
  core/new-gui/src/app/common/formly/preset-wrapper/preset-wrapper.component.spec.ts
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.spec.ts
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.ts
  core/new-gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.html
  core/new-gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.spec.ts
  core/new-gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.ts
  core/new-gui/src/app/workspace/component/left-panel/left-panel.component.html
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.html
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.scss
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.spec.ts
  core/new-gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.html
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.scss
  core/new-gui/src/app/workspace/component/property-editor/typecasting-display/type-casting-display.component.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/workflow-graph.ts
  core/new-gui/src/material-custom-theme.scss
  core/new-gui/src/styles.scss
  core/new-gui/yarn.lock
Labels: dependencies

#2373 Enhance Bar Chart By Allowing Color-coding on a Category Column
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/barChart/BarChartOpDesc.scala
Labels: enhancement

#2404 Remove unused global css
  core/new-gui/src/styles.scss
Labels: refactoring

#2358 Refactor fulltext search
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DashboardResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/FileSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/FulltextSearchQueryUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/ProjectSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/SearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/UnifiedResourceSchema.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/WorkflowSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/project/ProjectResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
Labels: refactoring, webserver

#2405 Remove Deprecated Visualization Operators and Dependencies on Frontend
  core/new-gui/angular.json
  core/new-gui/package.json
  core/new-gui/src/app/common/type/user.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/new-gui/src/app/workspace/component/result-panel/visualization-frame/visualization-frame.component.spec.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.html
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.scss
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.spec.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.ts
  core/new-gui/src/app/workspace/service/workflow-result/workflow-result.service.ts
  core/new-gui/src/app/workspace/types/execute-workflow.interface.ts
  core/new-gui/src/app/workspace/types/visualization.interface.ts
  core/new-gui/src/environments/environment.default.ts
  core/new-gui/yarn.lock
Labels: refactoring

#2399 Bump Angular to 15
  core/new-gui/angular.json
  core/new-gui/package.json
  core/new-gui/src/app/app.module.ts
  core/new-gui/src/app/dashboard/user/component/dashboard.component.html
  core/new-gui/src/app/dashboard/user/component/dashboard.component.scss
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/workflow-runtime-statistics/workflow-runtime-statistics.component.html
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/workflow-runtime-statistics/workflow-runtime-statistics.component.ts
  core/new-gui/src/app/home/component/home.component.ts
  core/new-gui/src/app/home/component/login/local-login/local-login.component.ts
  core/new-gui/src/polyfills.ts
  core/new-gui/src/test.ts
  core/new-gui/src/tsconfig.app.json
  core/new-gui/src/tsconfig.spec.json
  core/new-gui/yarn.lock
Labels: dependencies

#2403 Bump Angular to 16
  core/new-gui/.eslintrc.json
  core/new-gui/.prettierignore
  core/new-gui/package.json
  core/new-gui/src/app/common/formly/preset-wrapper/preset-wrapper.component.ts
  core/new-gui/src/app/common/service/user/auth-guard.service.ts
  core/new-gui/src/app/common/service/user/config/user-config.service.ts
  core/new-gui/src/app/common/service/workflow-persist/workflow-persist.service.ts
  core/new-gui/src/app/common/util/assert.ts
  core/new-gui/src/app/dashboard/admin/component/execution/admin-execution.component.ts
  core/new-gui/src/app/dashboard/admin/component/gmail/gmail.component.ts
  core/new-gui/src/app/dashboard/admin/component/user/admin-user.component.ts
  core/new-gui/src/app/dashboard/admin/service/admin-guard.service.ts
  core/new-gui/src/app/dashboard/admin/service/gmail.service.ts
  core/new-gui/src/app/dashboard/user/component/dashboard.component.ts
  core/new-gui/src/app/dashboard/user/component/user-file/user-file-list-item/user-file-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-list-item/user-project-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-add-project-file/ngbd-modal-add-project-file.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-add-project-workflow/ngbd-modal-add-project-workflow.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-remove-project-file/ngbd-modal-remove-project-file.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/user-project-section.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/workflow-execution-modal.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow.component.ts
  core/new-gui/src/app/dashboard/user/service/flarum/flarum.service.ts
  core/new-gui/src/app/dashboard/user/service/user-file/user-file-upload.service.ts
  core/new-gui/src/app/dashboard/user/service/user-project/user-project.service.ts
  core/new-gui/src/app/workspace/component/code-editor-dialog/code-editor.component.scss
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.spec.ts
  core/new-gui/src/app/workspace/component/codearea-custom-template/codearea-custom-template.component.ts
  core/new-gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.spec.ts
  core/new-gui/src/app/workspace/component/left-panel/left-panel.component.scss
  core/new-gui/src/app/workspace/component/left-panel/operator-menu/operator-label/operator-label.component.scss
  core/new-gui/src/app/workspace/component/left-panel/operator-menu/operator-label/operator-label.component.ts
  core/new-gui/src/app/workspace/component/property-editor/property-editor.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel-modal.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/visualization-frame/visualization-frame.component.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.spec.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.spec.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/new-gui/src/app/workspace/service/execute-workflow/execute-workflow.service.spec.ts
  core/new-gui/src/app/workspace/service/workflow-graph/model/shared-model.ts
  core/new-gui/src/app/workspace/service/workflow-result/workflow-result.service.ts
  core/new-gui/src/index.html
  core/new-gui/yarn.lock
Labels: dependencies

#2398 Add Workflow Scheduler
  core/amber/src/main/scala/edu/uci/ics/amber/clustering/ClusterListener.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Workflow.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/EvaluatePythonExpressionHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/LinkWorkersHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/ModifyLogicHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PortCompletedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/ReconfigureHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/RetrieveWorkflowStateHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/TakeGlobalCheckpointHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowExecutionController.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/client/AmberClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/client/ClientActor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionReconfigurationService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/FriesReconfigurationAlgorithm.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGeneratorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/TestUtils.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/CheckpointSpec.scala
Labels: engine, refactoring

#2394 Apply schema check on operator output port
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/PhysicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/resourcePolicies/ResourceAllocator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/BroadcastPartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/HashBasedShufflePartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/OneToOnePartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/Partitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/RangeBasedShufflePartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/RoundRobinPartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DPThread.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/CheckpointSupport.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/IOperatorExecutor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/TableMetadata.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/amberfield/FieldType.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/tuple/ITuple.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/tuple/advanced/CompactTuple.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/tuple/amber/AmberTuple.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/tuple/amber/TupleLike.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/event/OperatorCurrentTuplesUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorExecutor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/aggregate/AggregateOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/aggregate/PartialAggregateOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/filter/FilterOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/map/MapOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/mlmodel/MLModelOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/Tuple.java
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManagerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/dictionary/DictionaryMatcherOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpExecSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/typecasting/TypeCastingOpExecSpec.scala
Labels: engine, refactoring

#2411 Fix operators showing "Running" state after workflow completion
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PortCompletedHandler.scala
Labels: bug, fix

#2410 Fix NzModal Data passing error
  core/new-gui/src/app/dashboard/admin/component/user/admin-user.component.ts
  core/new-gui/src/app/dashboard/user/component/share-access/share-access.component.spec.ts
  core/new-gui/src/app/dashboard/user/component/share-access/share-access.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/public-project/public-project.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-add-project-file/ngbd-modal-add-project-file.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-add-project-workflow/ngbd-modal-add-project-workflow.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-remove-project-file/ngbd-modal-remove-project-file.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/ngbd-modal-remove-project-workflow/ngbd-modal-remove-project-workflow.component.ts
  core/new-gui/src/app/dashboard/user/component/user-project/user-project-section/user-project-section.component.ts
  core/new-gui/src/app/dashboard/user/component/user-quota/user-quota.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/workflow-execution-modal.component.ts
  core/new-gui/src/app/dashboard/user/component/user-workflow/ngbd-modal-workflow-executions/workflow-runtime-statistics/workflow-runtime-statistics.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-panel-modal.component.ts
  core/new-gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
  core/new-gui/src/app/workspace/component/result-panel/visualization-frame/visualization-frame.component.spec.ts
  core/new-gui/src/app/workspace/component/result-panel/visualization-frame/visualization-frame.component.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.spec.ts
  core/new-gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/comment-box-modal/nz-modal-comment-box.component.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.spec.ts
  core/new-gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: fix

#2406 Add funnelplot operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/funnelPlot/FunnelPlotOpDesc.scala
  core/new-gui/src/assets/operator_images/FunnelPlot.png
Labels: enhancement

#2423 Change Ng-Zorro Modules default language to English
  core/new-gui/src/app/app.module.ts
Labels: fix

#2424 Fix formly length requirement API
  core/new-gui/src/app/common/formly/formly-config.ts
Labels: fix

#2425 Fix missing action button on the first entry of workflow search result
  core/new-gui/src/app/dashboard/user/component/user-workflow/user-workflow-list-item/user-workflow-list-item.component.html
Labels: fix, frontend

#2382 Add Scattermatrix Visualization Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/ScatterMatrixChart/ScatterMatrixChartOpDesc.scala
  core/new-gui/src/assets/operator_images/ScatterMatrixChart.png
Labels: enhancement

#2408 Introduce Schedule
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/Schedule.scala
Labels: engine, refactoring

#2361 Rearrange operator groups
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/OperatorGroupConstants.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/aggregate/SpecializedAggregateOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/cartesianProduct/CartesianProductOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/difference/DifferenceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/distinct/DistinctOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/filter/SpecializedFilterOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intersect/IntersectOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/limit/LimitOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/linearregression/LinearRegressionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sentiment/SentimentAnalysisOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sortPartitions/SortPartitionsOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/reddit/RedditSearchSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/apis/twitter/TwitterSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/fetcher/URLFetcherOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/ScanSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/scan/text/TextInputSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/asterixdb/AsterixDBSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/mysql/MySQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/source/sql/postgresql/PostgreSQLSourceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/split/SplitOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/symmetricDifference/SymmetricDifferenceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/typecasting/TypeCastingOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/union/UnionOpDesc.scala
Labels: refactoring, frontend

#2416 Remove ITuple interface
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerEvent.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PauseHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/Partitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerResult.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/QueryCurrentInputTupleHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/IOperatorExecutor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/ISinkOperatorExecutor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/ISourceOperatorExecutor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/ambermessage/DataPayload.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/tuple/ITuple.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/event/OperatorCurrentTuplesUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/OperatorExecutor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/Tuple.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/managed/ProgressiveSinkOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sortPartitions/SortPartitionOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/split/SplitOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/NetworkInputGatewaySpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManagerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DPThreadSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/LoggingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/tuple/TupleSpec.scala
Labels: engine, refactoring

#2426 Fix port not found error in WorkerSpec
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
Labels: fix, testing

#2414 Refactor ExecutionController into ExecutionCoordinator
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Workflow.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/LinkWorkersHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PortCompletedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/ReconfigureHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/StartWorkflowHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionExecutionCoordinator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowExecutionCoordinator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/FriesReconfigurationAlgorithm.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/PhysicalPlan.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGeneratorSpec.scala
Labels: engine, refactoring

#2427 Use attribute names for hash partitioning
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/sendsemantics/partitionings.proto
  core/amber/src/main/python/core/architecture/sendsemantics/hash_based_shuffle_partitioner.py
  core/amber/src/main/python/core/models/schema/schema.py
  core/amber/src/main/python/core/models/tuple.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/sendsemantics/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/PhysicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/config/LinkConfig.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/HashBasedShufflePartitioner.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/ProgressiveUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/aggregate/AggregateOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/Tuple.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/tuple/schema/Schema.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/PartitionInfo.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/difference/DifferenceOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/distinct/DistinctOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intersect/IntersectOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/intervalJoin/IntervalJoinOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/projection/ProjectionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/symmetricDifference/SymmetricDifferenceOpDesc.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/sendsemantics/partitionings/Partitioning.scala
  core/amber/src/main/scalapb/edu/uci/ics/amber/engine/architecture/sendsemantics/partitionings/PartitioningsProto.scala
  core/new-gui/src/app/workspace/service/operator-metadata/mock-operator-metadata.data.ts
Labels: engine, refactoring

#2429 Include Build Table Schema in Hash Join's Build Output Schema
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinBuildOpExec.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinProbeOpExec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/hashJoin/HashJoinOpSpec.scala
Labels: refactoring

#2432 Fix NullpointerException on SentimentAnalysisOpExec
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sentiment/SentimentAnalysisOpExec.java
Labels: engine, fix
