Repository apache/texera, pull requests merged in 2024-12, with the labels that each got.

#3119 Update Texera Hub About Page
  core/gui/src/app/hub/component/about/about.component.html
  core/gui/src/app/hub/component/about/about.component.scss
  core/gui/src/assets/texera_email_screenshot.png
  core/gui/src/assets/workflow_gui.png
Labels: gui, undergrad-task

#3132 Fix workflow with FilterOp cannot be compiled
  core/workflow-compiling-service/src/test/scala/edu/uci/ics/texera/service/resource/WorkflowCompilationResourceSpec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/filter/ComparisonType.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/filter/FilterPredicate.java
Labels: bug

#3121 Clean up backend code due to migration
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/WorkerBatchInternalQueue.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/ChannelMarkerManager.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/discussion/UserDiscussionResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/projection/ProjectionOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/SklearnMLOpDesc.scala
Labels: refactoring

#3127 Fix reverted AttributeTypeUtils
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/tuple/AttributeTypeUtils.scala
  core/workflow-core/src/test/scala/edu/uci/ics/amber/core/tuple/AttributeTypeUtilsSpec.scala
Labels: bug, fix

#3137 Add Early Stop Optimization Technique for Bottom-up Search in CostBasedRegionPlanGenerator
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedRegionPlanGenerator.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedRegionPlanGeneratorSpec.scala
Labels: engine

#3140 Add Top-down Search In CostBasedRegionPlanGenerator
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberConfig.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedRegionPlanGeneratorSpec.scala
Labels: engine

#3139 Table Download with Apache Arrow Integration
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyServer.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/gui/src/app/workspace/component/menu/menu.component.html
  core/gui/src/app/workspace/component/menu/menu.component.ts
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.html
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.ts
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.html
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
  core/gui/src/app/workspace/service/workflow-result/workflow-result.service.ts
  core/gui/src/assets/operator_images/ArrowSource.png
  core/workflow-core/build.sbt
  core/workflow-core/src/main/scala/edu/uci/ics/amber/util/ArrowUtils.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/arrow/ArrowSourceOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/arrow/ArrowSourceOpExec.scala
  core/workflow-operator/src/test/scala/edu/uci/ics/amber/util/ArrowUtilsSpec.scala
Labels: enhancement

#3029 Create a separate web server for workflow execution
  Dockerfile
  core/amber/src/main/resources/application.conf
  core/amber/src/main/resources/computing-unit-master-config.yml
  core/amber/src/main/scala/edu/uci/ics/amber/clustering/ClusterListener.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/ComputingUnitMaster.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/ComputingUnitWorker.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/JwtAuth.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
  core/gui/proxy.config.json
  core/scripts/add-computing-unit-worker.sh
  core/scripts/deploy-daemon.sh
  core/scripts/deploy-docker.sh
  core/scripts/server.sh
  core/scripts/workflow-computing-unit.sh
Labels: refactoring

#3143 Add Configurable Timeout in CostBasedRegionPlanGenerator
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberConfig.scala
Labels: engine

#3146 Resolve storage inside ProgressiveSinkOpExec
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/client/AmberClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/client/ClientActor.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/ComputingUnitMaster.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/WorkflowCompiler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedRegionPlanGeneratorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGeneratorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/BatchSizePropagationSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/TestUtils.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/CheckpointSpec.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/ResultStorage.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sink/managed/ProgressiveSinkOpDesc.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sink/managed/ProgressiveSinkOpExec.scala
Labels: refactoring

#3149 Disable Display of Binary Files in Dataset File Panel
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-file-renderer/user-dataset-file-renderer.component.spec.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-file-renderer/user-dataset-file-renderer.component.ts
Labels: gui

#3151 Improve UI for Result Exportation in Frontend
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.html
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.html
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
Labels: gui

#3144 Refactoring of Schedule Generation
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/Schedule.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberConfig.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedScheduleGeneratorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyScheduleGeneratorSpec.scala
Labels: engine

#3154 Fix Cell Export Bug
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.html
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.ts
Labels: fix, frontend

#3160 Add JooqCodeGenerator to `dao` and remove `core/util`
  core/dao/build.sbt
  core/dao/src/main/resources/jooq-conf.xml
  core/dao/src/main/scala/edu/uci/ics/texera/dao/JooqCodeGenerator.scala
  core/util/build.sbt
  core/util/conf/jooq-conf.xml
  core/util/project/build.properties
  core/util/src/main/java/edu/uci/ics/util/RunCodegen.java
Labels: bug

#3136 Address Result Panel Getting Sticky Too Easily
  core/gui/src/app/workspace/component/result-panel/result-panel.component.html
  core/gui/src/app/workspace/component/result-panel/result-panel.component.ts
Labels: gui, fix, undergrad-task

#3163 Remove cache source descriptor
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ScheduleGenerator.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/cache/CacheSourceOpDesc.scala
Labels: engine, refactoring

#3169 Move output mode on port
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerResult.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/SinkInjectionTransformer.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/WorkflowCompiler.scala
  core/gui/src/app/workspace/service/execute-workflow/mock-result-data.ts
  core/workflow-compiling-service/src/main/scala/edu/uci/ics/amber/compiler/util/SinkInjectionTransformer.scala
  core/workflow-core/src/main/protobuf/edu/uci/ics/amber/workflow.proto
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/filter/SpecializedFilterOpDesc.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sink/IncrementalOutputMode.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sink/managed/ProgressiveSinkOpDesc.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sink/managed/ProgressiveSinkOpExec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/typecasting/TypeCastingOpDesc.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/udf/python/source/PythonUDFSourceOpDescV2.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/udf/r/RUDFSourceOpDesc.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/DotPlot/DotPlotOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/IcicleChart/IcicleChartOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/ImageViz/ImageVisualizerOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/ScatterMatrixChart/ScatterMatrixChartOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/VisualizationConstants.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/VisualizationOperator.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/barChart/BarChartOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/boxPlot/BoxPlotOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/bubbleChart/BubbleChartOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/candlestickChart/CandlestickChartOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/continuousErrorBands/ContinuousErrorBandsOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/contourPlot/ContourPlotOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/dumbbellPlot/DumbbellPlotOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/figureFactoryTable/FigureFactoryTableOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/filledAreaPlot/FilledAreaPlotOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/funnelPlot/FunnelPlotOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/ganttChart/GanttChartOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/heatMap/HeatMapOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/hierarchychart/HierarchyChartOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/histogram/HistogramChartOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/htmlviz/HtmlVizOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/lineChart/LineChartOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/pieChart/PieChartOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/quiverPlot/QuiverPlotOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/sankeyDiagram/SankeyDiagramOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/scatter3DChart/Scatter3dChartOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/scatterplot/ScatterplotOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/tablesChart/TablesPlotOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/ternaryPlot/TernaryPlotOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/urlviz/UrlVizOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/waterfallChart/WaterfallChartOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/wordCloud/WordCloudOpDesc.scala
Labels: engine, refactoring

#3170 Remove sink desc
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/SinkInjectionTransformer.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/WorkflowCompiler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedScheduleGeneratorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyScheduleGeneratorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/BatchSizePropagationSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/CheckpointSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/SchemaPropagationSpec.scala
  core/workflow-compiling-service/src/main/scala/edu/uci/ics/amber/compiler/WorkflowCompiler.scala
  core/workflow-compiling-service/src/main/scala/edu/uci/ics/amber/compiler/util/SinkInjectionTransformer.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/OpResultStorage.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/SpecialPhysicalOpFactory.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/TestOperators.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sink/SinkOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sink/managed/ProgressiveSinkOpDesc.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sink/managed/ProgressiveSinkOpExec.scala
Labels: refactoring

#3174 Fix the schema fetching during sink storage assignment
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/WorkflowCompiler.scala
Labels: bug, fix

#3176 Fix view result
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/WorkflowCompiler.scala
Labels: bug, fix

#3177 Remove logical schema propagation
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionReconfigurationService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/LogicalPlan.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/LogicalPort.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/SinkInjectionTransformer.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/WorkflowCompiler.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/SchemaPropagationSpec.scala
  core/workflow-compiling-service/src/main/scala/edu/uci/ics/amber/compiler/WorkflowCompiler.scala
  core/workflow-compiling-service/src/main/scala/edu/uci/ics/amber/compiler/model/LogicalPlan.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/hashJoin/HashJoinOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sentiment/SentimentAnalysisOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/ScanSourceOpDesc.scala
  core/workflow-operator/src/test/scala/edu/uci/ics/amber/operator/source/scan/csv/CSVScanSourceOpDescSpec.scala
Labels: engine, refactoring

#3178 Remove cache checker in logical plan
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowCacheChecker.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/LogicalPlan.scala
Labels: engine, refactoring

#3175 Support multiple output ports with storage
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/WorkflowCompiler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/MongoDocument.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/OpResultStorage.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/SpecialPhysicalOpFactory.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sink/managed/ProgressiveSinkOpExec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/cache/CacheSourceOpExec.scala
Labels: refactoring

#3179 Convert Java operator descriptors to Scala
  core/workflow-compiling-service/src/test/scala/edu/uci/ics/texera/service/resource/WorkflowCompilationResourceSpec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/filter/FilterOpExec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/filter/SpecializedFilterOpDesc.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/filter/SpecializedFilterOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/filter/SpecializedFilterOpExec.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/filter/SpecializedFilterOpExec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sentiment/SentimentAnalysisOpExec.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sink/managed/ProgressiveSinkOpExec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/typecasting/TypeCastingOpDesc.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/typecasting/TypeCastingOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/typecasting/TypeCastingOpExec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/udf/python/source/PythonUDFSourceOpDescV2.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/udf/python/source/PythonUDFSourceOpDescV2.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/udf/r/RUDFSourceOpDesc.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/udf/r/RUDFSourceOpDesc.scala
  core/workflow-operator/src/test/scala/edu/uci/ics/amber/operator/filter/SpecializedFilterOpExecSpec.scala
  core/workflow-operator/src/test/scala/edu/uci/ics/amber/operator/typecasting/TypeCastingOpExecSpec.scala
Labels: refactoring

#3180 Update .gitignore to include Metals generated folders to support VSCode-based IDEs
  .gitignore
Labels: config

#3182 Remove duplicated scalapb definition
  core/amber/src/main/protobuf/scalapb/scalapb.proto
  core/workflow-core/src/main/protobuf/scalapb/scalapb.proto
Labels: refactoring

#3184 Fix python proto gen
  core/amber/src/main/python/core/architecture/handlers/actorcommand/backpressure_handler.py
  core/amber/src/main/python/core/architecture/managers/pause_manager.py
  core/amber/src/main/python/core/architecture/managers/statistics_manager.py
  core/amber/src/main/python/core/architecture/managers/tuple_processing_manager.py
  core/amber/src/main/python/core/architecture/packaging/input_manager.py
  core/amber/src/main/python/core/architecture/packaging/output_manager.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_client.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_server.py
  core/amber/src/main/python/core/architecture/sendsemantics/broad_cast_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/hash_based_shuffle_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/one_to_one_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/range_based_shuffle_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/round_robin_partitioner.py
  core/amber/src/main/python/core/models/internal_marker.py
  core/amber/src/main/python/core/models/internal_queue.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/runnables/network_sender.py
  core/amber/src/main/python/core/runnables/test_console_message.py
  core/amber/src/main/python/core/runnables/test_main_loop.py
  core/amber/src/main/python/core/runnables/test_network_receiver.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/core/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/rpc/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/sendsemantics/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/common/__init__.py
  core/amber/src/main/python/proto/scalapb/__init__.py
  core/scripts/python-proto-gen.sh
Labels: fix, refactoring

#3185 Enhance error handling and stack trace formatting
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCServer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/error/ErrorUtils.scala
Labels: fix
