Repository apache/texera, pull requests merged in 2024-09, with the labels that each got.

#2815 Fix ConsoleMessage Datetime for betterproto 2.0.0b7
  core/amber/requirements.txt
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/runnables/test_console_message.py
  core/amber/src/main/python/core/util/console_message/replace_print.py
  core/amber/src/main/python/core/util/console_message/timestamp.py
Labels: bug, fix

#2803 Fix duplicate schema cast and validation with additional binary test
  core/amber/src/main/python/core/models/tuple.py
  core/amber/src/main/python/core/runnables/test_main_loop.py
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnMLOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnPredictionOpDesc.scala
Labels: fix

#2796 Introduce TexeraWorkflowCompilingService for Workflow Compilation
  core/amber/src/main/resources/texera-compiling-service-web-config.yml
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/PhysicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWorkflowCompilingService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWorkflowCompilingServiceConfiguration.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/SchemaPropagationResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowCompilationResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/PropertyNameConstants.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/PhysicalPlan.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/WorkflowCompiler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/managed/ProgressiveSinkOpDesc.java
Labels: refactoring

#2820 Enable downloading all files from a specific dataset version
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/storage/DatasetFileDocument.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-explorer.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-explorer.component.scss
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-explorer.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
Labels: enhancement

#2834 Fix bug of workflow editor having smaller size
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.scss
  core/gui/src/styles.scss
Labels: bug, gui

#2833 Integrate Envoy Proxy Into Workflow Pods
  core/gui/proxy.config.json
  core/gui/src/app/dashboard/component/admin/execution/admin-execution.component.html
  core/gui/src/app/dashboard/component/admin/execution/admin-execution.component.ts
  core/gui/src/app/workspace/component/workspace.component.ts
  core/gui/src/app/workspace/service/workflow-websocket/workflow-websocket.service.ts
  core/workflow-pod-brain/build.sbt
  core/workflow-pod-brain/scripts/envoy-configmap.yaml
  core/workflow-pod-brain/scripts/envoy-deployment.yaml
  core/workflow-pod-brain/src/main/resources/config.yaml
  core/workflow-pod-brain/src/main/scala/WorkflowPodBrainApplication.scala
  core/workflow-pod-brain/src/main/scala/service/KubernetesClientService.scala
  core/workflow-pod-brain/src/main/scala/web/resources/SharedState.scala
  core/workflow-pod-brain/src/main/scala/web/resources/WebsocketPodClient.scala
  core/workflow-pod-brain/src/main/scala/web/resources/WebsocketProxyEndpoint.scala
Labels: config, undergrad-task, workflow-pods

#2837 Add Email Notification Logic
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.spec.ts
  core/gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/gui/src/app/workspace/service/operator-menu/operator-menu.service.spec.ts
  core/gui/src/app/workspace/service/workflow-status/operator-reuse-cache-status.service.spec.ts
Labels: enhancement

#2845 Add file selection button
  core/gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.html
  core/gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.scss
  core/gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.ts
Labels: frontend

#2846 Initial Sunburst Chart Visualization Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/sunburstChart/SunburstChartOpDesc.scala
  core/gui/src/assets/operator_images/SunburstChart.png
Labels: enhancement

#2847 Remove Python Tuple Operator v1
  core/amber/src/main/python/core/models/__init__.py
  core/amber/src/main/python/core/models/operator.py
  core/amber/src/main/python/pyamber/__init__.py
  core/amber/src/main/python/pytexera/__init__.py
  core/amber/src/main/python/pytexera/udf/udf_operator.py
Labels: evaluation

#2836 Fix persisting workflow without user-sys
  core/amber/src/main/scala/edu/uci/ics/texera/web/auth/GuestAuthFilter.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/gui/src/app/workspace/component/workspace.component.ts
Labels: bug, fix

#2850 Upgrade the `ng build` command in deploy-daemon.sh
  core/scripts/deploy-daemon.sh
Labels: bug, fix

#2811 [2/3] Add AI Assistant Service - add the “Add Type Annotation" Python UDF action
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/aiassistant/AiAssistantResource.scala
  core/gui/src/app/app.module.ts
  core/gui/src/app/dashboard/service/user/ai-assistant/ai-assistant.service.ts
  core/gui/src/app/workspace/component/code-editor-dialog/annotation-suggestion.component.html
  core/gui/src/app/workspace/component/code-editor-dialog/annotation-suggestion.component.scss
  core/gui/src/app/workspace/component/code-editor-dialog/annotation-suggestion.component.ts
  core/gui/src/app/workspace/component/code-editor-dialog/code-editor.component.html
  core/gui/src/app/workspace/component/code-editor-dialog/code-editor.component.ts
  core/gui/src/app/workspace/service/ai-assistant/ai-assistant.service.ts
Labels: gui

#2853 Fix the issue that file path cannot be inputted when user-sys is disabled
  core/gui/src/app/workspace/component/input-autocomplete/input-autocomplete.component.html
Labels: bug, fix, frontend

#2851 Replaced Sunburst Chart with Sankey Diagram Visualization Operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/sankeyDiagram/SankeyDiagramOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/sunburstChart/SunburstChartOpDesc.scala
  core/gui/src/assets/operator_images/SankeyDiagram.png
  core/gui/src/assets/operator_images/SunburstChart.png
Labels: enhancement

#2855 Add a download button for the binary type data from the result panel
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/request/ResultExportRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/gui/src/app/common/util/json.ts
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.html
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.scss
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.ts
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.html
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.scss
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
  core/gui/src/app/workspace/types/workflow-websocket.interface.ts
Labels: enhancement

#2863 Consistent string format of the binary data
  core/gui/src/app/common/util/json.ts
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
Labels: fix

#2870 Fix the issue displaying integer containing only 0 and 1
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
Labels: fix, frontend

#2869 Enhance Download Functionality to Support All Data Types in Result Panel with Improved UI
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.html
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.html
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.scss
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
Labels: enhancement, frontend

#2871 Fix Python Source Operator
  core/amber/src/main/python/core/architecture/packaging/input_manager.py
Labels: bug

#2867 Fix bug of workflow editor having smaller size - different solution
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.scss
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/gui/src/styles.scss
Labels: bug, enhancement, undergrad-task

#2866 Add zoom in and out buttons on minimap
  core/gui/src/app/workspace/component/menu/menu.component.html
  core/gui/src/app/workspace/component/menu/menu.component.ts
  core/gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.html
  core/gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.scss
  core/gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.ts
Labels: enhancement, undergrad-task

#2838 Refactor Hub Workflow Search Results and Permission-Based Redirection
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DashboardResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DatasetSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/ProjectSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/SearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/WorkflowSearchQueryBuilder.scala
  core/gui/src/app/app-routing.module.ts
  core/gui/src/app/dashboard/component/user/filters/filters.component.html
  core/gui/src/app/dashboard/component/user/filters/filters.component.spec.ts
  core/gui/src/app/dashboard/component/user/filters/filters.component.ts
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.html
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.ts
  core/gui/src/app/dashboard/component/user/search-bar/search-bar.component.ts
  core/gui/src/app/dashboard/component/user/search-results/search-results.component.html
  core/gui/src/app/dashboard/component/user/search-results/search-results.component.ts
  core/gui/src/app/dashboard/component/user/search/search.component.html
  core/gui/src/app/dashboard/component/user/search/search.component.scss
  core/gui/src/app/dashboard/component/user/search/search.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset.component.ts
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow.component.html
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow.component.spec.ts
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow.component.ts
  core/gui/src/app/dashboard/service/user/search.service.ts
  core/gui/src/app/hub/component/workflow/search/hub-workflow-search.component.html
  core/gui/src/app/hub/component/workflow/search/hub-workflow-search.component.scss
  core/gui/src/app/hub/component/workflow/search/hub-workflow-search.component.ts
Labels: enhancement, refactoring, undergrad-task, frontend

#2718 Update server startup script
  core/amber/build.sbt
  core/scripts/bash-template
Labels: fix

#2874 Fix Python Source Operator with Mutiple Output
  core/amber/src/main/python/core/runnables/data_processor.py
Labels: bug
