Repository apache/texera, pull requests merged in 2024-05, with the labels that each got.

#2645 Add Hugging Face Text Summarization Operator
  core/amber/operator-requirements.txt
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/huggingFace/HuggingFaceTextSummarizationOpDesc.scala
  core/gui/src/assets/operator_images/HuggingFaceTextSummarization.png
Labels: enhancement

#2643 Add Default Value for UDF Worker Count
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/java/JavaUDFOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/DualInputPortsPythonUDFOpDescV2.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/PythonUDFOpDescV2.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/source/PythonUDFSourceOpDescV2.java
Labels: enhancement

#2641 Introduce Sklearn ML models
  core/amber/operator-requirements.txt
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnAdaptiveBoostingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnBaggingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnBernoulliNaiveBayesOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnComplementNaiveBayesOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnDecisionTreeOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnDummyClassifierOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnExtraTreeOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnExtraTreesOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnGaussianNaiveBayesOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnGradientBoostingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnKNNOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnLinearSVMOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnLogisticRegressionCVOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnLogisticRegressionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnMLOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnMultiLayerPerceptronOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnMultinomialNaiveBayesOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnNearestCentroidOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnPassiveAggressiveOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnPerceptronOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnPredictionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnProbabilityCalibrationOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnRandomForestOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnRidgeCVOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnRidgeOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnSDGOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnSVMOpDesc.scala
  core/gui/src/assets/operator_images/SklearnAdaptiveBoosting.png
  core/gui/src/assets/operator_images/SklearnBagging.png
  core/gui/src/assets/operator_images/SklearnBernoulliNaiveBayes.png
  core/gui/src/assets/operator_images/SklearnComplementNaiveBayes.png
  core/gui/src/assets/operator_images/SklearnDecisionTree.png
  core/gui/src/assets/operator_images/SklearnDummy.png
  core/gui/src/assets/operator_images/SklearnExtraTree.png
  core/gui/src/assets/operator_images/SklearnExtraTrees.png
  core/gui/src/assets/operator_images/SklearnGaussianNaiveBayes.png
  core/gui/src/assets/operator_images/SklearnGradientBoosting.png
  core/gui/src/assets/operator_images/SklearnKNN.png
  core/gui/src/assets/operator_images/SklearnLinearSVM.png
  core/gui/src/assets/operator_images/SklearnLogisticRegression.png
  core/gui/src/assets/operator_images/SklearnLogisticRegressionCV.png
  core/gui/src/assets/operator_images/SklearnMultiLayerPerceptron.png
  core/gui/src/assets/operator_images/SklearnMultinomialNaiveBayes.png
  core/gui/src/assets/operator_images/SklearnNearestCentroid.png
  core/gui/src/assets/operator_images/SklearnPassiveAggressive.png
  core/gui/src/assets/operator_images/SklearnPerceptron.png
  core/gui/src/assets/operator_images/SklearnPrediction.png
  core/gui/src/assets/operator_images/SklearnProbabilityCalibration.png
  core/gui/src/assets/operator_images/SklearnRandomForest.png
  core/gui/src/assets/operator_images/SklearnRidge.png
  core/gui/src/assets/operator_images/SklearnRidgeCV.png
  core/gui/src/assets/operator_images/SklearnSDG.png
  core/gui/src/assets/operator_images/SklearnSVM.png
Labels: enhancement

#2646 Result Panel: Plot Visualization
  core/gui/src/app/app.module.ts
  core/gui/src/app/workspace/component/result-panel/result-panel.component.html
  core/gui/src/app/workspace/component/result-panel/result-panel.component.scss
  core/gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
  core/gui/src/app/workspace/component/result-panel/visualization-frame/visualization-frame.component.html
  core/gui/src/app/workspace/component/result-panel/visualization-frame/visualization-frame.component.scss
  core/gui/src/app/workspace/component/result-panel/visualization-frame/visualization-frame.component.ts
  core/gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.scss
  core/gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.ts
Labels: enhancement, gui, frontend

#2647 Add sklearn linear regression operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/operators/LogicalOp.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnLinearRegressionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnMLOpDesc.scala
  core/gui/src/assets/operator_images/SklearnLinearRegression.png
Labels: enhancement

#2648 Add color column to scatter plot
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpDesc.scala
Labels: urgent

#2615 Add Dataset-related statistics to Quota Dashboard
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/utils/DatasetStatisticsUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/quota/UserQuotaResource.scala
  core/gui/src/app/dashboard/admin/service/admin-user.service.ts
  core/gui/src/app/dashboard/user/component/user-quota/user-quota.component.html
  core/gui/src/app/dashboard/user/component/user-quota/user-quota.component.spec.ts
  core/gui/src/app/dashboard/user/component/user-quota/user-quota.component.ts
  core/gui/src/app/dashboard/user/service/user-quota/user-quota.service.ts
Labels: enhancement, undergrad-task

#2607 Left menu support second level
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/OperatorGroupConstants.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/OperatorMetadataGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/huggingFace/HuggingFaceIrisLogisticRegressionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/huggingFace/HuggingFaceSentimentAnalysisOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/huggingFace/HuggingFaceSpamSMSDetectionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/huggingFace/HuggingFaceTextSummarizationOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnMLOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnPredictionOpDesc.scala
  core/gui/src/app/workspace/component/left-panel/left-panel.component.ts
  core/gui/src/app/workspace/component/left-panel/operator-menu/operator-label/operator-label.component.scss
  core/gui/src/app/workspace/component/left-panel/operator-menu/operator-menu.component.html
  core/gui/src/app/workspace/component/left-panel/operator-menu/operator-menu.component.scss
  core/gui/src/app/workspace/component/left-panel/operator-menu/operator-menu.component.spec.ts
  core/gui/src/app/workspace/component/left-panel/operator-menu/operator-menu.component.ts
  core/gui/src/app/workspace/service/operator-metadata/mock-operator-metadata.data.ts
  core/gui/src/app/workspace/types/operator-schema.interface.ts
Labels: gui

#2650 Fix the issue that datasets not retrieved completely
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
Labels: bug

#2651 Fix Naming of Materialization Write and Read Operators in Region Plan Generator
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionPlanGenerator.scala
  core/scripts/sql/update/12.sql
Labels: bug, engine, ddl-change, fix

#2649 Keep the feature names and report the feature mismatch errors in ML prediction operator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnPredictionOpDesc.scala
Labels: fix

#2654 Make classifiers logs out evaluations per class instead of an average
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnAdaptiveBoostingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnBaggingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnBernoulliNaiveBayesOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnComplementNaiveBayesOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnDecisionTreeOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnDummyClassifierOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnExtraTreeOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnExtraTreesOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnGaussianNaiveBayesOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnGradientBoostingOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnKNNOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnLinearRegressionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnLinearSVMOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnLogisticRegressionCVOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnLogisticRegressionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnMLOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnMultiLayerPerceptronOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnMultinomialNaiveBayesOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnNearestCentroidOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnPassiveAggressiveOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnPerceptronOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnProbabilityCalibrationOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnRandomForestOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnRidgeCVOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnRidgeOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnSDGOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnSVMOpDesc.scala
Labels: fix

#2657 Add JsonIgnore to import and user friendly names to sklearn operators
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sklearn/SklearnMLOpDesc.scala
Labels: bug, fix

#2658 Rearrange operators into sub-menus
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/metadata/OperatorGroupConstants.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/java/JavaUDFOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/DualInputPortsPythonUDFOpDescV2.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/PythonLambdaFunctionOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/PythonTableReducerOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/PythonUDFOpDescV2.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/source/PythonUDFSourceOpDescV2.java
Labels: enhancement

#2653 Fix Operator Menu Overflow
  core/gui/src/app/workspace/component/left-panel/operator-menu/operator-label/operator-label.component.scss
Labels: fix

#2656 Update Physical Plan DAG to Use PhysicalLink and Support Parallel Edges for DirectedAcyclicGraph
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyRegionPlanGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/LogicalPlan.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/common/workflow/PhysicalPlan.scala
Labels: engine, fix

#2660 Add seed attribute to train/test split opeator
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/split/SplitOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/split/SplitOpExec.scala
Labels: enhancement

#2663 Fix HideAnnotation
  core/gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
Labels: fix

#2667 Move actor-system related components into AmberRuntime global object
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberRuntime.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/CheckpointState.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/SqlServer.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraRunWorker.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/WorkflowLifecycleManager.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/sink/managed/ProgressiveSinkOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/typecasting/TypeCastingOpDesc.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/udf/python/source/PythonUDFSourceOpDescV2.java
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/util/OperatorDescriptorUtils.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/CheckpointSpec.scala
Labels: refactoring

#2618 Associate Python syntax error to the specific UDF operator
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerEvent.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/FatalErrorHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PortCompletedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyServer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionExecutionCoordinator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DPThread.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/controlcommands/ControlCommandConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/amberexception/WorkflowRuntimeException.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/ambermessage/InvocationConvertUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCServer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/statetransition/StateManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/statetransition/WorkerStateManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/error/ErrorUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionStatsService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
Labels: fix

#2673 Add wid as a param of the websocket url
  core/gui/src/app/workspace/service/workflow-websocket/workflow-websocket.service.ts
Labels: enhancement

#2665 Result Panel Improvements
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/DotPlot/DotPlotOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/ScatterMatrixChart/ScatterMatrixChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/barChart/BarChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/boxPlot/BoxPlotOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/bubbleChart/BubbleChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/dumbbellPlot/DumbbellPlotOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/filledAreaPlot/FilledAreaPlotOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/funnelPlot/FunnelPlotOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/ganttChart/GanttChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/heatMap/HeatMapOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/hierarchychart/HierarchyChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/histogram/HistogramChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/lineChart/LineChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/pieChart/PieChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatter3DChart/Scatter3dChartOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/scatterplot/ScatterplotOpDesc.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/operators/visualization/tablesChart/TablesPlotOpDesc.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/visualization/DotPlot/DotPlotOpDescSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/operators/visualization/bubbleChart/BubbleChartOpDescSpec.scala
  core/gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.html
  core/gui/src/app/workspace/component/result-panel/console-frame/console-frame.component.scss
  core/gui/src/app/workspace/component/result-panel/result-panel.component.html
  core/gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.html
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
  core/gui/src/app/workspace/component/visualization-panel-content/visualization-frame-content.component.ts
  core/gui/src/styles.scss
Labels: enhancement, gui, refactoring, frontend
