Repository apache/texera, pull requests merged in 2025-10, with the labels that each got.

#3536 ci: automatically label PRs
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: ci

#3815 fix(ci): narrow backend file patterns in labeler.yml
  .github/labeler.yml
Labels: fix, backend

#3818 fix: conditionally show upload panels based on upload activity
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-staged-objects-list/user-dataset-staged-objects-list.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-staged-objects-list/user-dataset-staged-objects-list.component.scss
Labels: gui

#3811 fix(image): exec format error in pylsp Docker container
  deployment/pylsp/Dockerfile
Labels: fix, build

#3835 chore(ci): automatically assign an author of a PR
  .github/workflows/pr-automation.yml
Labels: ci

#3782 feat(amber): enable user system by default
  .github/workflows/github-action-build.yml
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/TestUtils.scala
  core/config/src/main/resources/storage.conf
  core/config/src/main/resources/user-system.conf
  core/config/src/main/scala/edu/uci/ics/amber/config/StorageConfig.scala
  core/dao/src/main/scala/edu/uci/ics/texera/dao/SqlServer.scala
  core/dao/src/test/scala/edu/uci/ics/texera/dao/MockTexeraDB.scala
  core/scripts/sql/texera_ddl.sql
Labels: engine, ddl-change, ci, build

#3839 chore(ci): revert automatically assign an author of a PR
  .github/workflows/pr-labeler.yml
Labels: ci

#3840 fix(access-control-service): fix service file formats
  core/access-control-service/src/main/scala/edu/uci/ics/texera/service/AccessControlService.scala
  core/access-control-service/src/test/scala/edu/uci/ics/texera/AccessControlResourceSpec.scala
Labels: backend
