Repository apache/texera, pull requests merged in 2025-05, with the labels that each got.

#3410 Fix Incorrect Version and Execution Order in Backend Queries
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowVersionResource.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResourceSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowVersionResourceSpec.scala
Labels: fix

#3413 Fix base image to node:18.17 in the `texera-web-application.dockerfile`
  deployment/texera-web-application.dockerfile
Labels: bug, fix

#3416 Remove the job waiter in the helm chart and make `FileService` do forceful healthcheck
  core/file-service/src/main/scala/edu/uci/ics/texera/service/FileService.scala
  core/file-service/src/main/scala/edu/uci/ics/texera/service/util/LakeFSHealthManager.scala
  deployment/k8s/texera-helmchart/templates/example-data-loader-job.yaml
  deployment/k8s/texera-helmchart/templates/job-waiter-service-account.yaml
Labels: fix

#3402 Reimplement User Quota Service to remove MongoDB Dependency
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/texera/web/ComputingUnitMaster.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/user/AdminUserResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/quota/UserQuotaResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/storage/mongo/MongoDocumentSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/storage/mongo/MongoOpResultStorageSpec.scala
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/OperatorExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/OperatorPortExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/WorkflowExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/OperatorExecutionsDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/OperatorPortExecutionsDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/WorkflowExecutionsDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/IOperatorExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/IOperatorPortExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/IWorkflowExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/OperatorExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/OperatorPortExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/WorkflowExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/OperatorExecutionsRecord.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/OperatorPortExecutionsRecord.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/WorkflowExecutionsRecord.java
  core/gui/src/app/common/type/user.ts
  core/gui/src/app/dashboard/component/user/user-quota/user-quota.component.html
  core/gui/src/app/dashboard/component/user/user-quota/user-quota.component.spec.ts
  core/gui/src/app/dashboard/component/user/user-quota/user-quota.component.ts
  core/gui/src/app/dashboard/service/admin/user/admin-user.service.ts
  core/gui/src/app/dashboard/service/user/quota/user-quota.service.ts
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.ts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/updates/06.sql
  core/workflow-core/build.sbt
  core/workflow-core/src/main/resources/storage.conf
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/DocumentFactory.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/EnvironmentalVariable.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/StorageConfig.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/model/VirtualDocument.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/MongoDBBufferedItemWriter.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/MongoDocument.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/iceberg/IcebergDocument.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/util/mongo/MongoCollectionManager.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/util/mongo/MongoDatabaseManager.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/tuple/Tuple.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/tuple/TupleUtils.scala
Labels: enhancement, refactoring

#3409 Show loading spinner when generating workflow, use nz-icon for close button, and change jupyter cell variable names
  core/gui/src/app/dashboard/component/user/user-workflow/notebook-migration-tool/notebook-migration.component.html
  core/gui/src/app/dashboard/component/user/user-workflow/notebook-migration-tool/notebook-migration.component.scss
  core/gui/src/app/dashboard/component/user/user-workflow/notebook-migration-tool/notebook-migration.component.ts
  core/gui/src/app/workspace/component/jupyter-notebook-panel/jupyter-notebook-panel.component.html
  core/gui/src/app/workspace/component/jupyter-notebook-panel/jupyter-notebook-panel.component.scss
  core/gui/src/app/workspace/component/jupyter-notebook-panel/jupyter-notebook-panel.component.ts
  core/gui/src/app/workspace/component/menu/menu.component.ts
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/gui/src/app/workspace/component/workspace.component.html
  core/gui/src/app/workspace/component/workspace.component.scss
  core/gui/src/app/workspace/component/workspace.component.ts
  core/gui/src/app/workspace/service/jupyter-panel/jupyter-panel.service.ts
  core/gui/src/assets/migration_tool/mapping.ts
Labels: enhancement

#3423 Sanitize Uppercase Characters to Lowercase in Dataset Names
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-version-creator/user-dataset-version-creator.component.ts
Labels: fix

#3427 Add Pre-Check File Size and Type Before File Preview
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-file-renderer/user-dataset-file-renderer.component.ts
Labels: enhancement, fix

#3431 Revert Changes to Binary Chunking Due to Side Effects
  core/amber/src/main/python/core/models/RTupleExecutor.py
  core/amber/src/main/python/core/models/schema/attribute_type.py
  core/amber/src/main/python/core/models/schema/test_schema.py
  core/amber/src/main/python/core/models/test_tuple.py
  core/amber/src/main/python/core/models/tuple.py
  core/amber/src/main/python/core/runnables/test_main_loop.py
  core/amber/src/main/python/core/storage/iceberg/test_iceberg_document.py
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/quota/UserQuotaResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/service/ExecutionResultServiceSpec.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/iceberg/IcebergDocument.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/tuple/AttributeType.java
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/tuple/Tuple.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/util/ArrowUtils.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/util/IcebergUtil.scala
  core/workflow-core/src/test/scala/edu/uci/ics/amber/core/tuple/TupleSpec.scala
  core/workflow-core/src/test/scala/edu/uci/ics/amber/storage/result/iceberg/IcebergDocumentSpec.scala
  core/workflow-core/src/test/scala/edu/uci/ics/amber/storage/result/iceberg/IcebergTableStatsSpec.scala
  core/workflow-core/src/test/scala/edu/uci/ics/amber/util/IcebergUtilSpec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/FileScanSourceOpExec.scala
  core/workflow-operator/src/test/scala/edu/uci/ics/amber/util/ArrowUtilsSpec.scala
Labels: fix

#3426 Display Individual Progress Indicators for Concurrent File Uploads
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.scss
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
Labels: enhancement, fix

#3433 Install necessary packages for building gui in texera web application dockerfile
  deployment/texera-web-application.dockerfile
Labels: bug, fix

#3438 Fix the compilation of Python Lambda Operator
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/udf/python/LambdaAttributeUnit.java
Labels: bug, fix

#3434 Fix ChannelMarker transmission between Java and Python
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyServer.scala
Labels: bug

#3439 Fix ChannelMarker sending on PyAmber
  core/amber/src/main/python/core/architecture/packaging/output_manager.py
Labels: bug

#3435 Implement auto-expansion of the result panel upon operator click
  core/gui/src/app/workspace/component/result-panel/result-panel.component.html
  core/gui/src/app/workspace/component/result-panel/result-panel.component.ts
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
Labels: gui

#3436 Enhance user experience of comments box
  core/gui/src/app/workspace/component/workflow-editor/comment-box-modal/nz-modal-comment-box.component.html
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: gui

#3418 Add Volcano Plot Visualization Operator
  core/gui/src/assets/operator_images/VolcanoPlot.png
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/volcanoPlot/VolcanoPlotOpDesc.scala
Labels: enhancement, gui

#3443 Add minimizing and restoring features for Jupyter Notebook panel
  core/gui/src/app/workspace/component/jupyter-notebook-panel/jupyter-notebook-panel.component.html
  core/gui/src/app/workspace/component/jupyter-notebook-panel/jupyter-notebook-panel.component.scss
  core/gui/src/app/workspace/component/jupyter-notebook-panel/jupyter-notebook-panel.component.ts
  core/gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.html
  core/gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.scss
  core/gui/src/app/workspace/component/workflow-editor/mini-map/mini-map.component.ts
  core/gui/src/app/workspace/service/jupyter-panel/jupyter-panel.service.ts
Labels: enhancement

#3445 Fix ChannelMarker Partitioning logic on PyAmber
  core/amber/src/main/python/core/architecture/packaging/output_manager.py
  core/amber/src/main/python/core/architecture/sendsemantics/broad_cast_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/hash_based_shuffle_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/one_to_one_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/range_based_shuffle_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/round_robin_partitioner.py
  core/amber/src/main/python/core/runnables/main_loop.py
Labels: bug

#3429 Add HTML format & large Arrow files to result exportation
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/http/request/result/ResultExportRequest.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResourceSpec.scala
  core/gui/src/app/dashboard/service/user/download/download.service.ts
  core/gui/src/app/workspace/service/workflow-result-export/workflow-result-export.service.ts
  core/gui/src/app/workspace/service/workflow-result/workflow-result.service.ts
Labels: fix

#3437 Make operator property sidebar dynamically adjust height based on content
  core/gui/src/app/workspace/component/property-editor/property-editor.component.html
  core/gui/src/app/workspace/component/property-editor/property-editor.component.ts
Labels: gui

#3447 Refactor mapping storage to retain unique mappings for each generated workflow
  core/gui/src/app/app.module.ts
  core/gui/src/app/dashboard/component/user/user-workflow/notebook-migration-tool/notebook-migration.component.html
  core/gui/src/app/dashboard/component/user/user-workflow/notebook-migration-tool/notebook-migration.component.scss
  core/gui/src/app/dashboard/component/user/user-workflow/notebook-migration-tool/notebook-migration.component.ts
  core/gui/src/app/dashboard/type/jupyter-notebook.interface.ts
  core/gui/src/app/workspace/component/jupyter-notebook-panel/jupyter-notebook-panel.component.html
  core/gui/src/app/workspace/component/jupyter-notebook-panel/jupyter-notebook-panel.component.scss
  core/gui/src/app/workspace/component/jupyter-notebook-panel/jupyter-notebook-panel.component.ts
  core/gui/src/app/workspace/component/menu/menu.component.ts
  core/gui/src/app/workspace/service/jupyter-panel/jupyter-panel.service.ts
  core/gui/src/assets/migration_tool/mapping.ts
Labels: enhancement, refactoring, frontend

#3446 Handle mismatched datasets on displaying dashboard
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DashboardResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DatasetSearchQueryBuilder.scala
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset.component.ts
  core/gui/src/app/dashboard/type/search-result.ts
Labels: enhancement, fix

#3425 Use Input Port Materialization Reader Threads to Replace Cache Source Operators
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/rpc/controlcommands.proto
  core/amber/src/main/python/core/architecture/handlers/control/assign_port_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/start_worker_handler.py
  core/amber/src/main/python/core/architecture/managers/context.py
  core/amber/src/main/python/core/architecture/packaging/input_manager.py
  core/amber/src/main/python/core/architecture/packaging/output_manager.py
  core/amber/src/main/python/core/architecture/sendsemantics/round_robin_partitioner.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/storage/runnables/input_port_materialization_reader_runnable.py
  core/amber/src/main/python/core/util/virtual_identity/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/rpc/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/InputManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/Region.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionExecutionCoordinator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/config/PortConfig.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/resourcePolicies/ResourceAllocator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/managers/InputPortMaterializationReaderThread.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/AssignPortHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/StartHandler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyScheduleGeneratorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DPThreadSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/CheckpointSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResourceSpec.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/workflow/PhysicalOp.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/util/VirtualIdentityUtils.scala
Labels: enhancement, engine, refactoring, computing-unit, design-decision

#3342 Fix issue with workspace defaulting to previous workflow after refresh
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/gui/src/app/workspace/component/workspace.component.ts
  core/gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
Labels: bug

#3452 Add a new config to control the maximum websocket payload size
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/ComputingUnitMaster.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WebsocketPayloadSizeTuner.scala
  core/computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/resource/ComputingUnitManagingResource.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/EnvironmentalVariable.scala
  deployment/k8s/texera-helmchart/values.yaml
Labels: enhancement, config

#3451 Enable adjusting shared memory for the computing unit
  core/computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/resource/ComputingUnitManagingResource.scala
  core/computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/util/KubernetesClient.scala
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.html
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.scss
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.ts
  core/gui/src/app/workspace/service/workflow-computing-unit/workflow-computing-unit-managing.service.ts
  core/gui/src/app/workspace/types/workflow-computing-unit.ts
Labels: computing-unit
