Repository apache/texera, pull requests merged in 2025-02, with the labels that each got.

#3243 Add PostgreSQL Catalog in Java Iceberg Implementation
  core/amber/src/main/python/core/storage/iceberg/iceberg_catalog_instance.py
  core/amber/src/main/python/core/storage/iceberg/iceberg_utils.py
  core/amber/src/main/python/core/storage/iceberg/test_iceberg_document.py
  core/amber/src/main/python/core/storage/storage_config.py
  core/workflow-core/build.sbt
  core/workflow-core/src/main/resources/storage-config.yaml
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/IcebergCatalogInstance.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/StorageConfig.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/util/IcebergUtil.scala
Labels: dependencies, config, Python

#3242 Moved commit hash from workflow panel to side bar
  core/gui/src/app/dashboard/component/dashboard.component.html
  core/gui/src/app/dashboard/component/dashboard.component.scss
  core/gui/src/app/dashboard/component/dashboard.component.ts
  core/gui/src/app/workspace/component/workspace.component.html
  core/gui/src/app/workspace/component/workspace.component.scss
  core/gui/src/app/workspace/component/workspace.component.ts
Labels: frontend

#3248 Fix issue where table statistics are not displayed correctly on the frontend
  core/gui/src/app/workspace/component/result-panel/result-table-frame/result-table-frame.component.html
Labels: bug

#3259 Fix GitHub Action Build Failure
  .github/workflows/github-action-build.yml
Labels: config

#3261 Fix issue to ensure single snapshot mode does not calculate stats
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
Labels: bug

#3264 Prevent Duplicate Sink Operator Generation for Shared Storage URIs
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ScheduleGenerator.scala
Labels: fix

#3262 Enhance Runtime Statistics with Cumulative Metrics and Tuple Size Measurement
  core/amber/requirements.txt
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/worker/statistics.proto
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/common/executionruntimestate.proto
  core/amber/src/main/python/core/architecture/managers/statistics_manager.py
  core/amber/src/main/python/core/models/tuple.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/runnables/test_main_loop.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/worker/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/common/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/execution/ExecutionUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/execution/OperatorExecution.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerExecution.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostEstimator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/managers/StatisticsManager.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/event/OperatorStatisticsUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionStatsService.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/DefaultCostEstimatorSpec.scala
  core/gui/src/app/dashboard/component/user/user-workflow/ngbd-modal-workflow-executions/workflow-runtime-statistics/workflow-runtime-statistics.component.ts
  core/gui/src/app/dashboard/type/workflow-runtime-statistics.ts
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/ResultSchema.scala
Labels: enhancement

#3249 Move about to be it's own menu item
  core/gui/src/app/dashboard/component/dashboard.component.html
  core/gui/src/app/dashboard/component/dashboard.component.ts
  core/gui/src/app/hub/component/hub.component.html
  core/gui/src/app/hub/component/hub.component.ts
Labels: gui, frontend

#3245 Add ChannelMarker support on pyAmber
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/common/ambermessage.proto
  core/amber/src/main/python/core/architecture/handlers/actorcommand/backpressure_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/add_input_channel_handler.py
  core/amber/src/main/python/core/architecture/handlers/control/start_worker_handler.py
  core/amber/src/main/python/core/architecture/managers/channel_marker_manager.py
  core/amber/src/main/python/core/architecture/managers/context.py
  core/amber/src/main/python/core/architecture/managers/pause_manager.py
  core/amber/src/main/python/core/architecture/packaging/input_manager.py
  core/amber/src/main/python/core/architecture/packaging/output_manager.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_client.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_handler_initializer.py
  core/amber/src/main/python/core/architecture/rpc/async_rpc_server.py
  core/amber/src/main/python/core/models/__init__.py
  core/amber/src/main/python/core/models/internal_marker.py
  core/amber/src/main/python/core/models/internal_queue.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/runnables/network_receiver.py
  core/amber/src/main/python/core/runnables/network_sender.py
  core/amber/src/main/python/core/runnables/test_console_message.py
  core/amber/src/main/python/core/runnables/test_main_loop.py
  core/amber/src/main/python/core/runnables/test_network_receiver.py
  core/amber/src/main/python/core/util/customized_queue/linked_blocking_multi_queue.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/common/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyServer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonWorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/WorkerBatchInternalQueue.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/ChannelMarkerManager.scala
Labels: enhancement, engine

#3269 Add interaction buttons for public datasets
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/EntityTables.scala
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Indexes.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Keys.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Tables.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/TexeraDb.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/DatasetUserLikes.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/DatasetViewCount.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/DatasetUserLikesDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/DatasetViewCountDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/IDatasetUserLikes.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/IDatasetViewCount.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/DatasetUserLikes.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/DatasetViewCount.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/DatasetUserLikesRecord.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/DatasetViewCountRecord.java
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.html
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.scss
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/22.sql
Labels: gui, frontend

#3270 Refactor the landing page backend API and add the top-loved dataset.
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/EntityTables.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/HubResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/gui/src/app/hub/component/browse-section/browse-section.component.html
  core/gui/src/app/hub/component/browse-section/browse-section.component.scss
  core/gui/src/app/hub/component/browse-section/browse-section.component.spec.ts
  core/gui/src/app/hub/component/browse-section/browse-section.component.ts
  core/gui/src/app/hub/component/landing-page/landing-page.component.html
  core/gui/src/app/hub/component/landing-page/landing-page.component.ts
  core/gui/src/app/hub/service/hub.service.ts
Labels: gui, refactoring, frontend

#3272 Fix Missing Dummy Input Port on Python Source Operator
  core/amber/src/main/python/core/architecture/handlers/control/start_worker_handler.py
Labels: bug, fix

#3273 Fix execution state leak triggered by frequent ExecuteWorkflow requests
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/WorkflowWebsocketResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
Labels: bug, fix

#3274 Remove deprecated Google Services
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/GoogleResource.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
Labels: refactoring

#3278 Fix GmailResource class structure
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/GmailResource.scala
Labels: bug

#3275 Fix the group by syntax issue caused by database update.
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/HubResource.scala
Labels: bug, fix

#3276 Add a view count to the landing page.
  core/gui/src/app/hub/component/landing-page/landing-page.component.html
  core/gui/src/app/hub/component/landing-page/landing-page.component.ts
Labels: gui, frontend

#3277 Fix the issue where buttons around the operator are difficult to click.
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: frontend

#3280 Remove sub-string matching from search query
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DatasetSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/FulltextSearchQueryUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/ProjectSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/WorkflowSearchQueryBuilder.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
Labels: enhancement

#3282 Bump Angular Social Login to 2.3.0
  core/gui/package.json
  core/gui/src/app/dashboard/component/dashboard.component.html
  core/gui/yarn.lock
Labels: dependencies

#3283 Fix the issue where the workflow cannot be displayed in the user project.
  core/gui/src/app/dashboard/component/user/user-project/user-project-section/user-project-section.component.html
  core/gui/src/app/dashboard/component/user/user-project/user-project-section/user-project-section.component.scss
Labels: fix, frontend

#3279 Add Layer Info in Port Result Identifier
  core/amber/src/main/python/core/storage/document_factory.py
  core/amber/src/main/python/core/storage/iceberg/test_iceberg_document.py
  core/amber/src/main/python/core/storage/vfs_uri_factory.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/WorkflowCompiler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Keys.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/OperatorPortExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/OperatorPortExecutionsDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/IOperatorPortExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/OperatorPortExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/OperatorPortExecutionsRecord.java
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/updates/01.sql
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/DocumentFactory.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/VFSURIFactory.scala
  core/workflow-core/src/test/scala/edu/uci/ics/amber/storage/result/iceberg/IcebergDocumentSpec.scala
  core/workflow-core/src/test/scala/edu/uci/ics/amber/storage/result/iceberg/IcebergTableStatsSpec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/SpecialPhysicalOpFactory.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sink/ProgressiveSinkOpExec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/cache/CacheSourceOpExec.scala
Labels: bug, engine, ddl-change, fix, scripts
