Repository apache/texera, pull requests merged in 2025-03, with the labels that each got.

#3284 Fix the issue where selecting another operator was not possible after deleting a selected operator in the workspace
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: bug, fix

#3287 Enhance full-text search with Pgroonga
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/FulltextSearchQueryUtils.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/resource/dashboard/file/WorkflowResourceSpec.scala
  core/dao/src/test/scala/edu/uci/ics/texera/dao/MockTexeraDB.scala
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/updates/02.sql
  core/workflow-core/src/main/resources/storage-config.yaml
Labels: enhancement, ddl-change

#3292 Bump SBT Native Packager to latest version
  core/amber/project/plugins.sbt
  core/project/plugins.sbt
Labels: dependencies

#3290 Replace Apache Commons Compress with JDK Built-in Zip
  core/build.sbt
  core/workflow-operator/build.sbt
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/FileScanSourceOpExec.scala
Labels: dependencies

#3293 Remove Sentiment Analysis operator
  core/amber/build.sbt
  core/workflow-operator/build.sbt
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sentiment/SentimentAnalysisOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sentiment/SentimentAnalysisOpExec.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sentiment/StanfordCoreNLPWrapper.scala
Labels: dependencies

#3291 Bump Jetty to latest v9
  core/build.sbt
Labels: dependencies

#3302 Resolve Concurrency Issues in Iceberg Tables and Eliminate Scala Compiler Warnings
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/ResultResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionConsoleService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionStatsService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/iceberg/IcebergDocument.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/iceberg/OnIceberg.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/util/IcebergUtil.scala
  core/workflow-core/src/test/scala/edu/uci/ics/amber/storage/result/iceberg/IcebergDocumentConsoleMessagesSpec.scala
Labels: fix

#3303 Fix lambda serialization for remote actors
  core/amber/build.sbt
  core/amber/src/main/resources/cluster.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberKryoInitializer.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/LoggingSpec.scala
Labels: bug, fix

#3294 Remove MySQL Connector
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/dao/build.sbt
Labels: dependencies

#3304 Fix zombie websocket sessions
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
Labels: bug, fix

#3306 Move Email Notification Logic to ExecutionRuntimeService
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/EmailNotificationService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionRuntimeService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowEmailNotifier.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
Labels: bug, fix

#3295 Use Output Ports of an Operator to Write Storage
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/rpc/controlcommands.proto
  core/amber/src/main/python/core/architecture/handlers/control/assign_port_handler.py
  core/amber/src/main/python/core/architecture/packaging/output_manager.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/storage/document_factory.py
  core/amber/src/main/python/core/storage/runnables/__init__.py
  core/amber/src/main/python/core/storage/runnables/port_storage_writer.py
  core/amber/src/main/python/core/storage/storage_config.py
  core/amber/src/main/python/core/util/virtual_identity/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/core/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/rpc/__init__.py
  core/amber/src/main/python/texera_run_python_worker.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PortCompletedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonWorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostEstimator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/Region.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionExecutionCoordinator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionPlan.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/WorkflowExecutionCoordinator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/config/PortConfig.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/config/ResourceConfig.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/resourcePolicies/ResourceAllocator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/managers/OutputPortResultWriterThread.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/AssignPortHandler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/WorkflowCompiler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManagerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
  core/workflow-core/src/main/protobuf/edu/uci/ics/amber/core/workflow.proto
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/DocumentFactory.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/VFSURIFactory.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/workflow/PhysicalOp.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/workflow/WorkflowContext.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/workflow/WorkflowSettings.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/SpecialPhysicalOpFactory.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sink/ProgressiveSinkOpExec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/cache/CacheSourceOpExec.scala
Labels: engine, refactoring

#3310 Temporally disable logging test
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/LoggingSpec.scala
Labels: bug

#3313 Fix the postgres container health check command in the docker-compose file under the `file-service`
  core/file-service/src/main/resources/docker-compose.yml
Labels: bug, fix

#3314 Remove the redundant dataset endpoints and related dependencies
  core/amber/build.sbt
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/Region.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionExecutionCoordinator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/config/ResourceConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/ComputingUnitMaster.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DatasetSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/HubResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/type/DatasetFileNode.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/type/DatasetFileNodeSerializer.java
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/utils/DatasetStatisticsUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/WorkflowCompiler.scala
  core/file-service/src/main/scala/edu/uci/ics/texera/service/FileService.scala
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetAccessResource.scala
  core/gui/proxy.config.json
  core/gui/src/app/common/type/dataset.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-version-creator/user-dataset-version-creator.component.ts
  core/gui/src/app/dashboard/type/dashboard-dataset.interface.ts
  core/gui/src/app/dashboard/type/dashboard-entry.ts
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/workflow/PhysicalOp.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/SpecialPhysicalOpFactory.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sink/ProgressiveSinkOpExec.scala
Labels: refactoring

#3311 Update Pgroonga stemming filter detection in SQL scripts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/updates/02.sql
Labels: fix

#3312 Remove Sink Operator in the Backend
  core/amber/src/main/python/core/architecture/packaging/output_manager.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/core/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/Region.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/managers/StatisticsManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/InitializeExecutorHandler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/model/websocket/event/WebResultUpdateEvent.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/WorkflowCompiler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedScheduleGeneratorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/DefaultCostEstimatorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyScheduleGeneratorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/workflow-core/src/main/protobuf/edu/uci/ics/amber/core/executor.proto
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/executor/SinkOperatorExecutor.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/ExecutionResourcesMapping.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/workflow/LocationPreference.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/workflow/PhysicalOp.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/workflow/PhysicalPlan.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/SpecialPhysicalOpFactory.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sink/ProgressiveSinkOpExec.scala
Labels: engine, testing, refactoring

#3321 Implement Workflow Compute Unit Management
  core/amber/computing-unit.dockerfile
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/ResultResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/webserver.dockerfile
  core/gui/proxy.config.json
  core/gui/src/app/app.module.ts
  core/gui/src/app/dashboard/component/dashboard.component.html
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.html
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.scss
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.ts
  core/gui/src/app/workspace/service/workflow-computing-unit/workflow-computing-unit-managing.service.ts
  core/gui/src/app/workspace/types/workflow-computing-unit.ts
  core/gui/src/styles.scss
  core/scripts/server.sh
  core/scripts/texera-helmchart/files/texera_ddl.sql
  core/scripts/texera-helmchart/templates/metrics-server.yaml
  core/scripts/texera-helmchart/templates/workflow-computing-unit-manager-service-account.yaml
  core/scripts/texera-helmchart/templates/workflow-computing-units-deployment.yaml
  core/workflow-computing-unit-managing-service/build.sbt
  core/workflow-computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/resource/WorkflowComputingUnitManagingResource.scala
  core/workflow-computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/util/KubernetesClientService.scala
  core/workflow-computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/util/KubernetesMetricService.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/StorageConfig.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/iceberg/IcebergDocument.scala
  core/workflow-core/src/test/scala/edu/uci/ics/amber/storage/result/iceberg/IcebergTableStatsSpec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/networkGraph/NetworkGraphOpDesc.scala
Labels: gui, undergrad-task, frontend, workflow-pods

#3325 Fix NPE for log writer
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberRuntime.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/WorkerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/CheckpointSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/LoggingSpec.scala
Labels: bug, fix

#3315 Add computing unit manager frontend
  core/gui/src/app/app.module.ts
  core/gui/src/app/workspace/component/menu/menu.component.html
  core/gui/src/app/workspace/component/menu/menu.component.ts
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.html
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.scss
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.spec.ts
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.ts
  core/gui/src/app/workspace/component/workspace.component.ts
  core/gui/src/app/workspace/service/workflow-computing-unit/workflow-computing-unit-managing.service.ts
  core/gui/src/app/workspace/service/workflow-websocket/workflow-websocket.service.ts
  core/gui/src/app/workspace/types/workflow-computing-unit.ts
  core/gui/src/environments/environment.default.ts
Labels: enhancement

#3322 Fix Iceberg Catalog on Window Machines
  core/workflow-core/src/main/scala/edu/uci/ics/amber/util/IcebergUtil.scala
Labels: bug

#3328 Fix incorrect wid during the websocket connection with the computing unit
  core/gui/src/app/workspace/component/menu/menu.component.html
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.html
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.ts
Labels: bug, fix

#3330 Fix the missing config resolve of AmberConfig
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberConfig.scala
Labels: bug, fix

#3333 Ignore pgroonga in jooq codegen
  core/dao/src/main/resources/jooq-conf.xml
  core/dao/src/main/scala/edu/uci/ics/texera/dao/JooqCodeGenerator.scala
Labels: bug, fix

#3332 Refactor Operator Port Result Storage URI
  core/amber/src/main/python/core/storage/document_factory.py
  core/amber/src/main/python/core/storage/iceberg/test_iceberg_document.py
  core/amber/src/main/python/core/storage/vfs_uri_factory.py
  core/amber/src/main/python/core/util/virtual_identity/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionExecutionCoordinator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Keys.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/OperatorPortExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/OperatorPortExecutionsDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/IOperatorPortExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/OperatorPortExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/OperatorPortExecutionsRecord.java
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/updates/03.sql
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/DocumentFactory.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/VFSURIFactory.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/util/serde/GlobalPortIdentitySerde.scala
  core/workflow-core/src/test/scala/edu/uci/ics/amber/storage/result/iceberg/IcebergDocumentSpec.scala
  core/workflow-core/src/test/scala/edu/uci/ics/amber/storage/result/iceberg/IcebergTableStatsSpec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/SpecialPhysicalOpFactory.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/cache/CacheSourceOpExec.scala
Labels: engine, ddl-change, Python, refactoring

#3336 Add fallback function to read file directly from LakeFS when presigned URL is not accessible
  core/scripts/sql/iceberg_postgres_catalog.sql
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/model/DatasetFileDocument.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/util/LakeFSStorageClient.scala
Labels: fix

#3338 Reduce exposed ports and add volume mapping instruction in `single-node` deployment
  deployment/single-node/README.md
  deployment/single-node/docker-compose.yml
Labels: scripts

#3340 Improve Iceberg Table Lifecycle Management for Storage Efficiency
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
Labels: enhancement
