Repository apache/texera, pull requests merged in 2025-01, with the labels that each got.

#3156 Add Cost Estimator Using Past Statistics for Schedule Generator
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostEstimator.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/DefaultCostEstimatorSpec.scala
Labels: engine

#3189 Fix python udf source detection
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/udf/python/PythonUDFOpDescV2.scala
Labels: bug, fix

#3201 Remove MemoryDocument from result storage
  core/amber/src/main/scala/edu/uci/ics/texera/web/ComputingUnitMaster.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/MemoryDocument.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/OpResultStorage.scala
  core/workflow-core/src/test/scala/edu/uci/ics/amber/storage/result/iceberg/IcebergDocumentSpec.scala
Labels: engine, refactoring

#3200 Fix the issue where the persistWorkflow method in the workspace is not functioning properly
  core/gui/src/app/common/service/workflow-persist/workflow-persist.service.ts
Labels: bug, fix

#3165 Remove Flarum synchronization service from the webserver
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/discussion/UserDiscussionResource.scala
  core/gui/src/app/app.module.ts
  core/gui/src/app/dashboard/component/dashboard.component.ts
  core/gui/src/app/dashboard/service/user/flarum/flarum.service.ts
Labels: enhancement

#3206 Add network visualization for graph structured data
  core/gui/src/assets/operator_images/NetworkGraph.png
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/networkGraph/NetworkGraphOpDesc.scala
Labels: undergrad-task

#3171 Normalize and Improve Operator Runtime Statistics Handling
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostEstimator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionStatsService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/DefaultCostEstimatorSpec.scala
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Indexes.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Keys.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Tables.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/TexeraDb.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/OperatorExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/OperatorRuntimeStatistics.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/WorkflowRuntimeStatistics.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/OperatorExecutionsDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/OperatorRuntimeStatisticsDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/WorkflowRuntimeStatisticsDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/IOperatorExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/IOperatorRuntimeStatistics.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/IWorkflowRuntimeStatistics.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/OperatorExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/OperatorRuntimeStatistics.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/OperatorExecutionsRecord.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/OperatorRuntimeStatisticsRecord.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/WorkflowRuntimeStatisticsRecord.java
  core/gui/src/app/dashboard/component/user/user-workflow/ngbd-modal-workflow-executions/workflow-runtime-statistics/workflow-runtime-statistics.component.ts
  core/gui/src/app/dashboard/service/user/workflow-executions/workflow-executions.service.ts
  core/gui/src/app/dashboard/type/workflow-runtime-statistics.ts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/update/19.sql
Labels: enhancement, ddl-change

#3208 Disable the “Clone” button for restricted and inactive users
  core/gui/src/app/hub/component/workflow/detail/hub-workflow-detail.component.html
  core/gui/src/app/hub/component/workflow/detail/hub-workflow-detail.component.ts
Labels: fix

#3199 Fix serialization of LineMode for LineChartOp
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/lineChart/LineMode.java
Labels: fix

#3210 Refactor DatasetResource and DatasetAccessResource
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DatasetSearchQueryBuilder.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/utils/DatasetStatisticsUtils.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-explorer.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/workspace/component/file-selection/file-selection.component.ts
  core/gui/src/app/workspace/component/result-exportation/result-exportation.component.ts
Labels: refactoring

#3090 Introduce IF operator
  core/gui/src/assets/operator_images/If.png
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/ifStatement/IfOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/ifStatement/IfOpExec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/metadata/OperatorGroupConstants.scala
Labels: enhancement

#3211 Add URI generator, resolver and corresponding document open & create functions
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/InitializeExecutorHandler.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/ComputingUnitMaster.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowExecutionService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/WorkflowCompiler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/BatchSizePropagationSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/CheckpointSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/storage/ReadonlyLocalFileDocumentSpec.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/DocumentFactory.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/FileResolver.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/VFSURIFactory.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/model/DatasetFileDocument.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/model/ReadonlyLocalFileDocument.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/ExecutionResourcesMapping.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/MongoDocument.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/OpResultStorage.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/ResultStorage.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/iceberg/IcebergDocument.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/iceberg/IcebergTableWriter.scala
  core/workflow-core/src/test/scala/edu/uci/ics/amber/core/storage/model/VirtualDocumentSpec.scala
  core/workflow-core/src/test/scala/edu/uci/ics/amber/storage/result/iceberg/IcebergDocumentSpec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/SpecialPhysicalOpFactory.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sink/ProgressiveSinkOpExec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/cache/CacheSourceOpExec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/FileScanSourceOpExec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/arrow/ArrowSourceOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/arrow/ArrowSourceOpExec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/csv/CSVScanSourceOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/csv/CSVScanSourceOpExec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/csv/ParallelCSVScanSourceOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/csv/ParallelCSVScanSourceOpExec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/csvOld/CSVOldScanSourceOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/csvOld/CSVOldScanSourceOpExec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/json/JSONLScanSourceOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/json/JSONLScanSourceOpExec.scala
Labels: refactoring

#3195 Remove redundant configurations
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberConfig.scala
  core/scripts/server.sh
Labels: enhancement

#3216 Remove the corresponding resource entry from the global ExecutionResourceMapping during the garbage collection
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ScheduleGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ResultExportService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/workflow/WorkflowCompiler.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/texera/workflow/common/storage/ReadonlyLocalFileDocumentSpec.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/FileResolver.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/storage/result/ExecutionResourcesMapping.scala
  core/workflow-core/src/test/scala/edu/uci/ics/amber/storage/result/iceberg/IcebergDocumentSpec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/dictionary/DictionaryMatcherOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/projection/ProjectionOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sink/ProgressiveSinkOpExec.scala
Labels: fix

#3215 Fix slow scan operators
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/csv/CSVScanSourceOpExec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/csv/ParallelCSVScanSourceOpExec.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/json/JSONLScanSourceOpExec.scala
Labels: bug, fix

#3105 Execution Dashboard Backend Pagination & Frontend Loading Icon
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/execution/AdminExecutionResource.scala
  core/gui/src/app/dashboard/component/admin/execution/admin-execution.component.html
  core/gui/src/app/dashboard/component/admin/execution/admin-execution.component.scss
  core/gui/src/app/dashboard/component/admin/execution/admin-execution.component.ts
  core/gui/src/app/dashboard/service/admin/execution/admin-execution.service.ts
Labels: enhancement, refactoring, frontend

#3197 Fix Google Login button disappearing issue
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/GoogleAuthResource.scala
  core/gui/package.json
  core/gui/src/app/app.module.ts
  core/gui/src/app/common/service/user/auth.service.ts
  core/gui/src/app/common/service/user/google-auth.service.ts
  core/gui/src/app/dashboard/component/dashboard.component.html
  core/gui/src/app/dashboard/component/dashboard.component.scss
  core/gui/src/app/dashboard/component/dashboard.component.spec.ts
  core/gui/src/app/dashboard/component/dashboard.component.ts
  core/gui/src/app/dashboard/component/user/google-login/google-login.component.ts
  core/gui/src/index.html
  core/gui/yarn.lock
Labels: bug, fix

#3217 Fix CSV File Scan Operator
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/source/scan/csv/CSVScanSourceOpDesc.scala
Labels: bug

#3129 Add public datasets under "Hub"
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/DashboardResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/workflow/HubWorkflowResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/dataset/DatasetResource.scala
  core/gui/src/app/app-routing.constant.ts
  core/gui/src/app/app-routing.module.ts
  core/gui/src/app/app.module.ts
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.scss
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
  core/gui/src/app/dashboard/service/user/search.service.ts
  core/gui/src/app/hub/component/hub-search-result/hub-search-result.component.html
  core/gui/src/app/hub/component/hub-search-result/hub-search-result.component.scss
  core/gui/src/app/hub/component/hub-search-result/hub-search-result.component.ts
  core/gui/src/app/hub/component/hub.component.html
  core/gui/src/app/hub/component/hub.component.ts
  core/gui/src/app/hub/component/workflow/hub-workflow.component.ts
  core/gui/src/app/hub/component/workflow/search/hub-workflow-search.component.scss
  core/gui/src/app/hub/service/workflow/hub-workflow.service.ts
Labels: frontend

#3207 Add Network Graph operator for visualizing graph structured data
  core/gui/src/assets/operator_images/NetworkGraph.png
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/networkGraph/NetworkGraphOpDesc.scala
Labels: undergrad-task

#3219 Added option to disable google login in the frontend configuration
  core/gui/src/app/dashboard/component/dashboard.component.html
  core/gui/src/app/dashboard/component/dashboard.component.ts
  core/gui/src/environments/environment.default.ts
Labels: enhancement, undergrad-task, frontend

#3228 Disable User System in front end config by default
  core/gui/src/environments/environment.default.ts
Labels: config, fix

#3230 Fix the issue where the public dataset search result page displays public workflows after refreshing
  core/gui/src/app/hub/component/hub-search-result/hub-search-result.component.ts
Labels: bug, fix

#3218 Fix excessive requests to Google on initialisation
  core/gui/src/app/common/service/user/user.service.ts
Labels: bug, fix

#3229 Update add-computing-unit-worker.sh
  core/scripts/add-computing-unit-worker.sh
Labels: scripts

#3235 Fix Split Operator requires a seed
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/split/SplitOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/split/SplitOpExec.scala
Labels: bug

#3224 Add Storage Layer In Python
  .github/workflows/github-action-build.yml
  core/amber/requirements.txt
  core/amber/src/main/python/core/models/schema/attribute_type.py
  core/amber/src/main/python/core/models/schema/test_schema.py
  core/amber/src/main/python/core/storage/__init__.py
  core/amber/src/main/python/core/storage/document_factory.py
  core/amber/src/main/python/core/storage/iceberg/__init__.py
  core/amber/src/main/python/core/storage/iceberg/iceberg_catalog_instance.py
  core/amber/src/main/python/core/storage/iceberg/iceberg_document.py
  core/amber/src/main/python/core/storage/iceberg/iceberg_table_writer.py
  core/amber/src/main/python/core/storage/iceberg/iceberg_utils.py
  core/amber/src/main/python/core/storage/iceberg/test_iceberg_document.py
  core/amber/src/main/python/core/storage/model/__init__.py
  core/amber/src/main/python/core/storage/model/buffered_item_writer.py
  core/amber/src/main/python/core/storage/model/readonly_virtual_document.py
  core/amber/src/main/python/core/storage/model/virtual_document.py
  core/amber/src/main/python/core/storage/storage_config.py
  core/amber/src/main/python/core/storage/vfs_uri_factory.py
  core/scripts/sql/iceberg_postgres_catalog.sql
Labels: engine, scripts, Python, testing
