Repository apache/texera, pull requests merged in 2025-08, with the labels that each got.

#3641 chore(ci): let new commits trigger PR linter CI
  .github/workflows/lint-pr.yml
Labels: ci

#3636 feat(gui): Enhance Deleting Edges
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.html
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.spec.ts
  core/gui/src/app/workspace/component/workflow-editor/context-menu/context-menu/context-menu.component.ts
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: gui

#3658 fix(ui): improve upload behavior to prevent progress confusion
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
Labels: gui

#3659 feat: inline dataset version creation and remove modal flow
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.scss
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
Labels: gui

#3687 chore(dep): bump jOOQ dependencies to version 3.16.23
  core/dao/build.sbt
Labels: dependencies

#3697 fix: typo in WorkflowAggregatedState
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/Utils.scala
Labels: fix

#3660 feat(amber): add memoization of region costs in CostBasedScheduleGenerator
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/CostBasedScheduleGenerator.scala
Labels: feature

#3689 chore(ci): Add Mock DB and JOOQ Generation to CI
  .github/workflows/github-action-build.yml
  core/config/src/main/resources/storage.conf
Labels: ci
