Repository apache/texera, pull requests merged in 2025-04, with the labels that each got.

#3345 Fix Visualization Rendering Issue Caused by String Truncation Logic in Backend
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionResultService.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/service/ExcutionResultServiceSpec.scala
Labels: fix

#3307 Fix the issue where users without permission could modify others' access in Share Access.
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/project/ProjectAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowAccessResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetAccessResource.scala
  core/gui/src/app/common/service/workflow-persist/workflow-persist.service.ts
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.ts
  core/gui/src/app/dashboard/component/user/search-results/search-results.component.html
  core/gui/src/app/dashboard/component/user/search-results/search-results.component.ts
  core/gui/src/app/dashboard/component/user/share-access/share-access.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset.component.html
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow.component.html
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow.component.ts
Labels: bug, fix

#3308 Fix the issue where content may be duplicated on the landing page.
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/HubResource.scala
Labels: bug, fix

#3309 Fix the TypeError in dataset Share Access.
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
Labels: bug, fix

#3347 Fix unaligned representation of python binary objects
  core/amber/src/main/python/core/models/test_tuple.py
  core/amber/src/main/python/core/models/tuple.py
Labels: bug, fix

#3346 Cap the number of displayed console messages at GUI and the max length of each message
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionConsoleService.scala
  core/amber/src/test/scala/edu/uci/ics/texera/web/service/ExecutionConsoleServiceSpec.scala
  core/gui/src/app/workspace/service/workflow-console/workflow-console.service.ts
  core/gui/src/environments/environment.default.ts
Labels: frontend

#3349 Avoid overlaps between name editing button and information button in operator property panel
  core/gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.html
  core/gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.scss
Labels: frontend

#3356 Qizhi add violinplot operator
  core/gui/src/assets/operator_images/BoxPlot.png
  core/gui/src/assets/operator_images/BoxViolinPlot.png
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/boxViolinPlot/BoxPlotQuartileFunction.java
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/boxViolinPlot/BoxViolinPlotOpDesc.scala
Labels: enhancement

#3366 Fix hard-coded values and wrong configurations in Helm
  deployment/k8s/texera-helmchart/templates/envoy-config.yaml
  deployment/k8s/texera-helmchart/templates/external-names.yaml
  deployment/k8s/texera-helmchart/templates/minio-ingress.yaml
  deployment/k8s/texera-helmchart/templates/postgresql-init-script-config.yaml
  deployment/k8s/texera-helmchart/values.yaml
Labels: fix

#3359 Enable dynamic resizing for the workflow name input field in the workspace
  core/gui/src/app/workspace/component/menu/menu.component.html
  core/gui/src/app/workspace/component/menu/menu.component.scss
  core/gui/src/app/workspace/component/menu/menu.component.ts
Labels: enhancement

#3373 Fix the issue where the dataset content cannot be displayed on the dataset detail page when the user is not logged in
  core/file-service/src/main/scala/edu/uci/ics/texera/service/resource/DatasetResource.scala
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.html
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/user-dataset-file-renderer/user-dataset-file-renderer.component.ts
  core/gui/src/app/dashboard/service/user/dataset/dataset.service.ts
Labels: bug

#3368 Bump pyArrow to 19.0.1
  core/amber/requirements.txt
Labels: dependencies

#3391 Enable email notification to the administrator upon an unauthorized or inactive user login attempt
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/GmailResource.scala
  core/gui/src/app/common/service/gmail/gmail.service.ts
  core/gui/src/app/common/service/user/auth.service.ts
Labels: enhancement
