Repository apache/texera, pull requests merged in 2025-07, with the labels that each got.

#3454 Add 2D Histogram Visualization Operator
  core/gui/src/assets/operator_images/Histogram2D.png
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/histogram2d/Histogram2DOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/histogram2d/NormalizationType.java
Labels: enhancement, gui

#3514 Fix value `numOfPods` reference in file service deployment template
  deployment/k8s/texera-helmchart/templates/file-service-deployment.yaml
Labels: fix

#3522 fix(python): re-order python proto-generated code
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/rpc/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/common/__init__.py
Labels: Python, refactoring

#3539 fix(auth): handle missing avatar in Google authentication
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/auth/GoogleAuthResource.scala
Labels: fix

#3508 feat: enable sharing `write` access of a computing unit between users
  core/computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/ComputingUnitManagingService.scala
  core/computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/resource/ComputingUnitAccessResource.scala
  core/computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/resource/ComputingUnitManagingResource.scala
  core/computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/util/ComputingUnitHelpers.scala
  core/config-service/src/main/scala/edu/uci/ics/texera/service/resource/ConfigResource.scala
  core/config/src/main/resources/computing-unit.conf
  core/config/src/main/scala/edu/uci/ics/texera/config/ComputingUnitConfig.scala
  core/dao/src/main/scala/edu/uci/ics/texera/dao/JooqCodeGenerator.scala
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Keys.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/Tables.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/TexeraDb.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/ComputingUnitUserAccess.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/WorkflowExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/ComputingUnitUserAccessDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/daos/WorkflowExecutionsDao.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/IComputingUnitUserAccess.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/interfaces/IWorkflowExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/ComputingUnitUserAccess.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/pojos/WorkflowExecutions.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/ComputingUnitUserAccessRecord.java
  core/dao/src/main/scala/edu/uci/ics/texera/dao/jooq/generated/tables/records/WorkflowExecutionsRecord.java
  core/gui/proxy.config.json
  core/gui/src/app/common/service/gui-config.service.mock.ts
  core/gui/src/app/common/type/gui-config.ts
  core/gui/src/app/dashboard/component/user/share-access/share-access.component.html
  core/gui/src/app/dashboard/component/user/share-access/share-access.component.ts
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.html
  core/gui/src/app/workspace/component/power-button/computing-unit-selection.component.ts
  core/gui/src/app/workspace/service/computing-unit-status/computing-unit-status.service.ts
  core/gui/src/app/workspace/service/workflow-computing-unit/workflow-computing-unit-managing.service.ts
  core/gui/src/app/workspace/types/workflow-computing-unit.ts
  core/scripts/sql/texera_ddl.sql
  core/scripts/sql/updates/09.sql
  deployment/k8s/texera-helmchart/files/texera_ddl.sql
  deployment/k8s/texera-helmchart/values.yaml
Labels: computing-unit

#3542 refactor(amber): deprecate expansion-based greedy schedule generator
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/WorkflowScheduler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyScheduleGenerator.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/scheduling/ExpansionGreedyScheduleGeneratorSpec.scala
  core/config/src/main/resources/application.conf
  core/config/src/main/scala/edu/uci/ics/amber/config/ApplicationConfig.scala
Labels: config

#3535 feat(operator): add sklearn training operators
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/metadata/OperatorGroupConstants.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingAdaptiveBoostingOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingBaggingOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingBernoulliNaiveBayesOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingComplementNaiveBayesOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingDecisionTreeOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingDummyClassifierOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingExtraTreeOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingExtraTreesOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingGaussianNaiveBayesOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingGradientBoostingOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingKNNOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingLinearSVMOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingLogisticRegressionCVOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingLogisticRegressionOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingMultiLayerPerceptronOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingMultinomialNaiveBayesOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingNearestCentroidOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingPassiveAggressiveOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingPerceptronOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingProbabilityCalibrationOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingRandomForestOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingRidgeCVOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingRidgeOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingSDGOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sklearn/training/SklearnTrainingSVMOpDesc.scala
Labels: feature

#3547 fix: update import paths in Java UDF
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/udf/java/JavaUDFOpDesc.scala
Labels: fix

#3537 feat(operator): sleep operator
  core/gui/src/app/workspace/component/left-panel/operator-menu/operator-menu.component.ts
  core/gui/src/assets/operator_images/Sleep.png
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sleep/SleepOpDesc.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/sleep/SleepOpExec.scala
Labels: feature

#3558 chore: Removal of extra operator statistics
  core/gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
Labels: gui

#3557 feat(amber): supporting consistent operator stats retrieval
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/execution/ExecutionUtils.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/PauseHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/QueryWorkerStatisticsHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/ResumeHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/WorkerStateUpdatedHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/deploysemantics/layer/WorkerExecution.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/RegionExecutionCoordinator.scala
  core/computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/resource/ComputingUnitAccessResource.scala
  core/computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/resource/ComputingUnitManagingResource.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/workflow/PhysicalPlan.scala
Labels: engine

#3554 feat: support max-concurrent-regions in ScheduleGenerator
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/scheduling/ScheduleGenerator.scala
  core/config/src/main/resources/application.conf
  core/config/src/main/scala/edu/uci/ics/amber/config/ApplicationConfig.scala
  core/config/src/main/scala/edu/uci/ics/amber/config/EnvironmentalVariable.scala
Labels: feature, config

#3571 fix(ui): temporarily disable frontend undo and redo
  core/gui/src/app/workspace/component/menu/menu.component.html
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.spec.ts
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
Labels: bug, fix, gui

#3585 chore(gui): Adjustment to Position of Eye icon
  core/gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
Labels: gui

#3600 chore(dep): bump pyarrow to 21.0.0 to fix CI
  .github/workflows/github-action-build.yml
  core/amber/DESCRIPTION
  core/amber/requirements.txt
Labels: bug, dependencies
