Repository apache/texera, pull requests merged in 2025-06, with the labels that each got.

#3440 Add domain display in email content
  core/amber/src/main/resources/application.conf
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/AmberConfig.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/GmailResource.scala
Labels: enhancement, config

#3467 Remove Marker Class
  core/amber/src/main/python/core/architecture/managers/context.py
  core/amber/src/main/python/core/architecture/managers/state_processing_manager.py
  core/amber/src/main/python/core/architecture/packaging/input_manager.py
  core/amber/src/main/python/core/architecture/packaging/output_manager.py
  core/amber/src/main/python/core/architecture/sendsemantics/broad_cast_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/hash_based_shuffle_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/one_to_one_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/range_based_shuffle_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/round_robin_partitioner.py
  core/amber/src/main/python/core/models/__init__.py
  core/amber/src/main/python/core/models/internal_marker.py
  core/amber/src/main/python/core/models/operator.py
  core/amber/src/main/python/core/models/payload.py
  core/amber/src/main/python/core/models/state.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/runnables/network_receiver.py
  core/amber/src/main/python/core/runnables/network_sender.py
  core/amber/src/main/python/core/runnables/test_main_loop.py
  core/amber/src/main/python/core/runnables/test_network_receiver.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyServer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/sendsemantics/partitioners/Partitioner.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/EndChannelHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/StartChannelHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/ambermessage/DataPayload.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManagerSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/executor/OperatorExecutor.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/core/state/State.scala
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/ifStatement/IfOpExec.scala
Labels: refactoring

#3470 Temporary Fix for Python Partitioner Index Issues
  core/amber/src/main/python/core/architecture/sendsemantics/hash_based_shuffle_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/range_based_shuffle_partitioner.py
Labels: bug, fix, Python

#3453 Add Admin Site Settings Page with Logo and Favicon Customization
  core/amber/src/main/scala/edu/uci/ics/texera/web/TexeraWebApplication.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/admin/settings/AdminSettingsResource.scala
  core/gui/src/app/app-routing.module.ts
  core/gui/src/app/app.module.ts
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.html
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.scss
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.spec.ts
  core/gui/src/app/dashboard/component/admin/settings/admin-settings.component.ts
  core/gui/src/app/dashboard/component/dashboard.component.html
  core/gui/src/app/dashboard/component/dashboard.component.scss
  core/gui/src/app/dashboard/component/dashboard.component.spec.ts
  core/gui/src/app/dashboard/component/dashboard.component.ts
  core/gui/src/app/dashboard/service/admin/settings/admin-settings.service.ts
  core/scripts/sql/updates/08.sql
Labels: enhancement, ddl-change, config

#3472 Rename ChannelMarker Class to Embedded Control Message (ECM)
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/rpc/controlcommands.proto
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/rpc/controllerservice.proto
  core/amber/src/main/protobuf/edu/uci/ics/amber/engine/architecture/rpc/controlreturns.proto
  core/amber/src/main/python/core/architecture/managers/context.py
  core/amber/src/main/python/core/architecture/managers/embedded_control_message_manager.py
  core/amber/src/main/python/core/architecture/managers/pause_manager.py
  core/amber/src/main/python/core/architecture/managers/state_processing_manager.py
  core/amber/src/main/python/core/architecture/packaging/output_manager.py
  core/amber/src/main/python/core/architecture/sendsemantics/broad_cast_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/hash_based_shuffle_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/one_to_one_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/range_based_shuffle_partitioner.py
  core/amber/src/main/python/core/architecture/sendsemantics/round_robin_partitioner.py
  core/amber/src/main/python/core/models/internal_queue.py
  core/amber/src/main/python/core/runnables/data_processor.py
  core/amber/src/main/python/core/runnables/main_loop.py
  core/amber/src/main/python/core/runnables/network_receiver.py
  core/amber/src/main/python/core/runnables/network_sender.py
  core/amber/src/main/python/core/runnables/test_main_loop.py
  core/amber/src/main/python/core/runnables/test_network_receiver.py
  core/amber/src/main/python/core/storage/runnables/input_port_materialization_reader_runnable.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/core/__init__.py
  core/amber/src/main/python/proto/edu/uci/ics/amber/engine/architecture/rpc/__init__.py
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/Controller.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/ControllerAsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/EmbeddedControlMessageHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/RetrieveWorkflowStateHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/controller/promisehandlers/TakeGlobalCheckpointHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logreplay/EmptyReplayLogger.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logreplay/ReplayLogGenerator.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logreplay/ReplayLogManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logreplay/ReplayLogger.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/logreplay/ReplayLoggerImpl.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonProxyServer.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/PythonWorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/pythonworker/WorkerBatchInternalQueue.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/ChannelMarkerManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DPThread.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessor.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/EmbeddedControlMessageManager.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/PauseType.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/WorkflowWorker.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/managers/InputPortMaterializationReaderThread.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/FinalizeCheckpointHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/PrepareCheckpointHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/promisehandlers/StartChannelHandler.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCClient.scala
  core/amber/src/main/scala/edu/uci/ics/amber/engine/common/rpc/AsyncRPCHandlerInitializer.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowExecutionsResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/ExecutionRuntimeService.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/FriesReconfigurationAlgorithm.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/service/WorkflowService.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/architecture/worker/DataProcessorSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/faulttolerance/CheckpointSpec.scala
  core/gui/src/app/common/type/proto/edu/uci/ics/amber/engine/common/virtualidentity.ts
  core/scripts/gui-proto-gen.sh
  core/workflow-core/src/main/protobuf/edu/uci/ics/amber/core/executor.proto
  core/workflow-core/src/main/protobuf/edu/uci/ics/amber/core/virtualidentity.proto
Labels: refactoring

#3480 Add site_settings Table and Register Dashboard Admin Settings
  core/gui/src/app/app-routing.constant.ts
  core/gui/src/app/dashboard/component/dashboard.component.html
  core/gui/src/app/dashboard/component/dashboard.component.ts
  core/scripts/sql/texera_ddl.sql
Labels: ddl-change

#3482 Fix the bug that prevents the Python Source Operator from running
  core/amber/src/main/python/core/architecture/handlers/control/start_worker_handler.py
  core/amber/src/main/python/core/architecture/packaging/input_manager.py
Labels: bug

#3481 Replace Old Logo with New Logo
  core/gui/src/assets/logos/android-chrome-192x192.png
  core/gui/src/assets/logos/android-chrome-512x512.png
  core/gui/src/assets/logos/apple-touch-icon.png
  core/gui/src/assets/logos/favicon-16x16.png
  core/gui/src/assets/logos/favicon-32x32.png
  core/gui/src/assets/logos/favicon.ico
  core/gui/src/assets/logos/full_logo_small.png
  core/gui/src/assets/logos/logo.png
Labels: gui

#3483 Fix Logo Loading Behavior on Page Refresh
  core/gui/src/app/dashboard/component/dashboard.component.html
  core/gui/src/app/dashboard/component/dashboard.component.ts
Labels: fix

#3486 Update Mini Logo to Higher Resolution Version
  core/gui/src/app/dashboard/component/dashboard.component.ts
Labels: gui

#3487 Fix logo in README.md
  README.md
Labels: bug

#3488 Fix Output Port Writer Thread Termination Logic
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/messaginglayer/OutputManager.scala
Labels: fix

#3498 Add alpha value to Scatter Plot Operator
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/visualization/scatterplot/ScatterplotOpDesc.scala
Labels: enhancement

#3501 Let WorkflowCompilingService send operators' output schemas instead of input schemas
  core/gui/src/app/common/formly/formly-utils.ts
  core/gui/src/app/common/util/logical-operator-port-serde.ts
  core/gui/src/app/common/util/port-identity-serde.ts
  core/gui/src/app/common/util/workflow-compilation-utils.ts
  core/gui/src/app/workspace/component/property-editor/operator-property-edit-frame/operator-property-edit-frame.component.ts
  core/gui/src/app/workspace/component/property-editor/typecasting-display/type-casting-display.component.ts
  core/gui/src/app/workspace/service/compile-workflow/workflow-compiling.service.ts
  core/gui/src/app/workspace/service/execute-workflow/execute-workflow.service.ts
  core/gui/src/app/workspace/service/validation/validation-workflow.service.ts
  core/gui/src/app/workspace/service/workflow-graph/model/workflow-action.service.ts
  core/gui/src/app/workspace/types/workflow-compiling.interface.ts
  core/workflow-compiling-service/src/main/scala/edu/uci/ics/amber/compiler/WorkflowCompiler.scala
  core/workflow-compiling-service/src/main/scala/edu/uci/ics/texera/service/resource/WorkflowCompilationResource.scala
  core/workflow-compiling-service/src/test/scala/edu/uci/ics/texera/service/resource/WorkflowCompilationResourceSpec.scala
  core/workflow-core/src/main/scala/edu/uci/ics/amber/util/serde/PortIdentityKeySerializer.scala
Labels: enhancement

#3505 Fix email sharing to show actual sharer's email
  core/gui/src/app/dashboard/component/user/share-access/share-access.component.ts
Labels: fix

#3442 Unify Count Retrieval APIs to improve community resources browsing performance
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/ActionType.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/EntityTables.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/EntityType.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/hub/HubResource.scala
  core/amber/src/main/scala/edu/uci/ics/texera/web/resource/dashboard/user/workflow/WorkflowResource.scala
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.html
  core/gui/src/app/dashboard/component/user/list-item/list-item.component.ts
  core/gui/src/app/dashboard/component/user/search/search.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset-explorer/dataset-detail.component.ts
  core/gui/src/app/dashboard/component/user/user-dataset/user-dataset.component.ts
  core/gui/src/app/dashboard/component/user/user-workflow/user-workflow.component.ts
  core/gui/src/app/dashboard/service/user/search.service.ts
  core/gui/src/app/dashboard/service/user/stub-search.service.ts
  core/gui/src/app/dashboard/type/dashboard-entry.ts
  core/gui/src/app/dashboard/type/search-result.ts
  core/gui/src/app/hub/component/hub-search-result/hub-search-result.component.ts
  core/gui/src/app/hub/component/landing-page/landing-page.component.ts
  core/gui/src/app/hub/component/workflow/detail/hub-workflow-detail.component.ts
  core/gui/src/app/hub/service/hub.service.ts
  core/gui/src/app/workspace/component/workspace.component.ts
Labels: refactoring

#3493 Add ResourceQuota to cap the total resources for computing units
  core/amber/src/main/scala/edu/uci/ics/amber/engine/architecture/worker/managers/InputPortMaterializationReaderThread.scala
  core/computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/resource/ComputingUnitManagingResource.scala
  core/computing-unit-managing-service/src/main/scala/edu/uci/ics/texera/service/util/ComputingUnitManagingServiceException.scala
  deployment/k8s/texera-helmchart/templates/workflow-computing-unit-resource-quota.yaml
  deployment/k8s/texera-helmchart/values.yaml
Labels: computing-unit
