Repository apache/texera, pull requests merged in 2025-09, with the labels that each got.

#3713 fix: resolve runtime statistics display issue
  core/gui/src/app/dashboard/component/user/user-workflow/ngbd-modal-workflow-executions/workflow-runtime-statistics/workflow-runtime-statistics.component.ts
Labels: fix

#3711 chore: update default Iceberg catalog type to 'postgres'
  core/config/src/main/resources/storage.conf
Labels: config

#3719 chore: Add yarn package manager file
  .licenserc.yaml
  core/gui/.gitignore
  core/gui/.yarn/releases/yarn-4.5.1.cjs
Labels: fix

#3747 chore(ci): remove JOOQ Generation from CI
  .github/workflows/github-action-build.yml
Labels: ci

#3776 fix(op): fix incorrect names for Machine Learning Operators
  core/gui/src/assets/operator_images/SklearnTrainingAdaptiveBoosting.png
  core/gui/src/assets/operator_images/SklearnTrainingBagging.png
  core/gui/src/assets/operator_images/SklearnTrainingBernoulliNaiveBayes.png
  core/gui/src/assets/operator_images/SklearnTrainingComplementNaiveBayes.png
  core/gui/src/assets/operator_images/SklearnTrainingDecisionTree.png
  core/gui/src/assets/operator_images/SklearnTrainingDummy.png
  core/gui/src/assets/operator_images/SklearnTrainingExtraTree.png
  core/gui/src/assets/operator_images/SklearnTrainingExtraTrees.png
  core/gui/src/assets/operator_images/SklearnTrainingGaussianNaiveBayes.png
  core/gui/src/assets/operator_images/SklearnTrainingGradientBoosting.png
  core/gui/src/assets/operator_images/SklearnTrainingKNN.png
  core/gui/src/assets/operator_images/SklearnTrainingLinearRegression.png
  core/gui/src/assets/operator_images/SklearnTrainingLinearSVM.png
  core/gui/src/assets/operator_images/SklearnTrainingLogisticRegression.png
  core/gui/src/assets/operator_images/SklearnTrainingLogisticRegressionCV.png
  core/gui/src/assets/operator_images/SklearnTrainingMultiLayerPerceptron.png
  core/gui/src/assets/operator_images/SklearnTrainingMultinomialNaiveBayes.png
  core/gui/src/assets/operator_images/SklearnTrainingNearestCentroid.png
  core/gui/src/assets/operator_images/SklearnTrainingPassiveAggressive.png
  core/gui/src/assets/operator_images/SklearnTrainingPerceptron.png
  core/gui/src/assets/operator_images/SklearnTrainingProbabilityCalibration.png
  core/gui/src/assets/operator_images/SklearnTrainingRandomForest.png
  core/gui/src/assets/operator_images/SklearnTrainingRidge.png
  core/gui/src/assets/operator_images/SklearnTrainingRidgeCV.png
  core/gui/src/assets/operator_images/SklearnTrainingSDG.png
  core/gui/src/assets/operator_images/SklearnTrainingSVM.png
  core/workflow-operator/src/main/scala/edu/uci/ics/amber/operator/LogicalOp.scala
Labels: bug

#3602 fix(ui): Prevent link delete buttons from overlapping
  core/gui/src/app/workspace/component/workflow-editor/workflow-editor.component.ts
  core/gui/src/app/workspace/service/joint-ui/joint-ui.service.ts
Labels: gui

#3783 fix(ci): add explicit jdbc driver loading in relevant e2e tests
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/DataProcessingSpec.scala
  core/amber/src/test/scala/edu/uci/ics/amber/engine/e2e/PauseSpec.scala
Labels: fix, testing, ci

#3761 fix: pin R arrow package to version 14.0.2.1 in computing-unit-master
  deployment/computing-unit-master.dockerfile
Labels: dependencies
